{?set jieqi_blocks_module = "article"?}
{?set jieqi_blocks_config = "sortblocks"?}
{?set $jieqi_pagetitle = "{$articletitle}-{$jieqi_sitename}"?}
{?set jieqi_page_rows = "30"?}
<link rel="stylesheet" type="text/css" href="/sink/css/channel.css"/>



<div class="content channel clearfix">
    <div class="leftBar">
        <div class="sideBar">
            <div class="sideBarContent">
                <h3 class="barTitle"><span>本周强推</span></h3>
                <ul class="pushList">
                                                            <li>
                            <a href="http://dpp.dangdang.com/pc/channel/man/type/175" class="classify">
                                [灵异]
                            </a>
                            <a href="book/80117" class="bookName">
                                戏骨
                            </a>
                        </li>
                                                                                <li>
                            <a href="http://dpp.dangdang.com/pc/channel/man/type/174" class="classify">
                                [科幻]
                            </a>
                            <a href="book/80185" class="bookName">
                                我当上帝那些事儿
                            </a>
                        </li>
                                                                                <li>
                            <a href="http://dpp.dangdang.com/pc/channel/man/type/175" class="classify">
                                [灵异]
                            </a>
                            <a href="book/80009" class="bookName">
                                古玉奇局
                            </a>
                        </li>
                                                                                <li>
                            <a href="http://dpp.dangdang.com/pc/channel/man/type/175" class="classify">
                                [灵异]
                            </a>
                            <a href="book/80021" class="bookName">
                                追影索凶
                            </a>
                        </li>
                                                                                <li>
                            <a href="http://dpp.dangdang.com/pc/channel/man/type/172" class="classify">
                                [游戏]
                            </a>
                            <a href="book/80042" class="bookName">
                                网游之黑暗剑神
                            </a>
                        </li>
                                                                                <li>
                            <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                [都市]
                            </a>
                            <a href="book/80044" class="bookName">
                                鬼附体之超级保安
                            </a>
                        </li>
                                                                                <li>
                            <a href="http://dpp.dangdang.com/pc/channel/man/type/175" class="classify">
                                [灵异]
                            </a>
                            <a href="book/80624" class="bookName">
                                茅山天师
                            </a>
                        </li>
                                                                                <li>
                            <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                [都市]
                            </a>
                            <a href="book/80147" class="bookName">
                                超能追爱记
                            </a>
                        </li>
                                                                                <li>
                            <a href="http://dpp.dangdang.com/pc/channel/man/type/167" class="classify">
                                [玄幻]
                            </a>
                            <a href="book/80149" class="bookName">
                                不灭战圣
                            </a>
                        </li>
                                                                                <li>
                            <a href="http://dpp.dangdang.com/pc/channel/man/type/176" class="classify">
                                [军事]
                            </a>
                            <a href="book/80215" class="bookName">
                                铁血佣兵
                            </a>
                        </li>
                                                                                <li>
                            <a href="http://dpp.dangdang.com/pc/channel/man/type/175" class="classify">
                                [灵异]
                            </a>
                            <a href="book/80223" class="bookName">
                                诡案组外传
                            </a>
                        </li>

                                                    </ul>
               
            </div>
        </div>
    </div>
    <div class="rightBar">
         <div class="sideBar">
            <div class="sideBarContent">
                <h3 class="barTitle"><span>推荐榜</span></h3>
                <ul class="pushList mb">
                                                                        <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/176" class="classify">
                                    [军事]
                                </a>
                                <a href="book/80215" class="bookName">
                                    铁血佣兵
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                    [都市]
                                </a>
                                <a href="book/80115" class="bookName">
                                    兵王归来
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                    [都市]
                                </a>
                                <a href="book/80217" class="bookName">
                                    妙手神医
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                    [都市]
                                </a>
                                <a href="book/80359" class="bookName">
                                    最牛特工
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/175" class="classify">
                                    [灵异]
                                </a>
                                <a href="book/80223" class="bookName">
                                    诡案组外传
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/171" class="classify">
                                    [历史]
                                </a>
                                <a href="book/80201" class="bookName">
                                    三国小侯爷
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                    [都市]
                                </a>
                                <a href="book/80039" class="bookName">
                                    重生之涅槃
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/172" class="classify">
                                    [游戏]
                                </a>
                                <a href="book/80042" class="bookName">
                                    网游之黑暗剑神
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                    [都市]
                                </a>
                                <a href="book/80307" class="bookName">
                                    我的刁蛮女上司
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                    [都市]
                                </a>
                                <a href="book/80103" class="bookName">
                                    我的郁金香小姐
                                </a>
                            </li>
                                                                                <li>
                            <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                [都市]
                            </a>
                            <a href="book/80622" class="bookName">
                                疯狂快递员
                            </a>
                        </li>
                                                            </ul>
            </div>
        </div>

    </div>
    <div class="middleContent clearfix">
        <div class="scrollBox" id="scrollBox">
            <ul class="roundabout-holder" id="myRoundabout" style="padding: 0px; position: absolute;">
                                                            <li class="roundabout-moveable-item" style="position: absolute; left: 118px; top: 83px; width: 68.1503px; height: 91.982px; opacity: 1; z-index: 105; font-size: 6.7px;"><a href="book/80368" data-link="book/80368" data-author="御风楼主人" data-bookname="六相全功" data-brief="经典麻衣世家系列最新力作《六相全功》火热来袭！鬼婴出世，尸祖破棺，红背蛛母设计夺得鬼婴。" onclick="showBookInfo(this);"><img src="http://img63.ddimg.cn/data/static/bookcover/20150716/c_b5341229d5d94316980b11371c045858.jpg" alt=""></a></li>
                                                                                <li class="roundabout-moveable-item" style="position: absolute; left: 255px; top: 83px; width: 68.1503px; height: 91.982px; opacity: 1; z-index: 105; font-size: 6.7px;"><a href="book/80103" data-link="book/80103" data-author="超级大坦克科比" data-bookname="我的郁金香小姐" data-brief="超级大坦克科比全新力作《我的郁金香小姐》来袭，纯爱经典，值得一读！" onclick="showBookInfo(this);"><img src="http://img62.ddimg.cn/data/static/bookcover/20150716/c_2b2f080503234beeb8de2b1429eae711.jpg" alt=""></a></li>
                                                                                <li class="roundabout-moveable-item" style="position: absolute; left: 349px; top: 68px; width: 89.65px; height: 121px; opacity: 1; z-index: 145; font-size: 8.8px;"><a href="book/80044" data-link="book/80044" data-author="万字旗下的大清帝国" data-bookname="鬼附体之超级保安" data-brief="魔神魂魄附会到小片警，帮助普罗大众驱神捉鬼，降妖除怪，一时间风生水起，纵横都市。" onclick="showBookInfo(this);"><img src="http://img60.ddimg.cn/data/static/bookcover/20150508/c_d80798899f0246bfaa053108566862a8.jpg" alt=""></a></li>
                                                                                <li class="roundabout-moveable-item" style="position: absolute; left: 357px; top: 46px; width: 122.592px; height: 165.462px; opacity: 1; z-index: 206; font-size: 12px;"><a href="book/80411" data-link="book/80411" data-author="李清兆" data-bookname="皇陵守墓人" data-brief="最神秘的秦始皇陵，竟然曾经有人进去过，而那个进去的人，又有什么不可思议的经历呢？" onclick="showBookInfo(this);"><img src="http://img61.ddimg.cn/data/static/bookcover/20150715/c_48e4ba76422043129010cc7439213cb5.jpg" alt=""></a></li>
                                                                                <li class="roundabout-moveable-item" style="position: absolute; left: 274px; top: 26px; width: 151.557px; height: 204.556px; opacity: 1; z-index: 259; font-size: 14.9px;"><a href="book/80176" data-link="book/80176" data-author="崔全国" data-bookname="宝藏之谜" data-brief="价值达到两次世界大战军费总和的神秘宝藏，让无数人为之疯狂，谁将最终夺得宝藏？" onclick="showBookInfo(this);"><img src="http://img60.ddimg.cn/data/static/bookcover/20150627/c_4b88f81c35394042a38fa77c1149d2b9.jpg" alt=""></a></li>
                                                                                <li class="roundabout-moveable-item roundabout-in-focus" style="position: absolute; left: 139px; top: 19px; width: 163px; height: 220px; opacity: 1; z-index: 280; font-size: 16px;"><a href="book/80307" data-link="book/80307" data-author="漫雨" data-bookname="我的刁蛮女上司" data-brief="妖孽强兵肖战携神秘任务强势归来,没想到碰上了一个刁蛮任性的女上司…… " onclick="showBookInfo(this);"><img src="http://img60.ddimg.cn/data/static/bookcover/20150704/c_266a0df70346497686816a100268f70c.jpg" alt=""></a></li>
                                                                                <li class="roundabout-moveable-item" style="position: absolute; left: 16px; top: 26px; width: 151.557px; height: 204.556px; opacity: 1; z-index: 259; font-size: 14.9px;"><a href="book/80215" data-link="book/80215" data-author="欧阳锋" data-bookname="铁血佣兵" data-brief="郎战在艾默生财团的擂台赛中取得冠军，却被改造成“狼人”，天下纵横。" onclick="showBookInfo(this);"><img src="http://img63.ddimg.cn/data/static/bookcover/20150902/c_5ec0956d005a47959ccd0023c9ac0349.jpg" alt=""></a></li>
                                                                                <li class="roundabout-moveable-item" style="position: absolute; left: -38px; top: 46px; width: 122.592px; height: 165.462px; opacity: 1; z-index: 206; font-size: 12px;"><a href="book/80201" data-link="book/80201" data-author="东一方" data-bookname="三国小侯爷" data-brief="继《回到三国的特种狙击手》之后，三国力作全新回归！看刘修崛起荆州，战天下英雄。" onclick="showBookInfo(this);"><img src="http://img61.ddimg.cn/data/static/bookcover/20150626/c_a81e407a90ca4577bc8aa2e4bdd065d5.jpg" alt=""></a></li>
                                                                                <li class="roundabout-moveable-item" style="position: absolute; left: 2px; top: 68px; width: 89.65px; height: 121px; opacity: 1; z-index: 145; font-size: 8.8px;"><a href="book/80622" data-link="book/80622" data-author="最后的卫道者" data-bookname="疯狂快递员" data-brief="一个生活在都市底层的屌丝青年，在救助了一位女特工之后，走上了逆袭的崛起之路。" onclick="showBookInfo(this);"><img src="http://img63.ddimg.cn/data/static/bookcover/20150731/c_004ecc674f364c75abd85955c3d28e92.jpg" alt=""></a></li>
                                                </ul>
        </div>
        <div class="scrollBookInfoBox">
            <div class="bookInfoWrapper">
                                <h3><a id="bookName" href="book/80307">我的刁蛮女上司</a><span class="author" id="author">漫雨</span></h3>
                <p id="bookBrief"><a href="book/80368">妖孽强兵肖战携神秘任务强势归来,没想到碰上了一个刁蛮任性的女上司…… </a></p>
            </div>
        </div>
            <div class="staticLinks">

        </div>
    </div>

    
    <div class="leftBar">
        <div class="sideBar mt">
            <div class="sideBarContent">
                <h3 class="barTitle"><span>打赏榜</span></h3>
                <ul class="pushList mb lil" style="margin-top:7px;">
                                                                        <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/167" class="classify">
                                    [玄幻]
                                </a>
                                <a href="book/80628" class="bookName">
                                    九阳丹圣
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/167" class="classify">
                                    [玄幻]
                                </a>
                                <a href="book/80344" class="bookName">
                                    九阳神脉
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                    [都市]
                                </a>
                                <a href="book/80103" class="bookName">
                                    我的郁金香小姐
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                    [都市]
                                </a>
                                <a href="book/80307" class="bookName">
                                    我的刁蛮女上司
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                    [都市]
                                </a>
                                <a href="book/80039" class="bookName">
                                    重生之涅槃
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/176" class="classify">
                                    [军事]
                                </a>
                                <a href="book/80215" class="bookName">
                                    铁血佣兵
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                    [都市]
                                </a>
                                <a href="book/80554" class="bookName">
                                    我的穿越女友
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                    [都市]
                                </a>
                                <a href="book/80044" class="bookName">
                                    鬼附体之超级保安
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                    [都市]
                                </a>
                                <a href="book/80115" class="bookName">
                                    兵王归来
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                    [都市]
                                </a>
                                <a href="book/80217" class="bookName">
                                    妙手神医
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/176" class="classify">
                                    [军事]
                                </a>
                                <a href="book/80215" class="bookName">
                                    铁血佣兵
                                </a>
                            </li>
                                                                                                <li>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                    [都市]
                                </a>
                                <a href="book/80503" class="bookName">
                                    绝世兵王
                                </a>
                            </li>
                                                            </ul>
            </div>
        </div>        
    </div>
    <div class="rightBar">
        <div class="sideBar mt">
            <div class="sideBarContent">
                <h3 class="barTitle"><span>粉丝积分榜</span></h3>
                <ul class="rankLists">
                                                                                                    <li class="top3"><em>1</em><span class="num">100000</span><span>桑之宁</span>
                                                                                                            </li><li class="top3"><em>2</em><span class="num">100000</span><span>就叫我二哥吧</span>
                                                                                                            </li><li class="top3"><em>3</em><span class="num">90000</span><span>q***r</span>
                                                                                                            </li><li><em>4</em><span class="num">50100</span><span>默小醺</span>
                                                                                                            </li><li><em>5</em><span class="num">50000</span><span>13***951</span>
                                                                                                            </li><li><em>6</em><span class="num">45710</span><span>z***8</span>
                                                                                                            </li><li><em>7</em><span class="num">40000</span><span>8***7</span>
                                                                                                            </li><li><em>8</em><span class="num">32000</span><span>z***5</span>
                                                                                                            </li><li><em>9</em><span class="num">21000</span><span>1***3</span>
                                                                                                            </li><li><em>10</em><span class="num">20000</span><span>15***926</span>
                                                                                                            </li><li><em>11</em><span class="num">20000</span><span>秋盟一梦菩提</span>
                                                                                                            </li><li><em>12</em><span class="num">17666</span><span>天和地之间</span>
                                                                                        </li></ul>
            </div>
        </div>        
    </div>
    
    <div class="middleContent">
        <div class="bookWormBox">
            <h3 class="boxTitle"><span>金牌佳作</span></h3>
            <ul class="bookWormList clearfix">
                                                <li>
                        <div class="pushBook">
                            <a href="book/80622" alt="疯狂快递员"><img src="http://img63.ddimg.cn/data/static/bookcover/20150731/c_004ecc674f364c75abd85955c3d28e92.jpg" alt=""></a>
                            <p class="bookName"><a href="book/80622">疯狂快递员</a></p>
                            <p class="author"><a href="">最后的卫道者</a></p>
                            <p class="brief"><a href="">一个生活在都市底层的屌丝青年，在救助了一位女特工之后，走上了逆袭的崛起之路。</a></p>
                        </div>
                    </li>
                                                                <li>
                        <div class="pushBook">
                            <a href="book/80223" alt="诡案组外传"><img src="http://img62.ddimg.cn/data/static/bookcover/20150618/c_233d769b3afd4b8f8d03e9d64e96b81c.jpg" alt=""></a>
                            <p class="bookName"><a href="book/80223">诡案组外传</a></p>
                            <p class="author"><a href="">求无欲</a></p>
                            <p class="brief"><a href="">诡案组——最神秘的办案小组，专门负责处理各种匪夷所思的案件。求无欲悬疑新作！</a></p>
                        </div>
                    </li>
                                                                <li>
                        <div class="pushBook">
                            <a href="book/80117" alt="戏骨"><img src="http://img62.ddimg.cn/data/static/bookcover/20150527/c_d5b6d7ee79464c7b937840b475ada128.jpg" alt=""></a>
                            <p class="bookName"><a href="book/80117">戏骨</a></p>
                            <p class="author"><a href="">步明非</a></p>
                            <p class="brief"><a href="">一个人的传奇，五个时代的史诗。纵越枷锁，打破桎梏，人性，在故事的结尾等你。</a></p>
                        </div>
                    </li>
                                                                <li>
                        <div class="pushBook">
                            <a href="book/80026" alt="降妖伏魔"><img src="http://img60.ddimg.cn/data/static/bookcover/20150508/c_c60880214a804c5392a31b90145bf08e.jpg" alt=""></a>
                            <p class="bookName"><a href="book/80026">降妖伏魔</a></p>
                            <p class="author"><a href="">流云</a></p>
                            <p class="brief"><a href="">鬼魅横行的世界，法师已经成为了不为人知的异类，是神棍，还是真有其事？</a></p>
                        </div>
                    </li>
                                                                                                                                                                                                                    <li>
                    <ul class="morePushList">
                                                                                                                                                                                                                                                                                                    <li>
                                    <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                        [都市]
                                    </a>
                                    <a href="book/80044" class="bookName">
                                        鬼附体之超级保安
                                    </a>
                                </li>
                                                                                                                <li>
                                    <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                        [都市]
                                    </a>
                                    <a href="book/80039" class="bookName">
                                        重生之涅槃
                                    </a>
                                </li>
                                                                                                                <li>
                                    <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">
                                        [都市]
                                    </a>
                                    <a href="book/80307" class="bookName">
                                        我的刁蛮女上司
                                    </a>
                                </li>
                                                                                                                                                                                                                                    </ul>
                </li>
                <li>
                    <ul class="morePushList">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                <li>
                                    <a href="http://dpp.dangdang.com/pc/channel/man/type/175" class="classify">
                                        [灵异]
                                    </a>
                                    <a href="book/80165" class="bookName">
                                        我的美艳猛鬼师父
                                    </a>
                                </li>
                                                                                                                <li>
                                    <a href="http://dpp.dangdang.com/pc/channel/man/type/175" class="classify">
                                        [灵异]
                                    </a>
                                    <a href="book/80009" class="bookName">
                                        古玉奇局
                                    </a>
                                </li>
                                                                                                                <li>
                                    <a href="http://dpp.dangdang.com/pc/channel/man/type/167" class="classify">
                                        [玄幻]
                                    </a>
                                    <a href="book/80579" class="bookName">
                                        刀之大帝
                                    </a>
                                </li>
                                                                        </ul>
                </li>
            </ul>
        </div>        
    </div>
	
	<div class="ad"><a href="book/80622" target="_blank"><img src="http://dpp.dangdang.com:80/pc/statics/images/nanpin/80622.jpg" alt=""></a></div>
	<div class="leftBar">
		<div class="sideBar">
            <div class="sideBarContent">
                <h3 class="barTitle"><span>最新入库作品</span></h3>
                <ul class="rankLists">
                                                                                                        <li class="top3"><em>1</em> <span class="num"></span><span class="bookName"><a title="[人文]释老正义" target="_blank" href="book/80700">
                                    释老正义</a></span></li>
                                                                                                                                                            <li class="top3"><em>2</em> <span class="num"></span><span class="bookName"><a title="[幻想]千山鸟飞绝" target="_blank" href="book/80699">
                                    千山鸟飞绝</a></span></li>
                                                                                                                                                            <li class="top3"><em>3</em> <span class="num"></span><span class="bookName"><a title="[文艺]sister和金色的夜空" target="_blank" href="book/80698">
                                    sister和金色的夜空</a></span></li>
                                                                                                                                                            <li><em>4</em> <span class="num"></span><span class="bookName"><a title="[幻想]旅馆之谜" target="_blank" href="book/80686">
                                    旅馆之谜</a></span></li>
                                                                                                                                                            <li><em>5</em> <span class="num"></span><span class="bookName"><a title="[都市]辣妈的恶魔契约" target="_blank" href="book/80681">
                                    辣妈的恶魔契约</a></span></li>
                                                                                                                                                            <li><em>6</em> <span class="num"></span><span class="bookName"><a title="[都市]震古烁今的芷江保卫战" target="_blank" href="book/80675">
                                    震古烁今的芷江保卫战</a></span></li>
                                                                                                                                                            <li><em>7</em> <span class="num"></span><span class="bookName"><a title="[幻想]喵族传说" target="_blank" href="book/80665">
                                    喵族传说</a></span></li>
                                                                                                                                                            <li><em>8</em> <span class="num"></span><span class="bookName"><a title="[灵异]古镇荒井" target="_blank" href="book/80653">
                                    古镇荒井</a></span></li>
                                                                                                                                                            <li><em>9</em> <span class="num"></span><span class="bookName"><a title="[游戏]网游之相师传奇" target="_blank" href="book/80644">
                                    网游之相师传奇</a></span></li>
                                                                                                                                                            <li><em>10</em> <span class="num"></span><span class="bookName"><a title="[都市]高手纵横都市" target="_blank" href="book/80641">
                                    高手纵横都市</a></span></li>
                                                                                        </ul>
                <div class="refreshBox"></div>
            </div>
        </div>
        <div class="sideBar mt">
            <div class="sideBarContent">
                <h3 class="customService"><span><em></em>客服中心</span></h3>
                <p class="contactWay">客服QQ：2584575015<br>客服邮箱：dpp@dangdang.com<br>时间：9:00-18:00<br><a href="http://weibo.com/dangdangread?noscale_head=1">微博链接</a><br>提示：亲爱的读者朋友们，在本站阅读时，如遇任何使用问题，请发送邮件至上述邮箱，我们将会尽快解决。</p>
            </div>
        </div>
	</div>
	<div class="rightBar">
		<div class="sideBar">
            <div class="sideBarContent">
                <h3 class="barTitle"><span>评论榜</span></h3>
                <ul class="rankLists">
                                                                                                        <li class="top3"><em>1</em> <span class="num"></span><span class="bookName"><a title="[灵异]龙陵谜" target="_blank" href="book/80087">
                                    龙陵谜</a></span></li>
                                                                                                                                                            <li class="top3"><em>2</em> <span class="num"></span><span class="bookName"><a title="[灵异]戏骨" target="_blank" href="book/80117">
                                    戏骨</a></span></li>
                                                                                                                                                            <li class="top3"><em>3</em> <span class="num"></span><span class="bookName"><a title="[灵异]蟾经" target="_blank" href="book/80144">
                                    蟾经</a></span></li>
                                                                                                                                                            <li><em>4</em> <span class="num"></span><span class="bookName"><a title="[灵异]我的美艳猛鬼师父" target="_blank" href="book/80165">
                                    我的美艳猛鬼师父</a></span></li>
                                                                                                                                                            <li><em>5</em> <span class="num"></span><span class="bookName"><a title="[灵异]降妖伏魔" target="_blank" href="book/80026">
                                    降妖伏魔</a></span></li>
                                                                                                                                                            <li><em>6</em> <span class="num"></span><span class="bookName"><a title="[灵异]追影索凶" target="_blank" href="book/80021">
                                    追影索凶</a></span></li>
                                                                                                                                                            <li><em>7</em> <span class="num"></span><span class="bookName"><a title="[灵异]月夜引魂灯之领魂人" target="_blank" href="book/80057">
                                    月夜引魂灯之领魂人</a></span></li>
                                                                                                                                                            <li><em>8</em> <span class="num"></span><span class="bookName"><a title="[灵异]茅山天师" target="_blank" href="book/80624">
                                    茅山天师</a></span></li>
                                                                                                                                                            <li><em>9</em> <span class="num"></span><span class="bookName"><a title="[灵异]探墓摸金" target="_blank" href="book/80220">
                                    探墓摸金</a></span></li>
                                                                                                                                                            <li><em>10</em> <span class="num"></span><span class="bookName"><a title="[灵异]皇陵守墓人" target="_blank" href="book/80411">
                                    皇陵守墓人</a></span></li>
                                                                                        </ul>
                <div class="refreshBox"></div>
            </div>
        </div>
        <div class="sideBar mt" style="border-top: none!important;">
            <div class="sideBarContent">
                <p style="font-size: 16px;text-align: center;line-height: 30px;padding-top: 20px;">
                    <img style="width: 50%;" src="http://dpp.dangdang.com:80/pc/statics/images/dangdu.png" alt=""><br>当读小说客户端
                </p>
                <p style="font-size: 16px;text-align: center;line-height: 30px;padding-top: 20px;padding-bottom: 8px;">
                    <img style="width: 50%;" src="http://dpp.dangdang.com:80/pc/statics/images/xingkong.png" alt=""><br>星空客户端
                </p>
            </div>
        </div>
	</div>
	<div class="middleContent">
		<div class="updateListBox">
            <h3 class="boxTitle"><span class="listName"><em></em>小说更新列表</span></h3>
            <ul class="updateList">
                                                                                                        <li><span class="time"> 09-23 05:16:35</span>
                                <a href="" class="author">后天</a>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/167" class="classify">[玄幻]</a>
                                <a href="book/80548" class="bookName">神王降临</a>
                                                                    <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                <a title="第60章  不顾安危" href="book/80548/chapter/18590/2" class="chapterName">第60章  不顾安危</a>
                            </li>
                                                                                                                                        <li class="bg"><span class="time"> 09-23 01:04:54</span>
                                    <a href="" class="author">李清兆</a>
                                    <a href="http://dpp.dangdang.com/pc/channel/man/type/175" class="classify">[灵异]</a>
                                    <a href="book/80411" class="bookName">皇陵守墓人</a>
                                                                            <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                        <a title="第66章 湖里的秘密" href="book/80411/chapter/19476/2" class="chapterName">第66章 湖里的秘密</a>
                                </li>
                                                                                                                                    <li><span class="time"> 09-23 00:13:05</span>
                                <a href="" class="author">路尘</a>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/167" class="classify">[玄幻]</a>
                                <a href="book/80254" class="bookName">神域</a>
                                                                    <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                <a title="第八十七章    力压起云境中期" href="book/80254/chapter/19467/2" class="chapterName">第八十七章    力压起云境中期</a>
                            </li>
                                                                                                                                        <li class="bg"><span class="time"> 09-23 00:00:09</span>
                                    <a href="" class="author">苕面窝</a>
                                    <a href="http://dpp.dangdang.com/pc/channel/man/type/171" class="classify">[历史]</a>
                                    <a href="book/80416" class="bookName">重建北宋</a>
                                                                            <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                        <a title="0073、应变的措施" href="book/80416/chapter/18911/2" class="chapterName">0073、应变的措施</a>
                                </li>
                                                                                                                                    <li><span class="time"> 09-23 00:00:00</span>
                                <a href="" class="author">枫羽飘摇</a>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/171" class="classify">[历史]</a>
                                <a href="book/80025" class="bookName">霸唐</a>
                                                                    <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                <a title="第二十章 瓮中捉鳖" href="book/80025/chapter/19064/2" class="chapterName">第二十章 瓮中捉鳖</a>
                            </li>
                                                                                                                                        <li class="bg"><span class="time"> 09-22 23:54:57</span>
                                    <a href="" class="author">结局后才明白...</a>
                                    <a href="http://dpp.dangdang.com/pc/channel/man/type/167" class="classify">[玄幻]</a>
                                    <a href="book/80631" class="bookName">无尽信念</a>
                                                                            <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                        <a title="第一百二十二章 辞别" href="book/80631/chapter/19462/2" class="chapterName">第一百二十二章 辞别</a>
                                </li>
                                                                                                                                    <li><span class="time"> 09-22 23:54:00</span>
                                <a href="" class="author">老牧</a>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/175" class="classify">[灵异]</a>
                                <a href="book/80009" class="bookName">古玉奇局</a>
                                                                    <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                <a title="第二百二十六章  还能是谁？" href="book/80009/chapter/19459/2" class="chapterName">第二百二十六章  还能是谁？</a>
                            </li>
                                                                                                                                        <li class="bg"><span class="time"> 09-22 23:52:35</span>
                                    <a href="" class="author">东北鑫仔</a>
                                    <a href="http://dpp.dangdang.com/pc/channel/man/type/171" class="classify">[历史]</a>
                                    <a href="book/80063" class="bookName">兴宋</a>
                                                                            <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                        <a title="第0074章 重组黑鹰" href="book/80063/chapter/19458/2" class="chapterName">第0074章 重组黑鹰</a>
                                </li>
                                                                                                                                    <li><span class="time"> 09-22 23:37:20</span>
                                <a href="" class="author">路南浔</a>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/167" class="classify">[玄幻]</a>
                                <a href="book/80847" class="bookName">逍遥圣皇</a>
                                                                    <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                <a title="第二十三章 战雷泽" href="book/80847/chapter/19455/2" class="chapterName">第二十三章 战雷泽</a>
                            </li>
                                                                                                                                        <li class="bg"><span class="time"> 09-22 23:37:12</span>
                                    <a href="" class="author">最后一颗爆米...</a>
                                    <a href="http://dpp.dangdang.com/pc/channel/man/type/172" class="classify">[游戏]</a>
                                    <a href="book/80183" class="bookName">网游之强者归来</a>
                                                                            <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                        <a title="第二百八十七章 入驻哥布林..." href="book/80183/chapter/19454/2" class="chapterName">第二百八十七章 入驻哥布林...</a>
                                </li>
                                                                                                                                    <li><span class="time"> 09-22 23:34:35</span>
                                <a href="" class="author">灯火下</a>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">[都市]</a>
                                <a href="book/80916" class="bookName">家里有个女明星</a>
                                                                    <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                <a title="第十一章 被韩佳拉黑了" href="book/80916/chapter/19452/2" class="chapterName">第十一章 被韩佳拉黑了</a>
                            </li>
                                                                                                                                        <li class="bg"><span class="time"> 09-22 23:31:46</span>
                                    <a href="" class="author">陈年老鬼</a>
                                    <a href="http://dpp.dangdang.com/pc/channel/man/type/175" class="classify">[灵异]</a>
                                    <a href="book/80182" class="bookName">鬼影尸录</a>
                                                                            <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                        <a title="第三十二章 古楼遇仙" href="book/80182/chapter/19451/2" class="chapterName">第三十二章 古楼遇仙</a>
                                </li>
                                                                                                                                    <li><span class="time"> 09-22 23:28:11</span>
                                <a href="" class="author">云天</a>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/167" class="classify">[玄幻]</a>
                                <a href="book/80297" class="bookName">绝世天骄</a>
                                                                    <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                <a title="第五十九章   魔魂山" href="book/80297/chapter/19450/2" class="chapterName">第五十九章   魔魂山</a>
                            </li>
                                                                                                                                        <li class="bg"><span class="time"> 09-22 23:19:14</span>
                                    <a href="" class="author">胖哥</a>
                                    <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">[都市]</a>
                                    <a href="book/80039" class="bookName">重生之涅槃</a>
                                                                            <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                        <a title="第210章 和许岳杨拼厨艺" href="book/80039/chapter/19448/2" class="chapterName">第210章 和许岳杨拼厨艺</a>
                                </li>
                                                                                                                                    <li><span class="time"> 09-22 23:17:17</span>
                                <a href="" class="author">二手玫瑰</a>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/167" class="classify">[玄幻]</a>
                                <a href="book/80652" class="bookName">人王传</a>
                                                                    <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                <a title="第四十九章 再次进山" href="book/80652/chapter/19447/2" class="chapterName">第四十九章 再次进山</a>
                            </li>
                                                                                                                                        <li class="bg"><span class="time"> 09-22 23:01:44</span>
                                    <a href="" class="author">中华米线</a>
                                    <a href="http://dpp.dangdang.com/pc/channel/man/type/167" class="classify">[玄幻]</a>
                                    <a href="book/80343" class="bookName">神魔天地</a>
                                                                            <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                        <a title="第94章 战大明天王" href="book/80343/chapter/19444/2" class="chapterName">第94章 战大明天王</a>
                                </li>
                                                                                                                                    <li><span class="time"> 09-22 22:57:09</span>
                                <a href="" class="author">九臼</a>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/167" class="classify">[玄幻]</a>
                                <a href="book/80579" class="bookName">刀之大帝</a>
                                                                    <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                <a title="第三七回：绝望为食的绝刀" href="book/80579/chapter/19443/2" class="chapterName">第三七回：绝望为食的绝刀</a>
                            </li>
                                                                                                                                        <li class="bg"><span class="time"> 09-22 22:55:12</span>
                                    <a href="" class="author">丹星</a>
                                    <a href="http://dpp.dangdang.com/pc/channel/man/type/167" class="classify">[玄幻]</a>
                                    <a href="book/80912" class="bookName">九幽主宰</a>
                                                                            <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                        <a title="第十三章 变异魔猿" href="book/80912/chapter/19442/2" class="chapterName">第十三章 变异魔猿</a>
                                </li>
                                                                                                                                    <li><span class="time"> 09-22 22:53:57</span>
                                <a href="" class="author">素闻陌上花开...</a>
                                <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">[都市]</a>
                                <a href="book/80445" class="bookName">我的纯情女邻居</a>
                                                                    <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                <a title="第53章 约谈之前" href="book/80445/chapter/19441/2" class="chapterName">第53章 约谈之前</a>
                            </li>
                                                                                                                                        <li class="bg"><span class="time"> 09-22 22:50:45</span>
                                    <a href="" class="author">陌上行</a>
                                    <a href="http://dpp.dangdang.com/pc/channel/man/type/166" class="classify">[都市]</a>
                                    <a href="book/80401" class="bookName">僵山如此多娇</a>
                                                                            <img class="isSign" src="http://dpp.dangdang.com:80/pc/statics/images/nabooksign.png">
                                                                        <a title="第五二章   初闻龙宫" href="book/80401/chapter/19440/2" class="chapterName">第五二章   初闻龙宫</a>
                                </li>
                                                                                                                </ul>
            <div class="other"></div>
        </div>
	</div>
</div>
<script type="text/javascript" src="http://dpp.dangdang.com/pc/statics/js/roundabout.js"></script>
<script type="text/javascript">
	function showBookInfo(obj){
        var obj = $(obj);
        var link = obj.attr("data-link");
        var author = obj.attr("data-author");
        var bookName = obj.attr("data-bookName");
        var brief = obj.attr("data-brief");
        $("#bookName").html(bookName).attr("href",link);
        $("#author").html(author);
        $("#bookBrief a").html(brief);
    };
    $(document).ready(function(){
        $('#myRoundabout').roundabout({
            shape : 'square',
            minOpacity : 1,
            autoplay:true,
            autoplayDuration:3000,
            autoplayCallback: function() {
                showBookInfo('.roundabout-in-focus a');
            },
            reflect : true
        });
        
        (function($){
            $.fn.tabs = function(pram){
                var pram = $.extend({},$.fn.tabs.defaults,pram);
                return $(this).each(function(){
                    var tabBox = $(this).find(pram.tabBox);
                    var uls = $(this).find(pram.tabContent);
                    if(tabBox.length != 0){
                        var tabs = tabBox.children();
                        tabs.off("click").on("click",function(){
                            var index = tabs.index(this);
                            tabs.removeClass(pram.currentClass);
                            $(this).addClass(pram.currentClass);
                            uls.hide().eq(index).show();
                        });
                    };
                });
            };
            $.fn.tabs.defaults = {
                "tabBox" : ".barTabBox,.barTabBox2",
                "tabContent" : "ul",
                "currentClass" : "current"
            }
        })(jQuery);
        $(".sideBarContent").tabs();
        $(".recommendedBooks").tabs({"tabBox" : ".tabBox"});
    });
</script>

