<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">
<title>好看的言情小说,言情小说免费阅读,免费言情小说大全-创酷中文网</title>
<meta name="keywords" content="言情小说,言情小说免费阅读,好看的言情小说,言情小说大全" />
<meta name="description" content="创酷中文网为专业女性小说阅读网站,提供各类好看的言情小说大全,例如古代言情小说,校园言情小说,穿越言情小说,总裁言情小说,女尊言情小说,我们坚持言情小说免费阅读的理念,致力做最受言情读者欢迎的免费言情小说阅读网站!" />
<meta name="author" content="http://www.acoolread.com (创酷中文网)" />
<meta name="copyright" content="" />
<link href="Css/index.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="Scripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="Scripts/page-tj.js"></script>
<script type="text/javascript" src="Scripts/layer.js"></script>
<script type="text/javascript" src="Scripts/page.js"></script>

<script>
 $(function() {
 	 $("#featured2 li").hover(function() {
		//index = $("#featured2 li").index(this);
		//$("#featured2 li").removeClass('ui-tabs-selected');
		$(this).addClass('ui-tabs-selected').siblings().removeClass('ui-tabs-selected');
		//alert($("#featured2 .ui-tabs-panel").length);
		//$("#featured2 .ui-tabs-panel").addClass('ui-tabs-hide');
		$("#featured2 .ui-tabs-panel").addClass('ui-tabs-hide').eq($(this).index()).removeClass('ui-tabs-hide');
	}).eq(0).trigger("mouseenter");
 })
 </script>
<div class="boxm2 fl">
<div class="focuspic clearfix" id="featured2">
<ul class="ui-tabs-nav">
<li class="ui-tabs-nav-item" id="nav-fragment-1"><a href="#featured2-1"><img src="Picture/37272l.jpg" alt="蚀骨蜜爱：总裁霸宠杀手妻
"></a></li>
<li class="ui-tabs-nav-item ui-tabs-selected" id="nav-fragment-2"><a href="#featured2-2"><img src="Picture/39512l.jpg" alt="凤囚凰：将军夫人不下堂
"></a></li>
<li class="ui-tabs-nav-item" id="nav-fragment-3"><a href="#featured2-3"><img src="Picture/33615l.jpg" alt="豪门私宠：总裁的鲜嫩逃妻

"></a></li>
<li class="ui-tabs-nav-item" id="nav-fragment-4"><a href="#featured2-4"><img src="Picture/39508l.jpg" alt="毒宠娇妻：霸道首席别想逃

"></a></li>
</ul>
<div id="featured2-1" class="ui-tabs-panel ui-tabs-hide" style="">
<a href="/book/37272.htm" target="_blank" class="img"><img src="Picture/37272l.jpg" alt="蚀骨蜜爱：总裁霸宠杀手妻
"></a>
<div class="info">
<h2><a href="/book/37272.htm" target="_blank" class="name">蚀骨蜜爱：总裁霸宠杀手妻
</a></h2>
<p class="txt">她被一碗迷药就送上了黑夜帝国老大的床，还怀上了宝宝。六年后，她带着五岁宝宝归来，却意外卷进黑道纠纷。无奈之下，她只有女扮男装假装成司机潜伏入黑夜帝国老大身边做卧底……
<a class="f-org" href="/book/37272.htm" target="_blank">[详情]</a></p>
<p class="good">同好作品：<a href="/book//38180.htm" target="_blank" class="f-gray3">《情深缘浅：拒爱首席大人》</a></p>
</div>
</div>
<div id="featured2-2" class="ui-tabs-panel ui-tabs-hide" style="">
<a href="/book/39512.htm" target="_blank" class="img"><img src="Picture/39512l.jpg" alt="惹火夜妻：情陷腹黑总

裁
"></a>
<div class="info">
<h2><a href="/book/39512.htm" target="_blank" class="name">凤囚凰：将军夫人不下堂
</a></h2>
<p class="txt"> 穿她一双巧手能画出惟妙惟肖的万物……在疼痛中醒来，却发现她不仅穿了，十指还被废了！落魄为一个下堂夫人，没关系，看她这个下堂妇怎么活得风生水起！
<a class="f-org" href="/book/39512.htm" target="_blank">[详情]</a></p>
<p class="good">同好作品：<a href="/book/37980.htm" target="_blank" class="f-gray3">《医女妖娆：无赖瘸王傲娇妃》</a></p>
</div>
</div>
<div id="featured2-4" class="ui-tabs-panel ui-tabs-hide" style="">
<a href="/book/33615.htm" target="_blank" class="img"><img src="Picture/33615l.jpg" alt="夜色妖娆：残暴王爷的

玩宠

"></a>
<div class="info">
<h2><a href="/book/33615.htm" target="_blank" class="name">豪门私宠：总裁的鲜嫩逃妻
</a></h2>
<p class="txt"> 她以为，只要不吵不争，总有一天他会看到自己的真心。直到分手那刻她才总算明白，这么多年的相处，其实他从没有爱过自己。悄然从他的生命里消失，以为从此便可不再难过和伤心。可是……
<a class="f-org" href="/book/33615.htm" target="_blank">[详情]</a></p>
<p class="good">同好作品：<a href="/book/37347.htm" target="_blank" class="f-gray3">《囚爱童养媳：噬心前夫请止步》</a></p>
</div>
</div>
<div id="featured2-3" class="ui-tabs-panel ui-tabs-hide" style="">
<a href="/book/39508.htm" target="_blank" class="img"><img src="Picture/39508l.jpg" alt="毒宠娇妻：霸道首席别想逃

"></a>
<div class="info">
<h2><a href="/book/39508.htm" target="_blank" class="name">毒宠娇妻：霸道首席别想逃
</a></h2>
<p class="txt">她是华都第一美人，他是华都隐形黑帝，她在他身边三年，却是自欺欺人，终于精疲力尽，想放自已一条生路，谁知转身却是风云突变，命运的纠缠让彼此终于明白，爱，原来一直都在
<a class="f-org" href="/book/39508.htm" target="_blank">[详情]
</a></p>
<p class="good">同好作品：<a href="/book/37866.htm"target="_blank" class="f-gray3">《狼性总裁：前妻不二嫁》</a></p>
</div>
</div>
<a href="javascript:void(0;)" target="_blank" class="ftui f-org">热门小说封面推荐</a>
</div>
</div>
</body>
</html>
