<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="已导入的规则 1">
                    <match url="^info/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/articleinfo.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 2">
                    <match url="^read_(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/articleread.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 3">
                    <match url="^user/bookcase$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/bookcase.php" />
                </rule>
                <rule name="已导入的规则 4">
                    <match url="^sort/(.*)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/articlelist.php?sortid={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 5">
                    <match url="^fullsort/(.*)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/articlelist.php?fullflag=1&amp;sortid={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 6">
                    <match url="^initial/(.*)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/articlelist.php?initial={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 7">
                    <match url="^top/(.*)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/toplist.php?order={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 8">
                    <match url="^fulltop/(.*?)/([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/toplist.php?fullflag=1&amp;order={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 9">
                    <match url="^read/(.*)_(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/reader.php?aid={R:1}&amp;cid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 10">
                    <match url="^(.*)_(.*)_(.*)_(.*)_(.*)_(.*)_(.*)_(.*)_(.*)_(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/articlefilter.php?order={R:1}&amp;sortid={R:2}&amp;size={R:3}&amp;update={R:4}&amp;initial={R:5}&amp;isfull={R:6}&amp;isvip={R:7}&amp;tag={R:8}&amp;rgroup={R:9}&amp;page={R:1}0" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 11">
                    <match url="^html(.*)/(.*)/index.html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/reader.php?aid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 12">
                    <match url="^author/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/authorpage.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 13">
                    <match url="^read/([0-9]+)_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/reader.php?aid={R:1}&amp;cid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 14">
                    <match url="^read/vip/([0-9]+)_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/obook/reader.php?aid={R:1}&amp;cid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 1-1">
                    <match url="^user/myDynamic$" ignoreCase="false" />
                    <action type="Rewrite" url="user/myDynamic.php" />
                </rule>
                <rule name="已导入的规则 2-1">
                    <match url="^user/showSignView$" ignoreCase="false" />
                    <action type="Rewrite" url="user/showSignView.php" />
                </rule>
                <rule name="已导入的规则 3-1">
                    <match url="^user/signin$" ignoreCase="false" />
                    <action type="Rewrite" url="user/signin.php" />
                </rule>
                <rule name="已导入的规则 4-1">
                    <match url="^reviews/([0-9]+)/$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/reviews_js.php?aid={R:1}&amp;ajax_request" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 5-1">
                    <match url="^reviews/$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/reviews_js.php" />
                </rule>
                <rule name="已导入的规则 6-1">
                    <match url="^showReplies/$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/article/showReplies.php" />
                </rule>
                <rule name="已导入的规则 7-1">
                    <match url="^user/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="userinfo.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 8-1">
                    <match url="^page/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="userpage.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 9-1">
                    <match url="^users/login.html$" ignoreCase="false" />
                    <action type="Rewrite" url="login.php" />
                </rule>
                <rule name="已导入的规则 10-1">
                    <match url="^users/register.html$" ignoreCase="false" />
                    <action type="Rewrite" url="register.php" />
                </rule>
                <rule name="已导入的规则 11-1">
                    <match url="^users/logout.html$" ignoreCase="false" />
                    <action type="Rewrite" url="logout.php" />
                </rule>
                <rule name="已导入的规则 12-1">
                    <match url="^users/useredit.html$" ignoreCase="false" />
                    <action type="Rewrite" url="useredit.php" />
                </rule>
                <rule name="已导入的规则 13-1">
                    <match url="^users/setavatar.html$" ignoreCase="false" />
                    <action type="Rewrite" url="setavatar.php" />
                </rule>
                <rule name="已导入的规则 14-1">
                    <match url="^users/passedit.html$" ignoreCase="false" />
                    <action type="Rewrite" url="passedit.php" />
                </rule>
                <rule name="已导入的规则 15">
                    <match url="^vip_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="modules/obook/buychapter.php?cid={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 16">
                    <match url="^news/([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/modules/news/newshow.php?id={R:1}" appendQueryString="false" />
                </rule>
				<rule name="已导入的规则 17-1">
                    <match url="^api/category/token/(\w*)" ignoreCase="false" />
                    <action type="Rewrite" url="apis/openapi/category.php?token={R:1}" appendQueryString="false" />
                </rule>
				<rule name="已导入的规则 17-2">
                    <match url="^api/booklist/token/(\w*)" ignoreCase="false" />
                    <action type="Rewrite" url="apis/openapi/articlelist.php?token={R:1}" appendQueryString="false" />
                </rule>
				<rule name="已导入的规则 17-3">
                    <match url="^api/bookinfo/aid/([0-9]+)/token/(\w*)" ignoreCase="false" />
                    <action type="Rewrite" url="apis/openapi/articleinfo.php?aid={R:1}&amp;token={R:2}" appendQueryString="false" />
                </rule>
				<rule name="已导入的规则 17-4">
                    <match url="^api/chapterlist/aid/([0-9]+)/token/(\w*)" ignoreCase="false" />
                    <action type="Rewrite" url="apis/openapi/articlechapter.php?aid={R:1}&amp;token={R:2}" appendQueryString="false" />
                </rule>
				<rule name="已导入的规则 17-5">
                    <match url="^api/chaptercontent/aid/([0-9]+)/cid/([0-9]+)/token/(\w*)" ignoreCase="false" />
                    <action type="Rewrite" url="apis/openapi/chaptercontent.php?aid={R:1}&amp;cid={R:2}&amp;token={R:3}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
