    <br>
    <a id="totop" class="go_top" href="javascript:">
    </a>

  

  <div class="footer">
    <div class="footer_main cf">

 
      <div class="foot">
        <p>
         
          <a href="http://www.mianfeidushu.com/modules/forum/showtopic.php?tid=27&lpage=1&page=1" target="_blank" rel="nofollow">
            关于本站
          </a>
          <a href="http://www.mianfeidushu.com/modules/forum/showtopic.php?tid=28&lpage=1&page=1" target="_blank" rel="nofollow">
            商务合作
          </a>
          <a href="http://www.mianfeidushu.com/modules/forum/showtopic.php?tid=29&lpage=1&page=1" target="_blank" rel="nofollow">
            我要投稿
          </a>
          <a href="http://www.mianfeidushu.com/modules/forum/showtopic.php?tid=30&lpage=1&page=1" target="_blank" rel="nofollow">
            版权声明
          </a>
          <a href="http://www.mianfeidushu.com/modules/forum/showtopic.php?tid=31&lpage=1&page=1" target="_blank" rel="nofollow">
            联系我们
          </a>
        </p>
        <p>
          Copyright&nbsp;&nbsp;&copy;&nbsp;2015&nbsp;mianfeidushu.&nbsp;All&nbsp;Rights&nbsp;Reserved
        </p>
        <p>
   作者发布<a href="http://www.mianfeidushu.com" style="margin: 0px;">小说</a>作品时，请遵守国家互联网信息管理办法规定。本站所收录小说作品、社区话题、书库评论均属其个人行为，不代表本站立场。
       </p>             
        <p>
    我们拒绝任何色情小说，拒绝任何抄袭复制侵犯版权的小说，一经发现，即作删除！
        </p>       
        <p>
          免费读书&nbsp;版权所有 豫ICP备16025525号-1
        </p>
      </div>

    </div>
  </div>
  <a id="goTopBtn" class="go_top" href="javascript:">
  </a>
</div>
  </div>
</body>

</html>
