array (
  'meta_keywords' => '首席男神住我家 冷水茶 都市情感',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1710&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1710&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1710&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1710&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '1',
      'types' => 
      array (
        2 => '魔法校园',
        3 => '王朝争霸',
        4 => '西方奇幻',
        5 => '异世大陆',
        6 => '远古神话',
        1 => '东方玄幻',
      ),
    ),
    2 => 
    array (
      'code' => 'wuxia',
      'caption' => '武侠修真',
      'group' => '1',
      'types' => 
      array (
        7 => '传统武侠',
        8 => '古典仙侠',
        9 => '现代仙侠',
        10 => '异世修仙',
        11 => '异世修真',
        12 => '洪荒传说',
      ),
    ),
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
      ),
    ),
    4 => 
    array (
      'code' => 'lishi',
      'caption' => '历史军事',
      'group' => '1',
      'types' => 
      array (
        20 => '架空历史',
        21 => '历史传记',
        22 => '现代军事',
        23 => '战争幻想',
      ),
    ),
    5 => 
    array (
      'code' => 'alingyi',
      'caption' => '灵异悬疑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
        25 => '古代',
      ),
    ),
    6 => 
    array (
      'code' => 'kehuan',
      'caption' => '科幻同人',
      'group' => '1',
      'types' => 
      array (
        26 => '末世危机',
        27 => '未来世界',
        28 => '武侠同人',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'chuanyue',
      'caption' => '古代言情',
      'group' => '2',
      'types' => 
      array (
        32 => '宫廷',
        33 => '女尊',
        34 => '种田',
      ),
    ),
    9 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '2',
      'types' => 
      array (
        35 => '修真',
        36 => '穿越',
        37 => '异世',
      ),
    ),
    10 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'kehuantongren',
      'caption' => '科幻同人',
      'group' => '2',
      'types' => 
      array (
        40 => '科幻脑洞',
        41 => '同人',
      ),
    ),
    12 => 
    array (
      'code' => 'wenxuechuban',
      'caption' => '文学出版',
      'group' => '3',
      'types' => 
      array (
        42 => '青春言情',
        43 => '灵异悬疑',
        44 => '玄幻武侠',
        45 => '幻想言情',
        46 => '职场商战',
      ),
    ),
  ),
  'artileSortCount' => 12,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '1',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1710',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480896571',
    'lastupdate' => '1480896583',
    'articlename' => '首席男神住我家',
    'articlecode' => 'shouxinanshenzhuwojia',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '0',
    'author' => '冷水茶',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说首席男神住我家简介：&nbsp;&nbsp;&nbsp;&nbsp;他，影视界当红男神，腹黑高冷禁欲系。她，美食界新起之秀，恬淡如水气自华。*******************他是大明星，也是背景强大的神秘继承人。他放慢语速，对毒贩说，“我很欣赏你这做事风格，不过采取这样不合神作书吧www.szxs8.com的态度明显是不明智的。”打击情敌，他走到莫则言身边，用只有他一个人能听到的声音说：“我现在住她的房间……”他要娶的人只有她，而她迟早都得嫁给他，既然这样，那他为什么不早点享受自己的权利呢？******************她是美食家，也是他的大房东。因男主厚颜无耻而与之开展了同居生活，万事都有原则的她唯独对男主角没有任何原则：“我随时都愿意嫁给你，也随时都做笔趣阁女总裁的全能兵王http://www.sbiquge.com了一辈子离开你的准备，这就是我对你的爱。”*******************看他和别人的婚礼，她缓缓地在一旁的沙发上坐了下来，然后慢慢开口，语带笑意：“等我结婚了，你也会来观礼吗？” 薛逸钧愣了会神，迅速转身走到她面前，双手捧着她的脸，一字一句地说：“我不去，你和谁结婚？”一边是扑朔迷离的案情，一边是独宠一人的爱恋，这两人会有怎样的火花呢？<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《首席男神住我家》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！首席男神住我家最新章节,首席男神住我家无弹窗,首席男神住我家全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《首席男神住我家》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：首席男神住我家最新章节,首席男神住我家无弹窗,首席男神住我家全文阅读.<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '560075',
    'lastchapter' => '第十六章 杀人动机',
    'lastsummary' => '',
    'chapters' => '39',
    'size' => '183673',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1493350677',
    'dayvisit' => '26',
    'weekvisit' => '130',
    'monthvisit' => '455',
    'allvisit' => '2418',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1482231286',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '87383',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '30',
    'vippubid' => '0',
    'vipchapters' => '23',
    'vipsize' => '96290',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '560098',
    'vipchapter' => '第三十九章 他的眼光',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '1',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '都市情感',
    'sortname' => '都市情感',
    'type' => '',
    'typename' => '',
    'size_c' => 91837,
    'size_k' => 92,
    'size_w' => 9.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1710/1710s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1710/1710s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1710/1710s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1710.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1710',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1710',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1710',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1710',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1710&cid=560075',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=30&cid=560098',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1710',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1710',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1710',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C0%E4%CB%AE%B2%E8',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C0%E4%CB%AE%B2%E8',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CA%D7%CF%AF%C4%D0%C9%F1%D7%A1%CE%D2%BC%D2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1710.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1710',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480896571',
  'lastupdate' => '1480896583',
  'articlename' => '首席男神住我家',
  'articlecode' => 'shouxinanshenzhuwojia',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '0',
  'author' => '冷水茶',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;小说首席男神住我家简介：&nbsp;&nbsp;&nbsp;&nbsp;他，影视界当红男神，腹黑高冷禁欲系。她，美食界新起之秀，恬淡如水气自华。*******************他是大明星，也是背景强大的神秘继承人。他放慢语速，对毒贩说，“我很欣赏你这做事风格，不过采取这样不合神作书吧www.szxs8.com的态度明显是不明智的。”打击情敌，他走到莫则言身边，用只有他一个人能听到的声音说：“我现在住她的房间……”他要娶的人只有她，而她迟早都得嫁给他，既然这样，那他为什么不早点享受自己的权利呢？******************她是美食家，也是他的大房东。因男主厚颜无耻而与之开展了同居生活，万事都有原则的她唯独对男主角没有任何原则：“我随时都愿意嫁给你，也随时都做笔趣阁女总裁的全能兵王http://www.sbiquge.com了一辈子离开你的准备，这就是我对你的爱。”*******************看他和别人的婚礼，她缓缓地在一旁的沙发上坐了下来，然后慢慢开口，语带笑意：“等我结婚了，你也会来观礼吗？” 薛逸钧愣了会神，迅速转身走到她面前，双手捧着她的脸，一字一句地说：“我不去，你和谁结婚？”一边是扑朔迷离的案情，一边是独宠一人的爱恋，这两人会有怎样的火花呢？<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《首席男神住我家》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！首席男神住我家最新章节,首席男神住我家无弹窗,首席男神住我家全文阅读.<br />
&nbsp;&nbsp;&nbsp;&nbsp;各位书友要是觉得《首席男神住我家》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！关键词：首席男神住我家最新章节,首席男神住我家无弹窗,首席男神住我家全文阅读.<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '560075',
  'lastchapter' => '第十六章 杀人动机',
  'lastsummary' => '',
  'chapters' => '39',
  'size' => '183673',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1493350677',
  'dayvisit' => '26',
  'weekvisit' => '130',
  'monthvisit' => '455',
  'allvisit' => '2418',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 1,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1482231286',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '87383',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '30',
  'vippubid' => '0',
  'vipchapters' => '23',
  'vipsize' => '96290',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '560098',
  'vipchapter' => '第三十九章 他的眼光',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '都市情感',
  'sortname' => '都市情感',
  'type' => '',
  'typename' => '',
  'size_c' => 91837,
  'size_k' => 92,
  'size_w' => 9.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1710/1710s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1710/1710s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1710/1710s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1710.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1710',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1710',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1710',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1710',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1710&cid=560075',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=30&cid=560098',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1710',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1710',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1710',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C0%E4%CB%AE%B2%E8',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C0%E4%CB%AE%B2%E8',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CA%D7%CF%AF%C4%D0%C9%F1%D7%A1%CE%D2%BC%D2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1710.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)