array (
  'meta_keywords' => '涡流 浮生 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1754&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1754&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1754&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1754&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '3',
  'yellowrose' => '1',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1754',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480521600',
    'lastupdate' => '1482200054',
    'articlename' => '涡流',
    'articlecode' => 'woliu',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'W',
    'authorid' => '27',
    'author' => '浮生',
    'posterid' => '27',
    'poster' => '浮生',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '6',
    'libid' => '0',
    'intro' => '现代都市，就像是一个巨大的涡流，每时每刻都在卷入无数的追梦者。<br />
<br />
这些追梦者，有的是为了生活所迫，有的是为了追寻理想。<br />
<br />
无论是那种，被这股涡流漩进去，都要经过冰与火的洗礼，适者生存下来，无力者将会被涡流抛出去。<br />
<br />
物竞天择，适者生存，这是永恒不变的法则。<br />
<br />
上天给予每个人的机会都是均等的，就看你能抓住机会不行。<br />
<br />
机会来了，能抓住的永远是强者。',
    'notice' => '新书上传，老品质，老质量！兄弟们，让我们一战到底！',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '571363',
    'lastchapter' => '第015章 热闹过后最寂寞',
    'lastsummary' => '',
    'chapters' => '92',
    'size' => '615656',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500612270',
    'dayvisit' => 0,
    'weekvisit' => '195',
    'monthvisit' => '650',
    'allvisit' => '49658',
    'lastvote' => '1481674423',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '13',
    'goodnum' => '9',
    'reviewsnum' => '9',
    'ratenum' => 7,
    'ratesum' => 68,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1482231300',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1500523200',
    'freesize' => '615656',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '21',
    'vippubid' => '0',
    'vipchapters' => '78',
    'vipsize' => '524553',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '571440',
    'vipchapter' => '第92章错过还是过错',
    'vipsummary' => '',
    'lastflower' => '1481250093',
    'allflower' => '31',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '1481248188',
    'allvipvote' => '7',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '3',
    'yellowrose' => '1',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '种田',
    'typename' => '种田',
    'size_c' => 307828,
    'size_k' => 308,
    'size_w' => 30.8,
    'rateavg' => '9.7',
    'rateavg_i' => 9,
    'rateavg_d' => 7,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1754/1754s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1754/1754s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1754/1754s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1754.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1754',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1754',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1754',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1754',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1754&cid=571363',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=21&cid=571440',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1754',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1754',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1754',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/27.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D0%C1%F7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1754.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1754',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480521600',
  'lastupdate' => '1482200054',
  'articlename' => '涡流',
  'articlecode' => 'woliu',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'W',
  'authorid' => '27',
  'author' => '浮生',
  'posterid' => '27',
  'poster' => '浮生',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '6',
  'libid' => '0',
  'intro' => '现代都市，就像是一个巨大的涡流，每时每刻都在卷入无数的追梦者。<br />
<br />
这些追梦者，有的是为了生活所迫，有的是为了追寻理想。<br />
<br />
无论是那种，被这股涡流漩进去，都要经过冰与火的洗礼，适者生存下来，无力者将会被涡流抛出去。<br />
<br />
物竞天择，适者生存，这是永恒不变的法则。<br />
<br />
上天给予每个人的机会都是均等的，就看你能抓住机会不行。<br />
<br />
机会来了，能抓住的永远是强者。',
  'notice' => '新书上传，老品质，老质量！兄弟们，让我们一战到底！',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '571363',
  'lastchapter' => '第015章 热闹过后最寂寞',
  'lastsummary' => '',
  'chapters' => '92',
  'size' => '615656',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500612270',
  'dayvisit' => 0,
  'weekvisit' => '195',
  'monthvisit' => '650',
  'allvisit' => '49658',
  'lastvote' => '1481674423',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '13',
  'goodnum' => '9',
  'reviewsnum' => 27,
  'ratenum' => 7,
  'ratesum' => 68,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1482231300',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1500523200',
  'freesize' => '615656',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '21',
  'vippubid' => '0',
  'vipchapters' => '78',
  'vipsize' => '524553',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '571440',
  'vipchapter' => '第92章错过还是过错',
  'vipsummary' => '',
  'lastflower' => '1481250093',
  'allflower' => '31',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '1481248188',
  'allvipvote' => '7',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '种田',
  'typename' => '种田',
  'size_c' => 307828,
  'size_k' => 308,
  'size_w' => 30.8,
  'rateavg' => '9.7',
  'rateavg_i' => 9,
  'rateavg_d' => 7,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1754/1754s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1754/1754s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1754/1754s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1754.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1754',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1754',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1754',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1754',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1754&cid=571363',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=21&cid=571440',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1754',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1754',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1754',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/27.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D0%C1%F7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1754.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)