array (
  'meta_keywords' => '白头吟 雨霏霏 古代言情',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1763&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1763&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1763&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1763&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '1',
      'types' => 
      array (
        2 => '魔法校园',
        3 => '王朝争霸',
        4 => '西方奇幻',
        5 => '异世大陆',
        6 => '远古神话',
        1 => '东方玄幻',
      ),
    ),
    2 => 
    array (
      'code' => 'wuxia',
      'caption' => '武侠修真',
      'group' => '1',
      'types' => 
      array (
        7 => '传统武侠',
        8 => '古典仙侠',
        9 => '现代仙侠',
        10 => '异世修仙',
        11 => '异世修真',
        12 => '洪荒传说',
      ),
    ),
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
      ),
    ),
    4 => 
    array (
      'code' => 'lishi',
      'caption' => '历史军事',
      'group' => '1',
      'types' => 
      array (
        20 => '架空历史',
        21 => '历史传记',
        22 => '现代军事',
        23 => '战争幻想',
      ),
    ),
    5 => 
    array (
      'code' => 'alingyi',
      'caption' => '灵异悬疑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
        25 => '古代',
      ),
    ),
    6 => 
    array (
      'code' => 'kehuan',
      'caption' => '科幻同人',
      'group' => '1',
      'types' => 
      array (
        26 => '末世危机',
        27 => '未来世界',
        28 => '武侠同人',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'chuanyue',
      'caption' => '古代言情',
      'group' => '2',
      'types' => 
      array (
        32 => '宫廷',
        33 => '女尊',
        34 => '种田',
      ),
    ),
    9 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '2',
      'types' => 
      array (
        35 => '修真',
        36 => '穿越',
        37 => '异世',
      ),
    ),
    10 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'kehuantongren',
      'caption' => '科幻同人',
      'group' => '2',
      'types' => 
      array (
        40 => '科幻脑洞',
        41 => '同人',
      ),
    ),
    12 => 
    array (
      'code' => 'wenxuechuban',
      'caption' => '文学出版',
      'group' => '3',
      'types' => 
      array (
        42 => '青春言情',
        43 => '灵异悬疑',
        44 => '玄幻武侠',
        45 => '幻想言情',
        46 => '职场商战',
      ),
    ),
  ),
  'artileSortCount' => 12,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1763',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1481956000',
    'lastupdate' => '1482112403',
    'articlename' => '白头吟',
    'articlecode' => 'baitouyin',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'B',
    'authorid' => '5',
    'author' => '雨霏霏',
    'posterid' => '5',
    'poster' => '雨霏霏',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '32',
    'libid' => '0',
    'intro' => '云澜大陆上，一向是以北方的冥北王朝、东方的靖澜皇朝还有西面的欶国这三个大国为首。而文钰落不过是个一出生就被诅咒为不详的小国公主而已，却突然就被送去和亲了，他可是靖澜皇朝手握重兵的炎王龙睿啊……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '571950',
    'lastchapter' => '第五十一章 红尘多少眼儿媚',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;碧痕刚刚在心里唤了一声寮莎的名字，就听见一个声音在耳边响起，正是寮莎，只是他并未在她身边，乃是用了传音的法子。只要是他在那人身上下过术法的，无论那人是在何处，他都能传音给那人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“等着，别死就行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;别死……谈何容易啊……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着再次向着他们攻击过来的伏枫，碧痕真的很想苦笑，而她也确实那么做了，带着苦笑，抽出了自己的鞭子，将莫天青一卷，避开了妖王的雷霆一击。现在，只能尽量别让自己伤得太重了……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不久之后，待寮莎和莫云阳到了的时候，碧痕和莫天青虽然还未死，却也是遍体鳞……',
    'chapters' => '101',
    'size' => '626222',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1491777642',
    'dayvisit' => '13',
    'weekvisit' => '13',
    'monthvisit' => '221',
    'allvisit' => '2821',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '1',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1482231302',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1482112403',
    'freesize' => '626222',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '29',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '宫廷',
    'typename' => '宫廷',
    'size_c' => 313111,
    'size_k' => 314,
    'size_w' => 31.3,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1763/1763s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1763/1763s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1763/1763s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1763.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1763',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1763',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1763',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1763',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1763&cid=571950',
    'url_vipchapter' => '',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1763',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1763',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1763',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/5.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%EA%F6%AD%F6%AD',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%D7%CD%B7%D2%F7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1763.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1763',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1481956000',
  'lastupdate' => '1482112403',
  'articlename' => '白头吟',
  'articlecode' => 'baitouyin',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'B',
  'authorid' => '5',
  'author' => '雨霏霏',
  'posterid' => '5',
  'poster' => '雨霏霏',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '32',
  'libid' => '0',
  'intro' => '云澜大陆上，一向是以北方的冥北王朝、东方的靖澜皇朝还有西面的欶国这三个大国为首。而文钰落不过是个一出生就被诅咒为不详的小国公主而已，却突然就被送去和亲了，他可是靖澜皇朝手握重兵的炎王龙睿啊……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '571950',
  'lastchapter' => '第五十一章 红尘多少眼儿媚',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;碧痕刚刚在心里唤了一声寮莎的名字，就听见一个声音在耳边响起，正是寮莎，只是他并未在她身边，乃是用了传音的法子。只要是他在那人身上下过术法的，无论那人是在何处，他都能传音给那人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“等着，别死就行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;别死……谈何容易啊……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着再次向着他们攻击过来的伏枫，碧痕真的很想苦笑，而她也确实那么做了，带着苦笑，抽出了自己的鞭子，将莫天青一卷，避开了妖王的雷霆一击。现在，只能尽量别让自己伤得太重了……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不久之后，待寮莎和莫云阳到了的时候，碧痕和莫天青虽然还未死，却也是遍体鳞……',
  'chapters' => '101',
  'size' => '626222',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1491777642',
  'dayvisit' => '13',
  'weekvisit' => '13',
  'monthvisit' => '221',
  'allvisit' => '2821',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '1',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1482231302',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1482112403',
  'freesize' => '626222',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '29',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '宫廷',
  'typename' => '宫廷',
  'size_c' => 313111,
  'size_k' => 314,
  'size_w' => 31.3,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1763/1763s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1763/1763s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1763/1763s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1763.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1763',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1763',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1763',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1763',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1763&cid=571950',
  'url_vipchapter' => '',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1763',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1763',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1763',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/5.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%EA%F6%AD%F6%AD',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%D7%CD%B7%D2%F7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1763.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)