array (
  'meta_keywords' => '双面总裁：霸道的爱 上官若水 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1768&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1768&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1768&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1768&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1768',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1484294399',
    'lastupdate' => '1485048705',
    'articlename' => '双面总裁：霸道的爱',
    'articlecode' => 'shuangmianzongcai_badaodeai',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '69',
    'author' => '上官若水',
    'posterid' => '69',
    'poster' => '上官若水',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '3',
    'libid' => '0',
    'intro' => '他强迫她离开六年的爱人，将她囚禁在他身边。<br />
她反抗，她挣扎，结果统统被镇压。<br />
她无奈，她迷茫，最终化为满腔爱。<br />
然而既然爱了，那就要轰轰烈烈。<br />
于是她奋起，她爆发，她定将用爱征服他',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '573930',
    'lastchapter' => '第九章&nbsp;&nbsp;求婚',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;肖梦简直快要被气疯了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个男人以为自己是谁啊？天皇老子吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就算是，那又如何？他有什么权利决定她爱谁？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;呸，一口吐沫吐到萧远脸上，这就是肖梦的回答。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;萧远毫不介意的把头低下来，靠在肖梦的胸脯间，蹭了蹭，把口水擦掉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他用低沉而又充满邪气的声音说道：“张爱玲说, 通往女人灵魂的通道是阴-道。我一直想知道这句话是否正确，看来现在是有实践的机会了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他撩起她的衣服，手钻进去，无师自通的挑-逗了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;特妈的，男人都是下半身思考的动物吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爱是做出来..',
    'chapters' => '9',
    'size' => '43514',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500324317',
    'dayvisit' => '26',
    'weekvisit' => '39',
    'monthvisit' => '546',
    'allvisit' => '4791',
    'lastvote' => '1484992312',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '2',
    'reviewsnum' => '0',
    'ratenum' => 27,
    'ratesum' => 257,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1484617436',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1485048705',
    'freesize' => '43514',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '31',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '2',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 21757,
    'size_k' => 22,
    'size_w' => 2.2,
    'rateavg' => '9.5',
    'rateavg_i' => 9,
    'rateavg_d' => 5,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1768/1768s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1768/1768s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1768/1768s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1768.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1768',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1768',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1768',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1768',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1768&cid=573930',
    'url_vipchapter' => '',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1768',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1768',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1768',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/69.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C9%CF%B9%D9%C8%F4%CB%AE',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CB%AB%C3%E6%D7%DC%B2%C3%A3%BA%B0%D4%B5%C0%B5%C4%B0%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1768.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1768',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1484294399',
  'lastupdate' => '1485048705',
  'articlename' => '双面总裁：霸道的爱',
  'articlecode' => 'shuangmianzongcai_badaodeai',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '69',
  'author' => '上官若水',
  'posterid' => '69',
  'poster' => '上官若水',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '3',
  'libid' => '0',
  'intro' => '他强迫她离开六年的爱人，将她囚禁在他身边。<br />
她反抗，她挣扎，结果统统被镇压。<br />
她无奈，她迷茫，最终化为满腔爱。<br />
然而既然爱了，那就要轰轰烈烈。<br />
于是她奋起，她爆发，她定将用爱征服他',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '573930',
  'lastchapter' => '第九章&nbsp;&nbsp;求婚',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;肖梦简直快要被气疯了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个男人以为自己是谁啊？天皇老子吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就算是，那又如何？他有什么权利决定她爱谁？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;呸，一口吐沫吐到萧远脸上，这就是肖梦的回答。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;萧远毫不介意的把头低下来，靠在肖梦的胸脯间，蹭了蹭，把口水擦掉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他用低沉而又充满邪气的声音说道：“张爱玲说, 通往女人灵魂的通道是阴-道。我一直想知道这句话是否正确，看来现在是有实践的机会了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他撩起她的衣服，手钻进去，无师自通的挑-逗了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;特妈的，男人都是下半身思考的动物吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爱是做出来..',
  'chapters' => '9',
  'size' => '43514',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500324317',
  'dayvisit' => '26',
  'weekvisit' => '39',
  'monthvisit' => '546',
  'allvisit' => '4791',
  'lastvote' => '1484992312',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '2',
  'reviewsnum' => 7,
  'ratenum' => 27,
  'ratesum' => 257,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1484617436',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1485048705',
  'freesize' => '43514',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '31',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '2',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 21757,
  'size_k' => 22,
  'size_w' => 2.2,
  'rateavg' => '9.5',
  'rateavg_i' => 9,
  'rateavg_d' => 5,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1768/1768s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1768/1768s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1768/1768s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1768.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1768',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1768',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1768',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1768',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1768&cid=573930',
  'url_vipchapter' => '',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1768',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1768',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1768',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/69.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C9%CF%B9%D9%C8%F4%CB%AE',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CB%AB%C3%E6%D7%DC%B2%C3%A3%BA%B0%D4%B5%C0%B5%C4%B0%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1768.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)