array (
  'meta_keywords' => '泣神战纪 猹夜诞 玄幻魔法',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1769&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1769&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1769&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1769&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1769',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1484295067',
    'lastupdate' => '1500688163',
    'articlename' => '泣神战纪',
    'articlecode' => 'qishenzhanji',
    'backupname' => '樊问枫圣印加身，登顶异域，狂揽巅峰！',
    'keywords' => '异世大陆 玄幻打斗',
    'roles' => '',
    'initial' => 'Q',
    'authorid' => '57',
    'author' => '猹夜诞',
    'posterid' => '57',
    'poster' => '猹夜诞',
    'agentid' => '1797',
    'agent' => '楚先生',
    'sortid' => '7',
    'typeid' => '31',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应届高中毕业少年樊问枫应身有怪印而遭人排斥，却因一场意外无意中遁入异域，从此展开了一场从零开始的异域新生活。在异域中的他没有实力没有背景更没有异域本土居民的独特体质，却该如何生活下去？',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '572298',
    'lastvolume' => '第一卷',
    'lastchapterid' => '607334',
    'lastchapter' => '即将恢复更新惹',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;之前为学校的考试月<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大家应该都知道，这大学的期末是万万不可马虎的，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;故此把精力都放在了学习上面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在终于是放假了，我呢，也准备出去游玩一会，大概五天左右，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回来之后将恢复更新',
    'chapters' => '135',
    'size' => '738857',
    'daysize' => '4120',
    'weeksize' => '24449',
    'monthsize' => '24617',
    'lastvisit' => '1500666155',
    'dayvisit' => '65',
    'weekvisit' => '780',
    'monthvisit' => '1430',
    'allvisit' => '21606',
    'lastvote' => '1495247536',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '81',
    'goodnum' => '16',
    'reviewsnum' => '9',
    'ratenum' => 21,
    'ratesum' => 199,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1484617383',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1499744056',
    'freesize' => '714408',
    'isvip' => '签约',
    'viptime' => '1500688163',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '95',
    'vipsize' => '527829',
    'vipvolumeid' => '572298',
    'vipvolume' => '第一卷',
    'vipchapterid' => '608128',
    'vipchapter' => '第一百三十三章：神印',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“但这两个人，必——须——得——死！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;斗篷之中，男子的声音宛若是九幽而来，森森寒意在三人的中间扩散。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这句话让得夜魔族的两人都是猝不及防，三人间的气氛瞬间就降了下来，他们相互对望，却是不说哪怕一句话！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沉默，他们陷入了沉默的境地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“‘神印’拥有者，不能死！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夜魔族族长死死地盯着斗篷男子斗篷中的那双深邃的眼睛，不肯让步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈哈哈哈哈哈，‘神印’，‘神印’？这‘神印’当真是骇人之极，让殿主忌惮，让你二人也如此害怕吗？！‘神印’为何，你不愿说，好！那你..',
    'lastflower' => '0',
    'allflower' => '2',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '异世大陆',
    'typename' => '异世大陆',
    'size_c' => 369429,
    'size_k' => 370,
    'size_w' => 36.9,
    'rateavg' => '9.5',
    'rateavg_i' => 9,
    'rateavg_d' => 5,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1769/1769s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1769/1769s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1769/1769s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1769.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1769',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1769',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1769',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1769',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1769&cid=607334',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=608128',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1769',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1769',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1769',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/57.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%E2%AA%D2%B9%B5%AE',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C6%FC%C9%F1%D5%BD%BC%CD%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1769.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1769',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1484295067',
  'lastupdate' => '1500688163',
  'articlename' => '泣神战纪',
  'articlecode' => 'qishenzhanji',
  'backupname' => '樊问枫圣印加身，登顶异域，狂揽巅峰！',
  'keywords' => '异世大陆 玄幻打斗',
  'roles' => '',
  'initial' => 'Q',
  'authorid' => '57',
  'author' => '猹夜诞',
  'posterid' => '57',
  'poster' => '猹夜诞',
  'agentid' => '1797',
  'agent' => '楚先生',
  'sortid' => '7',
  'typeid' => '31',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应届高中毕业少年樊问枫应身有怪印而遭人排斥，却因一场意外无意中遁入异域，从此展开了一场从零开始的异域新生活。在异域中的他没有实力没有背景更没有异域本土居民的独特体质，却该如何生活下去？',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '572298',
  'lastvolume' => '第一卷',
  'lastchapterid' => '607334',
  'lastchapter' => '即将恢复更新惹',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;之前为学校的考试月<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大家应该都知道，这大学的期末是万万不可马虎的，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;故此把精力都放在了学习上面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在终于是放假了，我呢，也准备出去游玩一会，大概五天左右，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回来之后将恢复更新',
  'chapters' => '135',
  'size' => '738857',
  'daysize' => '4120',
  'weeksize' => '24449',
  'monthsize' => '24617',
  'lastvisit' => '1500666155',
  'dayvisit' => '65',
  'weekvisit' => '780',
  'monthvisit' => '1430',
  'allvisit' => '21606',
  'lastvote' => '1495247536',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '81',
  'goodnum' => '16',
  'reviewsnum' => 17,
  'ratenum' => 21,
  'ratesum' => 199,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1484617383',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1499744056',
  'freesize' => '714408',
  'isvip' => '签约',
  'viptime' => '1500688163',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '95',
  'vipsize' => '527829',
  'vipvolumeid' => '572298',
  'vipvolume' => '第一卷',
  'vipchapterid' => '608128',
  'vipchapter' => '第一百三十三章：神印',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“但这两个人，必——须——得——死！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;斗篷之中，男子的声音宛若是九幽而来，森森寒意在三人的中间扩散。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这句话让得夜魔族的两人都是猝不及防，三人间的气氛瞬间就降了下来，他们相互对望，却是不说哪怕一句话！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沉默，他们陷入了沉默的境地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“‘神印’拥有者，不能死！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夜魔族族长死死地盯着斗篷男子斗篷中的那双深邃的眼睛，不肯让步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈哈哈哈哈哈，‘神印’，‘神印’？这‘神印’当真是骇人之极，让殿主忌惮，让你二人也如此害怕吗？！‘神印’为何，你不愿说，好！那你..',
  'lastflower' => '0',
  'allflower' => '2',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '异世大陆',
  'typename' => '异世大陆',
  'size_c' => 369429,
  'size_k' => 370,
  'size_w' => 36.9,
  'rateavg' => '9.5',
  'rateavg_i' => 9,
  'rateavg_d' => 5,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1769/1769s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1769/1769s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1769/1769s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1769.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1769',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1769',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1769',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1769',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1769&cid=607334',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=608128',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1769',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1769',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1769',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/57.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%E2%AA%D2%B9%B5%AE',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C6%FC%C9%F1%D5%BD%BC%CD%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1769.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '异世大陆',
      'tagencode' => '%D2%EC%CA%C0%B4%F3%C2%BD',
    ),
    1 => 
    array (
      'tagname' => '玄幻打斗',
      'tagencode' => '%D0%FE%BB%C3%B4%F2%B6%B7',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 2,
    'addrows' => 0,
    'loops' => 2,
    'index' => 2,
    'order' => 2,
    'row' => 2,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '玄幻打斗',
      'tagencode' => '%D0%FE%BB%C3%B4%F2%B6%B7',
    ),
    'key' => 1,
    'append' => 0,
  ),
)