array (
  'meta_keywords' => '修武成圣在都市 月寒 都市热血',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1774&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1774&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1774&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1774&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1774',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1484795876',
    'lastupdate' => '1484805670',
    'articlename' => '修武成圣在都市',
    'articlecode' => 'xiuwuchengshengzaidushi',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'X',
    'authorid' => '103',
    'author' => '月寒',
    'posterid' => '103',
    'poster' => '月寒',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '35',
    'libid' => '0',
    'intro' => '易小言竟然穿越了，他通过这具身体的记忆清楚的分析出，这具身体原来的主人是一个懦弱且胆小，孤僻而自卑的人，原来的易小言是一个孤儿，由叔叔抚养长大，因为从小没有受过良好的教育，所以学习成绩一直很差，再加上他的自卑，对学习成绩也没兴趣，在老师的眼里就是那种自暴自弃的学会僧，他不喜欢说话，身体又不强壮，所以在学校里老是被同学们欺负，不过他也不敢反抗，而这个易小言为什么会死呢？完全是因为他喜欢上了学校里的一个女孩，当他给女孩投上情书的时候，女孩拒绝了他，还冷冰冰的说了一句我并不喜欢懦夫，为了不让自己变成懦夫，易小言决定勇敢一次，找同样追求女孩的富家公子决斗，决斗的结果可想而知，易小言被狠狠地揍了一顿，祸不单行……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '573734',
    'lastchapter' => '第006章 我爸他不叫李刚',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;站在门外的这货不是别人，正是易小言。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实，易小言早就已经站到门外了。早就想冲进去将这群小混混狂揍一顿，恰好看到光头强开门想走，便直接地将他们给挡了回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看似孱弱不堪的易小言，竟然完全以磅礴外放的气势，将众混混逼退，包厢内，就连离得较远的云素素和餐厅老板，都不由得感觉到一股难以名状的森冷气息，从易小言的身体内逼透而出。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;易小言举步不急不缓地走了进来，那些小混混被扑面的气势所逼，竟然不自觉地主动分出一条道来，让他径直走了进来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;易小言走到那餐厅老板身前，弯腰将之扶起..',
    'chapters' => '6',
    'size' => '33307',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500463609',
    'dayvisit' => 0,
    'weekvisit' => '65',
    'monthvisit' => '312',
    'allvisit' => '3614',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1484797042',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1484805670',
    'freesize' => '33307',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '都市热血',
    'sortname' => '都市热血',
    'type' => '都市异能',
    'typename' => '都市异能',
    'size_c' => 16654,
    'size_k' => 17,
    'size_w' => 1.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1774.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1774',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1774',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1774',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1774',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1774&cid=573734',
    'url_vipchapter' => '',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1774',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1774',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1774',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/103.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D4%C2%BA%AE',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%DE%CE%E4%B3%C9%CA%A5%D4%DA%B6%BC%CA%D0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1774.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1774',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1484795876',
  'lastupdate' => '1484805670',
  'articlename' => '修武成圣在都市',
  'articlecode' => 'xiuwuchengshengzaidushi',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'X',
  'authorid' => '103',
  'author' => '月寒',
  'posterid' => '103',
  'poster' => '月寒',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '35',
  'libid' => '0',
  'intro' => '易小言竟然穿越了，他通过这具身体的记忆清楚的分析出，这具身体原来的主人是一个懦弱且胆小，孤僻而自卑的人，原来的易小言是一个孤儿，由叔叔抚养长大，因为从小没有受过良好的教育，所以学习成绩一直很差，再加上他的自卑，对学习成绩也没兴趣，在老师的眼里就是那种自暴自弃的学会僧，他不喜欢说话，身体又不强壮，所以在学校里老是被同学们欺负，不过他也不敢反抗，而这个易小言为什么会死呢？完全是因为他喜欢上了学校里的一个女孩，当他给女孩投上情书的时候，女孩拒绝了他，还冷冰冰的说了一句我并不喜欢懦夫，为了不让自己变成懦夫，易小言决定勇敢一次，找同样追求女孩的富家公子决斗，决斗的结果可想而知，易小言被狠狠地揍了一顿，祸不单行……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '573734',
  'lastchapter' => '第006章 我爸他不叫李刚',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;站在门外的这货不是别人，正是易小言。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实，易小言早就已经站到门外了。早就想冲进去将这群小混混狂揍一顿，恰好看到光头强开门想走，便直接地将他们给挡了回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看似孱弱不堪的易小言，竟然完全以磅礴外放的气势，将众混混逼退，包厢内，就连离得较远的云素素和餐厅老板，都不由得感觉到一股难以名状的森冷气息，从易小言的身体内逼透而出。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;易小言举步不急不缓地走了进来，那些小混混被扑面的气势所逼，竟然不自觉地主动分出一条道来，让他径直走了进来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;易小言走到那餐厅老板身前，弯腰将之扶起..',
  'chapters' => '6',
  'size' => '33307',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500463609',
  'dayvisit' => 0,
  'weekvisit' => '65',
  'monthvisit' => '312',
  'allvisit' => '3614',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1484797042',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1484805670',
  'freesize' => '33307',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '都市热血',
  'sortname' => '都市热血',
  'type' => '都市异能',
  'typename' => '都市异能',
  'size_c' => 16654,
  'size_k' => 17,
  'size_w' => 1.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1774.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1774',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1774',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1774',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1774',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1774&cid=573734',
  'url_vipchapter' => '',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1774',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1774',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1774',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/103.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D4%C2%BA%AE',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%DE%CE%E4%B3%C9%CA%A5%D4%DA%B6%BC%CA%D0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1774.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)