array (
  'meta_keywords' => '逆天神尊 浮生 玄幻魔法',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1783&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1783&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1783&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1783&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1783',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1484797989',
    'lastupdate' => '1484797989',
    'articlename' => '逆天神尊',
    'articlecode' => 'nitianshenzun',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'N',
    'authorid' => '27',
    'author' => '浮生',
    'posterid' => '27',
    'poster' => '浮生',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '29',
    'libid' => '0',
    'intro' => '天不由我，我必逆天！<br />
少年立下誓言，一人之力，独上九重天！<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '572939',
    'lastchapter' => '第四十章',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;契约九尾狐狸<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;按闪电黑貂的建议，那就只能是三天后莫凡才能和九尾狐狸契约，他们也只能再等几天了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;九尾狐狸刚才那凶狠劲一下子就没了，好像它也知道自己差一点就害了莫凡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果不是有闪电黑貂在这里，也许九尾狐狸会强行拉着莫凡与它一起契约的，那样会造成什么样的后果，它想想都觉得后怕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“谢谢你闪电黑貂。”九尾狐狸这一次是真心的道谢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;。。。。。。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴家吴长河的大院里<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;来来往往的佣人正在忙碌的为他们准备着晚膳，这里与吴迪那边的冷清截然就是两个鲜明的对比。<br />
……',
    'chapters' => '28',
    'size' => '141688',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500427244',
    'dayvisit' => '13',
    'weekvisit' => '39',
    'monthvisit' => '91',
    'allvisit' => '1482',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1484801889',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '141688',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '东方玄幻',
    'typename' => '东方玄幻',
    'size_c' => 70844,
    'size_k' => 71,
    'size_w' => 7.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1783/1783s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1783/1783s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1783/1783s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1783.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1783',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1783',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1783',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1783',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1783&cid=572939',
    'url_vipchapter' => '',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1783',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1783',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1783',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/27.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C4%E6%CC%EC%C9%F1%D7%F0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1783.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1783',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1484797989',
  'lastupdate' => '1484797989',
  'articlename' => '逆天神尊',
  'articlecode' => 'nitianshenzun',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'N',
  'authorid' => '27',
  'author' => '浮生',
  'posterid' => '27',
  'poster' => '浮生',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '29',
  'libid' => '0',
  'intro' => '天不由我，我必逆天！<br />
少年立下誓言，一人之力，独上九重天！<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '572939',
  'lastchapter' => '第四十章',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;契约九尾狐狸<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;按闪电黑貂的建议，那就只能是三天后莫凡才能和九尾狐狸契约，他们也只能再等几天了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;九尾狐狸刚才那凶狠劲一下子就没了，好像它也知道自己差一点就害了莫凡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果不是有闪电黑貂在这里，也许九尾狐狸会强行拉着莫凡与它一起契约的，那样会造成什么样的后果，它想想都觉得后怕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“谢谢你闪电黑貂。”九尾狐狸这一次是真心的道谢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;。。。。。。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴家吴长河的大院里<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;来来往往的佣人正在忙碌的为他们准备着晚膳，这里与吴迪那边的冷清截然就是两个鲜明的对比。<br />
……',
  'chapters' => '28',
  'size' => '141688',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500427244',
  'dayvisit' => '13',
  'weekvisit' => '39',
  'monthvisit' => '91',
  'allvisit' => '1482',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1484801889',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '141688',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '东方玄幻',
  'typename' => '东方玄幻',
  'size_c' => 70844,
  'size_k' => 71,
  'size_w' => 7.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1783/1783s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1783/1783s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1783/1783s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1783.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1783',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1783',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1783',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1783',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1783&cid=572939',
  'url_vipchapter' => '',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1783',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1783',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1783',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/27.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C4%E6%CC%EC%C9%F1%D7%F0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1783.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)