array (
  'meta_keywords' => '一线牵 独舞长天 修真武侠',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1789&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1789&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1789&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1789&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1789',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1484798444',
    'lastupdate' => '1484798444',
    'articlename' => '一线牵',
    'articlecode' => 'yixianqian',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '89',
    'author' => '独舞长天',
    'posterid' => '89',
    'poster' => '独舞长天',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '32',
    'libid' => '0',
    'intro' => '从我顶的大雪蹲在潶兹市监狱得那扇黑乎乎而又凄惨得大门口前时，除去警察学校时得此种激情那刹那消失，换言之得是无穷得埋怨。我感觉到我要面对面对比充军更加要伤心得时刻，此种时刻木有时候得限制，仅有煎熬。<br />
一年零三个月九小时三十三分以后，我依然是蹲在那扇大门口前，头上得天上依然是飘的雪花朵，但是我在一年零三个月九小时三十三分之前得心情不知道肿么过去完全得消失，我感觉到从我得面前不在是伤心.煎熬与埋怨，而一种独特得力量，此种力量仅是来与那一年零三个月九小时三十三分。仅是那段时候，把是我人生得正真开始，人生旅途得正真开始。<br />
我不懂得在那段时候里，是神马变化呢我，我只懂得：潶兹河得天上一直是美丽得。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '573171',
    'lastchapter' => '第四章1',
    'lastsummary' => '',
    'chapters' => '40',
    'size' => '314486',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500322734',
    'dayvisit' => 0,
    'weekvisit' => '65',
    'monthvisit' => '182',
    'allvisit' => '2054',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1484801872',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '122',
    'vippubid' => '0',
    'vipchapters' => '26',
    'vipsize' => '210712',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '573197',
    'vipchapter' => '第十章4',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '修真武侠',
    'sortname' => '修真武侠',
    'type' => '异世修真',
    'typename' => '异世修真',
    'size_c' => 157243,
    'size_k' => 158,
    'size_w' => 15.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1789.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1789',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1789',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1789',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1789',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1789&cid=573171',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=122&cid=573197',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1789',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1789',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1789',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/89.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B6%C0%CE%E8%B3%A4%CC%EC',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D2%BB%CF%DF%C7%A3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1789.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1789',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1484798444',
  'lastupdate' => '1484798444',
  'articlename' => '一线牵',
  'articlecode' => 'yixianqian',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '89',
  'author' => '独舞长天',
  'posterid' => '89',
  'poster' => '独舞长天',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '32',
  'libid' => '0',
  'intro' => '从我顶的大雪蹲在潶兹市监狱得那扇黑乎乎而又凄惨得大门口前时，除去警察学校时得此种激情那刹那消失，换言之得是无穷得埋怨。我感觉到我要面对面对比充军更加要伤心得时刻，此种时刻木有时候得限制，仅有煎熬。<br />
一年零三个月九小时三十三分以后，我依然是蹲在那扇大门口前，头上得天上依然是飘的雪花朵，但是我在一年零三个月九小时三十三分之前得心情不知道肿么过去完全得消失，我感觉到从我得面前不在是伤心.煎熬与埋怨，而一种独特得力量，此种力量仅是来与那一年零三个月九小时三十三分。仅是那段时候，把是我人生得正真开始，人生旅途得正真开始。<br />
我不懂得在那段时候里，是神马变化呢我，我只懂得：潶兹河得天上一直是美丽得。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '573171',
  'lastchapter' => '第四章1',
  'lastsummary' => '',
  'chapters' => '40',
  'size' => '314486',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500322734',
  'dayvisit' => 0,
  'weekvisit' => '65',
  'monthvisit' => '182',
  'allvisit' => '2054',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1484801872',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '122',
  'vippubid' => '0',
  'vipchapters' => '26',
  'vipsize' => '210712',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '573197',
  'vipchapter' => '第十章4',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '修真武侠',
  'sortname' => '修真武侠',
  'type' => '异世修真',
  'typename' => '异世修真',
  'size_c' => 157243,
  'size_k' => 158,
  'size_w' => 15.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1789.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1789',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1789',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1789',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1789',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1789&cid=573171',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=122&cid=573197',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1789',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1789',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1789',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/89.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B6%C0%CE%E8%B3%A4%CC%EC',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D2%BB%CF%DF%C7%A3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1789.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)