array (
  'meta_keywords' => '奸商 独舞长天 古代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1795&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1795&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1795&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1795&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1795',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1484799318',
    'lastupdate' => '1484799318',
    'articlename' => '奸商',
    'articlecode' => 'jianshang',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'J',
    'authorid' => '89',
    'author' => '独舞长天',
    'posterid' => '89',
    'poster' => '独舞长天',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '2',
    'typeid' => '9',
    'libid' => '0',
    'intro' => '沈雨微穿越到古代，没想到刚巧碰到“最美花魁评选赛”，所有妓院的女子参加。但她却想“ 果然这群人想不清楚眼球效应背后的巨大经济利益，不如自己就给这些个人仔细地上次课吧”。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '573351',
    'lastchapter' => '第十二章',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“爹”，看来使出自个超级讨欢心神功喽：“你看女儿女穿男装大家不明白，你担心那烟花酒地污染了女儿这心灵么？女儿都大了，都有哪些不懂嘛，这青楼姑娘，也全都为一个个伤心人。自己家虽然经营青楼，不过也都正常营生，较那些偷蒙拐抢的人好多了。要是爹觉得梦园是藏着污秽的地点，以这种的经营方式为耻，那不如此刻就让解散好啦！要是你要开青楼，女儿反正会接手啊，晚一些早一些接触又来什么差别!自己一点都不觉得走巡视自个的家业有哪些错啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈老爷呆若木鸡，这才意思自己这位女儿就不为常人，而且从小就是在青楼文化..',
    'chapters' => '47',
    'size' => '285629',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500443847',
    'dayvisit' => '26',
    'weekvisit' => '91',
    'monthvisit' => '260',
    'allvisit' => '2184',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '1',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1484801766',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '76739',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '119',
    'vippubid' => '0',
    'vipchapters' => '35',
    'vipsize' => '208890',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '573386',
    'vipchapter' => '第四十七章',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“此便是我与皇上间事了，劳将军别要多问。小民今日来，本就正有事相商的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听得沈雨薇的话，陈将军只能作罢。这笔迹确为皇上写无疑，圣上行事诡秘万千，既然沈雨薇如此讲了，他便不敢深究下来。只能问说：“是何事直说没事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈雨薇将自个办报纸那想法说给他听，还暗示圣上也相助自己这想法。然后表明了现在想采访下同他女儿这意图了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈将军听沈雨薇说完以后，立刻摇头说不，并不想将这件事弄得满城皆知。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陈将军，此事本来都已经全城皆知了。若是让市井乱民妄加猜测，污了小姐这名声，倒不如..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '穿越',
    'typename' => '穿越',
    'size_c' => 142815,
    'size_k' => 143,
    'size_w' => 14.3,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1795.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1795',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1795',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1795',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1795',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1795&cid=573351',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=119&cid=573386',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1795',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1795',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1795',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/89.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B6%C0%CE%E8%B3%A4%CC%EC',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BC%E9%C9%CC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1795.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1795',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1484799318',
  'lastupdate' => '1484799318',
  'articlename' => '奸商',
  'articlecode' => 'jianshang',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'J',
  'authorid' => '89',
  'author' => '独舞长天',
  'posterid' => '89',
  'poster' => '独舞长天',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '2',
  'typeid' => '9',
  'libid' => '0',
  'intro' => '沈雨微穿越到古代，没想到刚巧碰到“最美花魁评选赛”，所有妓院的女子参加。但她却想“ 果然这群人想不清楚眼球效应背后的巨大经济利益，不如自己就给这些个人仔细地上次课吧”。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '573351',
  'lastchapter' => '第十二章',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“爹”，看来使出自个超级讨欢心神功喽：“你看女儿女穿男装大家不明白，你担心那烟花酒地污染了女儿这心灵么？女儿都大了，都有哪些不懂嘛，这青楼姑娘，也全都为一个个伤心人。自己家虽然经营青楼，不过也都正常营生，较那些偷蒙拐抢的人好多了。要是爹觉得梦园是藏着污秽的地点，以这种的经营方式为耻，那不如此刻就让解散好啦！要是你要开青楼，女儿反正会接手啊，晚一些早一些接触又来什么差别!自己一点都不觉得走巡视自个的家业有哪些错啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈老爷呆若木鸡，这才意思自己这位女儿就不为常人，而且从小就是在青楼文化..',
  'chapters' => '47',
  'size' => '285629',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500443847',
  'dayvisit' => '26',
  'weekvisit' => '91',
  'monthvisit' => '260',
  'allvisit' => '2184',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '1',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1484801766',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '76739',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '119',
  'vippubid' => '0',
  'vipchapters' => '35',
  'vipsize' => '208890',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '573386',
  'vipchapter' => '第四十七章',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“此便是我与皇上间事了，劳将军别要多问。小民今日来，本就正有事相商的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听得沈雨薇的话，陈将军只能作罢。这笔迹确为皇上写无疑，圣上行事诡秘万千，既然沈雨薇如此讲了，他便不敢深究下来。只能问说：“是何事直说没事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈雨薇将自个办报纸那想法说给他听，还暗示圣上也相助自己这想法。然后表明了现在想采访下同他女儿这意图了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈将军听沈雨薇说完以后，立刻摇头说不，并不想将这件事弄得满城皆知。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陈将军，此事本来都已经全城皆知了。若是让市井乱民妄加猜测，污了小姐这名声，倒不如..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '穿越',
  'typename' => '穿越',
  'size_c' => 142815,
  'size_k' => 143,
  'size_w' => 14.3,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1795.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1795',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1795',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1795',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1795',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1795&cid=573351',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=119&cid=573386',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1795',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1795',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1795',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/89.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B6%C0%CE%E8%B3%A4%CC%EC',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BC%E9%C9%CC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1795.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)