array (
  'meta_keywords' => '夜惊魂之血尸疑案 月寒 灵异悬疑',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1803&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1803&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1803&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1803&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1803',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1484877071',
    'lastupdate' => '1490626346',
    'articlename' => '夜惊魂之血尸疑案',
    'articlecode' => 'yejinghunzhixueshiyian',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '103',
    'author' => '月寒',
    'posterid' => '103',
    'poster' => '月寒',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '11',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '血尸惊现，悬疑如瘴。<br />
推理的背后是人性？还是未知的世界……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '573786',
    'lastchapter' => '第二十节 被鬼迷',
    'lastsummary' => '',
    'chapters' => '80',
    'size' => '366211',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500603667',
    'dayvisit' => '26',
    'weekvisit' => '260',
    'monthvisit' => '871',
    'allvisit' => '10946',
    'lastvote' => '1488176223',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '3',
    'goodnum' => '8',
    'reviewsnum' => '10',
    'ratenum' => 6,
    'ratesum' => 51,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1484877102',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1500523200',
    'freesize' => '222937',
    'isvip' => '签约',
    'viptime' => '1490626346',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '59',
    'vipsize' => '298991',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '580595',
    'vipchapter' => '第七十九章&nbsp;&nbsp;线索',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;龙秋雨站住身子，一低头，发现脚下竟然是一个巨大的圆坑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这通道外面的圆坑好像一个巨大的天井，龙秋雨现在的通道距离坑底也有一米多的距离。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;坑壁上有嶙峋的石头，龙秋雨看了看，说：“你能爬上去吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;北亦晗点点头，打了个OK的姿势，扒住离自己手最近的一块石头，朝上爬了起来。这天井也没有多深，五六米的样子，北亦晗身手敏捷，像一只猴子不一会儿就爬了一半，她朝下面看了一眼，见龙秋雨专心地看着她，笑了笑继续往上爬，不一会儿就爬到了顶上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你也快上来吧。”北亦晗嘻嘻一笑，“用不用给..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '',
    'typename' => '',
    'size_c' => 183106,
    'size_k' => 184,
    'size_w' => 18.3,
    'rateavg' => '8.5',
    'rateavg_i' => 8,
    'rateavg_d' => 5,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1803/1803s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1803/1803s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1803/1803s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1803.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1803',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1803',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1803',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1803',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1803&cid=573786',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=580595',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1803',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1803',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1803',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/103.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D4%C2%BA%AE',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D2%B9%BE%AA%BB%EA%D6%AE%D1%AA%CA%AC%D2%C9%B0%B8%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1803.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1803',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1484877071',
  'lastupdate' => '1490626346',
  'articlename' => '夜惊魂之血尸疑案',
  'articlecode' => 'yejinghunzhixueshiyian',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '103',
  'author' => '月寒',
  'posterid' => '103',
  'poster' => '月寒',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '11',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '血尸惊现，悬疑如瘴。<br />
推理的背后是人性？还是未知的世界……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '573786',
  'lastchapter' => '第二十节 被鬼迷',
  'lastsummary' => '',
  'chapters' => '80',
  'size' => '366211',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500603667',
  'dayvisit' => '26',
  'weekvisit' => '260',
  'monthvisit' => '871',
  'allvisit' => '10946',
  'lastvote' => '1488176223',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '3',
  'goodnum' => '8',
  'reviewsnum' => 10,
  'ratenum' => 6,
  'ratesum' => 51,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1484877102',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1500523200',
  'freesize' => '222937',
  'isvip' => '签约',
  'viptime' => '1490626346',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '59',
  'vipsize' => '298991',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '580595',
  'vipchapter' => '第七十九章&nbsp;&nbsp;线索',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;龙秋雨站住身子，一低头，发现脚下竟然是一个巨大的圆坑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这通道外面的圆坑好像一个巨大的天井，龙秋雨现在的通道距离坑底也有一米多的距离。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;坑壁上有嶙峋的石头，龙秋雨看了看，说：“你能爬上去吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;北亦晗点点头，打了个OK的姿势，扒住离自己手最近的一块石头，朝上爬了起来。这天井也没有多深，五六米的样子，北亦晗身手敏捷，像一只猴子不一会儿就爬了一半，她朝下面看了一眼，见龙秋雨专心地看着她，笑了笑继续往上爬，不一会儿就爬到了顶上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你也快上来吧。”北亦晗嘻嘻一笑，“用不用给..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '',
  'typename' => '',
  'size_c' => 183106,
  'size_k' => 184,
  'size_w' => 18.3,
  'rateavg' => '8.5',
  'rateavg_i' => 8,
  'rateavg_d' => 5,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1803/1803s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1803/1803s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1803/1803s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1803.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1803',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1803',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1803',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1803',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1803&cid=573786',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=580595',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1803',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1803',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1803',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/103.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D4%C2%BA%AE',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D2%B9%BE%AA%BB%EA%D6%AE%D1%AA%CA%AC%D2%C9%B0%B8%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1803.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)