array (
  'meta_keywords' => '我的绝色尤物 月寒 都市热血',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1805&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1805&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1805&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1805&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1805',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1484877558',
    'lastupdate' => '1484877558',
    'articlename' => '我的绝色尤物',
    'articlecode' => 'wodejueseyouwu',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'W',
    'authorid' => '103',
    'author' => '月寒',
    'posterid' => '103',
    'poster' => '月寒',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '35',
    'libid' => '0',
    'intro' => '繁华都市，鲁仪就想解开自己身上的秘密，……不知道自己的真实年龄，百年前他就像凭空出现一般，出现在了Z国的土地上，而之前的记忆完全是一片空白。除了知道自己叫鲁仪之外，他不知道自己的家在哪里，不知自己来自哪里，更不知道在这个世上，自己还有没有亲人。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '573841',
    'lastchapter' => '第十六章',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;接下来要施针的地方是叶依岚的头部，来到床头，鲁仪并没有立即下针。而是站在原地深吸了一口气。把身心放松调整了一下状态。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;头部的重要性不用说所有人都知道，没有一定的水平没人敢随意的在别人的头上乱动针。鲁仪尽管对自己的针术很自信，但也不能因此而大意了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当鲁仪稍稍的调整了一下自己的状况，正要低头继续针时，正巧看到了叶依岚的双眼他不由的愣了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只见叶依岚一双美目中充满了怒火，若是此时她能够行动的话，鲁仪相信，她一定会跳起来咬自己不可。鲁仪只微微愣了一下，很快就明白了叶依岚为……',
    'chapters' => '16',
    'size' => '67215',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500324327',
    'dayvisit' => 0,
    'weekvisit' => '52',
    'monthvisit' => '143',
    'allvisit' => '4056',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1484877565',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '67215',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '都市热血',
    'sortname' => '都市热血',
    'type' => '都市异能',
    'typename' => '都市异能',
    'size_c' => 33608,
    'size_k' => 34,
    'size_w' => 3.4,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1805.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1805',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1805',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1805',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1805',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1805&cid=573841',
    'url_vipchapter' => '',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1805',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1805',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1805',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/103.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D4%C2%BA%AE',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D2%B5%C4%BE%F8%C9%AB%D3%C8%CE%EF%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1805.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1805',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1484877558',
  'lastupdate' => '1484877558',
  'articlename' => '我的绝色尤物',
  'articlecode' => 'wodejueseyouwu',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'W',
  'authorid' => '103',
  'author' => '月寒',
  'posterid' => '103',
  'poster' => '月寒',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '35',
  'libid' => '0',
  'intro' => '繁华都市，鲁仪就想解开自己身上的秘密，……不知道自己的真实年龄，百年前他就像凭空出现一般，出现在了Z国的土地上，而之前的记忆完全是一片空白。除了知道自己叫鲁仪之外，他不知道自己的家在哪里，不知自己来自哪里，更不知道在这个世上，自己还有没有亲人。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '573841',
  'lastchapter' => '第十六章',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;接下来要施针的地方是叶依岚的头部，来到床头，鲁仪并没有立即下针。而是站在原地深吸了一口气。把身心放松调整了一下状态。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;头部的重要性不用说所有人都知道，没有一定的水平没人敢随意的在别人的头上乱动针。鲁仪尽管对自己的针术很自信，但也不能因此而大意了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当鲁仪稍稍的调整了一下自己的状况，正要低头继续针时，正巧看到了叶依岚的双眼他不由的愣了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只见叶依岚一双美目中充满了怒火，若是此时她能够行动的话，鲁仪相信，她一定会跳起来咬自己不可。鲁仪只微微愣了一下，很快就明白了叶依岚为……',
  'chapters' => '16',
  'size' => '67215',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500324327',
  'dayvisit' => 0,
  'weekvisit' => '52',
  'monthvisit' => '143',
  'allvisit' => '4056',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1484877565',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '67215',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '都市热血',
  'sortname' => '都市热血',
  'type' => '都市异能',
  'typename' => '都市异能',
  'size_c' => 33608,
  'size_k' => 34,
  'size_w' => 3.4,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1805.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1805',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1805',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1805',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1805',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1805&cid=573841',
  'url_vipchapter' => '',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1805',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1805',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1805',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/103.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D4%C2%BA%AE',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D2%B5%C4%BE%F8%C9%AB%D3%C8%CE%EF%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1805.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)