array (
  'meta_keywords' => '桃缘 月梓馨 仙侠情缘',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1808&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1808&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1808&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1808&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '1',
  'yellowrose' => '1',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '4',
  'articlevals' => 
  array (
    'articleid' => '1808',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1484879640',
    'lastupdate' => '1494930553',
    'articlename' => '桃缘',
    'articlecode' => 'taoyuan',
    'backupname' => '“道友，请留步啊！”',
    'keywords' => '仙侠 桃花 甜宠',
    'roles' => '',
    'initial' => 'T',
    'authorid' => '26',
    'author' => '月梓馨',
    'posterid' => '26',
    'poster' => '月梓馨',
    'agentid' => '1797',
    'agent' => '楚先生',
    'sortid' => '3',
    'typeid' => '14',
    'libid' => '0',
    'intro' => '作为三山五岳百花宫宫主，陶瑶天女的追求就是养养花，酿酿酒，逗逗猫，谁知一场莲池仙宴遇到了传说中的第一战仙。<br />
本以为是一场美丽的邂逅，却不想他把她当成了不顾人间四境百姓死活的恶人……陶瑶委屈：“那我便随你到凡间一走。”<br />
却不想这一走，换来了一场七世情缘。<br />
自此……百花宫中少了一位陶瑶天女，人间却出现了一间“桃舀坊”，多了一位惊才绝艳的陶瑶姑娘。',
    'notice' => '新书上传，需要各位老朋友新朋友的支持哦~<br />
过年期间尽量保证一天一章，祝大家天天好心情(づ￣ 3￣)づ',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '574013',
    'lastvolume' => '第三卷&nbsp;&nbsp;玄冰烧',
    'lastchapterid' => '579682',
    'lastchapter' => '第九章 青眼玉面狐',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;篝火迷蒙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陶瑶细心摆弄着两条大鱼，还捏碎了一些浆果，将新鲜清香的汁液滴上去。擎华坐在一旁，用一块上好的缎子认真擦拭着青丝剑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“擎华，你说如果当今朝廷多用一些像张庆生一般的人，如今的天下会不会是另外一番景象？”陶瑶闻着烤鱼的清香，淡淡说着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“他是汉人。”擎华收起佩剑，苦笑着摇摇头：“而这天下，已经不是汉人的天下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“汉人？”陶瑶皱眉：“汉人是什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯……”擎华沉吟片刻：“是人间的氏族，当今朝廷不是汉人的朝廷，所以这江山社稷也不是汉人的江山社稷。”<br />
..',
    'chapters' => '59',
    'size' => '285054',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500612138',
    'dayvisit' => 0,
    'weekvisit' => '325',
    'monthvisit' => '858',
    'allvisit' => '132786',
    'lastvote' => '1492492746',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '880',
    'goodnum' => '35',
    'reviewsnum' => '34',
    'ratenum' => 46,
    'ratesum' => 429,
    'toptime' => '1488347026',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1484879775',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1490766839',
    'freesize' => '280754',
    'isvip' => '签约',
    'viptime' => '1494930553',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '16',
    'vipsize' => '88184',
    'vipvolumeid' => '585834',
    'vipvolume' => '第四卷 青梅香',
    'vipchapterid' => '596982',
    'vipchapter' => '第八章 喜酒',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;清晨，鸡鸣报晓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山岚氤氲，水汽弥漫，居然是夜间下了一场小雨。那声声悠远的鸡鸣声，让整个盘夕镇彰显出无边寂静与真实。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陶瑶很喜欢听清晨那一声一声缥缈的鸡鸣，所以她由着宝儿趴在自己身上打着小呼噜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着眼前少女甜美的睡颜，陶瑶纤细的嘴角勾起一抹笑意，接着张开小嘴恶作剧一般咬在了宝儿莹润玲珑的鼻子上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗷~~喵！！！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一声惨叫，响彻桃舀坊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当太阳升到枝头的时候，连若拙带着泽雨出现在了桃舀坊门前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“连道长？”陶瑶放下手中的门栓，微微欠身：“怎么，昨..',
    'lastflower' => '0',
    'allflower' => '12',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '1485759687',
    'allvipvote' => '5',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '1',
    'yellowrose' => '1',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '4',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '仙侠情缘',
    'sortname' => '仙侠情缘',
    'type' => '古典仙侠',
    'typename' => '古典仙侠',
    'size_c' => 142527,
    'size_k' => 143,
    'size_w' => 14.3,
    'rateavg' => '9.3',
    'rateavg_i' => 9,
    'rateavg_d' => 3,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1808/1808s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1808/1808s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1808/1808l.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1808.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1808',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1808',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1808',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1808',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1808&cid=579682',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=596982',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1808',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1808',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1808',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/26.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D4%C2%E8%F7%DC%B0',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CC%D2%D4%B5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1808.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1808',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1484879640',
  'lastupdate' => '1494930553',
  'articlename' => '桃缘',
  'articlecode' => 'taoyuan',
  'backupname' => '“道友，请留步啊！”',
  'keywords' => '仙侠 桃花 甜宠',
  'roles' => '',
  'initial' => 'T',
  'authorid' => '26',
  'author' => '月梓馨',
  'posterid' => '26',
  'poster' => '月梓馨',
  'agentid' => '1797',
  'agent' => '楚先生',
  'sortid' => '3',
  'typeid' => '14',
  'libid' => '0',
  'intro' => '作为三山五岳百花宫宫主，陶瑶天女的追求就是养养花，酿酿酒，逗逗猫，谁知一场莲池仙宴遇到了传说中的第一战仙。<br />
本以为是一场美丽的邂逅，却不想他把她当成了不顾人间四境百姓死活的恶人……陶瑶委屈：“那我便随你到凡间一走。”<br />
却不想这一走，换来了一场七世情缘。<br />
自此……百花宫中少了一位陶瑶天女，人间却出现了一间“桃舀坊”，多了一位惊才绝艳的陶瑶姑娘。',
  'notice' => '新书上传，需要各位老朋友新朋友的支持哦~<br />
过年期间尽量保证一天一章，祝大家天天好心情(づ￣ 3￣)づ',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '574013',
  'lastvolume' => '第三卷&nbsp;&nbsp;玄冰烧',
  'lastchapterid' => '579682',
  'lastchapter' => '第九章 青眼玉面狐',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;篝火迷蒙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陶瑶细心摆弄着两条大鱼，还捏碎了一些浆果，将新鲜清香的汁液滴上去。擎华坐在一旁，用一块上好的缎子认真擦拭着青丝剑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“擎华，你说如果当今朝廷多用一些像张庆生一般的人，如今的天下会不会是另外一番景象？”陶瑶闻着烤鱼的清香，淡淡说着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“他是汉人。”擎华收起佩剑，苦笑着摇摇头：“而这天下，已经不是汉人的天下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“汉人？”陶瑶皱眉：“汉人是什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯……”擎华沉吟片刻：“是人间的氏族，当今朝廷不是汉人的朝廷，所以这江山社稷也不是汉人的江山社稷。”<br />
..',
  'chapters' => '59',
  'size' => '285054',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500612138',
  'dayvisit' => 0,
  'weekvisit' => '325',
  'monthvisit' => '858',
  'allvisit' => '132786',
  'lastvote' => '1492492746',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '880',
  'goodnum' => '35',
  'reviewsnum' => 49,
  'ratenum' => 46,
  'ratesum' => 429,
  'toptime' => '1488347026',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1484879775',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1490766839',
  'freesize' => '280754',
  'isvip' => '签约',
  'viptime' => '1494930553',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '16',
  'vipsize' => '88184',
  'vipvolumeid' => '585834',
  'vipvolume' => '第四卷 青梅香',
  'vipchapterid' => '596982',
  'vipchapter' => '第八章 喜酒',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;清晨，鸡鸣报晓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山岚氤氲，水汽弥漫，居然是夜间下了一场小雨。那声声悠远的鸡鸣声，让整个盘夕镇彰显出无边寂静与真实。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陶瑶很喜欢听清晨那一声一声缥缈的鸡鸣，所以她由着宝儿趴在自己身上打着小呼噜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着眼前少女甜美的睡颜，陶瑶纤细的嘴角勾起一抹笑意，接着张开小嘴恶作剧一般咬在了宝儿莹润玲珑的鼻子上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗷~~喵！！！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一声惨叫，响彻桃舀坊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当太阳升到枝头的时候，连若拙带着泽雨出现在了桃舀坊门前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“连道长？”陶瑶放下手中的门栓，微微欠身：“怎么，昨..',
  'lastflower' => '0',
  'allflower' => '12',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '1485759687',
  'allvipvote' => '5',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '仙侠情缘',
  'sortname' => '仙侠情缘',
  'type' => '古典仙侠',
  'typename' => '古典仙侠',
  'size_c' => 142527,
  'size_k' => 143,
  'size_w' => 14.3,
  'rateavg' => '9.3',
  'rateavg_i' => 9,
  'rateavg_d' => 3,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1808/1808s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1808/1808s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1808/1808l.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1808.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1808',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1808',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1808',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1808',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1808&cid=579682',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=596982',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1808',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1808',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1808',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/26.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D4%C2%E8%F7%DC%B0',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CC%D2%D4%B5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1808.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '仙侠',
      'tagencode' => '%CF%C9%CF%C0',
    ),
    1 => 
    array (
      'tagname' => '桃花',
      'tagencode' => '%CC%D2%BB%A8',
    ),
    2 => 
    array (
      'tagname' => '甜宠',
      'tagencode' => '%CC%F0%B3%E8',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 3,
    'addrows' => 0,
    'loops' => 3,
    'index' => 3,
    'order' => 3,
    'row' => 3,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '甜宠',
      'tagencode' => '%CC%F0%B3%E8',
    ),
    'key' => 2,
    'append' => 0,
  ),
)