array (
  'meta_keywords' => '星际高校之废柴逆袭 千戮小姚 玄幻魔法',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1811&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1811&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1811&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1811&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1811',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1484969092',
    'lastupdate' => '1495295587',
    'articlename' => '星际高校之废柴逆袭',
    'articlecode' => 'xingjigaoxiaozhifeichainixi',
    'backupname' => '衰少年的异世界旅程',
    'keywords' => '无限流 学院 虐恋 收集',
    'roles' => '',
    'initial' => 'X',
    'authorid' => '125',
    'author' => '千戮小姚',
    'posterid' => '125',
    'poster' => '千戮小姚',
    'agentid' => '1671',
    'agent' => '晴天',
    'sortid' => '7',
    'typeid' => '31',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp; 一个来自地球没有任何超能力的普通高中生，在即将进入大学之际，却意外被一所星际战士学校录取了。身边的同学各个都是超能力种族里的高材生，有西方魔幻系的狼人、吸血鬼、魔法师，同样也有东方世界的道士、仙人、妖怪、阴阳师、和尚、武侠等等。面对身边如此强大又想随时宰割主角性命的同学，身为小白的主角又如何成功活过三年星际高校的空间历练，拿到毕业证，成为地球有史以来第一位星际战士。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '585818',
    'lastchapter' => '第六十章 都哭了',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;而姚谦并没有因为她的到来而选择放手，他依旧死死缠着达莲，尤其是她握着一把长剑的手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“放开我！”达莲又羞又气地说，脸上一片红晕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你不打我了，我就放开你。”姚谦丝毫未察觉自己在干什么，在之前的十八年里，姚谦的感情生活完全为零，外表高冷实际模糊的他几乎没有跟除了姚矜之外的女生讲过几句话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他的手臂此时正用力地压在达莲鼓涨的胸口上，两个人的身体紧紧缠在了一起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你快放开我，放开我！”达莲喊着喊着，羞愤变成了完完全全的羞涩与委屈，她从小到大都是在万星捧月中长大，哪受得..',
    'chapters' => '100',
    'size' => '401686',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500682245',
    'dayvisit' => '39',
    'weekvisit' => '468',
    'monthvisit' => '1300',
    'allvisit' => '8905',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '5',
    'reviewsnum' => '1',
    'ratenum' => 3,
    'ratesum' => 30,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1485065418',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1493470830',
    'freesize' => '312560',
    'isvip' => '签约',
    'viptime' => '1495295587',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '40',
    'vipsize' => '161003',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '597152',
    'vipchapter' => '第一百章 天真',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;黄沙漫漫，和水不同的是，水有聚合力，而沙子没有，或者说远远不及水，所以，姚谦要把它们结合在一起，难度比要比水大上好多倍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;集中，集中，再集中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨型甲壳虫向着姚谦冲来，打乱了他的思路。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这种情况下根本无法集中，他只能慌忙迎战，甲壳虫向着他不断挥舞着自己的獠牙。对于这个甲壳虫而言，没有其他想法的它，脑袋里只有姚谦，只有杀掉这个诱人的食物作为自己的生存的延续。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而姚谦的心里充斥着各种无序的想法，集中力的差别现在完全体现在战斗之中。如何集中，姚谦突然想起来，如果缇娜还在..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '异世大陆',
    'typename' => '异世大陆',
    'size_c' => 200843,
    'size_k' => 201,
    'size_w' => 20.1,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1811/1811s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1811/1811s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1811/1811s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1811.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1811',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1811',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1811',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1811',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1811&cid=585818',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=597152',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1811',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1811',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1811',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/125.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C7%A7%C2%BE%D0%A1%D2%A6',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%C7%BC%CA%B8%DF%D0%A3%D6%AE%B7%CF%B2%F1%C4%E6%CF%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1811.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1811',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1484969092',
  'lastupdate' => '1495295587',
  'articlename' => '星际高校之废柴逆袭',
  'articlecode' => 'xingjigaoxiaozhifeichainixi',
  'backupname' => '衰少年的异世界旅程',
  'keywords' => '无限流 学院 虐恋 收集',
  'roles' => '',
  'initial' => 'X',
  'authorid' => '125',
  'author' => '千戮小姚',
  'posterid' => '125',
  'poster' => '千戮小姚',
  'agentid' => '1671',
  'agent' => '晴天',
  'sortid' => '7',
  'typeid' => '31',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp; 一个来自地球没有任何超能力的普通高中生，在即将进入大学之际，却意外被一所星际战士学校录取了。身边的同学各个都是超能力种族里的高材生，有西方魔幻系的狼人、吸血鬼、魔法师，同样也有东方世界的道士、仙人、妖怪、阴阳师、和尚、武侠等等。面对身边如此强大又想随时宰割主角性命的同学，身为小白的主角又如何成功活过三年星际高校的空间历练，拿到毕业证，成为地球有史以来第一位星际战士。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '585818',
  'lastchapter' => '第六十章 都哭了',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;而姚谦并没有因为她的到来而选择放手，他依旧死死缠着达莲，尤其是她握着一把长剑的手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“放开我！”达莲又羞又气地说，脸上一片红晕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你不打我了，我就放开你。”姚谦丝毫未察觉自己在干什么，在之前的十八年里，姚谦的感情生活完全为零，外表高冷实际模糊的他几乎没有跟除了姚矜之外的女生讲过几句话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他的手臂此时正用力地压在达莲鼓涨的胸口上，两个人的身体紧紧缠在了一起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你快放开我，放开我！”达莲喊着喊着，羞愤变成了完完全全的羞涩与委屈，她从小到大都是在万星捧月中长大，哪受得..',
  'chapters' => '100',
  'size' => '401686',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500682245',
  'dayvisit' => '39',
  'weekvisit' => '468',
  'monthvisit' => '1300',
  'allvisit' => '8905',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '5',
  'reviewsnum' => 2,
  'ratenum' => 3,
  'ratesum' => 30,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1485065418',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1493470830',
  'freesize' => '312560',
  'isvip' => '签约',
  'viptime' => '1495295587',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '40',
  'vipsize' => '161003',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '597152',
  'vipchapter' => '第一百章 天真',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;黄沙漫漫，和水不同的是，水有聚合力，而沙子没有，或者说远远不及水，所以，姚谦要把它们结合在一起，难度比要比水大上好多倍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;集中，集中，再集中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨型甲壳虫向着姚谦冲来，打乱了他的思路。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这种情况下根本无法集中，他只能慌忙迎战，甲壳虫向着他不断挥舞着自己的獠牙。对于这个甲壳虫而言，没有其他想法的它，脑袋里只有姚谦，只有杀掉这个诱人的食物作为自己的生存的延续。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而姚谦的心里充斥着各种无序的想法，集中力的差别现在完全体现在战斗之中。如何集中，姚谦突然想起来，如果缇娜还在..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '异世大陆',
  'typename' => '异世大陆',
  'size_c' => 200843,
  'size_k' => 201,
  'size_w' => 20.1,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1811/1811s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1811/1811s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1811/1811s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1811.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1811',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1811',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1811',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1811',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1811&cid=585818',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=597152',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1811',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1811',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1811',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/125.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C7%A7%C2%BE%D0%A1%D2%A6',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D0%C7%BC%CA%B8%DF%D0%A3%D6%AE%B7%CF%B2%F1%C4%E6%CF%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1811.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '无限流',
      'tagencode' => '%CE%DE%CF%DE%C1%F7',
    ),
    1 => 
    array (
      'tagname' => '学院',
      'tagencode' => '%D1%A7%D4%BA',
    ),
    2 => 
    array (
      'tagname' => '虐恋',
      'tagencode' => '%C5%B0%C1%B5',
    ),
    3 => 
    array (
      'tagname' => '收集',
      'tagencode' => '%CA%D5%BC%AF',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 4,
    'addrows' => 0,
    'loops' => 4,
    'index' => 4,
    'order' => 4,
    'row' => 4,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '收集',
      'tagencode' => '%CA%D5%BC%AF',
    ),
    'key' => 3,
    'append' => 0,
  ),
)