array (
  'meta_keywords' => '诡事异闻 寒月 灵异悬疑',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1812&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1812&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1812&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1812&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1812',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1486263613',
    'lastupdate' => '1491121830',
    'articlename' => '诡事异闻',
    'articlecode' => 'guishiyiwen',
    'backupname' => '一书言尽天下事，诡诈万千在其中',
    'keywords' => '灵异 恐怖 道术 算卦 校园',
    'roles' => '',
    'initial' => 'G',
    'authorid' => '143',
    'author' => '寒月',
    'posterid' => '143',
    'poster' => '寒月',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '11',
    'typeid' => '40',
    'libid' => '0',
    'intro' => '自盘古开天，女娲造人以来，人就和万千生灵生活在一起。但是，千万年后人类独自的发展用自己的智慧改变和影响着这个世界，人们没有发现在上古的万千生灵也和人类悄然的生活着，甚至于鬼，怪，精，灵。萧寒在一次与一个女鬼接触后得到鬼眼泪便开始了神秘莫测的生活。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '591411',
    'lastchapter' => '第三十一章&nbsp;&nbsp;跟随',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;三人看着画，只见那画中是一位头戴紫阳巾，身穿八卦衣，面色微黑，小眼深邃有神充满智慧，面露微笑，看上去不能说是风流倜傥但是给人感觉谦和温恭，沐浴春风。关键的是画中的人样貌和萧寒别无二样，但萧寒却少了画中的人儒雅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;萧寒看着画中的人，觉得这画中的人的自己在那见过，尤其是那双眼睛，一幅看破世间的样子。到底在哪见过呐？萧寒眉头紧锁，盯着那双眼睛看，萧寒的视线变的模糊起来……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你来了。”萧寒的耳边响起一个声音来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你是？”萧寒看着面前的人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我就是你啊。”那人说道。<br />
<br />
..',
    'chapters' => '31',
    'size' => '168966',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500566279',
    'dayvisit' => 0,
    'weekvisit' => '195',
    'monthvisit' => '637',
    'allvisit' => '11414',
    'lastvote' => '1496156590',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '51',
    'goodnum' => '11',
    'reviewsnum' => '8',
    'ratenum' => 2,
    'ratesum' => 19,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1486518268',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1491121830',
    'freesize' => '168966',
    'isvip' => '签约',
    'viptime' => '1487944187',
    'vipid' => '49',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '1491720611',
    'allflower' => '5',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '1486435916',
    'allvipvote' => '2',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '灵异',
    'typename' => '灵异',
    'size_c' => 84483,
    'size_k' => 85,
    'size_w' => 8.4,
    'rateavg' => '9.5',
    'rateavg_i' => 9,
    'rateavg_d' => 5,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1812/1812s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1812/1812s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1812/1812s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1812.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1812',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1812',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1812',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1812',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1812&cid=591411',
    'url_vipchapter' => '',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1812',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1812',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1812',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/143.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%BA%AE%D4%C2',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B9%EE%CA%C2%D2%EC%CE%C5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1812.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1812',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1486263613',
  'lastupdate' => '1491121830',
  'articlename' => '诡事异闻',
  'articlecode' => 'guishiyiwen',
  'backupname' => '一书言尽天下事，诡诈万千在其中',
  'keywords' => '灵异 恐怖 道术 算卦 校园',
  'roles' => '',
  'initial' => 'G',
  'authorid' => '143',
  'author' => '寒月',
  'posterid' => '143',
  'poster' => '寒月',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '11',
  'typeid' => '40',
  'libid' => '0',
  'intro' => '自盘古开天，女娲造人以来，人就和万千生灵生活在一起。但是，千万年后人类独自的发展用自己的智慧改变和影响着这个世界，人们没有发现在上古的万千生灵也和人类悄然的生活着，甚至于鬼，怪，精，灵。萧寒在一次与一个女鬼接触后得到鬼眼泪便开始了神秘莫测的生活。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '591411',
  'lastchapter' => '第三十一章&nbsp;&nbsp;跟随',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;三人看着画，只见那画中是一位头戴紫阳巾，身穿八卦衣，面色微黑，小眼深邃有神充满智慧，面露微笑，看上去不能说是风流倜傥但是给人感觉谦和温恭，沐浴春风。关键的是画中的人样貌和萧寒别无二样，但萧寒却少了画中的人儒雅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;萧寒看着画中的人，觉得这画中的人的自己在那见过，尤其是那双眼睛，一幅看破世间的样子。到底在哪见过呐？萧寒眉头紧锁，盯着那双眼睛看，萧寒的视线变的模糊起来……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你来了。”萧寒的耳边响起一个声音来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你是？”萧寒看着面前的人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我就是你啊。”那人说道。<br />
<br />
..',
  'chapters' => '31',
  'size' => '168966',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500566279',
  'dayvisit' => 0,
  'weekvisit' => '195',
  'monthvisit' => '637',
  'allvisit' => '11414',
  'lastvote' => '1496156590',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '51',
  'goodnum' => '11',
  'reviewsnum' => 9,
  'ratenum' => 2,
  'ratesum' => 19,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1486518268',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1491121830',
  'freesize' => '168966',
  'isvip' => '签约',
  'viptime' => '1487944187',
  'vipid' => '49',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '1491720611',
  'allflower' => '5',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '1486435916',
  'allvipvote' => '2',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '灵异',
  'typename' => '灵异',
  'size_c' => 84483,
  'size_k' => 85,
  'size_w' => 8.4,
  'rateavg' => '9.5',
  'rateavg_i' => 9,
  'rateavg_d' => 5,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1812/1812s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1812/1812s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1812/1812s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1812.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1812',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1812',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1812',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1812',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1812&cid=591411',
  'url_vipchapter' => '',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1812',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1812',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1812',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/143.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%BA%AE%D4%C2',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B9%EE%CA%C2%D2%EC%CE%C5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1812.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '灵异',
      'tagencode' => '%C1%E9%D2%EC',
    ),
    1 => 
    array (
      'tagname' => '恐怖',
      'tagencode' => '%BF%D6%B2%C0',
    ),
    2 => 
    array (
      'tagname' => '道术',
      'tagencode' => '%B5%C0%CA%F5',
    ),
    3 => 
    array (
      'tagname' => '算卦',
      'tagencode' => '%CB%E3%D8%D4',
    ),
    4 => 
    array (
      'tagname' => '校园',
      'tagencode' => '%D0%A3%D4%B0',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 5,
    'addrows' => 0,
    'loops' => 5,
    'index' => 5,
    'order' => 5,
    'row' => 5,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '校园',
      'tagencode' => '%D0%A3%D4%B0',
    ),
    'key' => 4,
    'append' => 0,
  ),
)