array (
  'meta_keywords' => '乱世天海劫 灏崚主人 修真武侠',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1813&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1813&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1813&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1813&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1813',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1486269321',
    'lastupdate' => '1492834881',
    'articlename' => '乱世天海劫',
    'articlecode' => 'luanshitianhaijie',
    'backupname' => '庙堂虽高不及天，江湖虽远皆归海。 是劫是缘谁勘破，一簿戮尽天下财。',
    'keywords' => '江湖 热血 争斗',
    'roles' => '',
    'initial' => 'L',
    'authorid' => '141',
    'author' => '灏崚主人',
    'posterid' => '141',
    'poster' => '灏崚主人',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '32',
    'libid' => '0',
    'intro' => '画龙阁少主为寻母亲下落，闯荡江湖，结识了梅十二、紫鸳、江宁儿以及江天流等好友，并发现江湖隐藏的一桩大阴谋的故事。当时江湖纷争不断，东、西、南、北各抱地势，又逢魔教进犯中原，中原群雄奋起反抗；但是所谓正道内部勾心斗角，杀伐连连，来自《天海簿》的传说更是惹得人心惶惶，天下多少豪杰为了得到它同门厮杀，血雨腥风，弥漫整个江湖。并且隐藏在最黑暗处的邪恶势力却轮回，趁机崛起，竟然比魔教更为恐怖。据说能教人永生不死之法，江湖正道式微，人心大乱。在主角一行的一系列奇遇中，谜底渐渐浮出水面，却没想到幕后凶手竟然是他。',
    'notice' => '武侠未没，江湖犹在，豪情不休，侠义长存。<br />
我用武侠的笔墨，为你勾勒一抹永生不死的江湖风采。',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '593573',
    'lastvolume' => '乱世长烟风波',
    'lastchapterid' => '595895',
    'lastchapter' => '第十五章&nbsp;&nbsp;不是江湖人',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;照面须臾，负伤随从似有所悟，连忙走到死去的柳若白身边，俯身抽刀，用断刃在死者耳根向下划去，随即，竟从死者面部掀起一张人皮面具来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那抚琴之人倒了一杯茶，自斟自饮，笑道：<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“此人易容手段高超，连我小侄女都未能分辨得清，却不知，你是如何看出？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这也不难，皆因我不认识你，而认识他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦，你知道他？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是，我在年幼时随阿伯乞讨，见过一个善于易容而且颈部有一道马蹄疤痕的人，他曾经用过这样的手段灭了人一家十五口。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实，楚天歌并未讲出实情，只因当年乞讨时..',
    'chapters' => '17',
    'size' => '63872',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500561589',
    'dayvisit' => 0,
    'weekvisit' => '286',
    'monthvisit' => '793',
    'allvisit' => '10010',
    'lastvote' => '1492834832',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '11',
    'goodnum' => '17',
    'reviewsnum' => '22',
    'ratenum' => 144,
    'ratesum' => 1398,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1486977588',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1492834881',
    'freesize' => '63872',
    'isvip' => '签约',
    'viptime' => '1487046973',
    'vipid' => '50',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '1486435998',
    'allvipvote' => '2',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '修真武侠',
    'sortname' => '修真武侠',
    'type' => '异世修真',
    'typename' => '异世修真',
    'size_c' => 31936,
    'size_k' => 32,
    'size_w' => 3.2,
    'rateavg' => '9.7',
    'rateavg_i' => 9,
    'rateavg_d' => 7,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1813/1813s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1813/1813s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1813/1813s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1813.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1813',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1813',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1813',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1813',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1813&cid=595895',
    'url_vipchapter' => '',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1813',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1813',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1813',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/141.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%E5%B0%8D%92%D6%F7%C8%CB',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C2%D2%CA%C0%CC%EC%BA%A3%BD%D9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1813.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1813',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1486269321',
  'lastupdate' => '1492834881',
  'articlename' => '乱世天海劫',
  'articlecode' => 'luanshitianhaijie',
  'backupname' => '庙堂虽高不及天，江湖虽远皆归海。 是劫是缘谁勘破，一簿戮尽天下财。',
  'keywords' => '江湖 热血 争斗',
  'roles' => '',
  'initial' => 'L',
  'authorid' => '141',
  'author' => '灏崚主人',
  'posterid' => '141',
  'poster' => '灏崚主人',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '32',
  'libid' => '0',
  'intro' => '画龙阁少主为寻母亲下落，闯荡江湖，结识了梅十二、紫鸳、江宁儿以及江天流等好友，并发现江湖隐藏的一桩大阴谋的故事。当时江湖纷争不断，东、西、南、北各抱地势，又逢魔教进犯中原，中原群雄奋起反抗；但是所谓正道内部勾心斗角，杀伐连连，来自《天海簿》的传说更是惹得人心惶惶，天下多少豪杰为了得到它同门厮杀，血雨腥风，弥漫整个江湖。并且隐藏在最黑暗处的邪恶势力却轮回，趁机崛起，竟然比魔教更为恐怖。据说能教人永生不死之法，江湖正道式微，人心大乱。在主角一行的一系列奇遇中，谜底渐渐浮出水面，却没想到幕后凶手竟然是他。',
  'notice' => '武侠未没，江湖犹在，豪情不休，侠义长存。<br />
我用武侠的笔墨，为你勾勒一抹永生不死的江湖风采。',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '593573',
  'lastvolume' => '乱世长烟风波',
  'lastchapterid' => '595895',
  'lastchapter' => '第十五章&nbsp;&nbsp;不是江湖人',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;照面须臾，负伤随从似有所悟，连忙走到死去的柳若白身边，俯身抽刀，用断刃在死者耳根向下划去，随即，竟从死者面部掀起一张人皮面具来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那抚琴之人倒了一杯茶，自斟自饮，笑道：<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“此人易容手段高超，连我小侄女都未能分辨得清，却不知，你是如何看出？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这也不难，皆因我不认识你，而认识他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦，你知道他？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是，我在年幼时随阿伯乞讨，见过一个善于易容而且颈部有一道马蹄疤痕的人，他曾经用过这样的手段灭了人一家十五口。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实，楚天歌并未讲出实情，只因当年乞讨时..',
  'chapters' => '17',
  'size' => '63872',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500561589',
  'dayvisit' => 0,
  'weekvisit' => '286',
  'monthvisit' => '793',
  'allvisit' => '10010',
  'lastvote' => '1492834832',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '11',
  'goodnum' => '17',
  'reviewsnum' => 24,
  'ratenum' => 144,
  'ratesum' => 1398,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1486977588',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1492834881',
  'freesize' => '63872',
  'isvip' => '签约',
  'viptime' => '1487046973',
  'vipid' => '50',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '1486435998',
  'allvipvote' => '2',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '修真武侠',
  'sortname' => '修真武侠',
  'type' => '异世修真',
  'typename' => '异世修真',
  'size_c' => 31936,
  'size_k' => 32,
  'size_w' => 3.2,
  'rateavg' => '9.7',
  'rateavg_i' => 9,
  'rateavg_d' => 7,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1813/1813s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1813/1813s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1813/1813s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1813.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1813',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1813',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1813',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1813',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1813&cid=595895',
  'url_vipchapter' => '',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1813',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1813',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1813',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/141.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%E5%B0%8D%92%D6%F7%C8%CB',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C2%D2%CA%C0%CC%EC%BA%A3%BD%D9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1813.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '江湖',
      'tagencode' => '%BD%AD%BA%FE',
    ),
    1 => 
    array (
      'tagname' => '热血',
      'tagencode' => '%C8%C8%D1%AA',
    ),
    2 => 
    array (
      'tagname' => '争斗',
      'tagencode' => '%D5%F9%B6%B7',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 3,
    'addrows' => 0,
    'loops' => 3,
    'index' => 3,
    'order' => 3,
    'row' => 3,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '争斗',
      'tagencode' => '%D5%F9%B6%B7',
    ),
    'key' => 2,
    'append' => 0,
  ),
)