array (
  'meta_keywords' => '龙腾伏魔录 夜光拖鞋 玄幻魔法',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1868&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1868&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1868&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1868&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1868',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1488007767',
    'lastupdate' => '1496586369',
    'articlename' => '龙腾伏魔录',
    'articlecode' => 'longtengfumolu',
    'backupname' => '青龙转世，再战巅峰！',
    'keywords' => '热血 都市 斗魔',
    'roles' => '',
    'initial' => 'L',
    'authorid' => '866',
    'author' => '夜光拖鞋',
    'posterid' => '866',
    'poster' => '夜光拖鞋',
    'agentid' => '1671',
    'agent' => '晴天',
    'sortid' => '7',
    'typeid' => '29',
    'libid' => '0',
    'intro' => '一个古老的预言，一只千年狐妖，一段荡气回肠壮烈的故事。<br />
龙腾意外发现自己竟然是圣兽青龙的转世，他在战斗中渐渐提升自己的力量，在历险中品尝人间冷暖。最后，他和伙伴一起站在了魔王的面前，实现无数次转世之前许下的承诺。',
    'notice' => '老夜的新书杀到，各位新老朋友，欢迎持续关注！',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '579693',
    'lastvolume' => '卷一 使命召唤',
    'lastchapterid' => '597705',
    'lastchapter' => '第十六章 源头',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;第十六章&nbsp;&nbsp;源头<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么风险？”龙腾追问道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石光老人回答道:“渡劫。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“渡劫？这个经常在小说里看到啊，难道这是真事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石光微笑道:“世上空穴来风的事情终究是少数，渡劫确有其事。而且也如小说里描述的一样，渡劫的时候会降下天雷，渡过去了就成了仙人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那这有什么风险呢？我看那些小说的主角很轻松就渡劫了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这就是事实与艺术加工之间的差别了，真正的渡劫极度危险。雷劫考验的不仅仅是渡劫者的力量，更是渡劫者的心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这是什么意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“成就仙体..',
    'chapters' => '17',
    'size' => '98985',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '6199',
    'lastvisit' => '1498574524',
    'dayvisit' => 0,
    'weekvisit' => '26',
    'monthvisit' => '585',
    'allvisit' => '6019',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '3',
    'reviewsnum' => '1',
    'ratenum' => 2,
    'ratesum' => 19,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1488248760',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1496586369',
    'freesize' => '98985',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '东方玄幻',
    'typename' => '东方玄幻',
    'size_c' => 49493,
    'size_k' => 50,
    'size_w' => 4.9,
    'rateavg' => '9.5',
    'rateavg_i' => 9,
    'rateavg_d' => 5,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1868/1868s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1868/1868s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1868/1868s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1868.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1868',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1868',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1868',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1868',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1868&cid=597705',
    'url_vipchapter' => '',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1868',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1868',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1868',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/866.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D2%B9%B9%E2%CD%CF%D0%AC',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C1%FA%CC%DA%B7%FC%C4%A7%C2%BC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1868.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1868',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1488007767',
  'lastupdate' => '1496586369',
  'articlename' => '龙腾伏魔录',
  'articlecode' => 'longtengfumolu',
  'backupname' => '青龙转世，再战巅峰！',
  'keywords' => '热血 都市 斗魔',
  'roles' => '',
  'initial' => 'L',
  'authorid' => '866',
  'author' => '夜光拖鞋',
  'posterid' => '866',
  'poster' => '夜光拖鞋',
  'agentid' => '1671',
  'agent' => '晴天',
  'sortid' => '7',
  'typeid' => '29',
  'libid' => '0',
  'intro' => '一个古老的预言，一只千年狐妖，一段荡气回肠壮烈的故事。<br />
龙腾意外发现自己竟然是圣兽青龙的转世，他在战斗中渐渐提升自己的力量，在历险中品尝人间冷暖。最后，他和伙伴一起站在了魔王的面前，实现无数次转世之前许下的承诺。',
  'notice' => '老夜的新书杀到，各位新老朋友，欢迎持续关注！',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '579693',
  'lastvolume' => '卷一 使命召唤',
  'lastchapterid' => '597705',
  'lastchapter' => '第十六章 源头',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;第十六章&nbsp;&nbsp;源头<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么风险？”龙腾追问道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石光老人回答道:“渡劫。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“渡劫？这个经常在小说里看到啊，难道这是真事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石光微笑道:“世上空穴来风的事情终究是少数，渡劫确有其事。而且也如小说里描述的一样，渡劫的时候会降下天雷，渡过去了就成了仙人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那这有什么风险呢？我看那些小说的主角很轻松就渡劫了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这就是事实与艺术加工之间的差别了，真正的渡劫极度危险。雷劫考验的不仅仅是渡劫者的力量，更是渡劫者的心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这是什么意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“成就仙体..',
  'chapters' => '17',
  'size' => '98985',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '6199',
  'lastvisit' => '1498574524',
  'dayvisit' => 0,
  'weekvisit' => '26',
  'monthvisit' => '585',
  'allvisit' => '6019',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '3',
  'reviewsnum' => 1,
  'ratenum' => 2,
  'ratesum' => 19,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1488248760',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1496586369',
  'freesize' => '98985',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '东方玄幻',
  'typename' => '东方玄幻',
  'size_c' => 49493,
  'size_k' => 50,
  'size_w' => 4.9,
  'rateavg' => '9.5',
  'rateavg_i' => 9,
  'rateavg_d' => 5,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1868/1868s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1868/1868s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1868/1868s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1868.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1868',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1868',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1868',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1868',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1868&cid=597705',
  'url_vipchapter' => '',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1868',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1868',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1868',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/866.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D2%B9%B9%E2%CD%CF%D0%AC',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C1%FA%CC%DA%B7%FC%C4%A7%C2%BC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1868.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '热血',
      'tagencode' => '%C8%C8%D1%AA',
    ),
    1 => 
    array (
      'tagname' => '都市',
      'tagencode' => '%B6%BC%CA%D0',
    ),
    2 => 
    array (
      'tagname' => '斗魔',
      'tagencode' => '%B6%B7%C4%A7',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 3,
    'addrows' => 0,
    'loops' => 3,
    'index' => 3,
    'order' => 3,
    'row' => 3,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '斗魔',
      'tagencode' => '%B6%B7%C4%A7',
    ),
    'key' => 2,
    'append' => 0,
  ),
)