array (
  'meta_keywords' => '旧爱晚成：红包钓妻 少女无心 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1871&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1871&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1871&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1871&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1871',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1488868637',
    'lastupdate' => '1492763539',
    'articlename' => '旧爱晚成：红包钓妻',
    'articlecode' => 'jiuaiwancheng_hongbaodiaoqi',
    'backupname' => '当我遇见你才知道缘来真是你',
    'keywords' => '总裁 红包 追妻',
    'roles' => '',
    'initial' => 'J',
    'authorid' => '947',
    'author' => '少女无心',
    'posterid' => '947',
    'poster' => '少女无心',
    'agentid' => '1645',
    'agent' => '九笙',
    'sortid' => '1',
    'typeid' => '3',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp; 为赚红包发家致富，她偷偷盗走了他全部浴照。为钓到妻，他大手一挥放出无数红包只为追她。有钱能使鬼推磨，有红包能干嘛？当然是钓到妻。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '580542',
    'lastchapter' => '第二十章&nbsp;&nbsp;包扎',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“你….”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈沫气的一时间不知道该说些什么，沈复却再次一把手拉倒陈沫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊…”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈沫直接又一次的扑进了沈复的怀里，瞪大着双眼看着沈复那张近在咫尺的俊脸。沈复不再逗陈沫，将撕扯好的简易绷带灵活的在陈沫额头上缠绕止血。陈沫这才反应过来伸手轻轻触碰到额头的伤口，一阵疼痛不由的赶紧的缩了手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈沫又不好意思的看了眼沈复：原来是自己的想太多，然后误会了人家，没想到他还有这么温柔的一面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陈小姐，是不是我的怀抱太温暖，让陈小姐有些舍不得了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈..',
    'chapters' => '40',
    'size' => '148661',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500539372',
    'dayvisit' => 0,
    'weekvisit' => '169',
    'monthvisit' => '520',
    'allvisit' => '6148',
    'lastvote' => '1492763426',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '99',
    'goodnum' => '6',
    'reviewsnum' => '2',
    'ratenum' => 74,
    'ratesum' => 686,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1489040925',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1500523200',
    'freesize' => '68353',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '80',
    'vippubid' => '0',
    'vipchapters' => '20',
    'vipsize' => '80308',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '595853',
    'vipchapter' => '第四十章&nbsp;&nbsp;回忆',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;陈沫抬头看着比自己高出至少两头的严龙，嘴角轻轻上扬着。宋子敬则在一旁有些不耐烦的喊着两个人：“快点过来，快。我好几天没打游戏了手痒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“奥，对了。师父你玩游戏吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不经常玩。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈沫只记得自己最近一次玩游戏好像还是一个月前，苏诺拉着陈沫完了一块新出的网游。好像叫什么来着，想不起来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;严龙拉着沙发椅坐在了宋子敬身边的电脑位上，眼神却是时不时的在往陈沫电脑上瞟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“师父，要不我给你推荐个游戏吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么游戏？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈沫双手在电脑上不断调节着电脑..',
    'lastflower' => '1488875645',
    'allflower' => '2',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 74331,
    'size_k' => 75,
    'size_w' => 7.4,
    'rateavg' => '9.3',
    'rateavg_i' => 9,
    'rateavg_d' => 3,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1871/1871s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1871/1871s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1871/1871s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1871.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1871',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1871',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1871',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1871',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1871&cid=580542',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=80&cid=595853',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1871',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1871',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1871',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/947.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C9%D9%C5%AE%CE%DE%D0%C4',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%C9%B0%AE%CD%ED%B3%C9%A3%BA%BA%EC%B0%FC%B5%F6%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1871.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1871',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1488868637',
  'lastupdate' => '1492763539',
  'articlename' => '旧爱晚成：红包钓妻',
  'articlecode' => 'jiuaiwancheng_hongbaodiaoqi',
  'backupname' => '当我遇见你才知道缘来真是你',
  'keywords' => '总裁 红包 追妻',
  'roles' => '',
  'initial' => 'J',
  'authorid' => '947',
  'author' => '少女无心',
  'posterid' => '947',
  'poster' => '少女无心',
  'agentid' => '1645',
  'agent' => '九笙',
  'sortid' => '1',
  'typeid' => '3',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp; 为赚红包发家致富，她偷偷盗走了他全部浴照。为钓到妻，他大手一挥放出无数红包只为追她。有钱能使鬼推磨，有红包能干嘛？当然是钓到妻。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '580542',
  'lastchapter' => '第二十章&nbsp;&nbsp;包扎',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“你….”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈沫气的一时间不知道该说些什么，沈复却再次一把手拉倒陈沫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊…”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈沫直接又一次的扑进了沈复的怀里，瞪大着双眼看着沈复那张近在咫尺的俊脸。沈复不再逗陈沫，将撕扯好的简易绷带灵活的在陈沫额头上缠绕止血。陈沫这才反应过来伸手轻轻触碰到额头的伤口，一阵疼痛不由的赶紧的缩了手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈沫又不好意思的看了眼沈复：原来是自己的想太多，然后误会了人家，没想到他还有这么温柔的一面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陈小姐，是不是我的怀抱太温暖，让陈小姐有些舍不得了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈..',
  'chapters' => '40',
  'size' => '148661',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500539372',
  'dayvisit' => 0,
  'weekvisit' => '169',
  'monthvisit' => '520',
  'allvisit' => '6148',
  'lastvote' => '1492763426',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '99',
  'goodnum' => '6',
  'reviewsnum' => 2,
  'ratenum' => 74,
  'ratesum' => 686,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1489040925',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1500523200',
  'freesize' => '68353',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '80',
  'vippubid' => '0',
  'vipchapters' => '20',
  'vipsize' => '80308',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '595853',
  'vipchapter' => '第四十章&nbsp;&nbsp;回忆',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;陈沫抬头看着比自己高出至少两头的严龙，嘴角轻轻上扬着。宋子敬则在一旁有些不耐烦的喊着两个人：“快点过来，快。我好几天没打游戏了手痒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“奥，对了。师父你玩游戏吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不经常玩。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈沫只记得自己最近一次玩游戏好像还是一个月前，苏诺拉着陈沫完了一块新出的网游。好像叫什么来着，想不起来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;严龙拉着沙发椅坐在了宋子敬身边的电脑位上，眼神却是时不时的在往陈沫电脑上瞟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“师父，要不我给你推荐个游戏吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么游戏？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈沫双手在电脑上不断调节着电脑..',
  'lastflower' => '1488875645',
  'allflower' => '2',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 74331,
  'size_k' => 75,
  'size_w' => 7.4,
  'rateavg' => '9.3',
  'rateavg_i' => 9,
  'rateavg_d' => 3,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1871/1871s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1871/1871s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1871/1871s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1871.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1871',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1871',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1871',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1871',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1871&cid=580542',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=80&cid=595853',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1871',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1871',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1871',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/947.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C9%D9%C5%AE%CE%DE%D0%C4',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BE%C9%B0%AE%CD%ED%B3%C9%A3%BA%BA%EC%B0%FC%B5%F6%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1871.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '总裁',
      'tagencode' => '%D7%DC%B2%C3',
    ),
    1 => 
    array (
      'tagname' => '红包',
      'tagencode' => '%BA%EC%B0%FC',
    ),
    2 => 
    array (
      'tagname' => '追妻',
      'tagencode' => '%D7%B7%C6%DE',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 3,
    'addrows' => 0,
    'loops' => 3,
    'index' => 3,
    'order' => 3,
    'row' => 3,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '追妻',
      'tagencode' => '%D7%B7%C6%DE',
    ),
    'key' => 2,
    'append' => 0,
  ),
)