array (
  'meta_keywords' => '我遇见了你，林小姐 huayinzhiai 灵异幻境',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1873&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1873&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1873&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1873&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '1',
      'types' => 
      array (
        2 => '魔法校园',
        3 => '王朝争霸',
        4 => '西方奇幻',
        5 => '异世大陆',
        6 => '远古神话',
        1 => '东方玄幻',
      ),
    ),
    2 => 
    array (
      'code' => 'wuxia',
      'caption' => '武侠修真',
      'group' => '1',
      'types' => 
      array (
        7 => '传统武侠',
        8 => '古典仙侠',
        9 => '现代仙侠',
        10 => '异世修仙',
        11 => '异世修真',
        12 => '洪荒传说',
      ),
    ),
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
      ),
    ),
    4 => 
    array (
      'code' => 'lishi',
      'caption' => '历史军事',
      'group' => '1',
      'types' => 
      array (
        20 => '架空历史',
        21 => '历史传记',
        22 => '现代军事',
        23 => '战争幻想',
      ),
    ),
    5 => 
    array (
      'code' => 'alingyi',
      'caption' => '灵异悬疑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
        25 => '古代',
      ),
    ),
    6 => 
    array (
      'code' => 'kehuan',
      'caption' => '科幻同人',
      'group' => '1',
      'types' => 
      array (
        26 => '末世危机',
        27 => '未来世界',
        28 => '武侠同人',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'chuanyue',
      'caption' => '古代言情',
      'group' => '2',
      'types' => 
      array (
        32 => '宫廷',
        33 => '女尊',
        34 => '种田',
      ),
    ),
    9 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '2',
      'types' => 
      array (
        35 => '修真',
        36 => '穿越',
        37 => '异世',
      ),
    ),
    10 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'kehuantongren',
      'caption' => '科幻同人',
      'group' => '2',
      'types' => 
      array (
        40 => '科幻脑洞',
        41 => '同人',
      ),
    ),
    12 => 
    array (
      'code' => 'wenxuechuban',
      'caption' => '文学出版',
      'group' => '3',
      'types' => 
      array (
        42 => '青春言情',
        43 => '灵异悬疑',
        44 => '玄幻武侠',
        45 => '幻想言情',
        46 => '职场商战',
      ),
    ),
  ),
  'artileSortCount' => 12,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1873',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1489035731',
    'lastupdate' => '1489035731',
    'articlename' => '我遇见了你，林小姐',
    'articlecode' => 'woyujianliaoni_linxiaojie',
    'backupname' => '',
    'keywords' => '驱魔失忆女和犯罪心理专家联合破案～',
    'roles' => '',
    'initial' => 'W',
    'authorid' => '962',
    'author' => 'huayinzhiai',
    'posterid' => '962',
    'poster' => 'huayinzhiai',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '10',
    'typeid' => '38',
    'libid' => '0',
    'intro' => '她从医院里醒来，失去了所有的记忆。<br />
<br />
却在醒来的当天，被一起神秘杀人事件的主角劫持。<br />
<br />
他是犯罪心理专家，因为曾经无法磨灭的创伤，弃医从警...<br />
<br />
他们的相遇，是命运，还是注定..<br />
<br />
她用右眼帮他识鬼破案，他护她周全，帮她寻找失去的记忆....<br />
<br />
文案一：<br />
一道低沉有力的声音随之响起，沁人心脾，“林小姐，您好。我们是警局办案人员，有相关情况想向您咨询一下。”<br />
<br />
不卑不吭，这是林柯慈对来人的第一个评价。<br />
<br />
她索性不答，只静静的躺在床上，闭上眼睛假寐。<br />
<br />
周煜天未听到回复，却没再开口，静静的对着门口站立了会儿，转过身来，姿势随意的曲腿靠在了墙壁上。<br />
<br />
文案二：<br />
袋子里的蒸饺很快被风卷残云的扫荡了一遍，筷子上还残留着饺子的汁液，林柯慈瞟了眼周煜天，见他低头看书，赶紧伸出粉嫩的舌尖，一舔，嗯，满足了....<br />
<br />
但她不知道的是，对面青年的眼里如海水涨潮般喑哑迷离，唇角的弧度散开成芬香花般的浓郁。<br />
<br />
文案三：“我一直在想，是什么原因，让我选择留在这里，守护这里，直到，我遇见了你，林小姐。”',
    'notice' => '第一次写文，希望大家都能多多包涵，十分感谢！',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '0',
    'lastchapter' => '',
    'lastsummary' => '',
    'chapters' => '0',
    'size' => '0',
    'daysize' => '0',
    'weeksize' => '0',
    'monthsize' => '0',
    'lastvisit' => '1489035781',
    'dayvisit' => '26',
    'weekvisit' => '26',
    'monthvisit' => '26',
    'allvisit' => '26',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => '未签约',
    'signtime' => '0',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '免费',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '0',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '0',
    'sort' => '灵异幻境',
    'sortname' => '灵异幻境',
    'type' => '现代',
    'typename' => '现代',
    'size_c' => 0,
    'size_k' => 0,
    'size_w' => 0,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1873.html',
    'url_articleindex' => '#',
    'url_index' => '#',
    'url_read' => '#',
    'url_fullpage' => '#',
    'url_lastchapter' => '',
    'url_vipchapter' => '',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1873',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1873',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1873',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/962.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=huayinzhiai',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D2%D3%F6%BC%FB%C1%CB%C4%E3%A3%AC%C1%D6%D0%A1%BD%E3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1873.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1873',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1489035731',
  'lastupdate' => '1489035731',
  'articlename' => '我遇见了你，林小姐',
  'articlecode' => 'woyujianliaoni_linxiaojie',
  'backupname' => '',
  'keywords' => '驱魔失忆女和犯罪心理专家联合破案～',
  'roles' => '',
  'initial' => 'W',
  'authorid' => '962',
  'author' => 'huayinzhiai',
  'posterid' => '962',
  'poster' => 'huayinzhiai',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '10',
  'typeid' => '38',
  'libid' => '0',
  'intro' => '她从医院里醒来，失去了所有的记忆。<br />
<br />
却在醒来的当天，被一起神秘杀人事件的主角劫持。<br />
<br />
他是犯罪心理专家，因为曾经无法磨灭的创伤，弃医从警...<br />
<br />
他们的相遇，是命运，还是注定..<br />
<br />
她用右眼帮他识鬼破案，他护她周全，帮她寻找失去的记忆....<br />
<br />
文案一：<br />
一道低沉有力的声音随之响起，沁人心脾，“林小姐，您好。我们是警局办案人员，有相关情况想向您咨询一下。”<br />
<br />
不卑不吭，这是林柯慈对来人的第一个评价。<br />
<br />
她索性不答，只静静的躺在床上，闭上眼睛假寐。<br />
<br />
周煜天未听到回复，却没再开口，静静的对着门口站立了会儿，转过身来，姿势随意的曲腿靠在了墙壁上。<br />
<br />
文案二：<br />
袋子里的蒸饺很快被风卷残云的扫荡了一遍，筷子上还残留着饺子的汁液，林柯慈瞟了眼周煜天，见他低头看书，赶紧伸出粉嫩的舌尖，一舔，嗯，满足了....<br />
<br />
但她不知道的是，对面青年的眼里如海水涨潮般喑哑迷离，唇角的弧度散开成芬香花般的浓郁。<br />
<br />
文案三：“我一直在想，是什么原因，让我选择留在这里，守护这里，直到，我遇见了你，林小姐。”',
  'notice' => '第一次写文，希望大家都能多多包涵，十分感谢！',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '0',
  'lastchapter' => '',
  'lastsummary' => '',
  'chapters' => '0',
  'size' => '0',
  'daysize' => '0',
  'weeksize' => '0',
  'monthsize' => '0',
  'lastvisit' => '1489035781',
  'dayvisit' => '26',
  'weekvisit' => '26',
  'monthvisit' => '26',
  'allvisit' => '26',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => '未签约',
  'signtime' => '0',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '免费',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '0',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '0',
  'sort' => '灵异幻境',
  'sortname' => '灵异幻境',
  'type' => '现代',
  'typename' => '现代',
  'size_c' => 0,
  'size_k' => 0,
  'size_w' => 0,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1873.html',
  'url_articleindex' => '#',
  'url_index' => '#',
  'url_read' => '#',
  'url_fullpage' => '#',
  'url_lastchapter' => '',
  'url_vipchapter' => '',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1873',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1873',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1873',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/962.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=huayinzhiai',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D2%D3%F6%BC%FB%C1%CB%C4%E3%A3%AC%C1%D6%D0%A1%BD%E3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1873.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '驱魔失忆女和犯罪心理专家联合破案～',
      'tagencode' => '%C7%FD%C4%A7%CA%A7%D2%E4%C5%AE%BA%CD%B7%B8%D7%EF%D0%C4%C0%ED%D7%A8%BC%D2%C1%AA%BA%CF%C6%C6%B0%B8%A1%AB',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 1,
    'addrows' => 0,
    'loops' => 1,
    'index' => 1,
    'order' => 1,
    'row' => 1,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '驱魔失忆女和犯罪心理专家联合破案～',
      'tagencode' => '%C7%FD%C4%A7%CA%A7%D2%E4%C5%AE%BA%CD%B7%B8%D7%EF%D0%C4%C0%ED%D7%A8%BC%D2%C1%AA%BA%CF%C6%C6%B0%B8%A1%AB',
    ),
    'key' => 0,
    'append' => 0,
  ),
)