array (
  'meta_keywords' => '我遇见了你，林小姐 huayinzhiai00 灵异幻境',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1874&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1874&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1874&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1874&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '1',
  'yellowrose' => '1',
  'bluerose' => '1',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1874',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1489038309',
    'lastupdate' => '1497414778',
    'articlename' => '我遇见了你，林小姐',
    'articlecode' => 'woyujianliaoni_linxiaojie',
    'backupname' => '当失忆驱魔少女遇到犯罪心理专家……',
    'keywords' => '驱魔失忆女和犯罪心理专家联合破案~',
    'roles' => '',
    'initial' => 'W',
    'authorid' => '964',
    'author' => 'huayinzhiai00',
    'posterid' => '964',
    'poster' => 'huayinzhiai00',
    'agentid' => '1797',
    'agent' => '楚先生',
    'sortid' => '4',
    'typeid' => '22',
    'libid' => '0',
    'intro' => '“我一直在想，是什么原因，让我选择留在这里，守护这里，直到，我遇见了你，林小姐。”<br />
从医院里醒来，她失去了所有记忆。<br />
却在醒来的当天，被一起神秘杀人事件的主角劫持。<br />
他是犯罪心理专家，因为曾经无法磨灭的创伤，弃医从警...<br />
他们的相遇，是注定，还是策划……<br />
她用右眼帮他识鬼破案，他护她周全，帮她寻找失去的记忆....<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '580522',
    'lastchapter' => '第二十章 借住',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;冬日，晴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一所古朴的民宅在阳光下褶褶生辉，红漆流丹朱门半开半掩着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈大娘拿着一把剑，剑上插着一道黄符，黄符上写着龙飞凤舞的大字。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她一边挥舞剑，一边嘴里念叨：“天灵灵，地灵灵，太上老君快显灵。急急如律令。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;语毕，迅速的把黄符放在火上点燃，呼的一下，黄符被燃烧殆尽，只余灰烟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她把灰烟和水搅拌均匀，端起杯子，走到祭坛前坐着的老妇人面前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老妇人见她走过来，掀了掀眼皮，伸出一层皮包骨的手，颤巍巍的接过杯子，满脸的褶子挤在一起，却是在犹豫着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只见..',
    'chapters' => '71',
    'size' => '456381',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500611564',
    'dayvisit' => '26',
    'weekvisit' => '364',
    'monthvisit' => '1378',
    'allvisit' => '15158',
    'lastvote' => '1495612369',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '88',
    'goodnum' => '6',
    'reviewsnum' => '22',
    'ratenum' => 28,
    'ratesum' => 245,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1489558828',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1490878118',
    'freesize' => '314956',
    'isvip' => '签约',
    'viptime' => '1497414778',
    'vipid' => '81',
    'vippubid' => '0',
    'vipchapters' => '51',
    'vipsize' => '350975',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '603251',
    'vipchapter' => '第71章&nbsp;&nbsp;杀人游戏（七）',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;吴行之端着烛台，昏暗的烛光照在他的侧脸上，一张模糊清秀的脸被印在楼梯右侧的墙壁上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“……我也是第一次走这条路，不太确定能不能通到地下室，只是猜测。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他抿唇：“因为那些掉下去的女子，尸体都被那老仆做成了……，所以，找到他，应该就能问出林小姐的下落。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;约翰走在第二个，他挑起胸前的长发，凑近吴行之耳边，低声道：“知道为什么我给你这个机会吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴行之眯起眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;约翰说：“因为，你看我妹妹的眼光……和一个人很像呢，只不过，太压抑了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你不明白，那丫头迟钝..',
    'lastflower' => '1492777141',
    'allflower' => '42',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '1',
    'yellowrose' => '1',
    'bluerose' => '1',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '灵异幻境',
    'sortname' => '灵异幻境',
    'type' => '民国',
    'typename' => '民国',
    'size_c' => 228191,
    'size_k' => 229,
    'size_w' => 22.8,
    'rateavg' => '8.8',
    'rateavg_i' => 8,
    'rateavg_d' => 8,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1874/1874s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1874/1874s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1874/1874s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1874.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1874',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1874',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1874',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1874',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1874&cid=580522',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=81&cid=603251',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1874',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1874',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1874',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/964.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=huayinzhiai00',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D2%D3%F6%BC%FB%C1%CB%C4%E3%A3%AC%C1%D6%D0%A1%BD%E3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1874.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1874',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1489038309',
  'lastupdate' => '1497414778',
  'articlename' => '我遇见了你，林小姐',
  'articlecode' => 'woyujianliaoni_linxiaojie',
  'backupname' => '当失忆驱魔少女遇到犯罪心理专家……',
  'keywords' => '驱魔失忆女和犯罪心理专家联合破案~',
  'roles' => '',
  'initial' => 'W',
  'authorid' => '964',
  'author' => 'huayinzhiai00',
  'posterid' => '964',
  'poster' => 'huayinzhiai00',
  'agentid' => '1797',
  'agent' => '楚先生',
  'sortid' => '4',
  'typeid' => '22',
  'libid' => '0',
  'intro' => '“我一直在想，是什么原因，让我选择留在这里，守护这里，直到，我遇见了你，林小姐。”<br />
从医院里醒来，她失去了所有记忆。<br />
却在醒来的当天，被一起神秘杀人事件的主角劫持。<br />
他是犯罪心理专家，因为曾经无法磨灭的创伤，弃医从警...<br />
他们的相遇，是注定，还是策划……<br />
她用右眼帮他识鬼破案，他护她周全，帮她寻找失去的记忆....<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '580522',
  'lastchapter' => '第二十章 借住',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;冬日，晴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一所古朴的民宅在阳光下褶褶生辉，红漆流丹朱门半开半掩着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈大娘拿着一把剑，剑上插着一道黄符，黄符上写着龙飞凤舞的大字。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她一边挥舞剑，一边嘴里念叨：“天灵灵，地灵灵，太上老君快显灵。急急如律令。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;语毕，迅速的把黄符放在火上点燃，呼的一下，黄符被燃烧殆尽，只余灰烟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她把灰烟和水搅拌均匀，端起杯子，走到祭坛前坐着的老妇人面前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老妇人见她走过来，掀了掀眼皮，伸出一层皮包骨的手，颤巍巍的接过杯子，满脸的褶子挤在一起，却是在犹豫着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只见..',
  'chapters' => '71',
  'size' => '456381',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500611564',
  'dayvisit' => '26',
  'weekvisit' => '364',
  'monthvisit' => '1378',
  'allvisit' => '15158',
  'lastvote' => '1495612369',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '88',
  'goodnum' => '6',
  'reviewsnum' => 23,
  'ratenum' => 28,
  'ratesum' => 245,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1489558828',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1490878118',
  'freesize' => '314956',
  'isvip' => '签约',
  'viptime' => '1497414778',
  'vipid' => '81',
  'vippubid' => '0',
  'vipchapters' => '51',
  'vipsize' => '350975',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '603251',
  'vipchapter' => '第71章&nbsp;&nbsp;杀人游戏（七）',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;吴行之端着烛台，昏暗的烛光照在他的侧脸上，一张模糊清秀的脸被印在楼梯右侧的墙壁上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“……我也是第一次走这条路，不太确定能不能通到地下室，只是猜测。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他抿唇：“因为那些掉下去的女子，尸体都被那老仆做成了……，所以，找到他，应该就能问出林小姐的下落。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;约翰走在第二个，他挑起胸前的长发，凑近吴行之耳边，低声道：“知道为什么我给你这个机会吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴行之眯起眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;约翰说：“因为，你看我妹妹的眼光……和一个人很像呢，只不过，太压抑了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你不明白，那丫头迟钝..',
  'lastflower' => '1492777141',
  'allflower' => '42',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '灵异幻境',
  'sortname' => '灵异幻境',
  'type' => '民国',
  'typename' => '民国',
  'size_c' => 228191,
  'size_k' => 229,
  'size_w' => 22.8,
  'rateavg' => '8.8',
  'rateavg_i' => 8,
  'rateavg_d' => 8,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1874/1874s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1874/1874s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1874/1874s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1874.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1874',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1874',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1874',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1874',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1874&cid=580522',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=81&cid=603251',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1874',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1874',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1874',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/964.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=huayinzhiai00',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D2%D3%F6%BC%FB%C1%CB%C4%E3%A3%AC%C1%D6%D0%A1%BD%E3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1874.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '驱魔失忆女和犯罪心理专家联合破案~',
      'tagencode' => '%C7%FD%C4%A7%CA%A7%D2%E4%C5%AE%BA%CD%B7%B8%D7%EF%D0%C4%C0%ED%D7%A8%BC%D2%C1%AA%BA%CF%C6%C6%B0%B8%7E',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 1,
    'addrows' => 0,
    'loops' => 1,
    'index' => 1,
    'order' => 1,
    'row' => 1,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '驱魔失忆女和犯罪心理专家联合破案~',
      'tagencode' => '%C7%FD%C4%A7%CA%A7%D2%E4%C5%AE%BA%CD%B7%B8%D7%EF%D0%C4%C0%ED%D7%A8%BC%D2%C1%AA%BA%CF%C6%C6%B0%B8%7E',
    ),
    'key' => 0,
    'append' => 0,
  ),
)