array (
  'meta_keywords' => '质宠 摽有梅 古代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1876&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1876&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1876&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1876&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1876',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1489045961',
    'lastupdate' => '1495388384',
    'articlename' => '质宠',
    'articlecode' => 'zhichong',
    'backupname' => '一位公主与她弟伴读的并不那么愉快的故事。',
    'keywords' => '权谋 爱情 甜宠',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '944',
    'author' => '摽有梅',
    'posterid' => '944',
    'poster' => '摽有梅',
    'agentid' => '1644',
    'agent' => '宫羽',
    'sortid' => '2',
    'typeid' => '10',
    'libid' => '0',
    'intro' => '高妙元觉得这一生，过得很精彩——幼年时逗逗上京做质子的萧邑，训一训不肯吃药的弟弟，嗯……日子过得很不错。可谁曾想，数年后，他们长大了，萧邑好像……与她想的不大一样了。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '597194',
    'lastchapter' => '第二十二章 明光铠',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;第二十二章<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那么这个人是谁呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;薛六混在人堆里暗想，对于他们来讲，张都督在此地已然尽是称王称霸的派头了，刘使君因手无兵符，也不得不对张都督再三避让。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但颍川庾氏的人一过来，哪怕来的人只是一位庾氏的旁支，派头都要顶天的大了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只不过他们往往会提前一两天派人来知会一声，张簟也就不慌不忙的备起来，然后早早的，派人出城迎接，自己则在备下宴席的酒楼前等待。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是这回，他是急急忙忙奔向城外迎接去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;薛六并没有读过多少书，他只是个田地里出身，有个一两手的手艺，而投奔..',
    'chapters' => '22',
    'size' => '86968',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500591200',
    'dayvisit' => '39',
    'weekvisit' => '260',
    'monthvisit' => '754',
    'allvisit' => '11791',
    'lastvote' => '1492095352',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '276',
    'goodnum' => '4',
    'reviewsnum' => '11',
    'ratenum' => 20,
    'ratesum' => 200,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1489713311',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1495388384',
    'freesize' => '86968',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '权谋',
    'typename' => '权谋',
    'size_c' => 43484,
    'size_k' => 44,
    'size_w' => 4.3,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1876/1876s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1876/1876s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1876/1876s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1876.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1876',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1876',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1876',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1876',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1876&cid=597194',
    'url_vipchapter' => '',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1876',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1876',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1876',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/944.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%93%BF%D3%D0%C3%B7',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D6%CA%B3%E8%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1876.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1876',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1489045961',
  'lastupdate' => '1495388384',
  'articlename' => '质宠',
  'articlecode' => 'zhichong',
  'backupname' => '一位公主与她弟伴读的并不那么愉快的故事。',
  'keywords' => '权谋 爱情 甜宠',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '944',
  'author' => '摽有梅',
  'posterid' => '944',
  'poster' => '摽有梅',
  'agentid' => '1644',
  'agent' => '宫羽',
  'sortid' => '2',
  'typeid' => '10',
  'libid' => '0',
  'intro' => '高妙元觉得这一生，过得很精彩——幼年时逗逗上京做质子的萧邑，训一训不肯吃药的弟弟，嗯……日子过得很不错。可谁曾想，数年后，他们长大了，萧邑好像……与她想的不大一样了。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '597194',
  'lastchapter' => '第二十二章 明光铠',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;第二十二章<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那么这个人是谁呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;薛六混在人堆里暗想，对于他们来讲，张都督在此地已然尽是称王称霸的派头了，刘使君因手无兵符，也不得不对张都督再三避让。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但颍川庾氏的人一过来，哪怕来的人只是一位庾氏的旁支，派头都要顶天的大了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只不过他们往往会提前一两天派人来知会一声，张簟也就不慌不忙的备起来，然后早早的，派人出城迎接，自己则在备下宴席的酒楼前等待。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是这回，他是急急忙忙奔向城外迎接去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;薛六并没有读过多少书，他只是个田地里出身，有个一两手的手艺，而投奔..',
  'chapters' => '22',
  'size' => '86968',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500591200',
  'dayvisit' => '39',
  'weekvisit' => '260',
  'monthvisit' => '754',
  'allvisit' => '11791',
  'lastvote' => '1492095352',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '276',
  'goodnum' => '4',
  'reviewsnum' => 12,
  'ratenum' => 20,
  'ratesum' => 200,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1489713311',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1495388384',
  'freesize' => '86968',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '权谋',
  'typename' => '权谋',
  'size_c' => 43484,
  'size_k' => 44,
  'size_w' => 4.3,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1876/1876s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1876/1876s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1876/1876s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1876.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1876',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1876',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1876',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1876',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1876&cid=597194',
  'url_vipchapter' => '',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1876',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1876',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1876',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/944.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%93%BF%D3%D0%C3%B7',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D6%CA%B3%E8%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1876.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '权谋',
      'tagencode' => '%C8%A8%C4%B1',
    ),
    1 => 
    array (
      'tagname' => '爱情',
      'tagencode' => '%B0%AE%C7%E9',
    ),
    2 => 
    array (
      'tagname' => '甜宠',
      'tagencode' => '%CC%F0%B3%E8',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 3,
    'addrows' => 0,
    'loops' => 3,
    'index' => 3,
    'order' => 3,
    'row' => 3,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '甜宠',
      'tagencode' => '%CC%F0%B3%E8',
    ),
    'key' => 2,
    'append' => 0,
  ),
)