array (
  'meta_keywords' => '强娶厚爱，总裁独宠小娇妻 -半夏曲- 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1879&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1879&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1879&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1879&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1879',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1489640795',
    'lastupdate' => '1497628417',
    'articlename' => '强娶厚爱，总裁独宠小娇妻',
    'articlecode' => 'qiangquhouai_zongcaiduchongxiaojiaoqi',
    'backupname' => '一往情深，波折有爱',
    'keywords' => '诙谐 宠文 现代言情 虐恋',
    'roles' => '',
    'initial' => 'Q',
    'authorid' => '1206',
    'author' => '-半夏曲-',
    'posterid' => '1206',
    'poster' => '半夏曲.',
    'agentid' => '1645',
    'agent' => '九笙',
    'sortid' => '1',
    'typeid' => '3',
    'libid' => '0',
    'intro' => '管家跑来跟他汇报，“先生，夫人又要抽烟了！”“那就把古巴总理送的雪茄带给夫人”“先生，夫人要拿刀砍人！”“还不赶紧准备毁尸灭迹！”“先生，夫人要去追她爱豆！”“封杀！封杀！立马封杀！”“先生，夫人骂我‘你咋不上天呢’！”“你去买烟花绑身上吧，公司报销！”“先生......那啥......我是您亲管家呀！”他终于抬起眼皮，一把将文件摔桌子上：“我特么就这么一个亲媳妇儿！”',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '595858',
    'lastchapter' => '第25章：夭折的孽缘',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;陆玄明俯身，扶着叶川瑾回到椅子上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“谢谢哈……”叶川瑾干笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆玄明的动作明显地就顿了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;叶川瑾刚才居然在对他说谢谢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;瞬间，万簇花朵绽放在他的心里，spring~<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆玄明脑海里竟然还浮现出了苏空青说的一句话：<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;百花齐放，春天到来，又到了万物交配的的季节……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;啊呸呸呸，在想什么呢！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆玄明自觉想的有点多了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“几点的机票？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“十点多快十一点。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆玄明抬起手腕看了一眼时间：“坐着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;叶川瑾下意识地瞪大..',
    'chapters' => '136',
    'size' => '580565',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500611558',
    'dayvisit' => '78',
    'weekvisit' => '429',
    'monthvisit' => '1118',
    'allvisit' => '11375',
    'lastvote' => '1495420095',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '103',
    'goodnum' => '6',
    'reviewsnum' => '3',
    'ratenum' => 60,
    'ratesum' => 588,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1492658015',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '440534',
    'isvip' => '签约',
    'viptime' => '1497628417',
    'vipid' => '140',
    'vippubid' => '0',
    'vipchapters' => '111',
    'vipsize' => '459145',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '604764',
    'vipchapter' => '第137章：入侵者',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;&quot;我问一下……&quot;陆玄明拉住那个护士的衣袖，神情依旧是很紧张：&quot;真的没问题吗？&quot;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个护士已经不耐烦了，说：&quot;还是那句话，早干嘛去了？没事，你女朋友没事，我忙去了，你留着里，姑娘估计一会儿就醒了。&quot;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆玄明连连点头，还不时地往里边张望着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;护士又说：&quot;千万别走，这个时候，正是那姑娘心理脆弱的时候，你走了，那姑娘以后不得伤心成什么样子呢!&quot;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆玄明点头如捣蒜，然后就要推门进去，结果那个护士又返回来拉住陆玄明，说：&quot;我说你这个人，就不能让那姑娘好好休息休息？&quot;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆玄明满脸疑惑：..',
    'lastflower' => '1492061151',
    'allflower' => '32',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'peregold' => '8',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 290283,
    'size_k' => 291,
    'size_w' => 29,
    'rateavg' => '9.8',
    'rateavg_i' => 9,
    'rateavg_d' => 8,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1879/1879s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1879/1879s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1879/1879s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1879.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1879',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1879',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1879',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1879',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1879&cid=595858',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=140&cid=604764',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1879',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1879',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1879',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/1206.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=-%B0%EB%CF%C4%C7%FA-',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%BF%C8%A2%BA%F1%B0%AE%A3%AC%D7%DC%B2%C3%B6%C0%B3%E8%D0%A1%BD%BF%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1879.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1879',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1489640795',
  'lastupdate' => '1497628417',
  'articlename' => '强娶厚爱，总裁独宠小娇妻',
  'articlecode' => 'qiangquhouai_zongcaiduchongxiaojiaoqi',
  'backupname' => '一往情深，波折有爱',
  'keywords' => '诙谐 宠文 现代言情 虐恋',
  'roles' => '',
  'initial' => 'Q',
  'authorid' => '1206',
  'author' => '-半夏曲-',
  'posterid' => '1206',
  'poster' => '半夏曲.',
  'agentid' => '1645',
  'agent' => '九笙',
  'sortid' => '1',
  'typeid' => '3',
  'libid' => '0',
  'intro' => '管家跑来跟他汇报，“先生，夫人又要抽烟了！”“那就把古巴总理送的雪茄带给夫人”“先生，夫人要拿刀砍人！”“还不赶紧准备毁尸灭迹！”“先生，夫人要去追她爱豆！”“封杀！封杀！立马封杀！”“先生，夫人骂我‘你咋不上天呢’！”“你去买烟花绑身上吧，公司报销！”“先生......那啥......我是您亲管家呀！”他终于抬起眼皮，一把将文件摔桌子上：“我特么就这么一个亲媳妇儿！”',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '595858',
  'lastchapter' => '第25章：夭折的孽缘',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;陆玄明俯身，扶着叶川瑾回到椅子上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“谢谢哈……”叶川瑾干笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆玄明的动作明显地就顿了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;叶川瑾刚才居然在对他说谢谢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;瞬间，万簇花朵绽放在他的心里，spring~<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆玄明脑海里竟然还浮现出了苏空青说的一句话：<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;百花齐放，春天到来，又到了万物交配的的季节……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;啊呸呸呸，在想什么呢！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆玄明自觉想的有点多了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“几点的机票？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“十点多快十一点。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆玄明抬起手腕看了一眼时间：“坐着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;叶川瑾下意识地瞪大..',
  'chapters' => '136',
  'size' => '580565',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500611558',
  'dayvisit' => '78',
  'weekvisit' => '429',
  'monthvisit' => '1118',
  'allvisit' => '11375',
  'lastvote' => '1495420095',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '103',
  'goodnum' => '6',
  'reviewsnum' => 29,
  'ratenum' => 60,
  'ratesum' => 588,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1492658015',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '440534',
  'isvip' => '签约',
  'viptime' => '1497628417',
  'vipid' => '140',
  'vippubid' => '0',
  'vipchapters' => '111',
  'vipsize' => '459145',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '604764',
  'vipchapter' => '第137章：入侵者',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;&quot;我问一下……&quot;陆玄明拉住那个护士的衣袖，神情依旧是很紧张：&quot;真的没问题吗？&quot;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个护士已经不耐烦了，说：&quot;还是那句话，早干嘛去了？没事，你女朋友没事，我忙去了，你留着里，姑娘估计一会儿就醒了。&quot;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆玄明连连点头，还不时地往里边张望着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;护士又说：&quot;千万别走，这个时候，正是那姑娘心理脆弱的时候，你走了，那姑娘以后不得伤心成什么样子呢!&quot;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆玄明点头如捣蒜，然后就要推门进去，结果那个护士又返回来拉住陆玄明，说：&quot;我说你这个人，就不能让那姑娘好好休息休息？&quot;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆玄明满脸疑惑：..',
  'lastflower' => '1492061151',
  'allflower' => '32',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'peregold' => '8',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 290283,
  'size_k' => 291,
  'size_w' => 29,
  'rateavg' => '9.8',
  'rateavg_i' => 9,
  'rateavg_d' => 8,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1879/1879s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1879/1879s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1879/1879s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1879.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1879',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1879',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1879',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1879',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1879&cid=595858',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=140&cid=604764',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1879',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1879',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1879',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/1206.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=-%B0%EB%CF%C4%C7%FA-',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%BF%C8%A2%BA%F1%B0%AE%A3%AC%D7%DC%B2%C3%B6%C0%B3%E8%D0%A1%BD%BF%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1879.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '诙谐',
      'tagencode' => '%DA%B6%D0%B3',
    ),
    1 => 
    array (
      'tagname' => '宠文',
      'tagencode' => '%B3%E8%CE%C4',
    ),
    2 => 
    array (
      'tagname' => '现代言情',
      'tagencode' => '%CF%D6%B4%FA%D1%D4%C7%E9',
    ),
    3 => 
    array (
      'tagname' => '虐恋',
      'tagencode' => '%C5%B0%C1%B5',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 4,
    'addrows' => 0,
    'loops' => 4,
    'index' => 4,
    'order' => 4,
    'row' => 4,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '虐恋',
      'tagencode' => '%C5%B0%C1%B5',
    ),
    'key' => 3,
    'append' => 0,
  ),
)