array (
  'meta_keywords' => '游戏异界之无敌升级 柚子 修真武侠',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1897&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1897&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1897&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1897&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1897',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1490685586',
    'lastupdate' => '1490685586',
    'articlename' => '游戏异界之无敌升级',
    'articlecode' => 'youxiyijiezhiwudishengji',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '12',
    'author' => '柚子',
    'posterid' => '12',
    'poster' => '柚子',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '32',
    'libid' => '0',
    'intro' => '“你再说一遍，这是哪？”……这个问题，许木已经问了前面这只会说人话的蝴蝶无数遍了，而这个自称游戏精灵的“蝴蝶”，也解释过无数遍了。<br />
……<br />
“我再为您解释一次，这里是专门用于培养战斗精英的虚拟游戏《统治战场》，我是游戏精灵，可以为你解答游戏里的所有疑惑！还有，我不是蝴蝶，我是精灵！”',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '583514',
    'lastchapter' => '第十四章 悬赏金',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“他不应该是在瑞风山？我跟那金角鹿一直跑，也忘了记路，该死！”许木双拳下意识的握紧，紧张万分的想道。虽然有一定心里准备，但还是没想到在这漆黑的夜晚能碰到通缉的人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;仔细观察发现，董力的右腿受了伤，许木的原本逃跑的打算，变成了如何击杀董力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;董力冷然看着许木，口角上露出了一丝冷笑，道：“小鬼，你不是巡逻队，这么晚还出城来，这不是送死嘛！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许木深深的吸了一口气，心中微动，想到了董力的项上人头可是值一百金币的！有了这些钱便再也不用在费里欣面前忍气吞声了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;身上斗气运转……',
    'chapters' => '61',
    'size' => '475216',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500467326',
    'dayvisit' => 0,
    'weekvisit' => '65',
    'monthvisit' => '117',
    'allvisit' => '832',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1492584261',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '92299',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '146',
    'vippubid' => '0',
    'vipchapters' => '47',
    'vipsize' => '382917',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '583561',
    'vipchapter' => '第六十一章',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;许木狐疑的看着系统升级的提示，他还没完全摸清楚游戏的潜规则，贸然升级不知道是福是祸，“嗨！许木，至多就是爬个惊天动地的魔出来，难道你还怕一只畜生吗？”许木下定了决心，确定了系统升级，游戏精灵提醒他“您已经选定系统升级，请稍后”许木百无聊赖的等着，系统升级中，他也不能继续游戏，只有呆呆的看着，大约半刻钟的时间，许木就看见几丝金青色的彩线溢了出来，那些彩线好像有灵性一般，一出来，就围绕在他的身边，像一群小孩子终于被放出来，在他的眼前奔窜，许木不耐烦的挥着手，这些彩线好像在逗他玩一样，一直徘徊……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '修真武侠',
    'sortname' => '修真武侠',
    'type' => '异世修真',
    'typename' => '异世修真',
    'size_c' => 237608,
    'size_k' => 238,
    'size_w' => 23.8,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1897.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1897',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1897',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1897',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1897',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1897&cid=583514',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=146&cid=583561',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1897',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1897',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1897',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/12.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%E8%D6%D7%D3',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D3%CE%CF%B7%D2%EC%BD%E7%D6%AE%CE%DE%B5%D0%C9%FD%BC%B6%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1897.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1897',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1490685586',
  'lastupdate' => '1490685586',
  'articlename' => '游戏异界之无敌升级',
  'articlecode' => 'youxiyijiezhiwudishengji',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '12',
  'author' => '柚子',
  'posterid' => '12',
  'poster' => '柚子',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '32',
  'libid' => '0',
  'intro' => '“你再说一遍，这是哪？”……这个问题，许木已经问了前面这只会说人话的蝴蝶无数遍了，而这个自称游戏精灵的“蝴蝶”，也解释过无数遍了。<br />
……<br />
“我再为您解释一次，这里是专门用于培养战斗精英的虚拟游戏《统治战场》，我是游戏精灵，可以为你解答游戏里的所有疑惑！还有，我不是蝴蝶，我是精灵！”',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '583514',
  'lastchapter' => '第十四章 悬赏金',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“他不应该是在瑞风山？我跟那金角鹿一直跑，也忘了记路，该死！”许木双拳下意识的握紧，紧张万分的想道。虽然有一定心里准备，但还是没想到在这漆黑的夜晚能碰到通缉的人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;仔细观察发现，董力的右腿受了伤，许木的原本逃跑的打算，变成了如何击杀董力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;董力冷然看着许木，口角上露出了一丝冷笑，道：“小鬼，你不是巡逻队，这么晚还出城来，这不是送死嘛！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许木深深的吸了一口气，心中微动，想到了董力的项上人头可是值一百金币的！有了这些钱便再也不用在费里欣面前忍气吞声了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;身上斗气运转……',
  'chapters' => '61',
  'size' => '475216',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500467326',
  'dayvisit' => 0,
  'weekvisit' => '65',
  'monthvisit' => '117',
  'allvisit' => '832',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1492584261',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '92299',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '146',
  'vippubid' => '0',
  'vipchapters' => '47',
  'vipsize' => '382917',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '583561',
  'vipchapter' => '第六十一章',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;许木狐疑的看着系统升级的提示，他还没完全摸清楚游戏的潜规则，贸然升级不知道是福是祸，“嗨！许木，至多就是爬个惊天动地的魔出来，难道你还怕一只畜生吗？”许木下定了决心，确定了系统升级，游戏精灵提醒他“您已经选定系统升级，请稍后”许木百无聊赖的等着，系统升级中，他也不能继续游戏，只有呆呆的看着，大约半刻钟的时间，许木就看见几丝金青色的彩线溢了出来，那些彩线好像有灵性一般，一出来，就围绕在他的身边，像一群小孩子终于被放出来，在他的眼前奔窜，许木不耐烦的挥着手，这些彩线好像在逗他玩一样，一直徘徊……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '修真武侠',
  'sortname' => '修真武侠',
  'type' => '异世修真',
  'typename' => '异世修真',
  'size_c' => 237608,
  'size_k' => 238,
  'size_w' => 23.8,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1897.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1897',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1897',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1897',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1897',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1897&cid=583514',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=146&cid=583561',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1897',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1897',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1897',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/12.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%E8%D6%D7%D3',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D3%CE%CF%B7%D2%EC%BD%E7%D6%AE%CE%DE%B5%D0%C9%FD%BC%B6%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1897.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)