array (
  'meta_keywords' => '艳遇都市 柚子 都市校园',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1901&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1901&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1901&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1901&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '1',
      'types' => 
      array (
        2 => '魔法校园',
        3 => '王朝争霸',
        4 => '西方奇幻',
        5 => '异世大陆',
        6 => '远古神话',
        1 => '东方玄幻',
      ),
    ),
    2 => 
    array (
      'code' => 'wuxia',
      'caption' => '武侠修真',
      'group' => '1',
      'types' => 
      array (
        7 => '传统武侠',
        8 => '古典仙侠',
        9 => '现代仙侠',
        10 => '异世修仙',
        11 => '异世修真',
        12 => '洪荒传说',
      ),
    ),
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
      ),
    ),
    4 => 
    array (
      'code' => 'lishi',
      'caption' => '历史军事',
      'group' => '1',
      'types' => 
      array (
        20 => '架空历史',
        21 => '历史传记',
        22 => '现代军事',
        23 => '战争幻想',
      ),
    ),
    5 => 
    array (
      'code' => 'alingyi',
      'caption' => '灵异悬疑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
        25 => '古代',
      ),
    ),
    6 => 
    array (
      'code' => 'kehuan',
      'caption' => '科幻同人',
      'group' => '1',
      'types' => 
      array (
        26 => '末世危机',
        27 => '未来世界',
        28 => '武侠同人',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'chuanyue',
      'caption' => '古代言情',
      'group' => '2',
      'types' => 
      array (
        32 => '宫廷',
        33 => '女尊',
        34 => '种田',
      ),
    ),
    9 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '2',
      'types' => 
      array (
        35 => '修真',
        36 => '穿越',
        37 => '异世',
      ),
    ),
    10 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'kehuantongren',
      'caption' => '科幻同人',
      'group' => '2',
      'types' => 
      array (
        40 => '科幻脑洞',
        41 => '同人',
      ),
    ),
    12 => 
    array (
      'code' => 'wenxuechuban',
      'caption' => '文学出版',
      'group' => '3',
      'types' => 
      array (
        42 => '青春言情',
        43 => '灵异悬疑',
        44 => '玄幻武侠',
        45 => '幻想言情',
        46 => '职场商战',
      ),
    ),
  ),
  'artileSortCount' => 12,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1901',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1490685699',
    'lastupdate' => '1490685699',
    'articlename' => '艳遇都市',
    'articlecode' => 'yanyudushi',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '12',
    'author' => '柚子',
    'posterid' => '12',
    'poster' => '柚子',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '13',
    'libid' => '0',
    'intro' => '易小言仔细地梳理了一番这个被自己穿越而来，同样名为易小言的人的脑中记忆，不禁大失所望，发出了连声长叹——易小言，你这也实在是太失败了！<br />
唉，这个易小言懦弱的人生，简直就是摆了一桌子的杯具！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '584243',
    'lastchapter' => '第29章 路遇丽若丹',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“这么早就来了？”易小言坐进车里，一边关门一边说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“反正上午没有什么事情，就开车出来兜兜风咯。”周冰芷甜甜地笑起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;都说恋爱中的女人走路都有风轻拂她的头发，说话都带着笑声。而现在的周冰芷，似乎也已经差不多了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只不过她现在似乎并不是处于恋爱当中，而是处于暗恋当中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她心里头是对易小言有感觉的，只不过嘴上却从来都不愿意承认罢了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就在昨天晚上的时候，她还在对着镜子问自己，是不是真的爱上易小言了，她迟疑了一下，最终还是没有点头，只是也没有摇头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你……',
    'chapters' => '204',
    'size' => '1372807',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1493101646',
    'dayvisit' => '26',
    'weekvisit' => '26',
    'monthvisit' => '130',
    'allvisit' => '143',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1491876896',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '1372807',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '131',
    'vippubid' => '0',
    'vipchapters' => '175',
    'vipsize' => '1192564',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '584418',
    'vipchapter' => '第204章 段龙的困惑',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;下午，易小言正在里屋和段洁商量怎么去制定一个计划，把那些金粉神不知鬼不觉的给弄出来，忽然听到玛琳在门口道：“易先生，门外有两个人来找您，说是一位姓林，一位叫包子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈！”易小言一听，立刻高兴的站了起来，像个孩子一样，脸上的兴奋再也掩饰不住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他三下两下窜到门那里，打开了房门，对玛琳说道：“好，你去开门。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是。”玛琳应了一声，就去开门了，而易小言则是轻手轻脚的藏到了门后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;包子和林志虎两个人这么久没有见过易老大了，心里自然是十分的激动，两个人在接到命令的时候……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '都市男女',
    'typename' => '都市男女',
    'size_c' => 686404,
    'size_k' => 687,
    'size_w' => 68.6,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1901/1901s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1901/1901s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1901/1901s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1901.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1901',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1901',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1901',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1901',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1901&cid=584243',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=131&cid=584418',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1901',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1901',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1901',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/12.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%E8%D6%D7%D3',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D1%DE%D3%F6%B6%BC%CA%D0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1901.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1901',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1490685699',
  'lastupdate' => '1490685699',
  'articlename' => '艳遇都市',
  'articlecode' => 'yanyudushi',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '12',
  'author' => '柚子',
  'posterid' => '12',
  'poster' => '柚子',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '13',
  'libid' => '0',
  'intro' => '易小言仔细地梳理了一番这个被自己穿越而来，同样名为易小言的人的脑中记忆，不禁大失所望，发出了连声长叹——易小言，你这也实在是太失败了！<br />
唉，这个易小言懦弱的人生，简直就是摆了一桌子的杯具！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '584243',
  'lastchapter' => '第29章 路遇丽若丹',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“这么早就来了？”易小言坐进车里，一边关门一边说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“反正上午没有什么事情，就开车出来兜兜风咯。”周冰芷甜甜地笑起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;都说恋爱中的女人走路都有风轻拂她的头发，说话都带着笑声。而现在的周冰芷，似乎也已经差不多了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只不过她现在似乎并不是处于恋爱当中，而是处于暗恋当中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她心里头是对易小言有感觉的，只不过嘴上却从来都不愿意承认罢了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就在昨天晚上的时候，她还在对着镜子问自己，是不是真的爱上易小言了，她迟疑了一下，最终还是没有点头，只是也没有摇头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你……',
  'chapters' => '204',
  'size' => '1372807',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1493101646',
  'dayvisit' => '26',
  'weekvisit' => '26',
  'monthvisit' => '130',
  'allvisit' => '143',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1491876896',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '1372807',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '131',
  'vippubid' => '0',
  'vipchapters' => '175',
  'vipsize' => '1192564',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '584418',
  'vipchapter' => '第204章 段龙的困惑',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;下午，易小言正在里屋和段洁商量怎么去制定一个计划，把那些金粉神不知鬼不觉的给弄出来，忽然听到玛琳在门口道：“易先生，门外有两个人来找您，说是一位姓林，一位叫包子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈！”易小言一听，立刻高兴的站了起来，像个孩子一样，脸上的兴奋再也掩饰不住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他三下两下窜到门那里，打开了房门，对玛琳说道：“好，你去开门。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是。”玛琳应了一声，就去开门了，而易小言则是轻手轻脚的藏到了门后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;包子和林志虎两个人这么久没有见过易老大了，心里自然是十分的激动，两个人在接到命令的时候……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '都市男女',
  'typename' => '都市男女',
  'size_c' => 686404,
  'size_k' => 687,
  'size_w' => 68.6,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1901/1901s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1901/1901s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1901/1901s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1901.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1901',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1901',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1901',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1901',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1901&cid=584243',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=131&cid=584418',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1901',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1901',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1901',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/12.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%E8%D6%D7%D3',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D1%DE%D3%F6%B6%BC%CA%D0%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1901.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)