array (
  'meta_keywords' => '倚世冰皇 柚子 修真武侠',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1903&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1903&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1903&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1903&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1903',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1490685752',
    'lastupdate' => '1490685752',
    'articlename' => '倚世冰皇',
    'articlecode' => 'yishibinghuang',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '12',
    'author' => '柚子',
    'posterid' => '12',
    'poster' => '柚子',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '32',
    'libid' => '0',
    'intro' => '谁又会想到，这个素有“冷面寒刀”之称的“灵魂收割者”只是一个十七岁的男孩。他的身体并不是多么强悍，也不是什么“武林高手”，但是他喜欢这种大混战，用他那灵活的身姿收割着一条条的生命。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '584458',
    'lastchapter' => '第十七章 初习魔法',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;重重地甩了甩发麻的脑袋，让自己清醒一下。昨晚自己睡的太沉了，日照三竿了才被反射进来的太阳强光叫醒。感应一下自己意识海中的水元素，却发现空空荡荡的，只有零散的飘着几颗。但细细查看会发现，意识海深深地角落，会有一些聚集在一起，被压缩过的水元素，这便是本命元素。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走出水帘 ，呼吸一下新鲜空气，感觉清爽了许多。走到潭水边上，看着倒影中颓废的自己，蹲下了将水拨开，拨散着颓废的面容。舀起水洗了洗脸，重新整理自己的头发，迎接新的一天。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;快速点水出洞，去寻找什么鸡呀兔呀什么的东西，来填饱自己的……',
    'chapters' => '56',
    'size' => '602161',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500464873',
    'dayvisit' => 0,
    'weekvisit' => '52',
    'monthvisit' => '130',
    'allvisit' => '780',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1491876876',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '174281',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '147',
    'vippubid' => '0',
    'vipchapters' => '40',
    'vipsize' => '427880',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '584498',
    'vipchapter' => '第五十七章 佳人初醒已成长',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“青龙出海之荡剑式！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随着一声轻喝，一条青色的水龙从一把晶莹雪白，寒气逼人的唐刀上奔腾而出。也许由于唐刀的原因，这条青龙看起来苍冷了不少。尤其是青龙的身体里，暗藏着一道亮白，为它更添一分寒气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;青龙怒吼着飞向远处的岩石崖壁，低沉的龙啸犹如在对敌人宣判死亡。带着腹中的那道亮白，青龙以不可挡之势，猛然撞击在石壁上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“轰！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;撞击处闪过一阵白芒。一声震山动地的巨响，夹杂着漫天飞舞的碎石，宣告着那面不高的石壁从此不复存在。四处溅落的石头，大小不一，不过上面都覆盖着一层……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '修真武侠',
    'sortname' => '修真武侠',
    'type' => '异世修真',
    'typename' => '异世修真',
    'size_c' => 301081,
    'size_k' => 302,
    'size_w' => 30.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1903/1903s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1903/1903s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1903/1903s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1903.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1903',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1903',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1903',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1903',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1903&cid=584458',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=147&cid=584498',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1903',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1903',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1903',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/12.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%E8%D6%D7%D3',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D2%D0%CA%C0%B1%F9%BB%CA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1903.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1903',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1490685752',
  'lastupdate' => '1490685752',
  'articlename' => '倚世冰皇',
  'articlecode' => 'yishibinghuang',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '12',
  'author' => '柚子',
  'posterid' => '12',
  'poster' => '柚子',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '32',
  'libid' => '0',
  'intro' => '谁又会想到，这个素有“冷面寒刀”之称的“灵魂收割者”只是一个十七岁的男孩。他的身体并不是多么强悍，也不是什么“武林高手”，但是他喜欢这种大混战，用他那灵活的身姿收割着一条条的生命。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '584458',
  'lastchapter' => '第十七章 初习魔法',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;重重地甩了甩发麻的脑袋，让自己清醒一下。昨晚自己睡的太沉了，日照三竿了才被反射进来的太阳强光叫醒。感应一下自己意识海中的水元素，却发现空空荡荡的，只有零散的飘着几颗。但细细查看会发现，意识海深深地角落，会有一些聚集在一起，被压缩过的水元素，这便是本命元素。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走出水帘 ，呼吸一下新鲜空气，感觉清爽了许多。走到潭水边上，看着倒影中颓废的自己，蹲下了将水拨开，拨散着颓废的面容。舀起水洗了洗脸，重新整理自己的头发，迎接新的一天。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;快速点水出洞，去寻找什么鸡呀兔呀什么的东西，来填饱自己的……',
  'chapters' => '56',
  'size' => '602161',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500464873',
  'dayvisit' => 0,
  'weekvisit' => '52',
  'monthvisit' => '130',
  'allvisit' => '780',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1491876876',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '174281',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '147',
  'vippubid' => '0',
  'vipchapters' => '40',
  'vipsize' => '427880',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '584498',
  'vipchapter' => '第五十七章 佳人初醒已成长',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“青龙出海之荡剑式！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随着一声轻喝，一条青色的水龙从一把晶莹雪白，寒气逼人的唐刀上奔腾而出。也许由于唐刀的原因，这条青龙看起来苍冷了不少。尤其是青龙的身体里，暗藏着一道亮白，为它更添一分寒气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;青龙怒吼着飞向远处的岩石崖壁，低沉的龙啸犹如在对敌人宣判死亡。带着腹中的那道亮白，青龙以不可挡之势，猛然撞击在石壁上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“轰！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;撞击处闪过一阵白芒。一声震山动地的巨响，夹杂着漫天飞舞的碎石，宣告着那面不高的石壁从此不复存在。四处溅落的石头，大小不一，不过上面都覆盖着一层……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '修真武侠',
  'sortname' => '修真武侠',
  'type' => '异世修真',
  'typename' => '异世修真',
  'size_c' => 301081,
  'size_k' => 302,
  'size_w' => 30.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1903/1903s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1903/1903s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1903/1903s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1903.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1903',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1903',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1903',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1903',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1903&cid=584458',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=147&cid=584498',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1903',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1903',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1903',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/12.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%E8%D6%D7%D3',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D2%D0%CA%C0%B1%F9%BB%CA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1903.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)