array (
  'meta_keywords' => '弃女复仇：总裁的桃花债 雨霏霏 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1905&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1905&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1905&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1905&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1905',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1490685872',
    'lastupdate' => '1490685872',
    'articlename' => '弃女复仇：总裁的桃花债',
    'articlecode' => 'qinvfuchou_zongcaidetaohuazhai',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Q',
    'authorid' => '5',
    'author' => '雨霏霏',
    'posterid' => '5',
    'poster' => '雨霏霏',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '3',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp; 蓝奇满头黑线，身为蓝家继承人，他还是第一次被人说不是东西，居然还怀疑他的支票？这也不能怪护士长没见识，她也就是一个小医院的小领班，连10万对她都是奢侈，她哪里见过有人要一百万赔偿几块钱的器皿的人？在她眼里这种人就是傻逼！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '584581',
    'lastchapter' => '第32章 上了贼船',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;进了奢侈的别墅，别墅两侧排满了穿着军绿色军装的军人，面色肃然，威风凌凌！起初她是有些不自然，但是也渐渐习惯，淡然微笑着向他们笑着致敬。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;绕过百花堆叠的硕大花园，杜婷婷才走进了别墅，聂冷慕向她介绍道:“屋外的花园是婉儿最喜欢的地方，她说她喜欢推开窗，看到满园花开。”说着，聂冷慕浅浅一笑，指着别墅内的欧式复古楼梯，笑道:“她以前总住在楼上向阳的那间房，所以能看到花开。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜婷婷略微有些苦涩地笑道:“我不想听到她的名字，希望你能够理解。而且我来这里也不是听你回忆的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;聂冷慕尴尬……',
    'chapters' => '184',
    'size' => '1063139',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500427171',
    'dayvisit' => 0,
    'weekvisit' => '26',
    'monthvisit' => '117',
    'allvisit' => '832',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1491802790',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '1063139',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '111',
    'vippubid' => '0',
    'vipchapters' => '139',
    'vipsize' => '865817',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '584733',
    'vipchapter' => '第183章 修成正果',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;宫浅在半个月后终于从昏迷中醒了过来，当时，她睁开眼睛看到胡子拉碴的叶恬，吓得差点再次昏厥。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你是谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当叶恬听到这个问题的时候，脑袋都大了，无奈地说道：“浅浅，我的样子变化有那么大吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“叶恬？你这模样算怎么回事。”宫浅望着他，连最起码的反应是什么样的都不知道了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见到宫浅眼底的嫌弃，叶恬立马离了位置，说道：“我现在回去剃胡子，浅浅你等我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一溜烟就走了，宫浅连说话的机会都没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为这一天杜婷婷正好过来给叶恬送饭，所以见证了宫浅醒来的时候，……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '70',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 531570,
    'size_k' => 532,
    'size_w' => 53.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1905/1905s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1905/1905s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1905/1905s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1905.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1905',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1905',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1905',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1905',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1905&cid=584581',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=111&cid=584733',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1905',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1905',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1905',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/5.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%EA%F6%AD%F6%AD',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C6%FA%C5%AE%B8%B4%B3%F0%A3%BA%D7%DC%B2%C3%B5%C4%CC%D2%BB%A8%D5%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1905.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1905',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1490685872',
  'lastupdate' => '1490685872',
  'articlename' => '弃女复仇：总裁的桃花债',
  'articlecode' => 'qinvfuchou_zongcaidetaohuazhai',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Q',
  'authorid' => '5',
  'author' => '雨霏霏',
  'posterid' => '5',
  'poster' => '雨霏霏',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '3',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp; 蓝奇满头黑线，身为蓝家继承人，他还是第一次被人说不是东西，居然还怀疑他的支票？这也不能怪护士长没见识，她也就是一个小医院的小领班，连10万对她都是奢侈，她哪里见过有人要一百万赔偿几块钱的器皿的人？在她眼里这种人就是傻逼！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '584581',
  'lastchapter' => '第32章 上了贼船',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;进了奢侈的别墅，别墅两侧排满了穿着军绿色军装的军人，面色肃然，威风凌凌！起初她是有些不自然，但是也渐渐习惯，淡然微笑着向他们笑着致敬。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;绕过百花堆叠的硕大花园，杜婷婷才走进了别墅，聂冷慕向她介绍道:“屋外的花园是婉儿最喜欢的地方，她说她喜欢推开窗，看到满园花开。”说着，聂冷慕浅浅一笑，指着别墅内的欧式复古楼梯，笑道:“她以前总住在楼上向阳的那间房，所以能看到花开。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜婷婷略微有些苦涩地笑道:“我不想听到她的名字，希望你能够理解。而且我来这里也不是听你回忆的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;聂冷慕尴尬……',
  'chapters' => '184',
  'size' => '1063139',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500427171',
  'dayvisit' => 0,
  'weekvisit' => '26',
  'monthvisit' => '117',
  'allvisit' => '832',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1491802790',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '1063139',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '111',
  'vippubid' => '0',
  'vipchapters' => '139',
  'vipsize' => '865817',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '584733',
  'vipchapter' => '第183章 修成正果',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;宫浅在半个月后终于从昏迷中醒了过来，当时，她睁开眼睛看到胡子拉碴的叶恬，吓得差点再次昏厥。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你是谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当叶恬听到这个问题的时候，脑袋都大了，无奈地说道：“浅浅，我的样子变化有那么大吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“叶恬？你这模样算怎么回事。”宫浅望着他，连最起码的反应是什么样的都不知道了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见到宫浅眼底的嫌弃，叶恬立马离了位置，说道：“我现在回去剃胡子，浅浅你等我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一溜烟就走了，宫浅连说话的机会都没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为这一天杜婷婷正好过来给叶恬送饭，所以见证了宫浅醒来的时候，……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '70',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 531570,
  'size_k' => 532,
  'size_w' => 53.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1905/1905s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1905/1905s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1905/1905s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1905.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1905',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1905',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1905',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1905',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1905&cid=584581',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=111&cid=584733',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1905',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1905',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1905',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/5.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%EA%F6%AD%F6%AD',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C6%FA%C5%AE%B8%B4%B3%F0%A3%BA%D7%DC%B2%C3%B5%C4%CC%D2%BB%A8%D5%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1905.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)