array (
  'meta_keywords' => '破灭纪元 浮生 修真武侠',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1906&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1906&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1906&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1906&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1906',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1490685899',
    'lastupdate' => '1490685899',
    'articlename' => '破灭纪元',
    'articlecode' => 'pomiejiyuan',
    'backupname' => '',
    'keywords' => '修真 热血 升级',
    'roles' => '',
    'initial' => 'P',
    'authorid' => '27',
    'author' => '浮生',
    'posterid' => '5',
    'poster' => '雨霏霏',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '0',
    'libid' => '0',
    'intro' => ' 十八岁的苏武来到了清玄山冲虚门，希望可以进入冲虚们当弟子，可冲虚们执事弟子陈阳却不让他入门，因为冲虚们的入门标准非常的高，十八岁之前能达到九重通灵境的人才可以入门，可苏武今天却是十八岁零一天，所以只差这一天的时间，苏武就不能入冲虚门，而本来只差这一天是可以通融的，但陈阳却因为看不惯苏武的一身傲气，而把苏武的名字从册子上划掉，就在苏武准备离开的时候，陈阳突然灵机一动，想到了一个可以折磨苏武的好办法，就是让苏武进冲虚门当杂役，弟子当不成了，就只能当杂役，不过为了可以学习武功，苏武还是咬了咬牙答应了陈阳的话，成为了陈阳玩弄的对象，就在大家都在练武的时候，苏武到山上去采药，却失足掉到了一个巨大的洞里，最让他惊讶的是这个洞里竟然还有一只巨大的怪物.....',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '0',
    'lastchapter' => '',
    'lastsummary' => '',
    'chapters' => '314',
    'size' => '2053512',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500592377',
    'dayvisit' => '26',
    'weekvisit' => '182',
    'monthvisit' => '585',
    'allvisit' => '3224',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1491741359',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '2053512',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '107',
    'vippubid' => '0',
    'vipchapters' => '296',
    'vipsize' => '1936687',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '585047',
    'vipchapter' => '第十八章 迷雾（大结局）',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;雷霄神剑进阶中品道器，竟然如此异动，也是出乎苏武预料，好不容易打发了一众前来贺喜的长老和弟子，才与雪凝香一道，回了飘雪峰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;雷霄进阶中品道器，威力大增，摸样也是大变，其上再无明显的雷光电弧，不催动之时，就是朴素至极的一柄法剑，可是真正催动起来，那才是毁天灭地的道器神剑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于雷霄的具体妙用，仓促之间，苏武也是没有去一一查看，想着空暇下来，在慢慢探索不迟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于雷霄的器灵，更是不可能因为进阶中品道器而孕育出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;苏武也渐渐明白，道器是可以孕育器灵，但也仅是说可以罢了……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '79',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '修真武侠',
    'sortname' => '修真武侠',
    'type' => '',
    'typename' => '',
    'size_c' => 1026756,
    'size_k' => 1027,
    'size_w' => 102.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1906/1906s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1906/1906s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1906/1906s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1906.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1906',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1906',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1906',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1906',
    'url_lastchapter' => '',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=107&cid=585047',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1906',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1906',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1906',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/27.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C6%C6%C3%F0%BC%CD%D4%AA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1906.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1906',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1490685899',
  'lastupdate' => '1490685899',
  'articlename' => '破灭纪元',
  'articlecode' => 'pomiejiyuan',
  'backupname' => '',
  'keywords' => '修真 热血 升级',
  'roles' => '',
  'initial' => 'P',
  'authorid' => '27',
  'author' => '浮生',
  'posterid' => '5',
  'poster' => '雨霏霏',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '0',
  'libid' => '0',
  'intro' => ' 十八岁的苏武来到了清玄山冲虚门，希望可以进入冲虚们当弟子，可冲虚们执事弟子陈阳却不让他入门，因为冲虚们的入门标准非常的高，十八岁之前能达到九重通灵境的人才可以入门，可苏武今天却是十八岁零一天，所以只差这一天的时间，苏武就不能入冲虚门，而本来只差这一天是可以通融的，但陈阳却因为看不惯苏武的一身傲气，而把苏武的名字从册子上划掉，就在苏武准备离开的时候，陈阳突然灵机一动，想到了一个可以折磨苏武的好办法，就是让苏武进冲虚门当杂役，弟子当不成了，就只能当杂役，不过为了可以学习武功，苏武还是咬了咬牙答应了陈阳的话，成为了陈阳玩弄的对象，就在大家都在练武的时候，苏武到山上去采药，却失足掉到了一个巨大的洞里，最让他惊讶的是这个洞里竟然还有一只巨大的怪物.....',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '0',
  'lastchapter' => '',
  'lastsummary' => '',
  'chapters' => '314',
  'size' => '2053512',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500592377',
  'dayvisit' => '26',
  'weekvisit' => '182',
  'monthvisit' => '585',
  'allvisit' => '3224',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1491741359',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '2053512',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '107',
  'vippubid' => '0',
  'vipchapters' => '296',
  'vipsize' => '1936687',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '585047',
  'vipchapter' => '第十八章 迷雾（大结局）',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;雷霄神剑进阶中品道器，竟然如此异动，也是出乎苏武预料，好不容易打发了一众前来贺喜的长老和弟子，才与雪凝香一道，回了飘雪峰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;雷霄进阶中品道器，威力大增，摸样也是大变，其上再无明显的雷光电弧，不催动之时，就是朴素至极的一柄法剑，可是真正催动起来，那才是毁天灭地的道器神剑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于雷霄的具体妙用，仓促之间，苏武也是没有去一一查看，想着空暇下来，在慢慢探索不迟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于雷霄的器灵，更是不可能因为进阶中品道器而孕育出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;苏武也渐渐明白，道器是可以孕育器灵，但也仅是说可以罢了……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '79',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '修真武侠',
  'sortname' => '修真武侠',
  'type' => '',
  'typename' => '',
  'size_c' => 1026756,
  'size_k' => 1027,
  'size_w' => 102.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1906/1906s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1906/1906s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1906/1906s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1906.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1906',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1906',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1906',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1906',
  'url_lastchapter' => '',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=107&cid=585047',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1906',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1906',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1906',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/27.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C6%C6%C3%F0%BC%CD%D4%AA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1906.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '修真',
      'tagencode' => '%D0%DE%D5%E6',
    ),
    1 => 
    array (
      'tagname' => '热血',
      'tagencode' => '%C8%C8%D1%AA',
    ),
    2 => 
    array (
      'tagname' => '升级',
      'tagencode' => '%C9%FD%BC%B6',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 3,
    'addrows' => 0,
    'loops' => 3,
    'index' => 3,
    'order' => 3,
    'row' => 3,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '升级',
      'tagencode' => '%C9%FD%BC%B6',
    ),
    'key' => 2,
    'append' => 0,
  ),
)