array (
  'meta_keywords' => '崛起于武侠世界 浮生 修真武侠',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1910&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1910&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1910&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1910&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1910',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1490686024',
    'lastupdate' => '1490686024',
    'articlename' => '崛起于武侠世界',
    'articlecode' => 'jueqiyuwuxiashijie',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'J',
    'authorid' => '27',
    'author' => '浮生',
    'posterid' => '5',
    'poster' => '雨霏霏',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '32',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;李云飞想着自己在陆小凤传奇和小李飞刀中几年的经历，怎么也不认为那是做梦。直到有一天，他好像真的进入到了那个世界。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '585457',
    'lastchapter' => '二十一章：进入密室',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;六个孩子同时放出弩箭。 李云飞忙拔出剑来，把击向自己和击向花如令，苦智禅师的弩箭给打落。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小凤也飞身而去，抓住了射向鹰眼老七和袁大侠的那几只弩箭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小凤看着自己手中的弩箭，喊道：“箭有毒，快走！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;几人运起轻功向大厅飞去。李云飞在后面打落那些小孩子的弩箭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;关上客厅的大门，用所有可以挡住门的东西把门给挡住。这时一箭箭射进大厅，一箭射到了袁大侠的肩上，花满楼忙点了他几处大穴，然后拉着他跑进大厅里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是那笛声，声声刺耳，听了后让人头脑发晕，除了李云飞，陆小凤……',
    'chapters' => '379',
    'size' => '1997684',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500464035',
    'dayvisit' => 0,
    'weekvisit' => '91',
    'monthvisit' => '468',
    'allvisit' => '2577',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1492585006',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '133386',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '148',
    'vippubid' => '0',
    'vipchapters' => '358',
    'vipsize' => '1864298',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '585815',
    'vipchapter' => '三百七十八章：露出破绽',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;聂风和步惊云两人应了一声，转身离开。 而李云飞则到了骆仙在的那个屋子里，看护那个可能是这镇子上唯一一个的活口。李云飞把骆仙一个人放在这个屋子里，就是想试试这个骆仙。看她会不会把这个人灭口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要知道，骆仙现在虽然没有表露身份。但是，李云飞也不敢动他，谁让他是帝释天的关门弟子呢！所以，李云飞只是想知道，帝释天派骆仙来是干什么的。是和原著一样，是想要骆仙和聂风配对。还是有其他想法。所以，李云飞想把骆仙给揭露出来。但是，光靠之前的那些，都算不得证据。骆仙只要随便找点借口就可以了。李云飞也不敢……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '80',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '修真武侠',
    'sortname' => '修真武侠',
    'type' => '异世修真',
    'typename' => '异世修真',
    'size_c' => 998842,
    'size_k' => 999,
    'size_w' => 99.9,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1910/1910s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1910/1910s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1910/1910s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1910.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1910',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1910',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1910',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1910',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1910&cid=585457',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=148&cid=585815',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1910',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1910',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1910',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/27.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%E1%C8%C6%F0%D3%DA%CE%E4%CF%C0%CA%C0%BD%E7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1910.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1910',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1490686024',
  'lastupdate' => '1490686024',
  'articlename' => '崛起于武侠世界',
  'articlecode' => 'jueqiyuwuxiashijie',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'J',
  'authorid' => '27',
  'author' => '浮生',
  'posterid' => '5',
  'poster' => '雨霏霏',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '32',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;李云飞想着自己在陆小凤传奇和小李飞刀中几年的经历，怎么也不认为那是做梦。直到有一天，他好像真的进入到了那个世界。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '585457',
  'lastchapter' => '二十一章：进入密室',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;六个孩子同时放出弩箭。 李云飞忙拔出剑来，把击向自己和击向花如令，苦智禅师的弩箭给打落。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小凤也飞身而去，抓住了射向鹰眼老七和袁大侠的那几只弩箭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小凤看着自己手中的弩箭，喊道：“箭有毒，快走！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;几人运起轻功向大厅飞去。李云飞在后面打落那些小孩子的弩箭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;关上客厅的大门，用所有可以挡住门的东西把门给挡住。这时一箭箭射进大厅，一箭射到了袁大侠的肩上，花满楼忙点了他几处大穴，然后拉着他跑进大厅里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是那笛声，声声刺耳，听了后让人头脑发晕，除了李云飞，陆小凤……',
  'chapters' => '379',
  'size' => '1997684',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500464035',
  'dayvisit' => 0,
  'weekvisit' => '91',
  'monthvisit' => '468',
  'allvisit' => '2577',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1492585006',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '133386',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '148',
  'vippubid' => '0',
  'vipchapters' => '358',
  'vipsize' => '1864298',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '585815',
  'vipchapter' => '三百七十八章：露出破绽',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;聂风和步惊云两人应了一声，转身离开。 而李云飞则到了骆仙在的那个屋子里，看护那个可能是这镇子上唯一一个的活口。李云飞把骆仙一个人放在这个屋子里，就是想试试这个骆仙。看她会不会把这个人灭口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要知道，骆仙现在虽然没有表露身份。但是，李云飞也不敢动他，谁让他是帝释天的关门弟子呢！所以，李云飞只是想知道，帝释天派骆仙来是干什么的。是和原著一样，是想要骆仙和聂风配对。还是有其他想法。所以，李云飞想把骆仙给揭露出来。但是，光靠之前的那些，都算不得证据。骆仙只要随便找点借口就可以了。李云飞也不敢……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '80',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '修真武侠',
  'sortname' => '修真武侠',
  'type' => '异世修真',
  'typename' => '异世修真',
  'size_c' => 998842,
  'size_k' => 999,
  'size_w' => 99.9,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1910/1910s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1910/1910s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1910/1910s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1910.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1910',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1910',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1910',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1910',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1910&cid=585457',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=148&cid=585815',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1910',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1910',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1910',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/27.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%E1%C8%C6%F0%D3%DA%CE%E4%CF%C0%CA%C0%BD%E7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1910.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)