array (
  'meta_keywords' => '深情不辜负 一杯水 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1916&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1916&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1916&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1916&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '2',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1916',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1490859457',
    'lastupdate' => '1494172399',
    'articlename' => '深情不辜负',
    'articlecode' => 'shenqingbugufu',
    'backupname' => '你的一往情深，他都舍不得辜负！',
    'keywords' => '温馨 甜蜜',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '55',
    'author' => '一杯水',
    'posterid' => '55',
    'poster' => '一杯水',
    'agentid' => '1797',
    'agent' => '楚先生',
    'sortid' => '1',
    'typeid' => '4',
    'libid' => '0',
    'intro' => '沈晴回家补办丢失了的身份证，尽管三年高中都是在X城度过的，但对于路痴的沈晴来说，依然陌生。<br />
X城也有些新变化，这更是给沈晴增加了很大难度。<br />
下了大巴车，沈晴拉着24寸的行李箱，顺着笔直的路向前走，走到十字路口停下，不知该怎么走，向过路人打听，还有很远才到站牌处。连经过的出租车都是向相反方向，沈晴突然觉得很悲哀。<br />
这时一辆白色奥迪停在沈晴面前，沈晴觉得这是大神来拯救自己了，并且还是那么帅。<br />
',
    'notice' => '也许你不是最好的你，我也不是最好的我。但我和你加在一起，就是最好的我们。不要着急，请耐心等待，对的人总会遇见的。相爱的人也不舍得说再见。',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '595855',
    'lastchapter' => '第十七章挑选礼物',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“说起来，叶锦和杨乐这一周最近总是有事，我们连一起吃饭的时间都没有了。”沈晴满脸的不解，注视着顾阜，好像在让顾阜给自己一个明确的答复。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“也许是忙吧。”然后顾阜很随意地说，不敢与沈晴的眼睛对视，就害怕，一看见她的眼眸，自己眼神就闪烁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真是傻瓜，她们这是在为我们创造二人空间。如果我这样说了，沈小猫一定会内疚的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“沈晴，我想和你商量一件事。”顾阜很自然地把排骨放在沈晴饭碗里，很轻松地转移话题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么事，你说。”沈晴连头都不抬，正在和碗里面的饭菜作斗争。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顾阜..',
    'chapters' => '46',
    'size' => '241724',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500515698',
    'dayvisit' => 0,
    'weekvisit' => '247',
    'monthvisit' => '663',
    'allvisit' => '9906',
    'lastvote' => '1494215472',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '317',
    'goodnum' => '13',
    'reviewsnum' => '13',
    'ratenum' => 195,
    'ratesum' => 1781,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1492254589',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1492776978',
    'freesize' => '98618',
    'isvip' => '签约',
    'viptime' => '1494172399',
    'vipid' => '106',
    'vippubid' => '0',
    'vipchapters' => '29',
    'vipsize' => '143074',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '596605',
    'vipchapter' => '第四十六章照片风波',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;众人都在包间里坐定之后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咱们先点菜吧，边吃边说。”刘婉婷先开口打破局面。刘婉婷似笑非笑地盯着沈晴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈晴不着急，好戏才敢刚开始，我们先填饱肚子，再开战，否则，我担心，一会大家都吃不下饭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈晴不是没有察觉到刘婉婷投向自己的视线。多一事不如少一事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这时，包厢的门发出一些声音，众人的视线都被吸引过去，只有杨乐淡定坐着看菜单。林一一和叶锦推门进入。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“扰了你们的雅兴真是不好意思，但我们，忘记带钥匙了，拿了钥匙就走。”林一一似乎说的很合乎情理，脸上带着得体的笑。..',
    'lastflower' => '1491720682',
    'allflower' => '1',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '2',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '校园',
    'typename' => '校园',
    'size_c' => 120862,
    'size_k' => 121,
    'size_w' => 12.1,
    'rateavg' => '9.1',
    'rateavg_i' => 9,
    'rateavg_d' => 1,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1916/1916s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1916/1916s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1916/1916s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1916.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1916',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1916',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1916',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1916',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1916&cid=595855',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=106&cid=596605',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1916',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1916',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1916',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/55.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D2%BB%B1%AD%CB%AE',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%EE%C7%E9%B2%BB%B9%BC%B8%BA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1916.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1916',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1490859457',
  'lastupdate' => '1494172399',
  'articlename' => '深情不辜负',
  'articlecode' => 'shenqingbugufu',
  'backupname' => '你的一往情深，他都舍不得辜负！',
  'keywords' => '温馨 甜蜜',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '55',
  'author' => '一杯水',
  'posterid' => '55',
  'poster' => '一杯水',
  'agentid' => '1797',
  'agent' => '楚先生',
  'sortid' => '1',
  'typeid' => '4',
  'libid' => '0',
  'intro' => '沈晴回家补办丢失了的身份证，尽管三年高中都是在X城度过的，但对于路痴的沈晴来说，依然陌生。<br />
X城也有些新变化，这更是给沈晴增加了很大难度。<br />
下了大巴车，沈晴拉着24寸的行李箱，顺着笔直的路向前走，走到十字路口停下，不知该怎么走，向过路人打听，还有很远才到站牌处。连经过的出租车都是向相反方向，沈晴突然觉得很悲哀。<br />
这时一辆白色奥迪停在沈晴面前，沈晴觉得这是大神来拯救自己了，并且还是那么帅。<br />
',
  'notice' => '也许你不是最好的你，我也不是最好的我。但我和你加在一起，就是最好的我们。不要着急，请耐心等待，对的人总会遇见的。相爱的人也不舍得说再见。',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '595855',
  'lastchapter' => '第十七章挑选礼物',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“说起来，叶锦和杨乐这一周最近总是有事，我们连一起吃饭的时间都没有了。”沈晴满脸的不解，注视着顾阜，好像在让顾阜给自己一个明确的答复。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“也许是忙吧。”然后顾阜很随意地说，不敢与沈晴的眼睛对视，就害怕，一看见她的眼眸，自己眼神就闪烁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真是傻瓜，她们这是在为我们创造二人空间。如果我这样说了，沈小猫一定会内疚的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“沈晴，我想和你商量一件事。”顾阜很自然地把排骨放在沈晴饭碗里，很轻松地转移话题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么事，你说。”沈晴连头都不抬，正在和碗里面的饭菜作斗争。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顾阜..',
  'chapters' => '46',
  'size' => '241724',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500515698',
  'dayvisit' => 0,
  'weekvisit' => '247',
  'monthvisit' => '663',
  'allvisit' => '9906',
  'lastvote' => '1494215472',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '317',
  'goodnum' => '13',
  'reviewsnum' => 15,
  'ratenum' => 195,
  'ratesum' => 1781,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1492254589',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1492776978',
  'freesize' => '98618',
  'isvip' => '签约',
  'viptime' => '1494172399',
  'vipid' => '106',
  'vippubid' => '0',
  'vipchapters' => '29',
  'vipsize' => '143074',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '596605',
  'vipchapter' => '第四十六章照片风波',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;众人都在包间里坐定之后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咱们先点菜吧，边吃边说。”刘婉婷先开口打破局面。刘婉婷似笑非笑地盯着沈晴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈晴不着急，好戏才敢刚开始，我们先填饱肚子，再开战，否则，我担心，一会大家都吃不下饭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈晴不是没有察觉到刘婉婷投向自己的视线。多一事不如少一事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这时，包厢的门发出一些声音，众人的视线都被吸引过去，只有杨乐淡定坐着看菜单。林一一和叶锦推门进入。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“扰了你们的雅兴真是不好意思，但我们，忘记带钥匙了，拿了钥匙就走。”林一一似乎说的很合乎情理，脸上带着得体的笑。..',
  'lastflower' => '1491720682',
  'allflower' => '1',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '校园',
  'typename' => '校园',
  'size_c' => 120862,
  'size_k' => 121,
  'size_w' => 12.1,
  'rateavg' => '9.1',
  'rateavg_i' => 9,
  'rateavg_d' => 1,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1916/1916s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1916/1916s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1916/1916s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1916.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1916',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1916',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1916',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1916',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1916&cid=595855',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=106&cid=596605',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1916',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1916',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1916',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/55.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D2%BB%B1%AD%CB%AE',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%EE%C7%E9%B2%BB%B9%BC%B8%BA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1916.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '温馨',
      'tagencode' => '%CE%C2%DC%B0',
    ),
    1 => 
    array (
      'tagname' => '甜蜜',
      'tagencode' => '%CC%F0%C3%DB',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 2,
    'addrows' => 0,
    'loops' => 2,
    'index' => 2,
    'order' => 2,
    'row' => 2,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '甜蜜',
      'tagencode' => '%CC%F0%C3%DB',
    ),
    'key' => 1,
    'append' => 0,
  ),
)