array (
  'meta_keywords' => '总裁的出逃情人 香芋奶茶 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1924&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1924&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1924&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1924&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1924',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1490878901',
    'lastupdate' => '1499893381',
    'articlename' => '总裁的出逃情人',
    'articlecode' => 'zongcaidechutaoqingren',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '0',
    'author' => '香芋奶茶',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '3',
    'libid' => '0',
    'intro' => '卢静潇跟了他两年，最后，他却在她高烧的时候跟别人订婚了。<br />
卢静潇拿着行李就要出走，他却又死缠烂打各种纠葛。<br />
卢静潇怒极：“爱不起也就算了，还放不下，司南渊你特么的是不是男人？”<br />
某人一脸的无害：“我是不是男人你不知道吗？”<br />
司南渊是青市最著名的商场新贵，出道几年，强占了青市三分之二的市场，更与本市的龙头老大杨家独女定下了婚约，显赫无二。<br />
然而，传闻，这个男人却为了一个不知名的女人放弃了联姻，得罪了杨家，甚至惹来了杀身之祸。<br />
他最后悔的事情就是，为什么要兜兜转转许久，他才明白什么是最重要的？<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '608001',
    'lastchapter' => '第三百八十一章 负气回家',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;哄哄的引擎发动声音充斥着卢静潇的耳蜗，看着旁边不自然的司南渊，卢静潇的眉头紧紧的拧在了一起。<br />
车慢慢行驶过闹市行驶......',
    'chapters' => '381',
    'size' => '909235',
    'daysize' => '5320',
    'weeksize' => '0',
    'monthsize' => '0',
    'lastvisit' => '1499904868',
    'dayvisit' => '13',
    'weekvisit' => '169',
    'monthvisit' => '559',
    'allvisit' => '8086',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1490923292',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '909235',
    'isvip' => '签约',
    'viptime' => '1498726341',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '4278',
    'vipsize' => '4278',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '607048',
    'vipchapter' => '第三百五十七章 前因后果',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;白色的烟雾一缕一缕缠绕在齐湄的之间，寇红色的指甲显得更加艳丽而又危险，一口烟圈自那抹鲜红的唇瓣里轻轻吐出，慢慢的升......',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '11',
    'sourcetime' => '1490878901',
    'sourcecover' => 'http://src.static.dayuread.com/cover/52/1477966949.jpg',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 454618,
    'size_k' => 455,
    'size_w' => 45.5,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1924/1924s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1924/1924s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1924/1924s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1924.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1924',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1924',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1924',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1924',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1924&cid=608001',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=607048',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1924',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1924',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1924',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%E3%D3%F3%C4%CC%B2%E8',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%E3%D3%F3%C4%CC%B2%E8',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D7%DC%B2%C3%B5%C4%B3%F6%CC%D3%C7%E9%C8%CB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1924.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1924',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1490878901',
  'lastupdate' => '1499893381',
  'articlename' => '总裁的出逃情人',
  'articlecode' => 'zongcaidechutaoqingren',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '0',
  'author' => '香芋奶茶',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '3',
  'libid' => '0',
  'intro' => '卢静潇跟了他两年，最后，他却在她高烧的时候跟别人订婚了。<br />
卢静潇拿着行李就要出走，他却又死缠烂打各种纠葛。<br />
卢静潇怒极：“爱不起也就算了，还放不下，司南渊你特么的是不是男人？”<br />
某人一脸的无害：“我是不是男人你不知道吗？”<br />
司南渊是青市最著名的商场新贵，出道几年，强占了青市三分之二的市场，更与本市的龙头老大杨家独女定下了婚约，显赫无二。<br />
然而，传闻，这个男人却为了一个不知名的女人放弃了联姻，得罪了杨家，甚至惹来了杀身之祸。<br />
他最后悔的事情就是，为什么要兜兜转转许久，他才明白什么是最重要的？<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '608001',
  'lastchapter' => '第三百八十一章 负气回家',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;哄哄的引擎发动声音充斥着卢静潇的耳蜗，看着旁边不自然的司南渊，卢静潇的眉头紧紧的拧在了一起。<br />
车慢慢行驶过闹市行驶......',
  'chapters' => '381',
  'size' => '909235',
  'daysize' => '5320',
  'weeksize' => '0',
  'monthsize' => '0',
  'lastvisit' => '1499904868',
  'dayvisit' => '13',
  'weekvisit' => '169',
  'monthvisit' => '559',
  'allvisit' => '8086',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1490923292',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '909235',
  'isvip' => '签约',
  'viptime' => '1498726341',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '4278',
  'vipsize' => '4278',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '607048',
  'vipchapter' => '第三百五十七章 前因后果',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;白色的烟雾一缕一缕缠绕在齐湄的之间，寇红色的指甲显得更加艳丽而又危险，一口烟圈自那抹鲜红的唇瓣里轻轻吐出，慢慢的升......',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '11',
  'sourcetime' => '1490878901',
  'sourcecover' => 'http://src.static.dayuread.com/cover/52/1477966949.jpg',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 454618,
  'size_k' => 455,
  'size_w' => 45.5,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1924/1924s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1924/1924s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1924/1924s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1924.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1924',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1924',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1924',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1924',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1924&cid=608001',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=607048',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1924',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1924',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1924',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%E3%D3%F3%C4%CC%B2%E8',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%E3%D3%F3%C4%CC%B2%E8',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D7%DC%B2%C3%B5%C4%B3%F6%CC%D3%C7%E9%C8%CB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1924.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)