array (
  'meta_keywords' => '渣男请回：拒婚陆大少 萌的发芽 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1925&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1925&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1925&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1925&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1925',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1490880222',
    'lastupdate' => '1499895088',
    'articlename' => '渣男请回：拒婚陆大少',
    'articlecode' => 'zhananqinghui_juhunludashao',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '0',
    'author' => '萌的发芽',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '3',
    'libid' => '0',
    'intro' => '一觉醒来，发现自己躺在准妹夫的床上，而且身上有类似小说里描写一夜情过后的反应——<br />
然后，准妹夫居然要娶她？<br />
再然后，为毛他的小叔居然是她的初恋男友？两人还为了女人大打出手，可惜那个女人不是她。<br />
婚礼上新郎失踪，她成了全城笑柄。<br />
怀孕两月，他却要娶别的女人。<br />
她舍情绝爱，为何他却又要穷追不舍，还千方百计将她家的公司重整，送到她跟前来？<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '608002',
    'lastchapter' => '第两百五十二章 砸砸砸',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;薛知遥皱皱眉头，眼中有着怜悯，她对梅妤琴说道：“没错，我是没做过什么，正是因为我什么都没有做，所以，不会有人怪我。......',
    'chapters' => '252',
    'size' => '933989',
    'daysize' => '6440',
    'weeksize' => '0',
    'monthsize' => '0',
    'lastvisit' => '1499901730',
    'dayvisit' => '104',
    'weekvisit' => '923',
    'monthvisit' => '3601',
    'allvisit' => '36361',
    'lastvote' => '1491395121',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '2',
    'goodnum' => '2',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1490923259',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '933989',
    'isvip' => '签约',
    'viptime' => '1498727942',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '6476',
    'vipsize' => '6476',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '607050',
    'vipchapter' => '第两百四十一章 探监',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;依靠男人的宠爱而生活，也许能幸福，但若有一天这宠爱不再了呢？<br />
他什么也不愿意再为她付出，那么，对于这个女人来说，就......',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '11',
    'sourcetime' => '1490880222',
    'sourcecover' => 'http://src.static.dayuread.com/cover/53/1479609592.jpg',
    'orderby' => '70',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 466995,
    'size_k' => 467,
    'size_w' => 46.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1925/1925s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1925/1925s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1925/1925l.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1925.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1925',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1925',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1925',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1925',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1925&cid=608002',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=607050',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1925',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1925',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1925',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%C8%B5%C4%B7%A2%D1%BF',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%C8%B5%C4%B7%A2%D1%BF',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D4%FC%C4%D0%C7%EB%BB%D8%A3%BA%BE%DC%BB%E9%C2%BD%B4%F3%C9%D9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1925.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1925',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1490880222',
  'lastupdate' => '1499895088',
  'articlename' => '渣男请回：拒婚陆大少',
  'articlecode' => 'zhananqinghui_juhunludashao',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '0',
  'author' => '萌的发芽',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '3',
  'libid' => '0',
  'intro' => '一觉醒来，发现自己躺在准妹夫的床上，而且身上有类似小说里描写一夜情过后的反应——<br />
然后，准妹夫居然要娶她？<br />
再然后，为毛他的小叔居然是她的初恋男友？两人还为了女人大打出手，可惜那个女人不是她。<br />
婚礼上新郎失踪，她成了全城笑柄。<br />
怀孕两月，他却要娶别的女人。<br />
她舍情绝爱，为何他却又要穷追不舍，还千方百计将她家的公司重整，送到她跟前来？<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '608002',
  'lastchapter' => '第两百五十二章 砸砸砸',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;薛知遥皱皱眉头，眼中有着怜悯，她对梅妤琴说道：“没错，我是没做过什么，正是因为我什么都没有做，所以，不会有人怪我。......',
  'chapters' => '252',
  'size' => '933989',
  'daysize' => '6440',
  'weeksize' => '0',
  'monthsize' => '0',
  'lastvisit' => '1499901730',
  'dayvisit' => '104',
  'weekvisit' => '923',
  'monthvisit' => '3601',
  'allvisit' => '36361',
  'lastvote' => '1491395121',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '2',
  'goodnum' => '2',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1490923259',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '933989',
  'isvip' => '签约',
  'viptime' => '1498727942',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '6476',
  'vipsize' => '6476',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '607050',
  'vipchapter' => '第两百四十一章 探监',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;依靠男人的宠爱而生活，也许能幸福，但若有一天这宠爱不再了呢？<br />
他什么也不愿意再为她付出，那么，对于这个女人来说，就......',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '11',
  'sourcetime' => '1490880222',
  'sourcecover' => 'http://src.static.dayuread.com/cover/53/1479609592.jpg',
  'orderby' => '70',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 466995,
  'size_k' => 467,
  'size_w' => 46.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1925/1925s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1925/1925s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1925/1925l.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1925.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1925',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1925',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1925',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1925',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1925&cid=608002',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=607050',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1925',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1925',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1925',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%C8%B5%C4%B7%A2%D1%BF',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%C8%B5%C4%B7%A2%D1%BF',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D4%FC%C4%D0%C7%EB%BB%D8%A3%BA%BE%DC%BB%E9%C2%BD%B4%F3%C9%D9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1925.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)