array (
  'meta_keywords' => '我的盗墓事件簿 三三得久 灵异悬疑',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1930&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1930&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1930&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1930&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1930',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1490885271',
    'lastupdate' => '1499817950',
    'articlename' => '我的盗墓事件簿',
    'articlecode' => 'wodedaomushijianbu',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'W',
    'authorid' => '0',
    'author' => '三三得久',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '11',
    'typeid' => '41',
    'libid' => '0',
    'intro' => '一本残破的古书，引人无意中踏入盗墓寻宝之路，几经周折，发现鲜为人知的秘密，揭开千古奇墓，华阳道长铸下晋代竹林七贤的思君镜，俞伯牙钟子期永久的高山流水，青楼女子李思思的琵琶……<br />
一系列挖坟掘墓的故事诞生，悬疑重重，充满惊险奇幻，又有武艺高强、豪放不羁的绝世美女……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '607361',
    'lastchapter' => '第五十六章：怪异的女子声音',
    'lastsummary' => '&nbsp;&nbsp;<br />
小雯见我这么说，于是也就答应了，说道：“燕子说的也对，咱们也只能先填饱肚子再说，这秋天的夜本来就黑得快，一会儿天色黑......',
    'chapters' => '269',
    'size' => '1968580',
    'daysize' => 0,
    'weeksize' => '0',
    'monthsize' => '0',
    'lastvisit' => '1499863245',
    'dayvisit' => 0,
    'weekvisit' => '351',
    'monthvisit' => '1196',
    'allvisit' => '7722',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1490922964',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '13953',
    'isvip' => '签约',
    'viptime' => '1498736639',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '6639',
    'vipsize' => '6639',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '607057',
    'vipchapter' => '第三十三章：感人的场景',
    'vipsummary' => '&nbsp;&nbsp;<br />
王医生看见我们这样，递给了我们纸巾，我看得出他的眼睛也是湿润了。<br />
但是，作为一名专业的医生，是不能被自己的情绪控制的，......',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '11',
    'sourcetime' => '1490885271',
    'sourcecover' => 'http://src.static.dayuread.com/cover/62/1478145747.jpg',
    'orderby' => '95',
    'recommend' => '灵异盗墓系列，专业领域公号投放效果非常好',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '灵异悬疑',
    'sortname' => '灵异悬疑',
    'type' => '悬疑探险',
    'typename' => '悬疑探险',
    'size_c' => 984290,
    'size_k' => 985,
    'size_w' => 98.4,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1930/1930s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1930/1930s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1930/1930s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1930.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1930',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1930',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1930',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1930',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1930&cid=607361',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=607057',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1930',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1930',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1930',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C8%FD%C8%FD%B5%C3%BE%C3',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C8%FD%C8%FD%B5%C3%BE%C3',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D2%B5%C4%B5%C1%C4%B9%CA%C2%BC%FE%B2%BE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1930.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1930',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1490885271',
  'lastupdate' => '1499817950',
  'articlename' => '我的盗墓事件簿',
  'articlecode' => 'wodedaomushijianbu',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'W',
  'authorid' => '0',
  'author' => '三三得久',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '11',
  'typeid' => '41',
  'libid' => '0',
  'intro' => '一本残破的古书，引人无意中踏入盗墓寻宝之路，几经周折，发现鲜为人知的秘密，揭开千古奇墓，华阳道长铸下晋代竹林七贤的思君镜，俞伯牙钟子期永久的高山流水，青楼女子李思思的琵琶……<br />
一系列挖坟掘墓的故事诞生，悬疑重重，充满惊险奇幻，又有武艺高强、豪放不羁的绝世美女……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '607361',
  'lastchapter' => '第五十六章：怪异的女子声音',
  'lastsummary' => '&nbsp;&nbsp;<br />
小雯见我这么说，于是也就答应了，说道：“燕子说的也对，咱们也只能先填饱肚子再说，这秋天的夜本来就黑得快，一会儿天色黑......',
  'chapters' => '269',
  'size' => '1968580',
  'daysize' => 0,
  'weeksize' => '0',
  'monthsize' => '0',
  'lastvisit' => '1499863245',
  'dayvisit' => 0,
  'weekvisit' => '351',
  'monthvisit' => '1196',
  'allvisit' => '7722',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1490922964',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '13953',
  'isvip' => '签约',
  'viptime' => '1498736639',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '6639',
  'vipsize' => '6639',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '607057',
  'vipchapter' => '第三十三章：感人的场景',
  'vipsummary' => '&nbsp;&nbsp;<br />
王医生看见我们这样，递给了我们纸巾，我看得出他的眼睛也是湿润了。<br />
但是，作为一名专业的医生，是不能被自己的情绪控制的，......',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '11',
  'sourcetime' => '1490885271',
  'sourcecover' => 'http://src.static.dayuread.com/cover/62/1478145747.jpg',
  'orderby' => '95',
  'recommend' => '灵异盗墓系列，专业领域公号投放效果非常好',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '灵异悬疑',
  'sortname' => '灵异悬疑',
  'type' => '悬疑探险',
  'typename' => '悬疑探险',
  'size_c' => 984290,
  'size_k' => 985,
  'size_w' => 98.4,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1930/1930s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1930/1930s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1930/1930s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1930.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1930',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1930',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1930',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1930',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1930&cid=607361',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=607057',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1930',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1930',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1930',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C8%FD%C8%FD%B5%C3%BE%C3',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C8%FD%C8%FD%B5%C3%BE%C3',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D2%B5%C4%B5%C1%C4%B9%CA%C2%BC%FE%B2%BE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1930.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)