array (
  'meta_keywords' => '美女总裁的贴身保镖 三三得久 都市热血',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1932&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1932&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1932&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1932&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1932',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1490888663',
    'lastupdate' => '1499909250',
    'articlename' => '美女总裁的贴身保镖',
    'articlecode' => 'meinvzongcaidetieshenbaobiao',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'M',
    'authorid' => '0',
    'author' => '三三得久',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '36',
    'libid' => '0',
    'intro' => '救了个人，却被误认为是色狼，还无辜挨了一巴掌。这个美女总裁是祸水，也是麻烦。<br />
与美女朝夕相见，本是一件无数男人梦寐以求的美事，可江洹却和美女总裁过上了“你看我厌，我看你烦”的悲剧生活……<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '590523',
    'lastchapter' => '第0340章 撕破脸皮',
    'lastsummary' => '&nbsp;&nbsp;<br />
“小锋现在很安全，只不过你永远也见不到他了，”梅静的声音犹如一阵阴风，吹得白江洲打心底发寒。<br />
“什么？你到底要做什么？......',
    'chapters' => '340',
    'size' => '1994014',
    'daysize' => '4218',
    'weeksize' => '0',
    'monthsize' => '0',
    'lastvisit' => '1499908556',
    'dayvisit' => '117',
    'weekvisit' => '1547',
    'monthvisit' => '6331',
    'allvisit' => '16575',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 1,
    'ratesum' => 10,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1490922897',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '0',
    'isvip' => '签约',
    'viptime' => '1498742757',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '6644',
    'vipsize' => '6644',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '591389',
    'vipchapter' => '第0494章 大结局：找到了属于自己的幸福',
    'vipsummary' => '&nbsp;&nbsp;<br />
“四大至尊之一的亡灵至尊？！”苏老头脸直接扭曲了，声音带着浓浓的惊骇。<br />
“看来我的名头也挺响亮的嘛，居然还有人知道，”......',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '11',
    'sourcetime' => '1490888663',
    'sourcecover' => 'http://src.static.dayuread.com/cover/64/1478263764.jpg',
    'peregold' => '5',
    'orderby' => '99',
    'recommend' => '效果非常棒，后期留存率极高，重复充值率高',
    'permission_n' => '1',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '都市热血',
    'sortname' => '都市热血',
    'type' => '职场商战',
    'typename' => '职场商战',
    'size_c' => 997007,
    'size_k' => 998,
    'size_w' => 99.7,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1932/1932s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1932/1932s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1932/1932s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1932.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1932',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1932',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1932',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1932',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1932&cid=590523',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=591389',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1932',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1932',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1932',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C8%FD%C8%FD%B5%C3%BE%C3',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C8%FD%C8%FD%B5%C3%BE%C3',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C3%C0%C5%AE%D7%DC%B2%C3%B5%C4%CC%F9%C9%ED%B1%A3%EF%DA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1932.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1932',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1490888663',
  'lastupdate' => '1499909250',
  'articlename' => '美女总裁的贴身保镖',
  'articlecode' => 'meinvzongcaidetieshenbaobiao',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'M',
  'authorid' => '0',
  'author' => '三三得久',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '36',
  'libid' => '0',
  'intro' => '救了个人，却被误认为是色狼，还无辜挨了一巴掌。这个美女总裁是祸水，也是麻烦。<br />
与美女朝夕相见，本是一件无数男人梦寐以求的美事，可江洹却和美女总裁过上了“你看我厌，我看你烦”的悲剧生活……<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '590523',
  'lastchapter' => '第0340章 撕破脸皮',
  'lastsummary' => '&nbsp;&nbsp;<br />
“小锋现在很安全，只不过你永远也见不到他了，”梅静的声音犹如一阵阴风，吹得白江洲打心底发寒。<br />
“什么？你到底要做什么？......',
  'chapters' => '340',
  'size' => '1994014',
  'daysize' => '4218',
  'weeksize' => '0',
  'monthsize' => '0',
  'lastvisit' => '1499908556',
  'dayvisit' => '117',
  'weekvisit' => '1547',
  'monthvisit' => '6331',
  'allvisit' => '16575',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 1,
  'ratesum' => 10,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1490922897',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '0',
  'isvip' => '签约',
  'viptime' => '1498742757',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '6644',
  'vipsize' => '6644',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '591389',
  'vipchapter' => '第0494章 大结局：找到了属于自己的幸福',
  'vipsummary' => '&nbsp;&nbsp;<br />
“四大至尊之一的亡灵至尊？！”苏老头脸直接扭曲了，声音带着浓浓的惊骇。<br />
“看来我的名头也挺响亮的嘛，居然还有人知道，”......',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '11',
  'sourcetime' => '1490888663',
  'sourcecover' => 'http://src.static.dayuread.com/cover/64/1478263764.jpg',
  'peregold' => '5',
  'orderby' => '99',
  'recommend' => '效果非常棒，后期留存率极高，重复充值率高',
  'permission_n' => '1',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '都市热血',
  'sortname' => '都市热血',
  'type' => '职场商战',
  'typename' => '职场商战',
  'size_c' => 997007,
  'size_k' => 998,
  'size_w' => 99.7,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1932/1932s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1932/1932s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1932/1932s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1932.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1932',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1932',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1932',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1932',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1932&cid=590523',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=591389',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1932',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1932',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1932',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C8%FD%C8%FD%B5%C3%BE%C3',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C8%FD%C8%FD%B5%C3%BE%C3',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C3%C0%C5%AE%D7%DC%B2%C3%B5%C4%CC%F9%C9%ED%B1%A3%EF%DA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1932.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)