array (
  'meta_keywords' => '萧萧梧桐落谢庭 雁回 古代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1935&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1935&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1935&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1935&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1935',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1491036136',
    'lastupdate' => '1498766017',
    'articlename' => '萧萧梧桐落谢庭',
    'articlecode' => 'xiaoxiaowutongluoxieting',
    'backupname' => '波谲云诡中生长出的爱情，怎会怕什么阴谋阳谋',
    'keywords' => '宫斗 宅斗 女强 逆袭',
    'roles' => '',
    'initial' => 'X',
    'authorid' => '1469',
    'author' => '雁回',
    'posterid' => '1469',
    'poster' => '雁回',
    'agentid' => '1644',
    'agent' => '宫羽',
    'sortid' => '2',
    'typeid' => '7',
    'libid' => '0',
    'intro' => '萧然出生在行商之家，一路摸爬滚打中，世故人情都已经看透，她向来知道自己想要什么，知道什么时候该做什么事。<br />
如果谢景琛不出现的话，萧然只会有两种结局，或许与仇人同归于尽，或许隐于江湖。<br />
她以为在尔虞我诈中自己的早已是块石头，可是那个傻瓜，便连她的这颗石头心都捂得滚烫。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '595878',
    'lastchapter' => '第三十四章&nbsp;&nbsp;双管齐下（二）',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;京兆尹王成武一看来了这么多难民，便问官差道：“这是怎么回事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“回禀大人，据这些人所说，他们是樊城的人，因为陆老爷侵占了他们的土地，他们才来陆府门口喧哗。因为恰好碰上，他们便一并跟来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王成武只觉得一个头两个大，这一个案子还没有头绪，就又多了一个案子。也没有办法，只能一个一个来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“樊城的百姓先稍安勿躁，本官先审完陈青家的案子，再来审你们的，你们放心，本官一定公平公正，尔等耐心等候。”王成武一拍惊堂木，说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;樊城的百姓们纷纷磕头，异口同声道：“草民相信大人。..',
    'chapters' => '159',
    'size' => '700634',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500654946',
    'dayvisit' => '13',
    'weekvisit' => '455',
    'monthvisit' => '1300',
    'allvisit' => '11271',
    'lastvote' => '1500477394',
    'dayvote' => 0,
    'weekvote' => '1',
    'monthvote' => '1',
    'allvote' => '41',
    'goodnum' => '4',
    'reviewsnum' => '0',
    'ratenum' => 9,
    'ratesum' => 89,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1491802415',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1492881297',
    'freesize' => '183856',
    'isvip' => 'VIP',
    'viptime' => '1498766017',
    'vipid' => '161',
    'vippubid' => '0',
    'vipchapters' => '125',
    'vipsize' => '526493',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '607070',
    'vipchapter' => '第一百五十八章&nbsp;&nbsp;兄妹之谊',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;玄风何尝不了解萧然心中的愧疚，他着实不想她觉得愧对他，那比萧然不爱他还难受。他唯一的贪心，就是已然能够亲近萧然，让萧然视他亦兄亦友，这至少能让萧然开心的记住他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好吧，你不说，那我来问。”玄风的笑令人如沐春风，他问萧然道：“你真的想好了与他在一起吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;萧然再次垂下了眸子，喃喃道：“我不知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这么逃避问题并不是萧然的作风，可见谢景琛对她的影响有多大。玄风压下心中一阵一阵的酸涩，说：“其实这次你们之间的问题，并不能只怪世子一个人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;闻言萧然抬头不解的望着他。<br />
..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '宫廷',
    'typename' => '宫廷',
    'size_c' => 350317,
    'size_k' => 351,
    'size_w' => 35,
    'rateavg' => '9.9',
    'rateavg_i' => 9,
    'rateavg_d' => 9,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1935/1935s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1935/1935s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1935/1935s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1935.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1935',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1935',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1935',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1935',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1935&cid=595878',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=161&cid=607070',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1935',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1935',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1935',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/1469.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D1%E3%BB%D8',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CF%F4%CF%F4%CE%E0%CD%A9%C2%E4%D0%BB%CD%A5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1935.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1935',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1491036136',
  'lastupdate' => '1498766017',
  'articlename' => '萧萧梧桐落谢庭',
  'articlecode' => 'xiaoxiaowutongluoxieting',
  'backupname' => '波谲云诡中生长出的爱情，怎会怕什么阴谋阳谋',
  'keywords' => '宫斗 宅斗 女强 逆袭',
  'roles' => '',
  'initial' => 'X',
  'authorid' => '1469',
  'author' => '雁回',
  'posterid' => '1469',
  'poster' => '雁回',
  'agentid' => '1644',
  'agent' => '宫羽',
  'sortid' => '2',
  'typeid' => '7',
  'libid' => '0',
  'intro' => '萧然出生在行商之家，一路摸爬滚打中，世故人情都已经看透，她向来知道自己想要什么，知道什么时候该做什么事。<br />
如果谢景琛不出现的话，萧然只会有两种结局，或许与仇人同归于尽，或许隐于江湖。<br />
她以为在尔虞我诈中自己的早已是块石头，可是那个傻瓜，便连她的这颗石头心都捂得滚烫。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '595878',
  'lastchapter' => '第三十四章&nbsp;&nbsp;双管齐下（二）',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;京兆尹王成武一看来了这么多难民，便问官差道：“这是怎么回事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“回禀大人，据这些人所说，他们是樊城的人，因为陆老爷侵占了他们的土地，他们才来陆府门口喧哗。因为恰好碰上，他们便一并跟来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王成武只觉得一个头两个大，这一个案子还没有头绪，就又多了一个案子。也没有办法，只能一个一个来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“樊城的百姓先稍安勿躁，本官先审完陈青家的案子，再来审你们的，你们放心，本官一定公平公正，尔等耐心等候。”王成武一拍惊堂木，说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;樊城的百姓们纷纷磕头，异口同声道：“草民相信大人。..',
  'chapters' => '159',
  'size' => '700634',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500654946',
  'dayvisit' => '13',
  'weekvisit' => '455',
  'monthvisit' => '1300',
  'allvisit' => '11271',
  'lastvote' => '1500477394',
  'dayvote' => 0,
  'weekvote' => '1',
  'monthvote' => '1',
  'allvote' => '41',
  'goodnum' => '4',
  'reviewsnum' => 1,
  'ratenum' => 9,
  'ratesum' => 89,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1491802415',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1492881297',
  'freesize' => '183856',
  'isvip' => 'VIP',
  'viptime' => '1498766017',
  'vipid' => '161',
  'vippubid' => '0',
  'vipchapters' => '125',
  'vipsize' => '526493',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '607070',
  'vipchapter' => '第一百五十八章&nbsp;&nbsp;兄妹之谊',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;玄风何尝不了解萧然心中的愧疚，他着实不想她觉得愧对他，那比萧然不爱他还难受。他唯一的贪心，就是已然能够亲近萧然，让萧然视他亦兄亦友，这至少能让萧然开心的记住他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好吧，你不说，那我来问。”玄风的笑令人如沐春风，他问萧然道：“你真的想好了与他在一起吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;萧然再次垂下了眸子，喃喃道：“我不知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这么逃避问题并不是萧然的作风，可见谢景琛对她的影响有多大。玄风压下心中一阵一阵的酸涩，说：“其实这次你们之间的问题，并不能只怪世子一个人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;闻言萧然抬头不解的望着他。<br />
..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '宫廷',
  'typename' => '宫廷',
  'size_c' => 350317,
  'size_k' => 351,
  'size_w' => 35,
  'rateavg' => '9.9',
  'rateavg_i' => 9,
  'rateavg_d' => 9,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1935/1935s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1935/1935s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1935/1935s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1935.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1935',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1935',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1935',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1935',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1935&cid=595878',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=161&cid=607070',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1935',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1935',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1935',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/1469.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D1%E3%BB%D8',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CF%F4%CF%F4%CE%E0%CD%A9%C2%E4%D0%BB%CD%A5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1935.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '宫斗',
      'tagencode' => '%B9%AC%B6%B7',
    ),
    1 => 
    array (
      'tagname' => '宅斗',
      'tagencode' => '%D5%AC%B6%B7',
    ),
    2 => 
    array (
      'tagname' => '女强',
      'tagencode' => '%C5%AE%C7%BF',
    ),
    3 => 
    array (
      'tagname' => '逆袭',
      'tagencode' => '%C4%E6%CF%AE',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 4,
    'addrows' => 0,
    'loops' => 4,
    'index' => 4,
    'order' => 4,
    'row' => 4,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '逆袭',
      'tagencode' => '%C4%E6%CF%AE',
    ),
    'key' => 3,
    'append' => 0,
  ),
)