array (
  'meta_keywords' => '腹黑男之美艳赠品 薄荷味凉 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1937&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1937&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1937&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1937&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1937',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1491800326',
    'lastupdate' => '1491800326',
    'articlename' => '腹黑男之美艳赠品',
    'articlecode' => 'fuheinanzhimeiyanzengpin',
    'backupname' => '盛情难却之步步掠情',
    'keywords' => '腹黑 暖心 美艳娇妻',
    'roles' => '',
    'initial' => 'F',
    'authorid' => '1623',
    'author' => '薄荷味凉',
    'posterid' => '1623',
    'poster' => '薄荷味凉',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '3',
    'libid' => '0',
    'intro' => '“起来了，小猪，”叶信安边着装边拍拍身边光裸诱人的小屁股：“来不及了，快点！” <br />
“再…一下…”撒赖的声音因为慵懒而显得低沉，透着十足的性感。 <br />
叶信安好笑的瞥她一眼，弯腰穿鞋顺便再拍一下小屁屁警告：“不骗你，快一点半了，想再迟到吗？” <br />
呻吟一声，凌乱床铺上的诱人女郎由趴卧的手肘间睁开一眼：“催催催……用力气的都是你，为什么你精神这么好…讨厌！”',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '591761',
    'lastchapter' => '第七章 女郞',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“不用了，信安，”何跃夏缓缓坐起，低垂着眼，鼻音浓重道：“虎哥，我……我对不起你……我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何飞虎仍然跪坐着：“夏天，我的兄弟……我可以托命的至交，请你不要……不要告诉我，你，你存了私心。”那语气中的祈求和痛苦教信安再度鼻酸难忍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两泡蓄着泪水的红眼眶鼓勇掀起，垮塌着露骨双肩，何耀夏摇头：“不是存心，从来……从来就不是存心，我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你爱水灵。”何飞虎支着茶几站起来，落座对面单人沙发：“我怎么会不知道？”摇摇头：“你是想隐藏，你也尽力了。”再次无奈摇头：“我是赢家，……',
    'chapters' => '24',
    'size' => '324478',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500037112',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '169',
    'allvisit' => '2041',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1491800354',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '324478',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '109',
    'vippubid' => '0',
    'vipchapters' => '17',
    'vipsize' => '179897',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '591778',
    'vipchapter' => '第二十四章 大结局',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;五年后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;飞腾在何艺诗，行雷行雨的打拼下，成功的将公司打进全国前五十，每一本最新的美国在杂志封面全是，这个满身霸气的女人，还有那高傲的样子，明明一个淡然的眼神却让人不寒而栗，看来是遗传了何飞虎。当年何飞虎宣布退位，由小女担任飞腾的现任总裁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;外界的媒体以及商业圈内，都在看飞腾究竟是如何灭亡，但是他们都小看了这个女人，如果一个普通男人一夜之间可以成为百万富翁，那么何艺诗，绝对会成为那个亿万富翁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;面对任何的竞争对手，都不要轻易的小看谁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“爸爸，外公，看看，妈妈又上……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 162239,
    'size_k' => 163,
    'size_w' => 16.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1937/1937s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1937/1937s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1937/1937s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1937.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1937',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1937',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1937',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1937',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1937&cid=591761',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=109&cid=591778',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1937',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1937',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1937',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/1623.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B1%A1%BA%C9%CE%B6%C1%B9',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B8%B9%BA%DA%C4%D0%D6%AE%C3%C0%D1%DE%D4%F9%C6%B7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1937.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1937',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1491800326',
  'lastupdate' => '1491800326',
  'articlename' => '腹黑男之美艳赠品',
  'articlecode' => 'fuheinanzhimeiyanzengpin',
  'backupname' => '盛情难却之步步掠情',
  'keywords' => '腹黑 暖心 美艳娇妻',
  'roles' => '',
  'initial' => 'F',
  'authorid' => '1623',
  'author' => '薄荷味凉',
  'posterid' => '1623',
  'poster' => '薄荷味凉',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '3',
  'libid' => '0',
  'intro' => '“起来了，小猪，”叶信安边着装边拍拍身边光裸诱人的小屁股：“来不及了，快点！” <br />
“再…一下…”撒赖的声音因为慵懒而显得低沉，透着十足的性感。 <br />
叶信安好笑的瞥她一眼，弯腰穿鞋顺便再拍一下小屁屁警告：“不骗你，快一点半了，想再迟到吗？” <br />
呻吟一声，凌乱床铺上的诱人女郎由趴卧的手肘间睁开一眼：“催催催……用力气的都是你，为什么你精神这么好…讨厌！”',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '591761',
  'lastchapter' => '第七章 女郞',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“不用了，信安，”何跃夏缓缓坐起，低垂着眼，鼻音浓重道：“虎哥，我……我对不起你……我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何飞虎仍然跪坐着：“夏天，我的兄弟……我可以托命的至交，请你不要……不要告诉我，你，你存了私心。”那语气中的祈求和痛苦教信安再度鼻酸难忍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两泡蓄着泪水的红眼眶鼓勇掀起，垮塌着露骨双肩，何耀夏摇头：“不是存心，从来……从来就不是存心，我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你爱水灵。”何飞虎支着茶几站起来，落座对面单人沙发：“我怎么会不知道？”摇摇头：“你是想隐藏，你也尽力了。”再次无奈摇头：“我是赢家，……',
  'chapters' => '24',
  'size' => '324478',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500037112',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '169',
  'allvisit' => '2041',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1491800354',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '324478',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '109',
  'vippubid' => '0',
  'vipchapters' => '17',
  'vipsize' => '179897',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '591778',
  'vipchapter' => '第二十四章 大结局',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;五年后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;飞腾在何艺诗，行雷行雨的打拼下，成功的将公司打进全国前五十，每一本最新的美国在杂志封面全是，这个满身霸气的女人，还有那高傲的样子，明明一个淡然的眼神却让人不寒而栗，看来是遗传了何飞虎。当年何飞虎宣布退位，由小女担任飞腾的现任总裁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;外界的媒体以及商业圈内，都在看飞腾究竟是如何灭亡，但是他们都小看了这个女人，如果一个普通男人一夜之间可以成为百万富翁，那么何艺诗，绝对会成为那个亿万富翁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;面对任何的竞争对手，都不要轻易的小看谁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“爸爸，外公，看看，妈妈又上……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 162239,
  'size_k' => 163,
  'size_w' => 16.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1937/1937s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1937/1937s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1937/1937s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1937.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1937',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1937',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1937',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1937',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1937&cid=591761',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=109&cid=591778',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1937',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1937',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1937',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/1623.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B1%A1%BA%C9%CE%B6%C1%B9',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B8%B9%BA%DA%C4%D0%D6%AE%C3%C0%D1%DE%D4%F9%C6%B7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1937.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '腹黑',
      'tagencode' => '%B8%B9%BA%DA',
    ),
    1 => 
    array (
      'tagname' => '暖心',
      'tagencode' => '%C5%AF%D0%C4',
    ),
    2 => 
    array (
      'tagname' => '美艳娇妻',
      'tagencode' => '%C3%C0%D1%DE%BD%BF%C6%DE',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 3,
    'addrows' => 0,
    'loops' => 3,
    'index' => 3,
    'order' => 3,
    'row' => 3,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '美艳娇妻',
      'tagencode' => '%C3%C0%D1%DE%BD%BF%C6%DE',
    ),
    'key' => 2,
    'append' => 0,
  ),
)