array (
  'meta_keywords' => '黑道总裁宝贝妻 薄荷味凉 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1938&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1938&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1938&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1938&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1938',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1491800788',
    'lastupdate' => '1491800788',
    'articlename' => '黑道总裁宝贝妻',
    'articlecode' => 'heidaozongcaibaobeiqi',
    'backupname' => '叶小姐情迷黑道总裁',
    'keywords' => '霸道总裁 娇妻 密爱',
    'roles' => '',
    'initial' => 'H',
    'authorid' => '1623',
    'author' => '薄荷味凉',
    'posterid' => '1623',
    'poster' => '薄荷味凉',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '3',
    'libid' => '0',
    'intro' => '在由美国波士顿开往中国上海的飞机上，坐着刚从著名的哈弗大学毕业的叶欣，她双手捧着一杯热咖啡，沉浸在自己的思绪中，她想着自己已经三年没有回家了，现在终于毕业了，自己毅然放弃了在美国优厚的工作条件，一心回国，想的是早日与爸爸妈妈团聚，爸爸妈妈一定回来机场接自己的吧，因为好几天前她就已经将要回家的消息告诉他们了，今天上飞机之前也特地发了短信提醒，一想到一下飞机就可以见到爸爸妈妈，叶欣的心里就泛起一股子激动，等会见到爸爸妈妈一定要给他们一个大大的拥抱，她微笑着闭上了眼镜，刚过一小会就听到已经到达北京机场的消息，她迅速地拿起自己的行李，一下飞机就急急忙忙赶往机场出口，机场出口挤满了前来接机的人，许多人都举着一块牌子，写着某某人的名字，她的眼镜迅速扫过人群，却没有看到爸爸妈妈的人影，想着，难道爸爸妈妈可能派别人来接了，接着她看过所有人的牌子，她看过那些牌子，上面却没有自己的名字，这时一股凉意从心底里泛出，没想到爸爸妈妈还是这么不重视自己，对爸爸妈妈的恨意又涌上心头……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '591788',
    'lastchapter' => '第十章 欧阳妈妈驾到',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;一大清早欧阳源就走进叶心然的房间，他看着躺在床上的叶心然，她的眼镜轻轻地闭着，眼角还挂着泪水，一看就知道哭了一夜的，你要是以为欧阳源看着眼前憔悴的叶心然会慈心大发，让她继续睡，那你就错了，因为眼瞎还有更紧迫的事情逼迫着他，那就是他妈妈王圆美突然兴致大发地说来来看自己，而且要在他这里住上几天，从小到大大最让欧阳源头疼的就是这自己的妈妈，她走到哪里都是风风火火的，而且唯恐天下不乱，在她的才、人生词典里根本就没有形象这个词，她每次见到自己的老公或者是儿子都会抓着他们大亲一口，不管是在什么场合，……',
    'chapters' => '34',
    'size' => '321425',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500405215',
    'dayvisit' => '26',
    'weekvisit' => '91',
    'monthvisit' => '416',
    'allvisit' => '2834',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1491800808',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '321425',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '110',
    'vippubid' => '0',
    'vipchapters' => '17',
    'vipsize' => '143981',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '591812',
    'vipchapter' => '第三十四章 苏苏被绑架',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;时装发布会非常的成功，于是最近于朵亦的电话都快被打爆了，大家都在好奇于朵亦的能力，能够得到著名设计师adel的青睐，真的是能力很强吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这天，欧阳源刚刚准备出门的时候，恰好门铃响了，正在想是谁的时候，保姆打开了门，发现是王成，脸上全部都是焦急的表情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一进来，看到欧阳源还没有出门的时候，焦急的说道：“欧阳源……，还好……，还好你没有走！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着王成上气不接下气的样子，欧阳源以为身后有人追赶他，就直接朝着身后看了两眼，发现没有任何人的踪迹，说道：“没人追你啊，怎么这么着急啊？……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 160713,
    'size_k' => 161,
    'size_w' => 16.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1938/1938s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1938/1938s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1938/1938s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1938.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1938',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1938',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1938',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1938',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1938&cid=591788',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=110&cid=591812',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1938',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1938',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1938',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/1623.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B1%A1%BA%C9%CE%B6%C1%B9',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BA%DA%B5%C0%D7%DC%B2%C3%B1%A6%B1%B4%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1938.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1938',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1491800788',
  'lastupdate' => '1491800788',
  'articlename' => '黑道总裁宝贝妻',
  'articlecode' => 'heidaozongcaibaobeiqi',
  'backupname' => '叶小姐情迷黑道总裁',
  'keywords' => '霸道总裁 娇妻 密爱',
  'roles' => '',
  'initial' => 'H',
  'authorid' => '1623',
  'author' => '薄荷味凉',
  'posterid' => '1623',
  'poster' => '薄荷味凉',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '3',
  'libid' => '0',
  'intro' => '在由美国波士顿开往中国上海的飞机上，坐着刚从著名的哈弗大学毕业的叶欣，她双手捧着一杯热咖啡，沉浸在自己的思绪中，她想着自己已经三年没有回家了，现在终于毕业了，自己毅然放弃了在美国优厚的工作条件，一心回国，想的是早日与爸爸妈妈团聚，爸爸妈妈一定回来机场接自己的吧，因为好几天前她就已经将要回家的消息告诉他们了，今天上飞机之前也特地发了短信提醒，一想到一下飞机就可以见到爸爸妈妈，叶欣的心里就泛起一股子激动，等会见到爸爸妈妈一定要给他们一个大大的拥抱，她微笑着闭上了眼镜，刚过一小会就听到已经到达北京机场的消息，她迅速地拿起自己的行李，一下飞机就急急忙忙赶往机场出口，机场出口挤满了前来接机的人，许多人都举着一块牌子，写着某某人的名字，她的眼镜迅速扫过人群，却没有看到爸爸妈妈的人影，想着，难道爸爸妈妈可能派别人来接了，接着她看过所有人的牌子，她看过那些牌子，上面却没有自己的名字，这时一股凉意从心底里泛出，没想到爸爸妈妈还是这么不重视自己，对爸爸妈妈的恨意又涌上心头……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '591788',
  'lastchapter' => '第十章 欧阳妈妈驾到',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;一大清早欧阳源就走进叶心然的房间，他看着躺在床上的叶心然，她的眼镜轻轻地闭着，眼角还挂着泪水，一看就知道哭了一夜的，你要是以为欧阳源看着眼前憔悴的叶心然会慈心大发，让她继续睡，那你就错了，因为眼瞎还有更紧迫的事情逼迫着他，那就是他妈妈王圆美突然兴致大发地说来来看自己，而且要在他这里住上几天，从小到大大最让欧阳源头疼的就是这自己的妈妈，她走到哪里都是风风火火的，而且唯恐天下不乱，在她的才、人生词典里根本就没有形象这个词，她每次见到自己的老公或者是儿子都会抓着他们大亲一口，不管是在什么场合，……',
  'chapters' => '34',
  'size' => '321425',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500405215',
  'dayvisit' => '26',
  'weekvisit' => '91',
  'monthvisit' => '416',
  'allvisit' => '2834',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1491800808',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '321425',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '110',
  'vippubid' => '0',
  'vipchapters' => '17',
  'vipsize' => '143981',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '591812',
  'vipchapter' => '第三十四章 苏苏被绑架',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;时装发布会非常的成功，于是最近于朵亦的电话都快被打爆了，大家都在好奇于朵亦的能力，能够得到著名设计师adel的青睐，真的是能力很强吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这天，欧阳源刚刚准备出门的时候，恰好门铃响了，正在想是谁的时候，保姆打开了门，发现是王成，脸上全部都是焦急的表情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一进来，看到欧阳源还没有出门的时候，焦急的说道：“欧阳源……，还好……，还好你没有走！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着王成上气不接下气的样子，欧阳源以为身后有人追赶他，就直接朝着身后看了两眼，发现没有任何人的踪迹，说道：“没人追你啊，怎么这么着急啊？……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 160713,
  'size_k' => 161,
  'size_w' => 16.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1938/1938s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1938/1938s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1938/1938s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1938.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1938',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1938',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1938',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1938',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1938&cid=591788',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=110&cid=591812',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1938',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1938',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1938',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/1623.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B1%A1%BA%C9%CE%B6%C1%B9',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BA%DA%B5%C0%D7%DC%B2%C3%B1%A6%B1%B4%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1938.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '霸道总裁',
      'tagencode' => '%B0%D4%B5%C0%D7%DC%B2%C3',
    ),
    1 => 
    array (
      'tagname' => '娇妻',
      'tagencode' => '%BD%BF%C6%DE',
    ),
    2 => 
    array (
      'tagname' => '密爱',
      'tagencode' => '%C3%DC%B0%AE',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 3,
    'addrows' => 0,
    'loops' => 3,
    'index' => 3,
    'order' => 3,
    'row' => 3,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '密爱',
      'tagencode' => '%C3%DC%B0%AE',
    ),
    'key' => 2,
    'append' => 0,
  ),
)