array (
  'meta_keywords' => '白头吟 雨霏霏 古代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1940&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1940&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1940&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1940&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1940',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1491803647',
    'lastupdate' => '1491803647',
    'articlename' => '白头吟',
    'articlecode' => 'baitouyin',
    'backupname' => '一生一世一双人',
    'keywords' => '',
    'roles' => '',
    'initial' => 'B',
    'authorid' => '5',
    'author' => '雨霏霏',
    'posterid' => '5',
    'poster' => '雨霏霏',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '2',
    'typeid' => '7',
    'libid' => '0',
    'intro' => '故事女主文钰落是个出生就被诅咒为不祥的小国孟国的公主，故事以依附于靖澜皇朝的孟国派送落景公主文钰落赶往靖澜皇朝与靖澜皇朝手握重兵的炎王的龙睿联姻。<br />
两人在成亲之后发生的一系列的事中逐渐的对彼此产生了感情，龙睿带着钰落下江南游玩，顺便解决江湖上兴起的麒麟璧的事，两人也就在这段时间确定了彼此的感情',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '591867',
    'lastchapter' => '第二十九章：两个人逛夜市',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;龙睿看见钰落这样和一男子亲近自是很不高兴的于是黑着一张脸上前去拉下钰落拉着朝歌胳膊的手，然后紧紧的拽在自己手里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;心里想着回去要好好的惩罚小东西，让她记住，以后不准和任何人有这样亲密的行为虽然知道朝歌对自己皇兄的心意，还是很不爽他和钰落那么的亲近。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钰落一脸受不了龙睿这样霸道的行为，但心里却是暖暖的，朝歌则是“噗嗤”一声，然后整个人笑的前仰后合，“龙睿，真是想不到你也有会吃味的一天。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙睿面无表情，冷淡的道“落儿是我的妻子，我自是会为她吃味。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钰落的脸上涌现了……',
    'chapters' => '50',
    'size' => '306494',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500481207',
    'dayvisit' => 0,
    'weekvisit' => '91',
    'monthvisit' => '390',
    'allvisit' => '3653',
    'lastvote' => '1492415931',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '2',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 1,
    'ratesum' => 9,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1491809523',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '185303',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '114',
    'vippubid' => '0',
    'vipchapters' => '19',
    'vipsize' => '121191',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '591886',
    'vipchapter' => '第四十八章：大结局（二）',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;本来嘛当初把钰落送到靖澜皇朝去和亲就是为了把钰落赶走，结果现在人家是夫妻恩爱的回来了，那是谁，是靖澜皇朝手握重兵的炎王。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是以前那些看不起钰落的达官贵族包括钰落的那些兄妹也都在琢磨着怎么的来讨好钰落，主要是要讨好这位炎王。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;甚至不少公主与官家小姐都想着要借此机会和龙睿亲近亲近，要是能得到龙睿的另眼相看那么混个侧妃什么的也不是问题了，一时间孟国忙碌了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而两位正主确实不慌不忙的到了京城先在最大的酒楼美美的吃了饭，然后在别馆洗了澡，收拾了一番在进宫见孟国的国主与清妃。……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '宫廷',
    'typename' => '宫廷',
    'size_c' => 153247,
    'size_k' => 154,
    'size_w' => 15.3,
    'rateavg' => '9.0',
    'rateavg_i' => 9,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1940/1940s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1940/1940s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1940/1940s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1940.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1940',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1940',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1940',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1940',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1940&cid=591867',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=114&cid=591886',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1940',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1940',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1940',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/5.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%EA%F6%AD%F6%AD',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%D7%CD%B7%D2%F7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1940.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1940',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1491803647',
  'lastupdate' => '1491803647',
  'articlename' => '白头吟',
  'articlecode' => 'baitouyin',
  'backupname' => '一生一世一双人',
  'keywords' => '',
  'roles' => '',
  'initial' => 'B',
  'authorid' => '5',
  'author' => '雨霏霏',
  'posterid' => '5',
  'poster' => '雨霏霏',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '2',
  'typeid' => '7',
  'libid' => '0',
  'intro' => '故事女主文钰落是个出生就被诅咒为不祥的小国孟国的公主，故事以依附于靖澜皇朝的孟国派送落景公主文钰落赶往靖澜皇朝与靖澜皇朝手握重兵的炎王的龙睿联姻。<br />
两人在成亲之后发生的一系列的事中逐渐的对彼此产生了感情，龙睿带着钰落下江南游玩，顺便解决江湖上兴起的麒麟璧的事，两人也就在这段时间确定了彼此的感情',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '591867',
  'lastchapter' => '第二十九章：两个人逛夜市',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;龙睿看见钰落这样和一男子亲近自是很不高兴的于是黑着一张脸上前去拉下钰落拉着朝歌胳膊的手，然后紧紧的拽在自己手里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;心里想着回去要好好的惩罚小东西，让她记住，以后不准和任何人有这样亲密的行为虽然知道朝歌对自己皇兄的心意，还是很不爽他和钰落那么的亲近。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钰落一脸受不了龙睿这样霸道的行为，但心里却是暖暖的，朝歌则是“噗嗤”一声，然后整个人笑的前仰后合，“龙睿，真是想不到你也有会吃味的一天。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙睿面无表情，冷淡的道“落儿是我的妻子，我自是会为她吃味。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钰落的脸上涌现了……',
  'chapters' => '50',
  'size' => '306494',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500481207',
  'dayvisit' => 0,
  'weekvisit' => '91',
  'monthvisit' => '390',
  'allvisit' => '3653',
  'lastvote' => '1492415931',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '2',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 1,
  'ratesum' => 9,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1491809523',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '185303',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '114',
  'vippubid' => '0',
  'vipchapters' => '19',
  'vipsize' => '121191',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '591886',
  'vipchapter' => '第四十八章：大结局（二）',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;本来嘛当初把钰落送到靖澜皇朝去和亲就是为了把钰落赶走，结果现在人家是夫妻恩爱的回来了，那是谁，是靖澜皇朝手握重兵的炎王。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是以前那些看不起钰落的达官贵族包括钰落的那些兄妹也都在琢磨着怎么的来讨好钰落，主要是要讨好这位炎王。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;甚至不少公主与官家小姐都想着要借此机会和龙睿亲近亲近，要是能得到龙睿的另眼相看那么混个侧妃什么的也不是问题了，一时间孟国忙碌了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而两位正主确实不慌不忙的到了京城先在最大的酒楼美美的吃了饭，然后在别馆洗了澡，收拾了一番在进宫见孟国的国主与清妃。……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '宫廷',
  'typename' => '宫廷',
  'size_c' => 153247,
  'size_k' => 154,
  'size_w' => 15.3,
  'rateavg' => '9.0',
  'rateavg_i' => 9,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1940/1940s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1940/1940s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1940/1940s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1940.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1940',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1940',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1940',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1940',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1940&cid=591867',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=114&cid=591886',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1940',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1940',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1940',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/5.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D3%EA%F6%AD%F6%AD',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B0%D7%CD%B7%D2%F7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1940.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)