array (
  'meta_keywords' => '求爱婚姻，我要进豪门 雪灵舞 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1943&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1943&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1943&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1943&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1943',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1491806495',
    'lastupdate' => '1491806495',
    'articlename' => '求爱婚姻，我要进豪门',
    'articlecode' => 'qiuaihunyin_woyaojinhaomen',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Q',
    'authorid' => '15',
    'author' => '雪灵舞',
    'posterid' => '15',
    'poster' => '雪灵舞',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '3',
    'libid' => '0',
    'intro' => '夏天林的女儿夏兮瑶不慎掉进河里身亡，但夏天林的妻子白苏却无法忍受丧女之痛，整日精神欢呼，被医生确诊为是重度抑郁症，而且如果白苏的情况再不能缓解的话，很有可能会变成是神经病，为了可以拯救妻子，夏天林决定带孤儿院去领养一个孩子回来，让她代替夏兮瑶的位置，夏天林在孤儿院里挑选了一个叫做宋妍熙的女孩，因为这个女孩的眼睛和夏兮瑶特别相似，而这个女孩和夏兮瑶的年龄也相同，然而真正的夏兮瑶却没有死，而是被夏天林的情人带走了，夏天林的情人本来希望夏林天可以离婚，娶她当老婆，但夏林天却没有这么做，因为他心里最爱的还是白苏，为了报复夏林天的无情，夏天林的情人特意把自己的亲生女儿放进孤儿院，然后偷偷带走夏兮瑶，为的就是让夏兮瑶.....<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '592068',
    'lastchapter' => '第47章 谁对谁负责',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;夏兮瑶着实有些为难，如果对方是时银哥的话，她想她会很乐意和他扮夫妻的。可对方恰恰是暗殇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不可能，小鬼，别得寸进尺。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;暗殇毫不客气的威胁着这个只有五六岁的小男孩，他不是什么伟大的家伙，不会为了一个孩子做这种无聊的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至今为止，遇到夏兮瑶之后，他做的这些事情都已经够无聊的了，在继续这样疯狂下去，他都觉得自己不像是黑帮老大的儿子了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“干嘛对他凶啊，孩子又有什么错呢？真是的，你就帮他一次又怎样？我做他妈妈，你做他爸爸，中间还隔着一个他呢，你怕什么？难不成还怕我……',
    'chapters' => '196',
    'size' => '1057936',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500514515',
    'dayvisit' => 0,
    'weekvisit' => '78',
    'monthvisit' => '286',
    'allvisit' => '2353',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 1,
    'ratesum' => 10,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1491809394',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '291333',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '112',
    'vippubid' => '0',
    'vipchapters' => '150',
    'vipsize' => '766603',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '592218',
    'vipchapter' => '第199章 她失踪了？',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“混蛋，允诺哥就是混蛋！明明说只爱我一个人的，为什么要把我自己一个人丢在这里？你们到底有没有想过我的心情？我真的真的好想回家啊。为什么要这样对我。呜呜。“<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一边蹲在地上嚎啕大哭着，一边不甘心的愤怒的抱怨着这半年来所受的不公平待遇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一直以来，她的这些痛苦都无人倾诉，只能自己一个人默默的承受着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;谁都想做好人，她曾经也是单纯善良的女子。难道只有夏熙瑶一个人是好人么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是谁又真的在乎？连允诺哥都不在乎自己的话，那个家，现在还容得下自己么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏允诺就站在她的身后……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '70',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 528968,
    'size_k' => 529,
    'size_w' => 52.9,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1943/1943s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1943/1943s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1943/1943s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1943.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1943',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1943',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1943',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1943',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1943&cid=592068',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=112&cid=592218',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1943',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1943',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1943',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/15.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D1%A9%C1%E9%CE%E8',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%F3%B0%AE%BB%E9%D2%F6%A3%AC%CE%D2%D2%AA%BD%F8%BA%C0%C3%C5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1943.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1943',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1491806495',
  'lastupdate' => '1491806495',
  'articlename' => '求爱婚姻，我要进豪门',
  'articlecode' => 'qiuaihunyin_woyaojinhaomen',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Q',
  'authorid' => '15',
  'author' => '雪灵舞',
  'posterid' => '15',
  'poster' => '雪灵舞',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '3',
  'libid' => '0',
  'intro' => '夏天林的女儿夏兮瑶不慎掉进河里身亡，但夏天林的妻子白苏却无法忍受丧女之痛，整日精神欢呼，被医生确诊为是重度抑郁症，而且如果白苏的情况再不能缓解的话，很有可能会变成是神经病，为了可以拯救妻子，夏天林决定带孤儿院去领养一个孩子回来，让她代替夏兮瑶的位置，夏天林在孤儿院里挑选了一个叫做宋妍熙的女孩，因为这个女孩的眼睛和夏兮瑶特别相似，而这个女孩和夏兮瑶的年龄也相同，然而真正的夏兮瑶却没有死，而是被夏天林的情人带走了，夏天林的情人本来希望夏林天可以离婚，娶她当老婆，但夏林天却没有这么做，因为他心里最爱的还是白苏，为了报复夏林天的无情，夏天林的情人特意把自己的亲生女儿放进孤儿院，然后偷偷带走夏兮瑶，为的就是让夏兮瑶.....<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '592068',
  'lastchapter' => '第47章 谁对谁负责',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;夏兮瑶着实有些为难，如果对方是时银哥的话，她想她会很乐意和他扮夫妻的。可对方恰恰是暗殇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不可能，小鬼，别得寸进尺。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;暗殇毫不客气的威胁着这个只有五六岁的小男孩，他不是什么伟大的家伙，不会为了一个孩子做这种无聊的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至今为止，遇到夏兮瑶之后，他做的这些事情都已经够无聊的了，在继续这样疯狂下去，他都觉得自己不像是黑帮老大的儿子了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“干嘛对他凶啊，孩子又有什么错呢？真是的，你就帮他一次又怎样？我做他妈妈，你做他爸爸，中间还隔着一个他呢，你怕什么？难不成还怕我……',
  'chapters' => '196',
  'size' => '1057936',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500514515',
  'dayvisit' => 0,
  'weekvisit' => '78',
  'monthvisit' => '286',
  'allvisit' => '2353',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 1,
  'ratesum' => 10,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1491809394',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '291333',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '112',
  'vippubid' => '0',
  'vipchapters' => '150',
  'vipsize' => '766603',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '592218',
  'vipchapter' => '第199章 她失踪了？',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“混蛋，允诺哥就是混蛋！明明说只爱我一个人的，为什么要把我自己一个人丢在这里？你们到底有没有想过我的心情？我真的真的好想回家啊。为什么要这样对我。呜呜。“<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一边蹲在地上嚎啕大哭着，一边不甘心的愤怒的抱怨着这半年来所受的不公平待遇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一直以来，她的这些痛苦都无人倾诉，只能自己一个人默默的承受着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;谁都想做好人，她曾经也是单纯善良的女子。难道只有夏熙瑶一个人是好人么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是谁又真的在乎？连允诺哥都不在乎自己的话，那个家，现在还容得下自己么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏允诺就站在她的身后……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '70',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 528968,
  'size_k' => 529,
  'size_w' => 52.9,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1943/1943s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1943/1943s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1943/1943s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1943.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1943',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1943',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1943',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1943',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1943&cid=592068',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=112&cid=592218',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1943',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1943',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1943',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/15.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D1%A9%C1%E9%CE%E8',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%F3%B0%AE%BB%E9%D2%F6%A3%AC%CE%D2%D2%AA%BD%F8%BA%C0%C3%C5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1943.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)