array (
  'meta_keywords' => '腹黑邪王娇娇妻 幕语 古代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1944&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1944&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1944&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1944&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1944',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1491809085',
    'lastupdate' => '1491809085',
    'articlename' => '腹黑邪王娇娇妻',
    'articlecode' => 'fuheixiewangjiaojiaoqi',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'F',
    'authorid' => '1624',
    'author' => '幕语',
    'posterid' => '1624',
    'poster' => '幕语',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '2',
    'typeid' => '7',
    'libid' => '0',
    'intro' => '她只是一个平凡的女子，本来该是平淡的过完一生，或许会遇到不开心的生活，但仅此而已。<br />
　可是没想到他的出现却打破了她的平静，作为一个王爷又怎会爱上她这样平凡的女子？<br />
　她一直都这么觉得。<br />
　然而事实上，他爱上了，并且对她挚爱一生。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '592246',
    'lastchapter' => '第二十七章 无言以对',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;许晴儿听他这么说，一方面很是厌恶反感他这种行为，另一方面又紧张了起来，他不会发现自己是个女人了吧，他不会对我做什么过分之事吧？想着想着许晴儿就紧张了起来，她好希望此时赫琊能够再她的身边啊，可是这是不可能的了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高连城此时也不知道许晴儿的想法，他大声说道：“来人啦。”有一个军士进来了，恭敬的说道：“将军，有什么吩咐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你把这个夏国的小军士安顿好，记住好生伺候着，少了跟头发我跟你们算账，多派几个人看着她。”高连城严肃的说道，这个小军士他还没玩够呢，而且他还有问题要他，虽然他现……',
    'chapters' => '71',
    'size' => '323406',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500457829',
    'dayvisit' => '78',
    'weekvisit' => '104',
    'monthvisit' => '507',
    'allvisit' => '2951',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1491809260',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '126650',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '113',
    'vippubid' => '0',
    'vipchapters' => '44',
    'vipsize' => '196756',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '592290',
    'vipchapter' => '第七十一章 完美的十八年',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;十八年后，赫琊和许晴儿的两个孩子都已经长大了，而且都长的一表人才，他们都遗传了许晴儿和赫琊的优点，长的就像画出来的一样。赫贤从小在京城长大，也是深的京城里的姑娘的喜爱，是个标准的美男子，但是他可不在乎这些外表的东西。赫贤从小就喜欢舞文弄墨，并没有遗传到赫琊爱好武功的特点，不过赫琊和许晴儿都是开明的父母，并没有要求他一定要习武，只是让他随着自己的兴趣发展。赫贤在文学方面的天赋极高，而且写的一手好字，文章做的也很是优秀，深的皇上的喜爱，皇上经常叫他进宫问他一些关于政治方面的意见，别看他年纪轻……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '宫廷',
    'typename' => '宫廷',
    'size_c' => 161703,
    'size_k' => 162,
    'size_w' => 16.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1944/1944s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1944/1944s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1944/1944s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1944.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1944',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1944',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1944',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1944',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1944&cid=592246',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=113&cid=592290',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1944',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1944',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1944',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/1624.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%BB%D3%EF',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B8%B9%BA%DA%D0%B0%CD%F5%BD%BF%BD%BF%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1944.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1944',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1491809085',
  'lastupdate' => '1491809085',
  'articlename' => '腹黑邪王娇娇妻',
  'articlecode' => 'fuheixiewangjiaojiaoqi',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'F',
  'authorid' => '1624',
  'author' => '幕语',
  'posterid' => '1624',
  'poster' => '幕语',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '2',
  'typeid' => '7',
  'libid' => '0',
  'intro' => '她只是一个平凡的女子，本来该是平淡的过完一生，或许会遇到不开心的生活，但仅此而已。<br />
　可是没想到他的出现却打破了她的平静，作为一个王爷又怎会爱上她这样平凡的女子？<br />
　她一直都这么觉得。<br />
　然而事实上，他爱上了，并且对她挚爱一生。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '592246',
  'lastchapter' => '第二十七章 无言以对',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;许晴儿听他这么说，一方面很是厌恶反感他这种行为，另一方面又紧张了起来，他不会发现自己是个女人了吧，他不会对我做什么过分之事吧？想着想着许晴儿就紧张了起来，她好希望此时赫琊能够再她的身边啊，可是这是不可能的了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高连城此时也不知道许晴儿的想法，他大声说道：“来人啦。”有一个军士进来了，恭敬的说道：“将军，有什么吩咐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你把这个夏国的小军士安顿好，记住好生伺候着，少了跟头发我跟你们算账，多派几个人看着她。”高连城严肃的说道，这个小军士他还没玩够呢，而且他还有问题要他，虽然他现……',
  'chapters' => '71',
  'size' => '323406',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500457829',
  'dayvisit' => '78',
  'weekvisit' => '104',
  'monthvisit' => '507',
  'allvisit' => '2951',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1491809260',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '126650',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '113',
  'vippubid' => '0',
  'vipchapters' => '44',
  'vipsize' => '196756',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '592290',
  'vipchapter' => '第七十一章 完美的十八年',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;十八年后，赫琊和许晴儿的两个孩子都已经长大了，而且都长的一表人才，他们都遗传了许晴儿和赫琊的优点，长的就像画出来的一样。赫贤从小在京城长大，也是深的京城里的姑娘的喜爱，是个标准的美男子，但是他可不在乎这些外表的东西。赫贤从小就喜欢舞文弄墨，并没有遗传到赫琊爱好武功的特点，不过赫琊和许晴儿都是开明的父母，并没有要求他一定要习武，只是让他随着自己的兴趣发展。赫贤在文学方面的天赋极高，而且写的一手好字，文章做的也很是优秀，深的皇上的喜爱，皇上经常叫他进宫问他一些关于政治方面的意见，别看他年纪轻……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '宫廷',
  'typename' => '宫廷',
  'size_c' => 161703,
  'size_k' => 162,
  'size_w' => 16.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1944/1944s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1944/1944s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1944/1944s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1944.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1944',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1944',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1944',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1944',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1944&cid=592246',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=113&cid=592290',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1944',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1944',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1944',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/1624.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%BB%D3%EF',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B8%B9%BA%DA%D0%B0%CD%F5%BD%BF%BD%BF%C6%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1944.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)