array (
  'meta_keywords' => '吃定炸毛小妞 随波追流 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1956&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1956&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1956&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1956&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1956',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1491816530',
    'lastupdate' => '1491816530',
    'articlename' => '吃定炸毛小妞',
    'articlecode' => 'chidingzhamaoxiaoniu',
    'backupname' => '当不良少女遇到温柔公子，盛景正式开启！',
    'keywords' => '',
    'roles' => '',
    'initial' => 'C',
    'authorid' => '0',
    'author' => '随波追流',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '1671',
    'agent' => '晴天',
    'sortid' => '1',
    'typeid' => '4',
    'libid' => '0',
    'intro' => '苏珞璃是一个打架喝酒抽烟样样都会的不良少女，从小学就开始翘课，上课吃东西，拿粉笔砸老师等等。在老师眼里是不可管教的学生，在好学生眼里是不可得罪的坏学生，在坏学生眼里就是他们崇拜的老大了。<br />
穆棱是一个温柔的佳公子，家世好样貌好学历好性格好什么都好的十全十美的男人。至少表面上是这样。但是实际如何.....怕也只有苏珞璃才知道了。<br />
当苏珞璃撞上穆棱，将会是怎样嬉闹的一番盛景？<br />
请继续看下文.........',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '592861',
    'lastchapter' => '第二十章 苏珞璃不开心了（下）',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;走在大路上，晚上的风吹得有些凉。苏珞璃看着路边擦肩而过的这些路人，看着看着，脚就停下来了，似乎不知道该往哪里去。半响，苏珞璃才起步往孤儿院的方向走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走在漆黑的小路上，苏珞璃的心情却是格外的宁静，小巷里的人家都基本上是关上门睡觉了，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;很漆黑却是很安静的一条路，苏珞璃觉得内心的烦躁似乎减少了，有些悠闲，踩着不快的脚步走向孤儿院。院门已经关上了，但是院子里的孩子们还在那里开着灯玩着躲迷藏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;苏珞璃看着孩子们嘻玩的场景，听着他们开心地笑声，心里觉得莫名的安宁，烦躁似乎也没有了……',
    'chapters' => '71',
    'size' => '323553',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1498607844',
    'dayvisit' => '13',
    'weekvisit' => '13',
    'monthvisit' => '585',
    'allvisit' => '1898',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1491816537',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '69041',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '116',
    'vippubid' => '0',
    'vipchapters' => '51',
    'vipsize' => '254512',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '592912',
    'vipchapter' => '第七十一章 大结局',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“疼……恩……棱，棱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我在。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“棱……棱……不要碰那里。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵，这可由不得你哦，丫头。为我，疯狂起来吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“恩……要断……气了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不停的律动，将苏珞璃带入一个全新的世界，整个身子痛的无法动弹，只能随着身上人的动作而摆动着，双脚被牢牢抓紧的围着健壮的腰，身子之间没有一丝的缝隙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;紧闭的空间突然迎来了新的客人，那样的强势让苏珞璃害怕，缩着身子想逃，却发现不管哪个方向都被禁锢，逃不开，躲不掉，就像她这辈子，栽在了穆棱身上一样。……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '校园',
    'typename' => '校园',
    'size_c' => 161777,
    'size_k' => 162,
    'size_w' => 16.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1956/1956s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1956/1956s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1956/1956s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1956.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1956',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1956',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1956',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1956',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1956&cid=592861',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=116&cid=592912',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1956',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1956',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1956',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CB%E6%B2%A8%D7%B7%C1%F7',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CB%E6%B2%A8%D7%B7%C1%F7',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B3%D4%B6%A8%D5%A8%C3%AB%D0%A1%E6%A4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1956.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1956',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1491816530',
  'lastupdate' => '1491816530',
  'articlename' => '吃定炸毛小妞',
  'articlecode' => 'chidingzhamaoxiaoniu',
  'backupname' => '当不良少女遇到温柔公子，盛景正式开启！',
  'keywords' => '',
  'roles' => '',
  'initial' => 'C',
  'authorid' => '0',
  'author' => '随波追流',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '1671',
  'agent' => '晴天',
  'sortid' => '1',
  'typeid' => '4',
  'libid' => '0',
  'intro' => '苏珞璃是一个打架喝酒抽烟样样都会的不良少女，从小学就开始翘课，上课吃东西，拿粉笔砸老师等等。在老师眼里是不可管教的学生，在好学生眼里是不可得罪的坏学生，在坏学生眼里就是他们崇拜的老大了。<br />
穆棱是一个温柔的佳公子，家世好样貌好学历好性格好什么都好的十全十美的男人。至少表面上是这样。但是实际如何.....怕也只有苏珞璃才知道了。<br />
当苏珞璃撞上穆棱，将会是怎样嬉闹的一番盛景？<br />
请继续看下文.........',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '592861',
  'lastchapter' => '第二十章 苏珞璃不开心了（下）',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;走在大路上，晚上的风吹得有些凉。苏珞璃看着路边擦肩而过的这些路人，看着看着，脚就停下来了，似乎不知道该往哪里去。半响，苏珞璃才起步往孤儿院的方向走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走在漆黑的小路上，苏珞璃的心情却是格外的宁静，小巷里的人家都基本上是关上门睡觉了，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;很漆黑却是很安静的一条路，苏珞璃觉得内心的烦躁似乎减少了，有些悠闲，踩着不快的脚步走向孤儿院。院门已经关上了，但是院子里的孩子们还在那里开着灯玩着躲迷藏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;苏珞璃看着孩子们嘻玩的场景，听着他们开心地笑声，心里觉得莫名的安宁，烦躁似乎也没有了……',
  'chapters' => '71',
  'size' => '323553',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1498607844',
  'dayvisit' => '13',
  'weekvisit' => '13',
  'monthvisit' => '585',
  'allvisit' => '1898',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1491816537',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '69041',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '116',
  'vippubid' => '0',
  'vipchapters' => '51',
  'vipsize' => '254512',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '592912',
  'vipchapter' => '第七十一章 大结局',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“疼……恩……棱，棱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我在。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“棱……棱……不要碰那里。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵，这可由不得你哦，丫头。为我，疯狂起来吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“恩……要断……气了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不停的律动，将苏珞璃带入一个全新的世界，整个身子痛的无法动弹，只能随着身上人的动作而摆动着，双脚被牢牢抓紧的围着健壮的腰，身子之间没有一丝的缝隙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;紧闭的空间突然迎来了新的客人，那样的强势让苏珞璃害怕，缩着身子想逃，却发现不管哪个方向都被禁锢，逃不开，躲不掉，就像她这辈子，栽在了穆棱身上一样。……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '校园',
  'typename' => '校园',
  'size_c' => 161777,
  'size_k' => 162,
  'size_w' => 16.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1956/1956s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1956/1956s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1956/1956s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1956.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1956',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1956',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1956',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1956',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1956&cid=592861',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=116&cid=592912',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1956',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1956',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1956',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CB%E6%B2%A8%D7%B7%C1%F7',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CB%E6%B2%A8%D7%B7%C1%F7',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B3%D4%B6%A8%D5%A8%C3%AB%D0%A1%E6%A4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1956.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)