array (
  'meta_keywords' => '神偷皇后不靠谱 幻影蓝雪 古代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1958&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1958&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1958&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1958&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1958',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1491817308',
    'lastupdate' => '1491817445',
    'articlename' => '神偷皇后不靠谱',
    'articlecode' => 'shentouhuanghoubukaopu',
    'backupname' => '做皇后？不，还是神偷来得本小利厚！',
    'keywords' => '',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '1625',
    'author' => '幻影蓝雪',
    'posterid' => '1625',
    'poster' => '幻影蓝雪',
    'agentid' => '1671',
    'agent' => '晴天',
    'sortid' => '2',
    'typeid' => '7',
    'libid' => '0',
    'intro' => '她是江湖中富豪闻风丧胆的冷血神偷<br />
他是朝堂上令大臣们头疼的任性小皇帝<br />
当逗比的皇帝微服私巡，遇到冷血的江湖神偷，又会迸发出怎样的火花？<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '592982',
    'lastchapter' => '第二十三章 可疑',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“你们是何人？为何在这城外行军布防？可知这是可诛九族的大罪！”轩辕简狭长的凤眸眯起，站在山包上俯瞰下面的花田，那一股睥睨天下的气质，便是身边的风忆都觉得他瞬间像是换了一个人一般。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样的气质，才是一个君王该有的霸气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“阁下请不要管这些了，若是知道得多了，只怕是与阁下无异。如今岩石城已封，并不允许外人进出城，所以还请阁下返回。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花田的花突然一阵剧烈的晃动，花香四溢之下，有一小队人走了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们身上都穿着铠甲，一副守边将士的打扮，只是脚上穿的鞋上有很明显的泥巴印子..',
    'chapters' => '77',
    'size' => '348821',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1498618879',
    'dayvisit' => '13',
    'weekvisit' => '130',
    'monthvisit' => '910',
    'allvisit' => '2093',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 1,
    'ratesum' => 10,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1491817528',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1491817445',
    'freesize' => '78422',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '117',
    'vippubid' => '0',
    'vipchapters' => '54',
    'vipsize' => '270399',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '593036',
    'vipchapter' => '第78&nbsp;&nbsp;章 大结局',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;这个时候傻子也知道朔方王这个时候是翻不出多大的风浪了。更何况能当官的都是些人精呢。一时间相比于之前朔王府的门庭若市，现在能有个客人上门的话，他们都觉得是稀客了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然骄傲习惯了的轩辕朔是不会承认这些的，因为他觉得他还有底牌，那就是他母妃刘太妃的娘家人刘氏一族。这些人是绝对不会墙头草一样的背叛他的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这么些年的暗中培养，刘家已经在清水镇附近的深山老林里养了三万人马了。虽然不是很多但是关键时候还是很有用处的，比如逼宫这种大事。只是眼下还不能动用这股力量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;玉娇龙一直知道刘家在..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '古代言情',
    'sortname' => '古代言情',
    'type' => '宫廷',
    'typename' => '宫廷',
    'size_c' => 174411,
    'size_k' => 175,
    'size_w' => 17.4,
    'rateavg' => '10.0',
    'rateavg_i' => 10,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1958/1958s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1958/1958s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1958/1958s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1958.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1958',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1958',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1958',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1958',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1958&cid=592982',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=117&cid=593036',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1958',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1958',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1958',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/1625.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%BB%C3%D3%B0%C0%B6%D1%A9',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%F1%CD%B5%BB%CA%BA%F3%B2%BB%BF%BF%C6%D7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1958.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1958',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1491817308',
  'lastupdate' => '1491817445',
  'articlename' => '神偷皇后不靠谱',
  'articlecode' => 'shentouhuanghoubukaopu',
  'backupname' => '做皇后？不，还是神偷来得本小利厚！',
  'keywords' => '',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '1625',
  'author' => '幻影蓝雪',
  'posterid' => '1625',
  'poster' => '幻影蓝雪',
  'agentid' => '1671',
  'agent' => '晴天',
  'sortid' => '2',
  'typeid' => '7',
  'libid' => '0',
  'intro' => '她是江湖中富豪闻风丧胆的冷血神偷<br />
他是朝堂上令大臣们头疼的任性小皇帝<br />
当逗比的皇帝微服私巡，遇到冷血的江湖神偷，又会迸发出怎样的火花？<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '592982',
  'lastchapter' => '第二十三章 可疑',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“你们是何人？为何在这城外行军布防？可知这是可诛九族的大罪！”轩辕简狭长的凤眸眯起，站在山包上俯瞰下面的花田，那一股睥睨天下的气质，便是身边的风忆都觉得他瞬间像是换了一个人一般。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样的气质，才是一个君王该有的霸气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“阁下请不要管这些了，若是知道得多了，只怕是与阁下无异。如今岩石城已封，并不允许外人进出城，所以还请阁下返回。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花田的花突然一阵剧烈的晃动，花香四溢之下，有一小队人走了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们身上都穿着铠甲，一副守边将士的打扮，只是脚上穿的鞋上有很明显的泥巴印子..',
  'chapters' => '77',
  'size' => '348821',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1498618879',
  'dayvisit' => '13',
  'weekvisit' => '130',
  'monthvisit' => '910',
  'allvisit' => '2093',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 1,
  'ratesum' => 10,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1491817528',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1491817445',
  'freesize' => '78422',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '117',
  'vippubid' => '0',
  'vipchapters' => '54',
  'vipsize' => '270399',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '593036',
  'vipchapter' => '第78&nbsp;&nbsp;章 大结局',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;这个时候傻子也知道朔方王这个时候是翻不出多大的风浪了。更何况能当官的都是些人精呢。一时间相比于之前朔王府的门庭若市，现在能有个客人上门的话，他们都觉得是稀客了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然骄傲习惯了的轩辕朔是不会承认这些的，因为他觉得他还有底牌，那就是他母妃刘太妃的娘家人刘氏一族。这些人是绝对不会墙头草一样的背叛他的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这么些年的暗中培养，刘家已经在清水镇附近的深山老林里养了三万人马了。虽然不是很多但是关键时候还是很有用处的，比如逼宫这种大事。只是眼下还不能动用这股力量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;玉娇龙一直知道刘家在..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '古代言情',
  'sortname' => '古代言情',
  'type' => '宫廷',
  'typename' => '宫廷',
  'size_c' => 174411,
  'size_k' => 175,
  'size_w' => 17.4,
  'rateavg' => '10.0',
  'rateavg_i' => 10,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1958/1958s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1958/1958s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1958/1958s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1958.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1958',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1958',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1958',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1958',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1958&cid=592982',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=117&cid=593036',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1958',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1958',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1958',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/1625.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%BB%C3%D3%B0%C0%B6%D1%A9',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%F1%CD%B5%BB%CA%BA%F3%B2%BB%BF%BF%C6%D7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1958.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)