array (
  'meta_keywords' => '风流仕途 月寒 都市校园',
  'meta_description' => '基于杰奇小说连载系统构建，为您提供提供内容优质，更新最快的小说。',
  'meta_copyright' => 'Powered by JIEQI CMS &copy; 杰奇网络（http://www.jieqi.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1961&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1961&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1961&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1961&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '1',
      'types' => 
      array (
        2 => '魔法校园',
        3 => '王朝争霸',
        4 => '西方奇幻',
        5 => '异世大陆',
        6 => '远古神话',
        1 => '东方玄幻',
      ),
    ),
    2 => 
    array (
      'code' => 'wuxia',
      'caption' => '武侠修真',
      'group' => '1',
      'types' => 
      array (
        7 => '传统武侠',
        8 => '古典仙侠',
        9 => '现代仙侠',
        10 => '异世修仙',
        11 => '异世修真',
        12 => '洪荒传说',
      ),
    ),
    3 => 
    array (
      'code' => 'dushi',
      'caption' => '都市校园',
      'group' => '1',
      'types' => 
      array (
        13 => '都市男女',
        14 => '都市异能',
        15 => '都市重生',
        16 => '都市修真',
        17 => '宦海沉浮',
        18 => '乡土小说',
        19 => '职场商场',
      ),
    ),
    4 => 
    array (
      'code' => 'lishi',
      'caption' => '历史军事',
      'group' => '1',
      'types' => 
      array (
        20 => '架空历史',
        21 => '历史传记',
        22 => '现代军事',
        23 => '战争幻想',
      ),
    ),
    5 => 
    array (
      'code' => 'alingyi',
      'caption' => '灵异悬疑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
        25 => '古代',
      ),
    ),
    6 => 
    array (
      'code' => 'kehuan',
      'caption' => '科幻同人',
      'group' => '1',
      'types' => 
      array (
        26 => '末世危机',
        27 => '未来世界',
        28 => '武侠同人',
      ),
    ),
    7 => 
    array (
      'code' => 'dushiqinggan',
      'caption' => '都市情感',
      'group' => '2',
      'types' => 
      array (
        29 => '总裁',
        30 => '婚恋',
        31 => '校园',
      ),
    ),
    8 => 
    array (
      'code' => 'chuanyue',
      'caption' => '古代言情',
      'group' => '2',
      'types' => 
      array (
        32 => '宫廷',
        33 => '女尊',
        34 => '种田',
      ),
    ),
    9 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '2',
      'types' => 
      array (
        35 => '修真',
        36 => '穿越',
        37 => '异世',
      ),
    ),
    10 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'kehuantongren',
      'caption' => '科幻同人',
      'group' => '2',
      'types' => 
      array (
        40 => '科幻脑洞',
        41 => '同人',
      ),
    ),
    12 => 
    array (
      'code' => 'wenxuechuban',
      'caption' => '文学出版',
      'group' => '3',
      'types' => 
      array (
        42 => '青春言情',
        43 => '灵异悬疑',
        44 => '玄幻武侠',
        45 => '幻想言情',
        46 => '职场商战',
      ),
    ),
  ),
  'artileSortCount' => 12,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1961',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1492576535',
    'lastupdate' => '1492576535',
    'articlename' => '风流仕途',
    'articlecode' => 'fengliushitu',
    'backupname' => '宝典在手，美女我有！',
    'keywords' => '都市 异能 热血 爽文',
    'roles' => '',
    'initial' => 'F',
    'authorid' => '103',
    'author' => '月寒',
    'posterid' => '103',
    'poster' => '月寒',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '3',
    'typeid' => '14',
    'libid' => '0',
    'intro' => '当有了异能，你最想干嘛？<br />
泡妞，赚钱，赚大钱，泡靓妞？<br />
而萧何的选择是……<br />
“这位美女，我是片警，请你矜持点！”',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '593636',
    'lastchapter' => '第十四章 上班睡觉的副所长',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;看到这一幕，王龙气得够呛：这小子太不像话了，就算是有局长罩着也不能这样目无法纪啊！自己一定要给他一个教训才行！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是他看着一个正在捂着嘴笑的警察说道：“笑个鬼啊，你给我叫醒他，让他来我办公室！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完，王凯便转身离开了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而那个让叫醒萧何的警察，名叫李峰，平时就挺爱说笑，所以看到萧何刚才的模样，他真的是忍不住笑出了声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;结果现在，他得去亲自叫醒副所长。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是他走到了萧何的身旁，而其他的警察都朝着这边看了过来，等待着看萧何的笑话，毕竟他这个看似普通的大学生居然……',
    'chapters' => '63',
    'size' => '560309',
    'daysize' => '0',
    'weeksize' => '0',
    'monthsize' => '0',
    'lastvisit' => '0',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => 0,
    'allvisit' => '0',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1492576748',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '94181',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '142',
    'vippubid' => '0',
    'vipchapters' => '49',
    'vipsize' => '466128',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '593685',
    'vipchapter' => '第六十三章 陈雅的家庭',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;就在此时，萧何的手机突然响了，此时萧何拿起了手机，这才发现居然是派出所给自己打的电话，这让他有些意外，毕竟平时那边是不可能给自己打电话的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;接起来一听，是周祥的声音：“萧哥，有麻烦了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听得出，电话那头的周祥似乎很是紧张。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;萧何皱了皱眉头：“说吧，什么事！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“金海阁死人了！”电话那头的周祥压低声音说道：“刚才接到报警，听海阁十六楼发生了命案，死了好几个人，而且这些人身份还不简单呢！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“金海阁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到这话，萧何一愣，然后他立刻朝着旁边的李静看了过……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '都市校园',
    'sortname' => '都市校园',
    'type' => '都市异能',
    'typename' => '都市异能',
    'size_c' => 280155,
    'size_k' => 281,
    'size_w' => 28,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1961/1961s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1961/1961s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1961/1961s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1961.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1961',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1961',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1961',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1961',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1961&cid=593636',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=142&cid=593685',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1961',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1961',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1961',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/103.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D4%C2%BA%AE',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B7%E7%C1%F7%CA%CB%CD%BE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1961.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1961',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1492576535',
  'lastupdate' => '1492576535',
  'articlename' => '风流仕途',
  'articlecode' => 'fengliushitu',
  'backupname' => '宝典在手，美女我有！',
  'keywords' => '都市 异能 热血 爽文',
  'roles' => '',
  'initial' => 'F',
  'authorid' => '103',
  'author' => '月寒',
  'posterid' => '103',
  'poster' => '月寒',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '3',
  'typeid' => '14',
  'libid' => '0',
  'intro' => '当有了异能，你最想干嘛？<br />
泡妞，赚钱，赚大钱，泡靓妞？<br />
而萧何的选择是……<br />
“这位美女，我是片警，请你矜持点！”',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '593636',
  'lastchapter' => '第十四章 上班睡觉的副所长',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;看到这一幕，王龙气得够呛：这小子太不像话了，就算是有局长罩着也不能这样目无法纪啊！自己一定要给他一个教训才行！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是他看着一个正在捂着嘴笑的警察说道：“笑个鬼啊，你给我叫醒他，让他来我办公室！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完，王凯便转身离开了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而那个让叫醒萧何的警察，名叫李峰，平时就挺爱说笑，所以看到萧何刚才的模样，他真的是忍不住笑出了声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;结果现在，他得去亲自叫醒副所长。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是他走到了萧何的身旁，而其他的警察都朝着这边看了过来，等待着看萧何的笑话，毕竟他这个看似普通的大学生居然……',
  'chapters' => '63',
  'size' => '560309',
  'daysize' => '0',
  'weeksize' => '0',
  'monthsize' => '0',
  'lastvisit' => '0',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => 0,
  'allvisit' => '0',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1492576748',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '94181',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '142',
  'vippubid' => '0',
  'vipchapters' => '49',
  'vipsize' => '466128',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '593685',
  'vipchapter' => '第六十三章 陈雅的家庭',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;就在此时，萧何的手机突然响了，此时萧何拿起了手机，这才发现居然是派出所给自己打的电话，这让他有些意外，毕竟平时那边是不可能给自己打电话的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;接起来一听，是周祥的声音：“萧哥，有麻烦了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听得出，电话那头的周祥似乎很是紧张。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;萧何皱了皱眉头：“说吧，什么事！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“金海阁死人了！”电话那头的周祥压低声音说道：“刚才接到报警，听海阁十六楼发生了命案，死了好几个人，而且这些人身份还不简单呢！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“金海阁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到这话，萧何一愣，然后他立刻朝着旁边的李静看了过……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '都市校园',
  'sortname' => '都市校园',
  'type' => '都市异能',
  'typename' => '都市异能',
  'size_c' => 280155,
  'size_k' => 281,
  'size_w' => 28,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1961/1961s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1961/1961s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1961/1961s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1961.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1961',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1961',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1961',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1961',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1961&cid=593636',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=142&cid=593685',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1961',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1961',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1961',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/103.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D4%C2%BA%AE',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B7%E7%C1%F7%CA%CB%CD%BE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1961.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '都市',
      'tagencode' => '%B6%BC%CA%D0',
    ),
    1 => 
    array (
      'tagname' => '异能',
      'tagencode' => '%D2%EC%C4%DC',
    ),
    2 => 
    array (
      'tagname' => '热血',
      'tagencode' => '%C8%C8%D1%AA',
    ),
    3 => 
    array (
      'tagname' => '爽文',
      'tagencode' => '%CB%AC%CE%C4',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 4,
    'addrows' => 0,
    'loops' => 4,
    'index' => 4,
    'order' => 4,
    'row' => 4,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '爽文',
      'tagencode' => '%CB%AC%CE%C4',
    ),
    'key' => 3,
    'append' => 0,
  ),
)