array (
  'meta_keywords' => '真谛之颜 沈奕 都市热血',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1967&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1967&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1967&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1967&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1967',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1492586070',
    'lastupdate' => '1492586070',
    'articlename' => '真谛之颜',
    'articlecode' => 'zhendizhiyan',
    'backupname' => '山村中走出的高手，玩儿转人生！',
    'keywords' => '热血 乡村 种田 爽文',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '37',
    'author' => '沈奕',
    'posterid' => '37',
    'poster' => '沈奕',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '37',
    'libid' => '0',
    'intro' => ' 现在正是A市最热的时候，在这个地方的每个夏天都是异常的炎热。一天那很快就过了，这会儿已经是你傍晚了，上官晶莹的余晖照在大地上面，白天被炙热的太阳烤过的燥热正在慢慢的退去。不一会儿，头顶上的的圆月就出来了，皎洁的月光洒在大地上，留下一片银色的斑驳。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '594110',
    'lastchapter' => '第七章 狭路相逢勇者胜',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;李雪儿刚刚被伤到的地方出现了一个很深的伤口，在A市的这个集贸市场这么的一些小摊贩们都是用的那么的一种很水货的木摊，所以不是很牢固，他们就想出一个法子来将这么的一些小摊子加固，就是用铁皮在它那四四方方的角上用钉子钉上很厚的一大块铁皮子，刚刚张小三朝着小李雪儿冲过来的时候，就是把她撞倒了这个地方，在那个事情之后小丫头一下子就把头碰到了尖尖的角上面，这么的一些铁皮都已经用了很长的时间了，所以免不了会翻出来一些，可是就是这么的一些翻出来的地方将可怜的小雪儿那白皙的小额头画出了一条深深的口子，就像一……',
    'chapters' => '21',
    'size' => '311839',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500663884',
    'dayvisit' => '26',
    'weekvisit' => '208',
    'monthvisit' => '364',
    'allvisit' => '1638',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1492586376',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '311839',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '150',
    'vippubid' => '0',
    'vipchapters' => '14',
    'vipsize' => '214132',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '594124',
    'vipchapter' => '第二十一章 两条二狗子',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;李大锤跟光头男打架的时候一直在躲避他的拳脚，尽量让自己不会被他打到了，所以其实是有很多空闲的时间的，所以李大锤就趁着这一点空闲，偷偷的看了一下坐在角落里面的那五个人。其实李大锤自己是很害怕人家在自己的身后偷袭的，那样的话自己就根本似乎真的没有还击的能力了。但是还好那五个人一直都静静的呆在那里，似乎真的没有什么反应，但是他们看着李大锤跟光头男的打斗，好像还那么是抱着一种欣赏的态度在看着，甚至有些入迷了。这个时候大牛也似乎真的没有过来帮忙，只是在旁边看着李大锤跟那个光头男打斗，其实李大锤什么……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '都市热血',
    'sortname' => '都市热血',
    'type' => '种田',
    'typename' => '种田',
    'size_c' => 155920,
    'size_k' => 156,
    'size_w' => 15.6,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1967.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1967',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1967',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1967',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1967',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1967&cid=594110',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=150&cid=594124',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1967',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1967',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1967',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/37.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C9%F2%DE%C8',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D5%E6%DA%D0%D6%AE%D1%D5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1967.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1967',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1492586070',
  'lastupdate' => '1492586070',
  'articlename' => '真谛之颜',
  'articlecode' => 'zhendizhiyan',
  'backupname' => '山村中走出的高手，玩儿转人生！',
  'keywords' => '热血 乡村 种田 爽文',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '37',
  'author' => '沈奕',
  'posterid' => '37',
  'poster' => '沈奕',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '37',
  'libid' => '0',
  'intro' => ' 现在正是A市最热的时候，在这个地方的每个夏天都是异常的炎热。一天那很快就过了，这会儿已经是你傍晚了，上官晶莹的余晖照在大地上面，白天被炙热的太阳烤过的燥热正在慢慢的退去。不一会儿，头顶上的的圆月就出来了，皎洁的月光洒在大地上，留下一片银色的斑驳。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '594110',
  'lastchapter' => '第七章 狭路相逢勇者胜',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;李雪儿刚刚被伤到的地方出现了一个很深的伤口，在A市的这个集贸市场这么的一些小摊贩们都是用的那么的一种很水货的木摊，所以不是很牢固，他们就想出一个法子来将这么的一些小摊子加固，就是用铁皮在它那四四方方的角上用钉子钉上很厚的一大块铁皮子，刚刚张小三朝着小李雪儿冲过来的时候，就是把她撞倒了这个地方，在那个事情之后小丫头一下子就把头碰到了尖尖的角上面，这么的一些铁皮都已经用了很长的时间了，所以免不了会翻出来一些，可是就是这么的一些翻出来的地方将可怜的小雪儿那白皙的小额头画出了一条深深的口子，就像一……',
  'chapters' => '21',
  'size' => '311839',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500663884',
  'dayvisit' => '26',
  'weekvisit' => '208',
  'monthvisit' => '364',
  'allvisit' => '1638',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1492586376',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '311839',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '150',
  'vippubid' => '0',
  'vipchapters' => '14',
  'vipsize' => '214132',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '594124',
  'vipchapter' => '第二十一章 两条二狗子',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;李大锤跟光头男打架的时候一直在躲避他的拳脚，尽量让自己不会被他打到了，所以其实是有很多空闲的时间的，所以李大锤就趁着这一点空闲，偷偷的看了一下坐在角落里面的那五个人。其实李大锤自己是很害怕人家在自己的身后偷袭的，那样的话自己就根本似乎真的没有还击的能力了。但是还好那五个人一直都静静的呆在那里，似乎真的没有什么反应，但是他们看着李大锤跟光头男的打斗，好像还那么是抱着一种欣赏的态度在看着，甚至有些入迷了。这个时候大牛也似乎真的没有过来帮忙，只是在旁边看着李大锤跟那个光头男打斗，其实李大锤什么……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '都市热血',
  'sortname' => '都市热血',
  'type' => '种田',
  'typename' => '种田',
  'size_c' => 155920,
  'size_k' => 156,
  'size_w' => 15.6,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1967.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1967',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1967',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1967',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1967',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1967&cid=594110',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=150&cid=594124',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1967',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1967',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1967',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/37.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C9%F2%DE%C8',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D5%E6%DA%D0%D6%AE%D1%D5%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1967.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '热血',
      'tagencode' => '%C8%C8%D1%AA',
    ),
    1 => 
    array (
      'tagname' => '乡村',
      'tagencode' => '%CF%E7%B4%E5',
    ),
    2 => 
    array (
      'tagname' => '种田',
      'tagencode' => '%D6%D6%CC%EF',
    ),
    3 => 
    array (
      'tagname' => '爽文',
      'tagencode' => '%CB%AC%CE%C4',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 4,
    'addrows' => 0,
    'loops' => 4,
    'index' => 4,
    'order' => 4,
    'row' => 4,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '爽文',
      'tagencode' => '%CB%AC%CE%C4',
    ),
    'key' => 3,
    'append' => 0,
  ),
)