array (
  'meta_keywords' => '乾坤战神 萧瑟清风 都市热血',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1968&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1968&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1968&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1968&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1968',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1492586233',
    'lastupdate' => '1492586233',
    'articlename' => '乾坤战神',
    'articlecode' => 'qiankunzhanshen',
    'backupname' => '战神来袭，传奇再现！',
    'keywords' => '热血 爽文',
    'roles' => '',
    'initial' => 'Q',
    'authorid' => '29',
    'author' => '萧瑟清风',
    'posterid' => '29',
    'poster' => '萧瑟清风',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '35',
    'libid' => '0',
    'intro' => '佣兵之王，回归都市。<br />
刘华演绎出自己的人生精彩。<br />
屹立乾坤，战神来袭！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '594134',
    'lastchapter' => '第十章 血战',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;刘华也不好受，刚刚刺进那个人的身体之后，那个人的攻击就已经打到了自己的身上，一下子把自己打的飞出去十几米远，但看距离，就知道刘华这下子绝对是身受重伤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘华躺在地上心中是高兴的，因为自己竟然杀死了自己想都不敢想的敌人，虽然战斗之中运气占了大多数，但是刘华还是胜利了，心中的兴奋之感，难以言喻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘华的全身的伤口，似乎并不是疼痛感，而是兴奋似的，只是不住的痒痒，让刘华想要笑出声来，可是刘华忍住了，战斗还是要继续的，自己现在还没有达到自己的目的，又怎么会退却呢！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在地上躺了有……',
    'chapters' => '51',
    'size' => '323915',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500598391',
    'dayvisit' => '65',
    'weekvisit' => '351',
    'monthvisit' => '975',
    'allvisit' => '3666',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1492586375',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '64102',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '152',
    'vippubid' => '0',
    'vipchapters' => '41',
    'vipsize' => '259813',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '594175',
    'vipchapter' => '第五十一章、刘华的选择',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;那么，只说明了一个情况，这个上官明月应该是遇到天大的麻烦了，嗯，一定是这样的！艾薇儿暗暗地想了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;艾薇儿想到这里，心情不由一阵激动啊，待在明月宫，虽说有吃有穿有玩的，但是，没有人身自由啊，哪怕出去玩耍一下的话，那会有人跟在她的身边了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以，在艾薇儿的心里面，还是特别恨这个上官明月的，如果不是因为上官明月存在的话，他与自己的刘华哥哥就有可能在一起，说不定，他们已经结婚了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过，艾薇儿并没有把自己的激动表现出来，至少在她的脸上，还是特别的冷静的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;艾薇儿沉默不……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '都市热血',
    'sortname' => '都市热血',
    'type' => '都市异能',
    'typename' => '都市异能',
    'size_c' => 161958,
    'size_k' => 162,
    'size_w' => 16.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1968.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1968',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1968',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1968',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1968',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1968&cid=594134',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=152&cid=594175',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1968',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1968',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1968',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/29.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%F4%C9%AA%C7%E5%B7%E7',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%AC%C0%A4%D5%BD%C9%F1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1968.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1968',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1492586233',
  'lastupdate' => '1492586233',
  'articlename' => '乾坤战神',
  'articlecode' => 'qiankunzhanshen',
  'backupname' => '战神来袭，传奇再现！',
  'keywords' => '热血 爽文',
  'roles' => '',
  'initial' => 'Q',
  'authorid' => '29',
  'author' => '萧瑟清风',
  'posterid' => '29',
  'poster' => '萧瑟清风',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '35',
  'libid' => '0',
  'intro' => '佣兵之王，回归都市。<br />
刘华演绎出自己的人生精彩。<br />
屹立乾坤，战神来袭！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '594134',
  'lastchapter' => '第十章 血战',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;刘华也不好受，刚刚刺进那个人的身体之后，那个人的攻击就已经打到了自己的身上，一下子把自己打的飞出去十几米远，但看距离，就知道刘华这下子绝对是身受重伤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘华躺在地上心中是高兴的，因为自己竟然杀死了自己想都不敢想的敌人，虽然战斗之中运气占了大多数，但是刘华还是胜利了，心中的兴奋之感，难以言喻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘华的全身的伤口，似乎并不是疼痛感，而是兴奋似的，只是不住的痒痒，让刘华想要笑出声来，可是刘华忍住了，战斗还是要继续的，自己现在还没有达到自己的目的，又怎么会退却呢！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在地上躺了有……',
  'chapters' => '51',
  'size' => '323915',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500598391',
  'dayvisit' => '65',
  'weekvisit' => '351',
  'monthvisit' => '975',
  'allvisit' => '3666',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1492586375',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '64102',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '152',
  'vippubid' => '0',
  'vipchapters' => '41',
  'vipsize' => '259813',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '594175',
  'vipchapter' => '第五十一章、刘华的选择',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;那么，只说明了一个情况，这个上官明月应该是遇到天大的麻烦了，嗯，一定是这样的！艾薇儿暗暗地想了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;艾薇儿想到这里，心情不由一阵激动啊，待在明月宫，虽说有吃有穿有玩的，但是，没有人身自由啊，哪怕出去玩耍一下的话，那会有人跟在她的身边了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以，在艾薇儿的心里面，还是特别恨这个上官明月的，如果不是因为上官明月存在的话，他与自己的刘华哥哥就有可能在一起，说不定，他们已经结婚了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过，艾薇儿并没有把自己的激动表现出来，至少在她的脸上，还是特别的冷静的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;艾薇儿沉默不……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '都市热血',
  'sortname' => '都市热血',
  'type' => '都市异能',
  'typename' => '都市异能',
  'size_c' => 161958,
  'size_k' => 162,
  'size_w' => 16.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1968.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1968',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1968',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1968',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1968',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1968&cid=594134',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=152&cid=594175',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1968',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1968',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1968',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/29.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%F4%C9%AA%C7%E5%B7%E7',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C7%AC%C0%A4%D5%BD%C9%F1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1968.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '热血',
      'tagencode' => '%C8%C8%D1%AA',
    ),
    1 => 
    array (
      'tagname' => '爽文',
      'tagencode' => '%CB%AC%CE%C4',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 2,
    'addrows' => 0,
    'loops' => 2,
    'index' => 2,
    'order' => 2,
    'row' => 2,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '爽文',
      'tagencode' => '%CB%AC%CE%C4',
    ),
    'key' => 1,
    'append' => 0,
  ),
)