array (
  'meta_keywords' => '花语青春 初春小雨 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1969&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1969&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1969&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1969&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1969',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1492586327',
    'lastupdate' => '1492586327',
    'articlename' => '花语青春',
    'articlecode' => 'huayuqingchun',
    'backupname' => '俏丽警花的绚丽青春',
    'keywords' => '',
    'roles' => '',
    'initial' => 'H',
    'authorid' => '28',
    'author' => '初春小雨',
    'posterid' => '28',
    'poster' => '初春小雨',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '4',
    'libid' => '0',
    'intro' => '从我顶的大雪蹲在潶兹市监狱得那扇黑乎乎而又凄惨得大门口前时，除去警察学校时得此种激情那刹那消失，换言之得是无穷得埋怨。我感觉到我要面对面对比“充军”更加要伤心得时刻，此种“时刻”木有时候得限制，仅有煎熬。<br />
一年零三个月九小时三十三分以后，我依然是蹲在那扇大门口前，头上得天上依然是飘的雪花朵，但是我在一年零三个月九小时三十三分之前得心情不知道肿么过去完全得消失，我感觉到从我得面前不在是伤心.煎熬与埋怨，而一种独特得力量，此种力量仅是来与那一年零三个月九小时三十三分。仅是那段时候，把是我人生得正真开始，人生旅途得正真开始。<br />
我不懂得在那段时候里，是神马变化呢我，我只懂得：潶兹河得天上一直是美丽得。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '594184',
    'lastchapter' => '第二章4',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;我从干洗店员得手中接过服装，直接找到服装上原来有污渍得的方。上面得污渍纵然经历干洗，但是还是可以看出来一点儿点，店员对不起得向我解释说道此种警用大衣得衣料质量独特，对油渍有些相融，是肯定不会完全得消失得，我木有合理得理→得话。仅是有，我也不会会那么做，何况那件大衣这个时候在别人跟里，不注意去看，是不会看出来来神马得。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我交呢钱，出呢门，华告诉我得路线把车开到呢滨河得一个歌厅，在那里，有两名等待得同志，接的是集贸得一个超市。转呢一个大圈，乘车去上班得五名伙伴所有坐在在车上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;伙……',
    'chapters' => '40',
    'size' => '313881',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500481243',
    'dayvisit' => 0,
    'weekvisit' => '143',
    'monthvisit' => '286',
    'allvisit' => '1664',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1492586374',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '313881',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '151',
    'vippubid' => '0',
    'vipchapters' => '31',
    'vipsize' => '253660',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '594215',
    'vipchapter' => '第十章4',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;夜很静很静，静得我只可以听到风吹动纸屑得沙扬。我不懂得过去过呢多长得时候，只感觉到到很冷很冷，好好似是在冰雪里站呢一夜一般，我咬呢咬猛的站开始身，差不多是→于我得腿蹲得时候太久，刚一站开始身仅认为两腿发软，大姐，一次得瘫坐在那堆过去结成冰得菜叶上面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;雪不知道到神马那时候开始得，只是儿从我感觉到到它下开始来得那时候，雪过去可以盖过我得脚脖子，毛般得雪片在西风得协助下扑面而来，可是我一点儿也感觉到不到凉，一颗心几近似于停止得状态。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;绕过一个又一个拐角，穿过一个又一个得胡同，除呢……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '校园',
    'typename' => '校园',
    'size_c' => 156941,
    'size_k' => 157,
    'size_w' => 15.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1969.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1969',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1969',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1969',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1969',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1969&cid=594184',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=151&cid=594215',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1969',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1969',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1969',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/28.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B3%F5%B4%BA%D0%A1%D3%EA',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BB%A8%D3%EF%C7%E0%B4%BA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1969.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1969',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1492586327',
  'lastupdate' => '1492586327',
  'articlename' => '花语青春',
  'articlecode' => 'huayuqingchun',
  'backupname' => '俏丽警花的绚丽青春',
  'keywords' => '',
  'roles' => '',
  'initial' => 'H',
  'authorid' => '28',
  'author' => '初春小雨',
  'posterid' => '28',
  'poster' => '初春小雨',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '4',
  'libid' => '0',
  'intro' => '从我顶的大雪蹲在潶兹市监狱得那扇黑乎乎而又凄惨得大门口前时，除去警察学校时得此种激情那刹那消失，换言之得是无穷得埋怨。我感觉到我要面对面对比“充军”更加要伤心得时刻，此种“时刻”木有时候得限制，仅有煎熬。<br />
一年零三个月九小时三十三分以后，我依然是蹲在那扇大门口前，头上得天上依然是飘的雪花朵，但是我在一年零三个月九小时三十三分之前得心情不知道肿么过去完全得消失，我感觉到从我得面前不在是伤心.煎熬与埋怨，而一种独特得力量，此种力量仅是来与那一年零三个月九小时三十三分。仅是那段时候，把是我人生得正真开始，人生旅途得正真开始。<br />
我不懂得在那段时候里，是神马变化呢我，我只懂得：潶兹河得天上一直是美丽得。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '594184',
  'lastchapter' => '第二章4',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;我从干洗店员得手中接过服装，直接找到服装上原来有污渍得的方。上面得污渍纵然经历干洗，但是还是可以看出来一点儿点，店员对不起得向我解释说道此种警用大衣得衣料质量独特，对油渍有些相融，是肯定不会完全得消失得，我木有合理得理→得话。仅是有，我也不会会那么做，何况那件大衣这个时候在别人跟里，不注意去看，是不会看出来来神马得。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我交呢钱，出呢门，华告诉我得路线把车开到呢滨河得一个歌厅，在那里，有两名等待得同志，接的是集贸得一个超市。转呢一个大圈，乘车去上班得五名伙伴所有坐在在车上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;伙……',
  'chapters' => '40',
  'size' => '313881',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500481243',
  'dayvisit' => 0,
  'weekvisit' => '143',
  'monthvisit' => '286',
  'allvisit' => '1664',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1492586374',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '313881',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '151',
  'vippubid' => '0',
  'vipchapters' => '31',
  'vipsize' => '253660',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '594215',
  'vipchapter' => '第十章4',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;夜很静很静，静得我只可以听到风吹动纸屑得沙扬。我不懂得过去过呢多长得时候，只感觉到到很冷很冷，好好似是在冰雪里站呢一夜一般，我咬呢咬猛的站开始身，差不多是→于我得腿蹲得时候太久，刚一站开始身仅认为两腿发软，大姐，一次得瘫坐在那堆过去结成冰得菜叶上面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;雪不知道到神马那时候开始得，只是儿从我感觉到到它下开始来得那时候，雪过去可以盖过我得脚脖子，毛般得雪片在西风得协助下扑面而来，可是我一点儿也感觉到不到凉，一颗心几近似于停止得状态。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;绕过一个又一个拐角，穿过一个又一个得胡同，除呢……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '校园',
  'typename' => '校园',
  'size_c' => 156941,
  'size_k' => 157,
  'size_w' => 15.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1969.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1969',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1969',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1969',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1969',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1969&cid=594184',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=151&cid=594215',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1969',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1969',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1969',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/28.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B3%F5%B4%BA%D0%A1%D3%EA',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BB%A8%D3%EF%C7%E0%B4%BA%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1969.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)