array (
  'meta_keywords' => '魔动九天 浮生 修真武侠',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1970&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1970&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1970&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1970&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1970',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1492587087',
    'lastupdate' => '1492587087',
    'articlename' => '魔动九天',
    'articlecode' => 'modongjiutian',
    'backupname' => '既然是为了美女，那我就勉强成个魔吧。',
    'keywords' => '修真 升级 热血 爽文',
    'roles' => '',
    'initial' => 'M',
    'authorid' => '0',
    'author' => '浮生',
    'posterid' => '27',
    'poster' => '浮生',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '8',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '万劫不灭，魔体无双。<br />
杨无心的修炼之路颇为坎坷，这一切都要从他被一个怪老头抽血开始说起……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '594243',
    'lastchapter' => '第二十九章 修炼圣地',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;经过和优玲的醉酒，杨无心和优玲的关系，更加密切了。这段时间，杨无心都在疯狂的修炼，因为杨无心隐约地，觉得自己要突破第一重，到达第二重了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过经历过，上一次魔气不慎泄露之事，杨无心不敢在忘我的修行了，可也就是因为这样，杨无心总是觉得差一点，就是差那么一点点，就能到达第二重。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨无心后来仔细一想，一旦自己到达第二重，势必会让魔气外泄的，虽然有戒指的掩盖和保护，但是还是会被高手发现的，自己只能回到恶魔通道内修炼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;决定回恶魔通道的杨无心，准备了一些必需品，然后趁所有人都不注……',
    'chapters' => '124',
    'size' => '777501',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500481209',
    'dayvisit' => 0,
    'weekvisit' => '91',
    'monthvisit' => '429',
    'allvisit' => '2535',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1492587611',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '175605',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '154',
    'vippubid' => '0',
    'vipchapters' => '96',
    'vipsize' => '601896',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '594339',
    'vipchapter' => '第一百二十四章 对战冰系大长老 2',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;这时杨无心也为了避免这样尴尬下去，于是轻咳了几声：“咳咳，你们两个也就不要在这里傻愣着了，赶紧走吧，再不走万一被冰系大长老发现了，你们反而会成为我的累赘。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人听了之后，也知道事情的严重性，于是夏岚也绕过了金属狗，打算离去，可人家优玲，一下子双手抱住杨无心，瞬间吻上了杨无心，丝毫没有在意有外人在场，这时的杨无心也没有多想，就和优玲热吻了一阵子，两人才恋恋不舍的分开了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这让夏岚在一旁看得心里着实难受了一点，可是那又有什么办法呢？现在的杨无心可以说是对夏岚一点感觉都没有，他是……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '修真武侠',
    'sortname' => '修真武侠',
    'type' => '',
    'typename' => '',
    'size_c' => 388751,
    'size_k' => 389,
    'size_w' => 38.9,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1970/1970s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1970/1970s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1970/1970s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1970.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1970',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1970',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1970',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1970',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1970&cid=594243',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=154&cid=594339',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1970',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1970',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1970',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C4%A7%B6%AF%BE%C5%CC%EC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1970.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1970',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1492587087',
  'lastupdate' => '1492587087',
  'articlename' => '魔动九天',
  'articlecode' => 'modongjiutian',
  'backupname' => '既然是为了美女，那我就勉强成个魔吧。',
  'keywords' => '修真 升级 热血 爽文',
  'roles' => '',
  'initial' => 'M',
  'authorid' => '0',
  'author' => '浮生',
  'posterid' => '27',
  'poster' => '浮生',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '8',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '万劫不灭，魔体无双。<br />
杨无心的修炼之路颇为坎坷，这一切都要从他被一个怪老头抽血开始说起……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '594243',
  'lastchapter' => '第二十九章 修炼圣地',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;经过和优玲的醉酒，杨无心和优玲的关系，更加密切了。这段时间，杨无心都在疯狂的修炼，因为杨无心隐约地，觉得自己要突破第一重，到达第二重了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过经历过，上一次魔气不慎泄露之事，杨无心不敢在忘我的修行了，可也就是因为这样，杨无心总是觉得差一点，就是差那么一点点，就能到达第二重。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨无心后来仔细一想，一旦自己到达第二重，势必会让魔气外泄的，虽然有戒指的掩盖和保护，但是还是会被高手发现的，自己只能回到恶魔通道内修炼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;决定回恶魔通道的杨无心，准备了一些必需品，然后趁所有人都不注……',
  'chapters' => '124',
  'size' => '777501',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500481209',
  'dayvisit' => 0,
  'weekvisit' => '91',
  'monthvisit' => '429',
  'allvisit' => '2535',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1492587611',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '175605',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '154',
  'vippubid' => '0',
  'vipchapters' => '96',
  'vipsize' => '601896',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '594339',
  'vipchapter' => '第一百二十四章 对战冰系大长老 2',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;这时杨无心也为了避免这样尴尬下去，于是轻咳了几声：“咳咳，你们两个也就不要在这里傻愣着了，赶紧走吧，再不走万一被冰系大长老发现了，你们反而会成为我的累赘。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人听了之后，也知道事情的严重性，于是夏岚也绕过了金属狗，打算离去，可人家优玲，一下子双手抱住杨无心，瞬间吻上了杨无心，丝毫没有在意有外人在场，这时的杨无心也没有多想，就和优玲热吻了一阵子，两人才恋恋不舍的分开了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这让夏岚在一旁看得心里着实难受了一点，可是那又有什么办法呢？现在的杨无心可以说是对夏岚一点感觉都没有，他是……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '修真武侠',
  'sortname' => '修真武侠',
  'type' => '',
  'typename' => '',
  'size_c' => 388751,
  'size_k' => 389,
  'size_w' => 38.9,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1970/1970s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1970/1970s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1970/1970s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1970.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1970',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1970',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1970',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1970',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1970&cid=594243',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=154&cid=594339',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1970',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1970',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1970',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C4%A7%B6%AF%BE%C5%CC%EC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1970.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '修真',
      'tagencode' => '%D0%DE%D5%E6',
    ),
    1 => 
    array (
      'tagname' => '升级',
      'tagencode' => '%C9%FD%BC%B6',
    ),
    2 => 
    array (
      'tagname' => '热血',
      'tagencode' => '%C8%C8%D1%AA',
    ),
    3 => 
    array (
      'tagname' => '爽文',
      'tagencode' => '%CB%AC%CE%C4',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 4,
    'addrows' => 0,
    'loops' => 4,
    'index' => 4,
    'order' => 4,
    'row' => 4,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '爽文',
      'tagencode' => '%CB%AC%CE%C4',
    ),
    'key' => 3,
    'append' => 0,
  ),
)