array (
  'meta_keywords' => '天使也堕落 独舞长天 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1972&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1972&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1972&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1972&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1972',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1492587483',
    'lastupdate' => '1492587483',
    'articlename' => '天使也堕落',
    'articlecode' => 'tianshiyeduoluo',
    'backupname' => '',
    'keywords' => '雅美',
    'roles' => '',
    'initial' => 'T',
    'authorid' => '0',
    'author' => '独舞长天',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '4',
    'libid' => '0',
    'intro' => '妒忌和仇恨像蒲公英的一样，一遇到风就会四处飘散生根，无法控制。<br />
从小到大都是顺风顺水的，在宠爱和崇拜里长大的雅美，从未想过有一天会去巴结谁，或者学着四处讨巧，她唯有无能为力地任凭自己与同学之间的间隙变大。<br />
她仍然希望和其他人都保持着和谐……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '594351',
    'lastchapter' => '第12章',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;妒忌和仇恨想蒲公英的一样，一遇到风就会四处飘散生根，无法控制。从小到大都是顺风顺水的，在宠爱和崇拜里长大的雅美，从未想过有一天会去巴结谁，或者学着四处讨巧，她唯有无能为力地任凭自己与同学之间的间隙变大。或许想对付她的人只有极个别的，她却不想费尽心思的去找出来，她的世界是单纯的，认为全部人都和她想的一样，当她看到这个世界的黑暗面的时候，她唯有选择逃避不去面对，也完全没法应付。她仍然希望和其他人都保持着和谐，可是那一些原本巴结她的同学，躲避她就好似躲瘟疫一样，躲都躲不及，每个人都不想惹的一身……',
    'chapters' => '51',
    'size' => '305645',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500590591',
    'dayvisit' => '13',
    'weekvisit' => '78',
    'monthvisit' => '416',
    'allvisit' => '2210',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '0',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1492587529',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '48914',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '153',
    'vippubid' => '0',
    'vipchapters' => '39',
    'vipsize' => '256731',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '594390',
    'vipchapter' => '第50章',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;与上官南风逛街为折磨，因为他并非踩了雅美的脚，便是差点让他给绊倒，并且，他虽是澳门人，但对澳门完全不知道，比她那个外地来的都要差很所。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;加上那么些年的封锁，让他完全地失去了眼神与主见，不论雅美看中啥东西问他的想法，他并非低头不说话，便是摇头不晓得。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;完全是将一个石头带到身旁，很是无奈，很是没用。那么下去，而自个儿也会变为僵尸似得的人，雅美迫切地祈祷上官南泽很早地找见答案，就叫她早点挣脱那种精神的折磨，不过，上官南泽但一直没来过电话，难道他进入这个屋子后，便让他弟弟慢慢腾腾的脾……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '校园',
    'typename' => '校园',
    'size_c' => 152823,
    'size_k' => 153,
    'size_w' => 15.3,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1972.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1972',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1972',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1972',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1972',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1972&cid=594351',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=153&cid=594390',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1972',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1972',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1972',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B6%C0%CE%E8%B3%A4%CC%EC',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B6%C0%CE%E8%B3%A4%CC%EC',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CC%EC%CA%B9%D2%B2%B6%E9%C2%E4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1972.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1972',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1492587483',
  'lastupdate' => '1492587483',
  'articlename' => '天使也堕落',
  'articlecode' => 'tianshiyeduoluo',
  'backupname' => '',
  'keywords' => '雅美',
  'roles' => '',
  'initial' => 'T',
  'authorid' => '0',
  'author' => '独舞长天',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '4',
  'libid' => '0',
  'intro' => '妒忌和仇恨像蒲公英的一样，一遇到风就会四处飘散生根，无法控制。<br />
从小到大都是顺风顺水的，在宠爱和崇拜里长大的雅美，从未想过有一天会去巴结谁，或者学着四处讨巧，她唯有无能为力地任凭自己与同学之间的间隙变大。<br />
她仍然希望和其他人都保持着和谐……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '594351',
  'lastchapter' => '第12章',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;妒忌和仇恨想蒲公英的一样，一遇到风就会四处飘散生根，无法控制。从小到大都是顺风顺水的，在宠爱和崇拜里长大的雅美，从未想过有一天会去巴结谁，或者学着四处讨巧，她唯有无能为力地任凭自己与同学之间的间隙变大。或许想对付她的人只有极个别的，她却不想费尽心思的去找出来，她的世界是单纯的，认为全部人都和她想的一样，当她看到这个世界的黑暗面的时候，她唯有选择逃避不去面对，也完全没法应付。她仍然希望和其他人都保持着和谐，可是那一些原本巴结她的同学，躲避她就好似躲瘟疫一样，躲都躲不及，每个人都不想惹的一身……',
  'chapters' => '51',
  'size' => '305645',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500590591',
  'dayvisit' => '13',
  'weekvisit' => '78',
  'monthvisit' => '416',
  'allvisit' => '2210',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '0',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1492587529',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '48914',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '153',
  'vippubid' => '0',
  'vipchapters' => '39',
  'vipsize' => '256731',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '594390',
  'vipchapter' => '第50章',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;与上官南风逛街为折磨，因为他并非踩了雅美的脚，便是差点让他给绊倒，并且，他虽是澳门人，但对澳门完全不知道，比她那个外地来的都要差很所。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;加上那么些年的封锁，让他完全地失去了眼神与主见，不论雅美看中啥东西问他的想法，他并非低头不说话，便是摇头不晓得。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;完全是将一个石头带到身旁，很是无奈，很是没用。那么下去，而自个儿也会变为僵尸似得的人，雅美迫切地祈祷上官南泽很早地找见答案，就叫她早点挣脱那种精神的折磨，不过，上官南泽但一直没来过电话，难道他进入这个屋子后，便让他弟弟慢慢腾腾的脾……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '校园',
  'typename' => '校园',
  'size_c' => 152823,
  'size_k' => 153,
  'size_w' => 15.3,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'url_image' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://www.mianfeidushu.com/modules/article/images/nocover.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1972.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1972',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1972',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1972',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1972',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1972&cid=594351',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=153&cid=594390',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1972',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1972',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1972',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B6%C0%CE%E8%B3%A4%CC%EC',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B6%C0%CE%E8%B3%A4%CC%EC',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CC%EC%CA%B9%D2%B2%B6%E9%C2%E4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1972.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '雅美',
      'tagencode' => '%D1%C5%C3%C0',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 1,
    'addrows' => 0,
    'loops' => 1,
    'index' => 1,
    'order' => 1,
    'row' => 1,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '雅美',
      'tagencode' => '%D1%C5%C3%C0',
    ),
    'key' => 0,
    'append' => 0,
  ),
)