array (
  'meta_keywords' => '重生之终极高手 浮生 都市热血',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1973&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1973&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1973&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1973&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1973',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1492587754',
    'lastupdate' => '1492587754',
    'articlename' => '重生之终极高手',
    'articlecode' => 'zhongshengzhizhongjigaoshou',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '0',
    'author' => '浮生',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '看得出来，男人真的很后悔，短暂的接触，方玄能感觉到，这就是个老实巴交搞学术的男人，如果不是被人逼得走投无路，他万万不会走出这一步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要知道，这种事情，已经构成了商业犯罪，可不光是良心受谴责而已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原以为要经过一番严厉的措辞，甚至还要动用点非常手段，没想到事情竟然这么简单，方玄赶紧扶起张天河，用很严肃的语气说道：“行了，知道你是被逼的，将功赎罪，你告诉我，是谁让你这么干的？还有，刚刚那个男人是谁？你们怎么认识的？”',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '594417',
    'lastchapter' => '第二十六章 都扔出去',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;方玄笑了，这个阿威，倒颇有几分傲气，只是不知他是否有骄傲的本钱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随意的伸出一只手，方玄也不说话，只是淡淡的看了阿威一眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阿威眉头一挑，一丝不屑闪过眼睑，这个纨绔公子，是不是脑袋秀逗了？竟然想掂量自己的实力？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果不是家里急需要钱，而他老子方镇南对自己又有知遇之恩，自己早就离开方家了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过既然这个纨绔少爷如此不识进退，给他点颜色又何妨？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想到这些，阿威不再犹豫，蒲扇大的巴掌当即伸出，紧紧的握住了方玄的手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两手相握，阿威五指用力一收，蓦地，他脸色一……',
    'chapters' => '204',
    'size' => '1019283',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500456468',
    'dayvisit' => '26',
    'weekvisit' => '65',
    'monthvisit' => '364',
    'allvisit' => '585',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1492587949',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '1019283',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '160',
    'vippubid' => '0',
    'vipchapters' => '177',
    'vipsize' => '885936',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '594594',
    'vipchapter' => '第二百零三章 混战 （大结局）',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;噼噼啪啪……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一阵炒爆豆的声音接连不断的响起，两团朦胧而模糊的掌影笼罩方玄周身三十六处大穴，一招战神千叶手，烈霸竟然在电光石火的瞬即拍出了六六三十六掌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一系列水银泻地的攻击，动作快得不可捉摸，方玄置身于其中，只感觉一股绵薄而悠长的真劲，似钢针般细数扎进身体，顺着要人命的穴位，直达本心，同一瞬，他的脑袋轰然般炸响，意识都开始模糊起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当初方之所以能从绿巨人手下活命，依仗的就是一套打穴功夫，想想，即便是绿巨人那种变态的存在，要害穴位被点中，都会感觉到撕心裂肺的疼痛，而方……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '都市热血',
    'sortname' => '都市热血',
    'type' => '',
    'typename' => '',
    'size_c' => 509642,
    'size_k' => 510,
    'size_w' => 51,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1973/1973s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1973/1973s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1973/1973s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1973.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1973',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1973',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1973',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1973',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1973&cid=594417',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=160&cid=594594',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1973',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1973',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1973',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D6%D8%C9%FA%D6%AE%D6%D5%BC%AB%B8%DF%CA%D6%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1973.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1973',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1492587754',
  'lastupdate' => '1492587754',
  'articlename' => '重生之终极高手',
  'articlecode' => 'zhongshengzhizhongjigaoshou',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '0',
  'author' => '浮生',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '看得出来，男人真的很后悔，短暂的接触，方玄能感觉到，这就是个老实巴交搞学术的男人，如果不是被人逼得走投无路，他万万不会走出这一步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要知道，这种事情，已经构成了商业犯罪，可不光是良心受谴责而已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原以为要经过一番严厉的措辞，甚至还要动用点非常手段，没想到事情竟然这么简单，方玄赶紧扶起张天河，用很严肃的语气说道：“行了，知道你是被逼的，将功赎罪，你告诉我，是谁让你这么干的？还有，刚刚那个男人是谁？你们怎么认识的？”',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '594417',
  'lastchapter' => '第二十六章 都扔出去',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;方玄笑了，这个阿威，倒颇有几分傲气，只是不知他是否有骄傲的本钱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随意的伸出一只手，方玄也不说话，只是淡淡的看了阿威一眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阿威眉头一挑，一丝不屑闪过眼睑，这个纨绔公子，是不是脑袋秀逗了？竟然想掂量自己的实力？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果不是家里急需要钱，而他老子方镇南对自己又有知遇之恩，自己早就离开方家了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过既然这个纨绔少爷如此不识进退，给他点颜色又何妨？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想到这些，阿威不再犹豫，蒲扇大的巴掌当即伸出，紧紧的握住了方玄的手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两手相握，阿威五指用力一收，蓦地，他脸色一……',
  'chapters' => '204',
  'size' => '1019283',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500456468',
  'dayvisit' => '26',
  'weekvisit' => '65',
  'monthvisit' => '364',
  'allvisit' => '585',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1492587949',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '1019283',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '160',
  'vippubid' => '0',
  'vipchapters' => '177',
  'vipsize' => '885936',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '594594',
  'vipchapter' => '第二百零三章 混战 （大结局）',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;噼噼啪啪……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一阵炒爆豆的声音接连不断的响起，两团朦胧而模糊的掌影笼罩方玄周身三十六处大穴，一招战神千叶手，烈霸竟然在电光石火的瞬即拍出了六六三十六掌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一系列水银泻地的攻击，动作快得不可捉摸，方玄置身于其中，只感觉一股绵薄而悠长的真劲，似钢针般细数扎进身体，顺着要人命的穴位，直达本心，同一瞬，他的脑袋轰然般炸响，意识都开始模糊起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当初方之所以能从绿巨人手下活命，依仗的就是一套打穴功夫，想想，即便是绿巨人那种变态的存在，要害穴位被点中，都会感觉到撕心裂肺的疼痛，而方……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '都市热血',
  'sortname' => '都市热血',
  'type' => '',
  'typename' => '',
  'size_c' => 509642,
  'size_k' => 510,
  'size_w' => 51,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1973/1973s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1973/1973s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1973/1973s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1973.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1973',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1973',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1973',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1973',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1973&cid=594417',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=160&cid=594594',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1973',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1973',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1973',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D6%D8%C9%FA%D6%AE%D6%D5%BC%AB%B8%DF%CA%D6%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1973.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)