array (
  'meta_keywords' => '金珠变 浮生 玄幻魔法',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1976&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1976&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1976&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1976&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1976',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1492587854',
    'lastupdate' => '1492587854',
    'articlename' => '金珠变',
    'articlecode' => 'jinzhubian',
    'backupname' => '',
    'keywords' => '莫羽',
    'roles' => '',
    'initial' => 'J',
    'authorid' => '0',
    'author' => '浮生',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '29',
    'libid' => '0',
    'intro' => '“轰”一道惊天巨响从莫羽的居住地那里传了出来，生硬地震碎了他眼前的一切，原本已是随手可得的灵草犹如惊弓之鸟瞬间窜走，未等莫羽醒悟过来，已消失不见了。<br />
 一股不安的情绪浮现在莫羽的心头上，出大事了！。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '594869',
    'lastchapter' => '第二十二章：探宝',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“我早说过此子非凡，落入这座古城不死，必有异处”苍老地声音似乎有点得意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“闭嘴！他早晚也得死，现在全力搜查他，把古城翻上天也要找到他”艳彩少年牙齿呼呼作响。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一股滔天的恨意突然生起，眼前的这种事情，可是从来都没有发生过的，但是现在却生生地出现在他的面前，这真是令人抓狂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;感受着艳彩少年的狂怒，在他身边的所有蒙面人不敢出声，生怕一旦说出了错话，那得到的下场未必比光点能量体钻体而亡的蒙面人好得了哪里去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫羽一直延着古城的小道迅速小跑，他尽量往一些有大量建筑物的地方……',
    'chapters' => '305',
    'size' => '1736644',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500634422',
    'dayvisit' => '39',
    'weekvisit' => '169',
    'monthvisit' => '468',
    'allvisit' => '728',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1492587942',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '1736644',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '157',
    'vippubid' => '0',
    'vipchapters' => '283',
    'vipsize' => '1614859',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '595152',
    'vipchapter' => '第三百零六章：情况异变',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“这是命令，我是你的师兄，你得听我的，否则不要怪我不客气”窥悟四阶的师兄阴狠地说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他一说完马上散出一身的杀意，但那名窥悟四阶的师弟却不为所动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在四周的那三名窥悟修者却在这个时候有点不知所措了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们的大人竟然在这个关键时刻争执了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且更为重要的是，在他们二名大人争执之中，他们是不能够劝阻的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;否则他们的大人会因此而击杀掉他们。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这种情况之下，他们就算是真的被他们的大人杀掉，那也是无话可以说的，毕竟魔血教的等阶实力之分，是极为森严的，任何人……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '东方玄幻',
    'typename' => '东方玄幻',
    'size_c' => 868322,
    'size_k' => 869,
    'size_w' => 86.8,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1976/1976s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1976/1976s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1976/1976s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1976.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1976',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1976',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1976',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1976',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1976&cid=594869',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=157&cid=595152',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1976',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1976',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1976',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BD%F0%D6%E9%B1%E4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1976.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1976',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1492587854',
  'lastupdate' => '1492587854',
  'articlename' => '金珠变',
  'articlecode' => 'jinzhubian',
  'backupname' => '',
  'keywords' => '莫羽',
  'roles' => '',
  'initial' => 'J',
  'authorid' => '0',
  'author' => '浮生',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '29',
  'libid' => '0',
  'intro' => '“轰”一道惊天巨响从莫羽的居住地那里传了出来，生硬地震碎了他眼前的一切，原本已是随手可得的灵草犹如惊弓之鸟瞬间窜走，未等莫羽醒悟过来，已消失不见了。<br />
 一股不安的情绪浮现在莫羽的心头上，出大事了！。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '594869',
  'lastchapter' => '第二十二章：探宝',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“我早说过此子非凡，落入这座古城不死，必有异处”苍老地声音似乎有点得意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“闭嘴！他早晚也得死，现在全力搜查他，把古城翻上天也要找到他”艳彩少年牙齿呼呼作响。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一股滔天的恨意突然生起，眼前的这种事情，可是从来都没有发生过的，但是现在却生生地出现在他的面前，这真是令人抓狂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;感受着艳彩少年的狂怒，在他身边的所有蒙面人不敢出声，生怕一旦说出了错话，那得到的下场未必比光点能量体钻体而亡的蒙面人好得了哪里去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫羽一直延着古城的小道迅速小跑，他尽量往一些有大量建筑物的地方……',
  'chapters' => '305',
  'size' => '1736644',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500634422',
  'dayvisit' => '39',
  'weekvisit' => '169',
  'monthvisit' => '468',
  'allvisit' => '728',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1492587942',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '1736644',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '157',
  'vippubid' => '0',
  'vipchapters' => '283',
  'vipsize' => '1614859',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '595152',
  'vipchapter' => '第三百零六章：情况异变',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“这是命令，我是你的师兄，你得听我的，否则不要怪我不客气”窥悟四阶的师兄阴狠地说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他一说完马上散出一身的杀意，但那名窥悟四阶的师弟却不为所动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在四周的那三名窥悟修者却在这个时候有点不知所措了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们的大人竟然在这个关键时刻争执了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且更为重要的是，在他们二名大人争执之中，他们是不能够劝阻的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;否则他们的大人会因此而击杀掉他们。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这种情况之下，他们就算是真的被他们的大人杀掉，那也是无话可以说的，毕竟魔血教的等阶实力之分，是极为森严的，任何人……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '东方玄幻',
  'typename' => '东方玄幻',
  'size_c' => 868322,
  'size_k' => 869,
  'size_w' => 86.8,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1976/1976s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1976/1976s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1976/1976s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1976.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1976',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1976',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1976',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1976',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1976&cid=594869',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=157&cid=595152',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1976',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1976',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1976',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BD%F0%D6%E9%B1%E4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1976.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '莫羽',
      'tagencode' => '%C4%AA%D3%F0',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 1,
    'addrows' => 0,
    'loops' => 1,
    'index' => 1,
    'order' => 1,
    'row' => 1,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '莫羽',
      'tagencode' => '%C4%AA%D3%F0',
    ),
    'key' => 0,
    'append' => 0,
  ),
)