array (
  'meta_keywords' => '魂元神座 浮生 玄幻魔法',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1977&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1977&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1977&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1977&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1977',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1492587883',
    'lastupdate' => '1492587883',
    'articlename' => '魂元神座',
    'articlecode' => 'hunyuanshenzuo',
    'backupname' => '他想要……升起属于他自己的魂元神座！',
    'keywords' => '升级 热血 神座',
    'roles' => '',
    'initial' => 'H',
    'authorid' => '0',
    'author' => '浮生',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '郭慕知道如果他不努力将没有任何能力去保护郭颖儿，虽是堂堂郭家二少爷却因为是个无法修炼的废物，人人唾弃。他想要……升起属于他自己的魂元神座！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '595180',
    'lastchapter' => '第二十八章 马大哈的男宠',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;有了第一天的挖矿经验，第二天，郭慕等人已经能够独立采矿。专门的人员负责统计他们的一天的工作量，然后上报给刀疤脸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;得知自己不挖满二十桶可能会遭遇的悲惨下场后，郭慕和风三少都是埋头苦干，不敢有任何懈怠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知不觉的，他已经完成了一半的数量。而此时因为在矿洞之中，他也不知道自己究竟干了多久，模模糊糊也有七八个小时了吧。中途吃过饭，也是和昨天那种猪食般的饭菜一样。可没办法啊，就算真是猪食也得吃啊，不吃，哪有力气干活。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郭慕看到，就连口口声声说，绝对不吃猪食的风三少，也埋头拼命……',
    'chapters' => '317',
    'size' => '2028294',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500543197',
    'dayvisit' => 0,
    'weekvisit' => '221',
    'monthvisit' => '442',
    'allvisit' => '780',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1492587940',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '2028294',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '156',
    'vippubid' => '0',
    'vipchapters' => '289',
    'vipsize' => '1848608',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '595469',
    'vipchapter' => '第三百一十七章 再见郭颖儿',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;仿佛知道郭幕的想法一般，晴心叹了口气，解释道：“我们的确是不知道，并没有丝毫欺瞒的意思。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯嗯！”重剑也重重的点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“其实我们在场的所有人都不知道石门之后是什么样的世界，因为……”晴心低吟了一下，继续说道：“因为我们重新出来后，发现我们都失忆了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;失忆！顿时郭幕愣了，这个答案似乎有些恶作剧吧！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是郭幕很快便否决了自己的想法，只因为此时重剑以及晴心严肃的神情告诉他，这个答案是真的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么可能？你们可是天武者，怎么可能突然会失忆呢！”郭幕难以置信的摇……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '',
    'typename' => '',
    'size_c' => 1014147,
    'size_k' => 1015,
    'size_w' => 101.4,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1977/1977s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1977/1977s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1977/1977s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1977.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1977',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1977',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1977',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1977',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1977&cid=595180',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=156&cid=595469',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1977',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1977',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1977',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BB%EA%D4%AA%C9%F1%D7%F9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1977.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1977',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1492587883',
  'lastupdate' => '1492587883',
  'articlename' => '魂元神座',
  'articlecode' => 'hunyuanshenzuo',
  'backupname' => '他想要……升起属于他自己的魂元神座！',
  'keywords' => '升级 热血 神座',
  'roles' => '',
  'initial' => 'H',
  'authorid' => '0',
  'author' => '浮生',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '郭慕知道如果他不努力将没有任何能力去保护郭颖儿，虽是堂堂郭家二少爷却因为是个无法修炼的废物，人人唾弃。他想要……升起属于他自己的魂元神座！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '595180',
  'lastchapter' => '第二十八章 马大哈的男宠',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;有了第一天的挖矿经验，第二天，郭慕等人已经能够独立采矿。专门的人员负责统计他们的一天的工作量，然后上报给刀疤脸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;得知自己不挖满二十桶可能会遭遇的悲惨下场后，郭慕和风三少都是埋头苦干，不敢有任何懈怠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知不觉的，他已经完成了一半的数量。而此时因为在矿洞之中，他也不知道自己究竟干了多久，模模糊糊也有七八个小时了吧。中途吃过饭，也是和昨天那种猪食般的饭菜一样。可没办法啊，就算真是猪食也得吃啊，不吃，哪有力气干活。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郭慕看到，就连口口声声说，绝对不吃猪食的风三少，也埋头拼命……',
  'chapters' => '317',
  'size' => '2028294',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500543197',
  'dayvisit' => 0,
  'weekvisit' => '221',
  'monthvisit' => '442',
  'allvisit' => '780',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1492587940',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '2028294',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '156',
  'vippubid' => '0',
  'vipchapters' => '289',
  'vipsize' => '1848608',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '595469',
  'vipchapter' => '第三百一十七章 再见郭颖儿',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;仿佛知道郭幕的想法一般，晴心叹了口气，解释道：“我们的确是不知道，并没有丝毫欺瞒的意思。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯嗯！”重剑也重重的点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“其实我们在场的所有人都不知道石门之后是什么样的世界，因为……”晴心低吟了一下，继续说道：“因为我们重新出来后，发现我们都失忆了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;失忆！顿时郭幕愣了，这个答案似乎有些恶作剧吧！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是郭幕很快便否决了自己的想法，只因为此时重剑以及晴心严肃的神情告诉他，这个答案是真的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么可能？你们可是天武者，怎么可能突然会失忆呢！”郭幕难以置信的摇……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '',
  'typename' => '',
  'size_c' => 1014147,
  'size_k' => 1015,
  'size_w' => 101.4,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1977/1977s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1977/1977s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1977/1977s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1977.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1977',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1977',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1977',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1977',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1977&cid=595180',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=156&cid=595469',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1977',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1977',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1977',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B8%A1%C9%FA',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BB%EA%D4%AA%C9%F1%D7%F9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1977.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '升级',
      'tagencode' => '%C9%FD%BC%B6',
    ),
    1 => 
    array (
      'tagname' => '热血',
      'tagencode' => '%C8%C8%D1%AA',
    ),
    2 => 
    array (
      'tagname' => '神座',
      'tagencode' => '%C9%F1%D7%F9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 3,
    'addrows' => 0,
    'loops' => 3,
    'index' => 3,
    'order' => 3,
    'row' => 3,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '神座',
      'tagencode' => '%C9%F1%D7%F9',
    ),
    'key' => 2,
    'append' => 0,
  ),
)