array (
  'meta_keywords' => '宠爱入骨：就想宠着你 兰二 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1979&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1979&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1979&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1979&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1979',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1492779182',
    'lastupdate' => '1499059597',
    'articlename' => '宠爱入骨：就想宠着你',
    'articlecode' => 'chongairugu_jiuxiangchongzhouni',
    'backupname' => '总裁高冷？禁欲？可这欲求不饱的饿狼到底是怎么回事！',
    'keywords' => '总裁 现代言情 温馨暖文',
    'roles' => '',
    'initial' => 'C',
    'authorid' => '0',
    'author' => '兰二',
    'posterid' => '1772',
    'poster' => '兰二',
    'agentid' => '1797',
    'agent' => '楚先生',
    'sortid' => '1',
    'typeid' => '3',
    'libid' => '0',
    'intro' => '什么情况？不过是逛个街而已，这是？被绑架了？<br />
不是绑架吗？怎么没人管啊？<br />
再见到他，老大，不过一场意外的误会，不能彼此当做不认识吗？求放过。<br />
你到底是黑帮老大？还是正经总裁啊？<br />
怎么就突然变成了同居的关系？我们才认识几个月而已啊？<br />
……<br />
腹黑的饿狼一笑，放过？放了你一次，你还以为还有第二次吗？<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '607169',
    'lastchapter' => '写在最后的话',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;终于写完了最后一章，中间开心或苦闷，也终于在坚持的汗水中蒸发，感谢一直以来陪伴我的小伙伴们，也感谢辛苦指导的编辑大大。这部小说来源于我做的一个梦，梦里只有一个简单的情节，有个朋友说，可以把这个写成小说，因为种种原因一直没有动笔，现在终于算是完成了一个愿望。爱情，我希望她出现在每一小伙伴身边的时候，都是浪漫甜蜜的，也祝愿每一位小伙伴永远幸福。',
    'chapters' => '146',
    'size' => '536652',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '8483',
    'lastvisit' => '1500579373',
    'dayvisit' => '13',
    'weekvisit' => '234',
    'monthvisit' => '1170',
    'allvisit' => '9009',
    'lastvote' => '1499133012',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => '62',
    'allvote' => '1016',
    'goodnum' => '6',
    'reviewsnum' => '63',
    'ratenum' => 7,
    'ratesum' => 67,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '全本',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1493790387',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1499059597',
    'freesize' => '536652',
    'isvip' => '签约',
    'viptime' => '1498892912',
    'vipid' => '162',
    'vippubid' => '0',
    'vipchapters' => '104',
    'vipsize' => '406104',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '607115',
    'vipchapter' => '第一百四十二章&nbsp;&nbsp; 采昱的女朋友',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;一屋子的人，七嘴八舌的说着，倒也是很热闹。言栋身边一直都有人在问问题，内容也都差不多，无外乎是家里情况，做的什么工作之类的。一批人问完就换另一波，问完的人就在不远处热闹的议论着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然是闹哄哄的，采夭也还是能够分辨出大家在说些什么，都是些有福气之类的话。采夭在不远处陪着客人说话，也不忘分神去关注一下言栋，就怕他被惹毛了，还好，言栋的表现还算客套，至少不算是失礼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;言栋自然也注意到采夭关心的目光，对她笑了笑，示意自己没事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;客人来的太多，就连薄采昱都不能幸免的被拉去陪着。然..',
    'lastflower' => '1499330982',
    'allflower' => '47',
    'monthflower' => '20',
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 268326,
    'size_k' => 269,
    'size_w' => 26.8,
    'rateavg' => '9.6',
    'rateavg_i' => 9,
    'rateavg_d' => 6,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1979/1979s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1979/1979s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1979/1979s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1979.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1979',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1979',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1979',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1979',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1979&cid=607169',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=162&cid=607115',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1979',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1979',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1979',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C0%BC%B6%FE',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C0%BC%B6%FE',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B3%E8%B0%AE%C8%EB%B9%C7%A3%BA%BE%CD%CF%EB%B3%E8%D7%C5%C4%E3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1979.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1979',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1492779182',
  'lastupdate' => '1499059597',
  'articlename' => '宠爱入骨：就想宠着你',
  'articlecode' => 'chongairugu_jiuxiangchongzhouni',
  'backupname' => '总裁高冷？禁欲？可这欲求不饱的饿狼到底是怎么回事！',
  'keywords' => '总裁 现代言情 温馨暖文',
  'roles' => '',
  'initial' => 'C',
  'authorid' => '0',
  'author' => '兰二',
  'posterid' => '1772',
  'poster' => '兰二',
  'agentid' => '1797',
  'agent' => '楚先生',
  'sortid' => '1',
  'typeid' => '3',
  'libid' => '0',
  'intro' => '什么情况？不过是逛个街而已，这是？被绑架了？<br />
不是绑架吗？怎么没人管啊？<br />
再见到他，老大，不过一场意外的误会，不能彼此当做不认识吗？求放过。<br />
你到底是黑帮老大？还是正经总裁啊？<br />
怎么就突然变成了同居的关系？我们才认识几个月而已啊？<br />
……<br />
腹黑的饿狼一笑，放过？放了你一次，你还以为还有第二次吗？<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '607169',
  'lastchapter' => '写在最后的话',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;终于写完了最后一章，中间开心或苦闷，也终于在坚持的汗水中蒸发，感谢一直以来陪伴我的小伙伴们，也感谢辛苦指导的编辑大大。这部小说来源于我做的一个梦，梦里只有一个简单的情节，有个朋友说，可以把这个写成小说，因为种种原因一直没有动笔，现在终于算是完成了一个愿望。爱情，我希望她出现在每一小伙伴身边的时候，都是浪漫甜蜜的，也祝愿每一位小伙伴永远幸福。',
  'chapters' => '146',
  'size' => '536652',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '8483',
  'lastvisit' => '1500579373',
  'dayvisit' => '13',
  'weekvisit' => '234',
  'monthvisit' => '1170',
  'allvisit' => '9009',
  'lastvote' => '1499133012',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => '62',
  'allvote' => '1016',
  'goodnum' => '6',
  'reviewsnum' => 62,
  'ratenum' => 7,
  'ratesum' => 67,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '全本',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1493790387',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1499059597',
  'freesize' => '536652',
  'isvip' => '签约',
  'viptime' => '1498892912',
  'vipid' => '162',
  'vippubid' => '0',
  'vipchapters' => '104',
  'vipsize' => '406104',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '607115',
  'vipchapter' => '第一百四十二章&nbsp;&nbsp; 采昱的女朋友',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;一屋子的人，七嘴八舌的说着，倒也是很热闹。言栋身边一直都有人在问问题，内容也都差不多，无外乎是家里情况，做的什么工作之类的。一批人问完就换另一波，问完的人就在不远处热闹的议论着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然是闹哄哄的，采夭也还是能够分辨出大家在说些什么，都是些有福气之类的话。采夭在不远处陪着客人说话，也不忘分神去关注一下言栋，就怕他被惹毛了，还好，言栋的表现还算客套，至少不算是失礼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;言栋自然也注意到采夭关心的目光，对她笑了笑，示意自己没事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;客人来的太多，就连薄采昱都不能幸免的被拉去陪着。然..',
  'lastflower' => '1499330982',
  'allflower' => '47',
  'monthflower' => '20',
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 268326,
  'size_k' => 269,
  'size_w' => 26.8,
  'rateavg' => '9.6',
  'rateavg_i' => 9,
  'rateavg_d' => 6,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1979/1979s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1979/1979s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1979/1979s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1979.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1979',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1979',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1979',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1979',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1979&cid=607169',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=162&cid=607115',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1979',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1979',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1979',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C0%BC%B6%FE',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C0%BC%B6%FE',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B3%E8%B0%AE%C8%EB%B9%C7%A3%BA%BE%CD%CF%EB%B3%E8%D7%C5%C4%E3%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1979.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '总裁',
      'tagencode' => '%D7%DC%B2%C3',
    ),
    1 => 
    array (
      'tagname' => '现代言情',
      'tagencode' => '%CF%D6%B4%FA%D1%D4%C7%E9',
    ),
    2 => 
    array (
      'tagname' => '温馨暖文',
      'tagencode' => '%CE%C2%DC%B0%C5%AF%CE%C4',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 3,
    'addrows' => 0,
    'loops' => 3,
    'index' => 3,
    'order' => 3,
    'row' => 3,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '温馨暖文',
      'tagencode' => '%CE%C2%DC%B0%C5%AF%CE%C4',
    ),
    'key' => 2,
    'append' => 0,
  ),
)