array (
  'meta_keywords' => '染指成婚：总裁坏坏爱 萌小宝 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1981&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1981&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1981&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1981&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1981',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1494050063',
    'lastupdate' => '1499009938',
    'articlename' => '染指成婚：总裁坏坏爱',
    'articlecode' => 'ranzhichenghun_zongcaihuaihuaiai',
    'backupname' => '这个有毒的女人，会让人上瘾',
    'keywords' => '总裁 暧昧 婚恋 宠文',
    'roles' => '',
    'initial' => 'R',
    'authorid' => '1979',
    'author' => '萌小宝',
    'posterid' => '1979',
    'poster' => '萌小宝',
    'agentid' => '1797',
    'agent' => '楚先生',
    'sortid' => '1',
    'typeid' => '3',
    'libid' => '0',
    'intro' => '她许小妖是天生的尤物，大江海舞厅公认的第一美人！被她迷倒的男人围起来可绕地球十圈！<br />
　　听说冥家太子是个不举？坐在一群水汪汪白嫩嫩的女人中间连眼睛都不眨一下？这不就是不动如山的柳下惠？<br />
　　经得起许小妖诱惑的不举，才是真不举！让她试试不就水落石出了！<br />
　　那日，她穿上小短裙，半露香肩，嘴里叼着野玫瑰，妩媚自如的打开门：“太子爷~里边儿请呀~”<br />
　　呃，可是，等等……这个传说中‘不动如山’、‘面无表情’、‘厌恶女人’的太子爷……眼睛里泛着精光？！<br />
　　喂！那啥，等等……你别扑过来啊！！！<br />
被健壮美男压倒的瞬间，许小妖内心把那些不靠谱的流言诅咒了四万八千遍……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '597224',
    'lastchapter' => '第20章 偏偏让人吃不到碰不到的',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;经理噎了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这不是好不好的问题……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许小妖拦截打断：“我跳得好，客人喜欢，小费多，您拿的提成也多。这么好的事情，您何乐而不为呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想到关于冥纵肆的问题，许小妖眼珠转转：“而且我跟冥纵肆真没有什么关系的，早就已经断了，你知道的，那么大的人物，身边的女人那么多，迟早是要玩腻的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说到这儿，还扁扁嘴巴，作出一副可怜巴巴的样子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样一来，经理总能让她回来跳舞了吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;谁知道经理仍然不松口，还是说：“现在这里的姐妹都挺好的，你突然要插进来，让我怎么安排..',
    'chapters' => '103',
    'size' => '618070',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '26592',
    'lastvisit' => '1499122948',
    'dayvisit' => '26',
    'weekvisit' => '117',
    'monthvisit' => '416',
    'allvisit' => '4706',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1496222926',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1496763318',
    'freesize' => '280213',
    'isvip' => 'VIP',
    'viptime' => '1499009938',
    'vipid' => '168',
    'vippubid' => '0',
    'vipchapters' => '83',
    'vipsize' => '550565',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '607142',
    'vipchapter' => '第103章 以为自己多干净似的！',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;这只是家小饮品店，所谓的咖啡，也就是五六块一杯的速溶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许小妖很快的放在了柜台上，冥江汉来拿，付钱，还总是盯着她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒋妙妙今天不在，陪父亲去医院做检查，凭两人的关系，许小妖连声说没关系，自己一个人还能忙得过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒋妙妙感激极了，因为这样不算作请假，就可以多一天的工资。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在，这两天都在下着雨，没有什么生意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许小妖忙碌自己的，不管店里慢慢喝着一杯速溶咖啡的冥江汉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但即便她再竭力忽视，他的目光太炙热强烈，让她快有些忍无可忍了…<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;恰好，发现奶茶粉快要..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 309035,
    'size_k' => 310,
    'size_w' => 30.9,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1981/1981s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1981/1981s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1981/1981s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1981.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1981',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1981',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1981',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1981',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1981&cid=597224',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=168&cid=607142',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1981',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1981',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1981',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/1979.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%C8%D0%A1%B1%A6',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C8%BE%D6%B8%B3%C9%BB%E9%A3%BA%D7%DC%B2%C3%BB%B5%BB%B5%B0%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1981.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1981',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1494050063',
  'lastupdate' => '1499009938',
  'articlename' => '染指成婚：总裁坏坏爱',
  'articlecode' => 'ranzhichenghun_zongcaihuaihuaiai',
  'backupname' => '这个有毒的女人，会让人上瘾',
  'keywords' => '总裁 暧昧 婚恋 宠文',
  'roles' => '',
  'initial' => 'R',
  'authorid' => '1979',
  'author' => '萌小宝',
  'posterid' => '1979',
  'poster' => '萌小宝',
  'agentid' => '1797',
  'agent' => '楚先生',
  'sortid' => '1',
  'typeid' => '3',
  'libid' => '0',
  'intro' => '她许小妖是天生的尤物，大江海舞厅公认的第一美人！被她迷倒的男人围起来可绕地球十圈！<br />
　　听说冥家太子是个不举？坐在一群水汪汪白嫩嫩的女人中间连眼睛都不眨一下？这不就是不动如山的柳下惠？<br />
　　经得起许小妖诱惑的不举，才是真不举！让她试试不就水落石出了！<br />
　　那日，她穿上小短裙，半露香肩，嘴里叼着野玫瑰，妩媚自如的打开门：“太子爷~里边儿请呀~”<br />
　　呃，可是，等等……这个传说中‘不动如山’、‘面无表情’、‘厌恶女人’的太子爷……眼睛里泛着精光？！<br />
　　喂！那啥，等等……你别扑过来啊！！！<br />
被健壮美男压倒的瞬间，许小妖内心把那些不靠谱的流言诅咒了四万八千遍……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '597224',
  'lastchapter' => '第20章 偏偏让人吃不到碰不到的',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;经理噎了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这不是好不好的问题……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许小妖拦截打断：“我跳得好，客人喜欢，小费多，您拿的提成也多。这么好的事情，您何乐而不为呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想到关于冥纵肆的问题，许小妖眼珠转转：“而且我跟冥纵肆真没有什么关系的，早就已经断了，你知道的，那么大的人物，身边的女人那么多，迟早是要玩腻的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说到这儿，还扁扁嘴巴，作出一副可怜巴巴的样子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样一来，经理总能让她回来跳舞了吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;谁知道经理仍然不松口，还是说：“现在这里的姐妹都挺好的，你突然要插进来，让我怎么安排..',
  'chapters' => '103',
  'size' => '618070',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '26592',
  'lastvisit' => '1499122948',
  'dayvisit' => '26',
  'weekvisit' => '117',
  'monthvisit' => '416',
  'allvisit' => '4706',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1496222926',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1496763318',
  'freesize' => '280213',
  'isvip' => 'VIP',
  'viptime' => '1499009938',
  'vipid' => '168',
  'vippubid' => '0',
  'vipchapters' => '83',
  'vipsize' => '550565',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '607142',
  'vipchapter' => '第103章 以为自己多干净似的！',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;这只是家小饮品店，所谓的咖啡，也就是五六块一杯的速溶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许小妖很快的放在了柜台上，冥江汉来拿，付钱，还总是盯着她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒋妙妙今天不在，陪父亲去医院做检查，凭两人的关系，许小妖连声说没关系，自己一个人还能忙得过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒋妙妙感激极了，因为这样不算作请假，就可以多一天的工资。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在，这两天都在下着雨，没有什么生意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许小妖忙碌自己的，不管店里慢慢喝着一杯速溶咖啡的冥江汉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但即便她再竭力忽视，他的目光太炙热强烈，让她快有些忍无可忍了…<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;恰好，发现奶茶粉快要..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 309035,
  'size_k' => 310,
  'size_w' => 30.9,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1981/1981s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1981/1981s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1981/1981s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1981.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1981',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1981',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1981',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1981',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1981&cid=597224',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=168&cid=607142',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1981',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1981',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1981',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/1979.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%C8%D0%A1%B1%A6',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C8%BE%D6%B8%B3%C9%BB%E9%A3%BA%D7%DC%B2%C3%BB%B5%BB%B5%B0%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1981.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '总裁',
      'tagencode' => '%D7%DC%B2%C3',
    ),
    1 => 
    array (
      'tagname' => '暧昧',
      'tagencode' => '%EA%D3%C3%C1',
    ),
    2 => 
    array (
      'tagname' => '婚恋',
      'tagencode' => '%BB%E9%C1%B5',
    ),
    3 => 
    array (
      'tagname' => '宠文',
      'tagencode' => '%B3%E8%CE%C4',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 4,
    'addrows' => 0,
    'loops' => 4,
    'index' => 4,
    'order' => 4,
    'row' => 4,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '宠文',
      'tagencode' => '%B3%E8%CE%C4',
    ),
    'key' => 3,
    'append' => 0,
  ),
)