array (
  'meta_keywords' => '双面娇妻：总裁别这样 汐婉 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1982&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1982&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1982&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1982&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1982',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1494405791',
    'lastupdate' => '1499009742',
    'articlename' => '双面娇妻：总裁别这样',
    'articlecode' => 'shuangmianjiaoqi_zongcaibiezheyang',
    'backupname' => '那个女人离开他，却变成了他爱的模样',
    'keywords' => '总裁 暧昧 婚恋 虐恋 追妻',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '0',
    'author' => '汐婉',
    'posterid' => '2026',
    'poster' => '汐婉',
    'agentid' => '1797',
    'agent' => '楚先生',
    'sortid' => '1',
    'typeid' => '3',
    'libid' => '0',
    'intro' => '她做了他2年的枕边人，<br />
根据他的喜好，<br />
把自己伪装成听话、乖巧、爱慕虚荣的模样。<br />
他终于厌烦了她，她也如愿被抛弃了！<br />
离开他，她重拾真正的自己。<br />
而他发现，这个该死的女人，不仅经常出没于自己的眼前，<br />
还故意装作一副优雅、沉着的模样，<br />
而他竟然爱上了这样的她！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '597231',
    'lastchapter' => '第20章 不要太专情了',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;顾陌曦点头：“我跟齐总没有任何关系，齐总来这里莫不是担心我？还是想我了，才来这里的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她知道，她不能留下这个男人，即便心里再害怕，也绝对不能让他留下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;齐少黎点头，看着外面的电闪雷鸣，再低头看着她有些瑟缩的肩膀，这个女人，自从离开了他，就变成了这样，不管她玩什么把戏，他都要让她臣服于他！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“恩，那你小心。”齐少黎转身，朝着门口的方向走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她不领情，他也没有必要自作多情，今夜，就随她吧！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着齐少黎走到门口，有这个男人在确实能让她安心，但是……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她跟着..',
    'chapters' => '116',
    'size' => '702797',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '26843',
    'lastvisit' => '1499056677',
    'dayvisit' => '91',
    'weekvisit' => '91',
    'monthvisit' => '806',
    'allvisit' => '4927',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1496222915',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1496763610',
    'freesize' => '340663',
    'isvip' => 'VIP',
    'viptime' => '1499009742',
    'vipid' => '169',
    'vippubid' => '0',
    'vipchapters' => '96',
    'vipsize' => '647358',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '607140',
    'vipchapter' => '第115章 你不再是她的金主',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;距离那天的事情已经过去三天了，齐少黎去出差了，据说还要两天才能回来，电话也一直没有少打着，但是她都没有去接。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是让她纳闷的是，一直在找着她的是钟艺，每天好几个电话，说是让她帮忙约出来花姐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今天一早，她刚吃完了早餐，钟艺就说要过来接她，已经好几次钟艺都想要过来公寓，只是，每一次，她都拒绝他的进来，让他在小区外等着，她出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顾陌曦慌慌张张的跑到了小区门口，看着一辆熟悉的车子，粗喘着气息，双手掐腰，有丝疲惫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今天的她，短袖，短裤，平底鞋，肩上挎着一个小包，清秀的一..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 351399,
    'size_k' => 352,
    'size_w' => 35.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1982/1982s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1982/1982s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1982/1982s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1982.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1982',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1982',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1982',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1982',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1982&cid=597231',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=169&cid=607140',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1982',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1982',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1982',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%AB%CD%F1',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%AB%CD%F1',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CB%AB%C3%E6%BD%BF%C6%DE%A3%BA%D7%DC%B2%C3%B1%F0%D5%E2%D1%F9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1982.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1982',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1494405791',
  'lastupdate' => '1499009742',
  'articlename' => '双面娇妻：总裁别这样',
  'articlecode' => 'shuangmianjiaoqi_zongcaibiezheyang',
  'backupname' => '那个女人离开他，却变成了他爱的模样',
  'keywords' => '总裁 暧昧 婚恋 虐恋 追妻',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '0',
  'author' => '汐婉',
  'posterid' => '2026',
  'poster' => '汐婉',
  'agentid' => '1797',
  'agent' => '楚先生',
  'sortid' => '1',
  'typeid' => '3',
  'libid' => '0',
  'intro' => '她做了他2年的枕边人，<br />
根据他的喜好，<br />
把自己伪装成听话、乖巧、爱慕虚荣的模样。<br />
他终于厌烦了她，她也如愿被抛弃了！<br />
离开他，她重拾真正的自己。<br />
而他发现，这个该死的女人，不仅经常出没于自己的眼前，<br />
还故意装作一副优雅、沉着的模样，<br />
而他竟然爱上了这样的她！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '597231',
  'lastchapter' => '第20章 不要太专情了',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;顾陌曦点头：“我跟齐总没有任何关系，齐总来这里莫不是担心我？还是想我了，才来这里的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她知道，她不能留下这个男人，即便心里再害怕，也绝对不能让他留下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;齐少黎点头，看着外面的电闪雷鸣，再低头看着她有些瑟缩的肩膀，这个女人，自从离开了他，就变成了这样，不管她玩什么把戏，他都要让她臣服于他！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“恩，那你小心。”齐少黎转身，朝着门口的方向走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她不领情，他也没有必要自作多情，今夜，就随她吧！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着齐少黎走到门口，有这个男人在确实能让她安心，但是……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她跟着..',
  'chapters' => '116',
  'size' => '702797',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '26843',
  'lastvisit' => '1499056677',
  'dayvisit' => '91',
  'weekvisit' => '91',
  'monthvisit' => '806',
  'allvisit' => '4927',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1496222915',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1496763610',
  'freesize' => '340663',
  'isvip' => 'VIP',
  'viptime' => '1499009742',
  'vipid' => '169',
  'vippubid' => '0',
  'vipchapters' => '96',
  'vipsize' => '647358',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '607140',
  'vipchapter' => '第115章 你不再是她的金主',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;距离那天的事情已经过去三天了，齐少黎去出差了，据说还要两天才能回来，电话也一直没有少打着，但是她都没有去接。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是让她纳闷的是，一直在找着她的是钟艺，每天好几个电话，说是让她帮忙约出来花姐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今天一早，她刚吃完了早餐，钟艺就说要过来接她，已经好几次钟艺都想要过来公寓，只是，每一次，她都拒绝他的进来，让他在小区外等着，她出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顾陌曦慌慌张张的跑到了小区门口，看着一辆熟悉的车子，粗喘着气息，双手掐腰，有丝疲惫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今天的她，短袖，短裤，平底鞋，肩上挎着一个小包，清秀的一..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 351399,
  'size_k' => 352,
  'size_w' => 35.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1982/1982s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1982/1982s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1982/1982s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1982.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1982',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1982',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1982',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1982',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1982&cid=597231',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=169&cid=607140',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1982',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1982',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1982',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%AB%CD%F1',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%AB%CD%F1',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CB%AB%C3%E6%BD%BF%C6%DE%A3%BA%D7%DC%B2%C3%B1%F0%D5%E2%D1%F9%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1982.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '总裁',
      'tagencode' => '%D7%DC%B2%C3',
    ),
    1 => 
    array (
      'tagname' => '暧昧',
      'tagencode' => '%EA%D3%C3%C1',
    ),
    2 => 
    array (
      'tagname' => '婚恋',
      'tagencode' => '%BB%E9%C1%B5',
    ),
    3 => 
    array (
      'tagname' => '虐恋',
      'tagencode' => '%C5%B0%C1%B5',
    ),
    4 => 
    array (
      'tagname' => '追妻',
      'tagencode' => '%D7%B7%C6%DE',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 5,
    'addrows' => 0,
    'loops' => 5,
    'index' => 5,
    'order' => 5,
    'row' => 5,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '追妻',
      'tagencode' => '%D7%B7%C6%DE',
    ),
    'key' => 4,
    'append' => 0,
  ),
)