array (
  'meta_keywords' => '总裁大人，我嫁 我叫静静 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1986&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1986&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1986&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1986&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1986',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1495854145',
    'lastupdate' => '1498406312',
    'articlename' => '总裁大人，我嫁',
    'articlecode' => 'zongcaidaren_wojia',
    'backupname' => '总裁请冷静，我是二婚。',
    'keywords' => '林乔安 程锦南 二婚',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '0',
    'author' => '我叫静静',
    'posterid' => '2175',
    'poster' => '我叫静静',
    'agentid' => '1797',
    'agent' => '楚先生',
    'sortid' => '1',
    'typeid' => '2',
    'libid' => '0',
    'intro' => '总裁请冷静，我是二婚。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '597640',
    'lastchapter' => '第20章&nbsp;&nbsp;一场精彩的大戏',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;林乔安暂时不考虑其他事情，全身心的投入到工作之中。她不在乎输赢，但是她不想让大家失望。尤其是在得知大家下达成本赌她必胜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安妮逗趣说要拿着赢的钱去买LV包包。就算为了安妮的LV包包，她也不能松懈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等她想起看手机的时候，手机上已经有了连续十几个未接来电，其中有几个是来自程宅的，其他几个都是来自她的大学同学乔婧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;乔婧与林乔安是大学同一个宿舍的密友，能上她们这种贵族学校的，家境都不错。在毕业大家忙着找工作、分配的时候，乔婧带着大学积攒的零花钱，开始了穷游之旅。每当她在微博上更新..',
    'chapters' => '89',
    'size' => '347949',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '311476',
    'lastvisit' => '1498395030',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => '1404',
    'allvisit' => '1794',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1496222934',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1496808146',
    'freesize' => '68608',
    'isvip' => 'VIP',
    'viptime' => '1498406312',
    'vipid' => '170',
    'vippubid' => '0',
    'vipchapters' => '69',
    'vipsize' => '279341',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '606905',
    'vipchapter' => '第89章 我不离婚',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;李牧一直焦急的盯着程锦南的动作。等程锦南收手了，他立即跑去去检查。还好，老大还是手下留情了，程钰主要都是皮肉伤，没有伤及要害，不过免不了受些苦。他的腿，李牧怜悯的看了他一眼，估计又得在床上躺一两个月了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程锦南拨通了程老爷子的电话：“爸！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电话那头传来的是程老太太的声音：“你这个臭小子，这几天跑哪去了？都不见人影。终于知道打个电话回来了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“妈，你把电话给我爸。我有事找他！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程锦南清楚的听到老太太的嘀咕声：“真是的！心里就只有工作！难道就不能跟你妈多说几句？”..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '婚恋',
    'typename' => '婚恋',
    'size_c' => 173975,
    'size_k' => 174,
    'size_w' => 17.4,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1986/1986s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1986/1986s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1986/1986s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1986.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1986',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1986',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1986',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1986',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1986&cid=597640',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=170&cid=606905',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1986',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1986',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1986',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CE%D2%BD%D0%BE%B2%BE%B2',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CE%D2%BD%D0%BE%B2%BE%B2',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D7%DC%B2%C3%B4%F3%C8%CB%A3%AC%CE%D2%BC%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1986.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1986',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1495854145',
  'lastupdate' => '1498406312',
  'articlename' => '总裁大人，我嫁',
  'articlecode' => 'zongcaidaren_wojia',
  'backupname' => '总裁请冷静，我是二婚。',
  'keywords' => '林乔安 程锦南 二婚',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '0',
  'author' => '我叫静静',
  'posterid' => '2175',
  'poster' => '我叫静静',
  'agentid' => '1797',
  'agent' => '楚先生',
  'sortid' => '1',
  'typeid' => '2',
  'libid' => '0',
  'intro' => '总裁请冷静，我是二婚。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '597640',
  'lastchapter' => '第20章&nbsp;&nbsp;一场精彩的大戏',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;林乔安暂时不考虑其他事情，全身心的投入到工作之中。她不在乎输赢，但是她不想让大家失望。尤其是在得知大家下达成本赌她必胜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安妮逗趣说要拿着赢的钱去买LV包包。就算为了安妮的LV包包，她也不能松懈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等她想起看手机的时候，手机上已经有了连续十几个未接来电，其中有几个是来自程宅的，其他几个都是来自她的大学同学乔婧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;乔婧与林乔安是大学同一个宿舍的密友，能上她们这种贵族学校的，家境都不错。在毕业大家忙着找工作、分配的时候，乔婧带着大学积攒的零花钱，开始了穷游之旅。每当她在微博上更新..',
  'chapters' => '89',
  'size' => '347949',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '311476',
  'lastvisit' => '1498395030',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => '1404',
  'allvisit' => '1794',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1496222934',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1496808146',
  'freesize' => '68608',
  'isvip' => 'VIP',
  'viptime' => '1498406312',
  'vipid' => '170',
  'vippubid' => '0',
  'vipchapters' => '69',
  'vipsize' => '279341',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '606905',
  'vipchapter' => '第89章 我不离婚',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;李牧一直焦急的盯着程锦南的动作。等程锦南收手了，他立即跑去去检查。还好，老大还是手下留情了，程钰主要都是皮肉伤，没有伤及要害，不过免不了受些苦。他的腿，李牧怜悯的看了他一眼，估计又得在床上躺一两个月了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程锦南拨通了程老爷子的电话：“爸！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电话那头传来的是程老太太的声音：“你这个臭小子，这几天跑哪去了？都不见人影。终于知道打个电话回来了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“妈，你把电话给我爸。我有事找他！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程锦南清楚的听到老太太的嘀咕声：“真是的！心里就只有工作！难道就不能跟你妈多说几句？”..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '婚恋',
  'typename' => '婚恋',
  'size_c' => 173975,
  'size_k' => 174,
  'size_w' => 17.4,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1986/1986s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1986/1986s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1986/1986s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1986.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1986',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1986',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1986',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1986',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1986&cid=597640',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=170&cid=606905',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1986',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1986',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1986',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CE%D2%BD%D0%BE%B2%BE%B2',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CE%D2%BD%D0%BE%B2%BE%B2',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D7%DC%B2%C3%B4%F3%C8%CB%A3%AC%CE%D2%BC%DE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1986.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '林乔安',
      'tagencode' => '%C1%D6%C7%C7%B0%B2',
    ),
    1 => 
    array (
      'tagname' => '程锦南',
      'tagencode' => '%B3%CC%BD%F5%C4%CF',
    ),
    2 => 
    array (
      'tagname' => '二婚',
      'tagencode' => '%B6%FE%BB%E9',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 3,
    'addrows' => 0,
    'loops' => 3,
    'index' => 3,
    'order' => 3,
    'row' => 3,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '二婚',
      'tagencode' => '%B6%FE%BB%E9',
    ),
    'key' => 2,
    'append' => 0,
  ),
)