array (
  'meta_keywords' => '隐婚蜜爱：霸道总裁放肆爱 酱肉包 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1988&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1988&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1988&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1988&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1988',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1496644509',
    'lastupdate' => '1498406478',
    'articlename' => '隐婚蜜爱：霸道总裁放肆爱',
    'articlecode' => 'yinhunmiai_badaozongcaifangsiai',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '2398',
    'author' => '酱肉包',
    'posterid' => '2398',
    'poster' => '酱肉包',
    'agentid' => '1797',
    'agent' => '楚先生',
    'sortid' => '1',
    'typeid' => '2',
    'libid' => '0',
    'intro' => '“五年前那一晚，你可不是这样的？”<br />
 “五年前那晚的男人？是你？”<br />
未婚夫出轨，扯出惊天大秘密。景希的生活翻天覆地，家产被夺，工作失意，就他却像一匹狼一般闯入她的生活，他给她呵护给她爱，带着她一步步逆袭重生。<br />
可是有一天，他却突然放开她的手。<br />
彼时，他的身边有娇媚如水的未婚妻，看她的模样像是在看一个陌生人。<br />
景希这才知道，原来弥足深陷的从来只有她自己。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '603231',
    'lastchapter' => '第30章节 背水一战',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;如果到时顾延卿耍花招将她绑了威胁，她就真的插翅难逃，倘若不找好退路，这事儿还真不能轻易冒险，毕竟什么都没有生命来的重要。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;出于这样的考虑，景希将求救的最终目标定在自己主编秦子佩身上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;打电话给秦子佩的景希，告诉她，自己去半岛酒店找顾延卿谈判，她担心顾延卿来阴招，如果她半小时内还没给她电话，就请她务必要报警。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那端，握着电话的秦子佩心里一颤，叮嘱道：“景希啊，这个顾延卿有权有势，你千万不可硬来，到时如果见到形势不对，记得赶紧跑，什么也别想，命才是最重要的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我知道..',
    'chapters' => '53',
    'size' => '236149',
    'daysize' => '6182',
    'weeksize' => '6182',
    'monthsize' => '236149',
    'lastvisit' => '1498447085',
    'dayvisit' => '26',
    'weekvisit' => '26',
    'monthvisit' => '1014',
    'allvisit' => '1014',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1496818769',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1497887403',
    'freesize' => '94706',
    'isvip' => 'VIP',
    'viptime' => '1498406478',
    'vipid' => '186',
    'vippubid' => '0',
    'vipchapters' => '23',
    'vipsize' => '141443',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '606907',
    'vipchapter' => '第53章 怀疑对象',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“可是厉胜啊，话虽这么说，但是人心隔肚皮，在社会上生活，多长个心眼总算是好的，而且千万不要轻易相信别人的话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我知道校长，我会注意的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行，你注意就好，反正我也就是提醒你一下，到时候如果有什么问题，你就赶紧跟我说，我会帮你处理的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好，谢谢校长，那如果没什么事情，我就先走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行，去吧，孩子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老校长对闻厉胜是相当关心的，但凡是他的事情，他都不会袖手旁观。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;闻厉胜从，老校长办公室里出来，脑子里不断回响老校长的话，但是却怎么也想不出到底是..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '婚恋',
    'typename' => '婚恋',
    'size_c' => 118075,
    'size_k' => 119,
    'size_w' => 11.8,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1988/1988s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1988/1988s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1988/1988s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1988.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1988',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1988',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1988',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1988',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1988&cid=603231',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=186&cid=606907',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1988',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1988',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1988',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/2398.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%BD%B4%C8%E2%B0%FC',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D2%FE%BB%E9%C3%DB%B0%AE%A3%BA%B0%D4%B5%C0%D7%DC%B2%C3%B7%C5%CB%C1%B0%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1988.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1988',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1496644509',
  'lastupdate' => '1498406478',
  'articlename' => '隐婚蜜爱：霸道总裁放肆爱',
  'articlecode' => 'yinhunmiai_badaozongcaifangsiai',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '2398',
  'author' => '酱肉包',
  'posterid' => '2398',
  'poster' => '酱肉包',
  'agentid' => '1797',
  'agent' => '楚先生',
  'sortid' => '1',
  'typeid' => '2',
  'libid' => '0',
  'intro' => '“五年前那一晚，你可不是这样的？”<br />
 “五年前那晚的男人？是你？”<br />
未婚夫出轨，扯出惊天大秘密。景希的生活翻天覆地，家产被夺，工作失意，就他却像一匹狼一般闯入她的生活，他给她呵护给她爱，带着她一步步逆袭重生。<br />
可是有一天，他却突然放开她的手。<br />
彼时，他的身边有娇媚如水的未婚妻，看她的模样像是在看一个陌生人。<br />
景希这才知道，原来弥足深陷的从来只有她自己。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '603231',
  'lastchapter' => '第30章节 背水一战',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;如果到时顾延卿耍花招将她绑了威胁，她就真的插翅难逃，倘若不找好退路，这事儿还真不能轻易冒险，毕竟什么都没有生命来的重要。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;出于这样的考虑，景希将求救的最终目标定在自己主编秦子佩身上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;打电话给秦子佩的景希，告诉她，自己去半岛酒店找顾延卿谈判，她担心顾延卿来阴招，如果她半小时内还没给她电话，就请她务必要报警。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那端，握着电话的秦子佩心里一颤，叮嘱道：“景希啊，这个顾延卿有权有势，你千万不可硬来，到时如果见到形势不对，记得赶紧跑，什么也别想，命才是最重要的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我知道..',
  'chapters' => '53',
  'size' => '236149',
  'daysize' => '6182',
  'weeksize' => '6182',
  'monthsize' => '236149',
  'lastvisit' => '1498447085',
  'dayvisit' => '26',
  'weekvisit' => '26',
  'monthvisit' => '1014',
  'allvisit' => '1014',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1496818769',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1497887403',
  'freesize' => '94706',
  'isvip' => 'VIP',
  'viptime' => '1498406478',
  'vipid' => '186',
  'vippubid' => '0',
  'vipchapters' => '23',
  'vipsize' => '141443',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '606907',
  'vipchapter' => '第53章 怀疑对象',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“可是厉胜啊，话虽这么说，但是人心隔肚皮，在社会上生活，多长个心眼总算是好的，而且千万不要轻易相信别人的话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我知道校长，我会注意的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行，你注意就好，反正我也就是提醒你一下，到时候如果有什么问题，你就赶紧跟我说，我会帮你处理的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好，谢谢校长，那如果没什么事情，我就先走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行，去吧，孩子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老校长对闻厉胜是相当关心的，但凡是他的事情，他都不会袖手旁观。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;闻厉胜从，老校长办公室里出来，脑子里不断回响老校长的话，但是却怎么也想不出到底是..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '婚恋',
  'typename' => '婚恋',
  'size_c' => 118075,
  'size_k' => 119,
  'size_w' => 11.8,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1988/1988s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1988/1988s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1988/1988s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1988.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1988',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1988',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1988',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1988',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1988&cid=603231',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=186&cid=606907',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1988',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1988',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1988',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/2398.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%BD%B4%C8%E2%B0%FC',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D2%FE%BB%E9%C3%DB%B0%AE%A3%BA%B0%D4%B5%C0%D7%DC%B2%C3%B7%C5%CB%C1%B0%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1988.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)