array (
  'meta_keywords' => '妖精撩人，冷酷总裁宠妻成瘾 慕尘 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1989&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1989&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1989&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1989&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1989',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1496648642',
    'lastupdate' => '1498406397',
    'articlename' => '妖精撩人，冷酷总裁宠妻成瘾',
    'articlecode' => 'yaojingliaoren_lingkuzongcaichongqichengyin',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Y',
    'authorid' => '2397',
    'author' => '慕尘',
    'posterid' => '2397',
    'poster' => '慕尘',
    'agentid' => '1797',
    'agent' => '楚先生',
    'sortid' => '1',
    'typeid' => '2',
    'libid' => '0',
    'intro' => '前男友出轨，家里破产，失业，面对这样的局面，她不得不想办法改善一下局面。<br />
<br />
“钟先生，结婚吗？”<br />
<br />
“好。”<br />
<br />
他家大业大，最不缺的就是钱财，唯独对女人避如蛇蝎。<br />
<br />
可第一次见面却对她产生不一样的情愫，从此在宠妻的道路上一去不复返。<br />
<br />
“先生，夫人又打架了。”<br />
<br />
“受伤没有？打回去。”<br />
<br />
“先生，夫人说她要行侠仗义。”<br />
<br />
“抓回来。”<br />
<br />
“先生，夫人不见了。”<br />
<br />
……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '603224',
    'lastchapter' => '第三十章&nbsp;&nbsp;阴谋',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;俩人有一句每一句的聊着天，丝毫没有察觉到不远处有一双眼睛正死死的盯着她们。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那目光中满是愤怒和仇视。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈宁静眉头微拧，很是警惕的朝着四周打量一番，然而却什么都没有发现。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么了？”罗真真好奇的问道，不明白她为什么会突然这样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我怎么觉得有些不对劲呢？”她毕竟是练家子的，所以警惕性要比常人要敏锐很多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刚才她明明感觉到一道不一样的目光，但想一探究竟却有什么都发现不了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哪有什么不对劲的，我觉得你今天这身打扮特别的完美。”罗真真没把她的话放在心上，只当..',
    'chapters' => '62',
    'size' => '217394',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '217394',
    'lastvisit' => '1498446753',
    'dayvisit' => '52',
    'weekvisit' => '52',
    'monthvisit' => '1118',
    'allvisit' => '1118',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '独家作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1496894106',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1497887524',
    'freesize' => '89553',
    'isvip' => 'VIP',
    'viptime' => '1498406397',
    'vipid' => '185',
    'vippubid' => '0',
    'vipchapters' => '32',
    'vipsize' => '127841',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '606906',
    'vipchapter' => '第六十二章&nbsp;&nbsp;病危',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;这话说出口，车厢里的气氛突然变得尴尬起来，老爷子也意识到自己说错了话，连忙闭上嘴巴嘿嘿的笑了两声之后不再多言。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那个，你把我送到这里就行了，我等会还得去阿花那里转一圈，好久没见面她肯定想我了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见老爷子要下车，钟衡也没多说什么，点头说了声好之后将车停在马路边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;半晌好奇的开口问道：“阿花是谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自从奶奶去世以后，他可就从没有听爷爷说起过其他女人的名字，这阿花一听应该就是女人，而且看样子还和爷爷的关系很不一般。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但老爷子却一脸不耐烦的对他摆了摆手，“小孩子..',
    'lastflower' => '0',
    'allflower' => '14',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '1',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '婚恋',
    'typename' => '婚恋',
    'size_c' => 108697,
    'size_k' => 109,
    'size_w' => 10.9,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1989/1989s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1989/1989s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1989/1989s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1989.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1989',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1989',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1989',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1989',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1989&cid=603224',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=185&cid=606906',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1989',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1989',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1989',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/2397.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%BD%B3%BE',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D1%FD%BE%AB%C1%C3%C8%CB%A3%AC%C0%E4%BF%E1%D7%DC%B2%C3%B3%E8%C6%DE%B3%C9%F1%AB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1989.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1989',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1496648642',
  'lastupdate' => '1498406397',
  'articlename' => '妖精撩人，冷酷总裁宠妻成瘾',
  'articlecode' => 'yaojingliaoren_lingkuzongcaichongqichengyin',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Y',
  'authorid' => '2397',
  'author' => '慕尘',
  'posterid' => '2397',
  'poster' => '慕尘',
  'agentid' => '1797',
  'agent' => '楚先生',
  'sortid' => '1',
  'typeid' => '2',
  'libid' => '0',
  'intro' => '前男友出轨，家里破产，失业，面对这样的局面，她不得不想办法改善一下局面。<br />
<br />
“钟先生，结婚吗？”<br />
<br />
“好。”<br />
<br />
他家大业大，最不缺的就是钱财，唯独对女人避如蛇蝎。<br />
<br />
可第一次见面却对她产生不一样的情愫，从此在宠妻的道路上一去不复返。<br />
<br />
“先生，夫人又打架了。”<br />
<br />
“受伤没有？打回去。”<br />
<br />
“先生，夫人说她要行侠仗义。”<br />
<br />
“抓回来。”<br />
<br />
“先生，夫人不见了。”<br />
<br />
……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '603224',
  'lastchapter' => '第三十章&nbsp;&nbsp;阴谋',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;俩人有一句每一句的聊着天，丝毫没有察觉到不远处有一双眼睛正死死的盯着她们。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那目光中满是愤怒和仇视。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈宁静眉头微拧，很是警惕的朝着四周打量一番，然而却什么都没有发现。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么了？”罗真真好奇的问道，不明白她为什么会突然这样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我怎么觉得有些不对劲呢？”她毕竟是练家子的，所以警惕性要比常人要敏锐很多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刚才她明明感觉到一道不一样的目光，但想一探究竟却有什么都发现不了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哪有什么不对劲的，我觉得你今天这身打扮特别的完美。”罗真真没把她的话放在心上，只当..',
  'chapters' => '62',
  'size' => '217394',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '217394',
  'lastvisit' => '1498446753',
  'dayvisit' => '52',
  'weekvisit' => '52',
  'monthvisit' => '1118',
  'allvisit' => '1118',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 1,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '独家作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1496894106',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1497887524',
  'freesize' => '89553',
  'isvip' => 'VIP',
  'viptime' => '1498406397',
  'vipid' => '185',
  'vippubid' => '0',
  'vipchapters' => '32',
  'vipsize' => '127841',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '606906',
  'vipchapter' => '第六十二章&nbsp;&nbsp;病危',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;这话说出口，车厢里的气氛突然变得尴尬起来，老爷子也意识到自己说错了话，连忙闭上嘴巴嘿嘿的笑了两声之后不再多言。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那个，你把我送到这里就行了，我等会还得去阿花那里转一圈，好久没见面她肯定想我了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见老爷子要下车，钟衡也没多说什么，点头说了声好之后将车停在马路边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;半晌好奇的开口问道：“阿花是谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自从奶奶去世以后，他可就从没有听爷爷说起过其他女人的名字，这阿花一听应该就是女人，而且看样子还和爷爷的关系很不一般。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但老爷子却一脸不耐烦的对他摆了摆手，“小孩子..',
  'lastflower' => '0',
  'allflower' => '14',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '1',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '婚恋',
  'typename' => '婚恋',
  'size_c' => 108697,
  'size_k' => 109,
  'size_w' => 10.9,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1989/1989s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1989/1989s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1989/1989s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1989.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1989',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1989',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1989',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1989',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1989&cid=603224',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=185&cid=606906',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1989',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1989',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1989',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/2397.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C4%BD%B3%BE',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D1%FD%BE%AB%C1%C3%C8%CB%A3%AC%C0%E4%BF%E1%D7%DC%B2%C3%B3%E8%C6%DE%B3%C9%F1%AB%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1989.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)