array (
  'meta_keywords' => '姐姐在上我在下 天下第二 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1997&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1997&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1997&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1997&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushixiaoyuan',
      'caption' => '都市校园',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1997',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1496828915',
    'lastupdate' => '1496828915',
    'articlename' => '姐姐在上我在下',
    'articlecode' => 'jiejiezaishangwozaixia',
    'backupname' => '姐姐每晚都会爬上我的床，直到长大后，我才知道她竟然是为了……',
    'keywords' => '姐姐 青春',
    'roles' => '',
    'initial' => 'J',
    'authorid' => '0',
    'author' => '天下第二',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '2',
    'libid' => '0',
    'intro' => '姐姐每晚都会爬上我的床，直到长大后，我才知道她竟然是为了……<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '598508',
    'lastchapter' => '第33章 姐弟真情',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;虽然我当时什么都没有想，只是对姐姐的辛苦非常的心疼而已，可是当我搂住姐姐的时候，正好，我身体的某个部位贴在姐姐丰满的两瓣臀部之间的沟壑上，我明显感觉自己的那个部位在和姐姐的接触而发身了剧烈的变化。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我有点心虚，可是那种感觉刺激的我不由自主的贴着姐姐的臀轻柔的摩擦了两下，快感袭来，美妙无比，我忍不住的想要这样摩擦更深入一些，于是我更加将姐姐搂得紧了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是我这样做，让姐姐猛然受惊了，她挣开，眼睛里充满了慌乱：“跃，你干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我显得无比的紧张，看姐姐的神情我有点害怕，声……',
    'chapters' => '793',
    'size' => '6136992',
    'daysize' => 0,
    'weeksize' => '0',
    'monthsize' => '0',
    'lastvisit' => '1497177812',
    'dayvisit' => '65',
    'weekvisit' => '390',
    'monthvisit' => '390',
    'allvisit' => '390',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1496828926',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '6136992',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '171',
    'vippubid' => '0',
    'vipchapters' => '759',
    'vipsize' => '6058227',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '599268',
    'vipchapter' => '第894章 幸福美满（大结局终章）',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;当然，这些女人对我来说，那些适合她们的做爱环境，我会一一的努力去实现的，至于蓝颖，我和她在医院已经发生过了，没有必要在去体会了！孙艾晴呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我们在办公室里也不知道一次的发生过了！和田语倒是没有尝试过飙车之后在高速路做爱！当然，也叶泫的那种王子与公主式的马背上或者湖边做爱也没有享受过！至于欧阳宁、陈紫、表姐和米玉，我会努力一一的去尝试的！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过，凤姐，我却不用有什么遗憾了，因为我前几天才和凤姐在车里做爱了！感觉就是不一样！豪华的轿车，华丽的衣服，当时和凤姐做爱，我甚至感觉是在和……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '12',
    'orderby' => '99',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '婚恋',
    'typename' => '婚恋',
    'size_c' => 3068496,
    'size_k' => 3069,
    'size_w' => 306.8,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1997/1997s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1997/1997s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1997/1997s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1997.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1997',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1997',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1997',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1997',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1997&cid=598508',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=171&cid=599268',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1997',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1997',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1997',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CC%EC%CF%C2%B5%DA%B6%FE',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CC%EC%CF%C2%B5%DA%B6%FE',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BD%E3%BD%E3%D4%DA%C9%CF%CE%D2%D4%DA%CF%C2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1997.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1997',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1496828915',
  'lastupdate' => '1496828915',
  'articlename' => '姐姐在上我在下',
  'articlecode' => 'jiejiezaishangwozaixia',
  'backupname' => '姐姐每晚都会爬上我的床，直到长大后，我才知道她竟然是为了……',
  'keywords' => '姐姐 青春',
  'roles' => '',
  'initial' => 'J',
  'authorid' => '0',
  'author' => '天下第二',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '2',
  'libid' => '0',
  'intro' => '姐姐每晚都会爬上我的床，直到长大后，我才知道她竟然是为了……<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '598508',
  'lastchapter' => '第33章 姐弟真情',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;虽然我当时什么都没有想，只是对姐姐的辛苦非常的心疼而已，可是当我搂住姐姐的时候，正好，我身体的某个部位贴在姐姐丰满的两瓣臀部之间的沟壑上，我明显感觉自己的那个部位在和姐姐的接触而发身了剧烈的变化。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我有点心虚，可是那种感觉刺激的我不由自主的贴着姐姐的臀轻柔的摩擦了两下，快感袭来，美妙无比，我忍不住的想要这样摩擦更深入一些，于是我更加将姐姐搂得紧了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是我这样做，让姐姐猛然受惊了，她挣开，眼睛里充满了慌乱：“跃，你干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我显得无比的紧张，看姐姐的神情我有点害怕，声……',
  'chapters' => '793',
  'size' => '6136992',
  'daysize' => 0,
  'weeksize' => '0',
  'monthsize' => '0',
  'lastvisit' => '1497177812',
  'dayvisit' => '65',
  'weekvisit' => '390',
  'monthvisit' => '390',
  'allvisit' => '390',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1496828926',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '6136992',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '171',
  'vippubid' => '0',
  'vipchapters' => '759',
  'vipsize' => '6058227',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '599268',
  'vipchapter' => '第894章 幸福美满（大结局终章）',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;当然，这些女人对我来说，那些适合她们的做爱环境，我会一一的努力去实现的，至于蓝颖，我和她在医院已经发生过了，没有必要在去体会了！孙艾晴呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我们在办公室里也不知道一次的发生过了！和田语倒是没有尝试过飙车之后在高速路做爱！当然，也叶泫的那种王子与公主式的马背上或者湖边做爱也没有享受过！至于欧阳宁、陈紫、表姐和米玉，我会努力一一的去尝试的！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过，凤姐，我却不用有什么遗憾了，因为我前几天才和凤姐在车里做爱了！感觉就是不一样！豪华的轿车，华丽的衣服，当时和凤姐做爱，我甚至感觉是在和……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '12',
  'orderby' => '99',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '婚恋',
  'typename' => '婚恋',
  'size_c' => 3068496,
  'size_k' => 3069,
  'size_w' => 306.8,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1997/1997s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1997/1997s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1997/1997s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1997.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1997',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1997',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1997',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1997',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1997&cid=598508',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=171&cid=599268',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1997',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1997',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1997',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CC%EC%CF%C2%B5%DA%B6%FE',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CC%EC%CF%C2%B5%DA%B6%FE',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%BD%E3%BD%E3%D4%DA%C9%CF%CE%D2%D4%DA%CF%C2%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1997.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '姐姐',
      'tagencode' => '%BD%E3%BD%E3',
    ),
    1 => 
    array (
      'tagname' => '青春',
      'tagencode' => '%C7%E0%B4%BA',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 2,
    'addrows' => 0,
    'loops' => 2,
    'index' => 2,
    'order' => 2,
    'row' => 2,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '青春',
      'tagencode' => '%C7%E0%B4%BA',
    ),
    'key' => 1,
    'append' => 0,
  ),
)