array (
  'meta_keywords' => '神级小农民 沉荒 都市热血',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=1998&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=1998&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=1998&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=1998&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '1998',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1496829316',
    'lastupdate' => '1497403767',
    'articlename' => '神级小农民',
    'articlecode' => 'shenjixiaonongmin',
    'backupname' => '绝世猛男小农民',
    'keywords' => '',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '0',
    'author' => '沉荒',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '偏僻小山村，悠闲小日子。<br />
勤劳朴实的候小启得到逆天传承天官图，从此脚踩村霸，拳打恶狗。<br />
带领村民勤劳致富，富可敌国，权倾天下。',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '599289',
    'lastchapter' => '第22章 得意的陆彪',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;不过，陆彪也是个有心机的人，纵然此时的他非常激动，可是却还是装出了一副镇定的样子，装模作样的左看右看起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陆彪啊，你对这个石头很懂吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老张看到陆彪这个样子，还真被他唬住了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆彪深沉的嗯了一声，而后皱了皱眉头道：“老张啊，恕我直言啊，你这个石头，成色并不是特别好啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊？不会吧，我看这个颜色是紫红的啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老张顿时慌了，生怕自己的石头不值钱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老张，都是紫红色，但是，你这个石头的紫红色，显然就没有那么的好看，你看看那天掌柜手上拿的，是不是……',
    'chapters' => '881',
    'size' => '3684978',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500612331',
    'dayvisit' => '39',
    'weekvisit' => '364',
    'monthvisit' => '1066',
    'allvisit' => '1937',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1496829325',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '3626330',
    'isvip' => 'VIP',
    'viptime' => '1497403767',
    'vipid' => '172',
    'vippubid' => '0',
    'vipchapters' => '859',
    'vipsize' => '3598139',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '600148',
    'vipchapter' => '第876章 圆满（大结局）',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;狮虎没有被候小启的自信所影响，反而是摇了摇头，道：“候小启，你这一次输，就是输在太自信上了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦？是吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你以为就凭你，能够对付我们八个人吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;狮虎不屑的看了一眼张伯达，丝毫没有把他们放在眼里，他们的对手，只有一个候小启。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你可以试试。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;候小启并不反驳，反而是让狮虎来试试。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;狮虎有些受不了候小启的傲慢，一抬手，让七个人朝着候小启冲去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上一次，候小启面对七个人的攻击，事实上已经是有所抵挡不住，他只需要让七个人牵制候小启，自己随时可……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '12',
    'orderby' => '99',
    'recommend' => '内测数据相当优秀，后期转化给力，可上量外推',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '都市热血',
    'sortname' => '都市热血',
    'type' => '',
    'typename' => '',
    'size_c' => 1842489,
    'size_k' => 1843,
    'size_w' => 184.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/1/1998/1998s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/1/1998/1998s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/1/1998/1998s.jpg',
    'articlesubdir' => '/1',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/1998.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1998',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1998',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1998',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1998',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1998&cid=599289',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=172&cid=600148',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1998',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1998',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1998',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B3%C1%BB%C4',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B3%C1%BB%C4',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%F1%BC%B6%D0%A1%C5%A9%C3%F1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1998.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '1998',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1496829316',
  'lastupdate' => '1497403767',
  'articlename' => '神级小农民',
  'articlecode' => 'shenjixiaonongmin',
  'backupname' => '绝世猛男小农民',
  'keywords' => '',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '0',
  'author' => '沉荒',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '偏僻小山村，悠闲小日子。<br />
勤劳朴实的候小启得到逆天传承天官图，从此脚踩村霸，拳打恶狗。<br />
带领村民勤劳致富，富可敌国，权倾天下。',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '599289',
  'lastchapter' => '第22章 得意的陆彪',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;不过，陆彪也是个有心机的人，纵然此时的他非常激动，可是却还是装出了一副镇定的样子，装模作样的左看右看起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陆彪啊，你对这个石头很懂吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老张看到陆彪这个样子，还真被他唬住了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆彪深沉的嗯了一声，而后皱了皱眉头道：“老张啊，恕我直言啊，你这个石头，成色并不是特别好啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊？不会吧，我看这个颜色是紫红的啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老张顿时慌了，生怕自己的石头不值钱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老张，都是紫红色，但是，你这个石头的紫红色，显然就没有那么的好看，你看看那天掌柜手上拿的，是不是……',
  'chapters' => '881',
  'size' => '3684978',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500612331',
  'dayvisit' => '39',
  'weekvisit' => '364',
  'monthvisit' => '1066',
  'allvisit' => '1937',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1496829325',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '3626330',
  'isvip' => 'VIP',
  'viptime' => '1497403767',
  'vipid' => '172',
  'vippubid' => '0',
  'vipchapters' => '859',
  'vipsize' => '3598139',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '600148',
  'vipchapter' => '第876章 圆满（大结局）',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;狮虎没有被候小启的自信所影响，反而是摇了摇头，道：“候小启，你这一次输，就是输在太自信上了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦？是吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你以为就凭你，能够对付我们八个人吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;狮虎不屑的看了一眼张伯达，丝毫没有把他们放在眼里，他们的对手，只有一个候小启。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你可以试试。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;候小启并不反驳，反而是让狮虎来试试。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;狮虎有些受不了候小启的傲慢，一抬手，让七个人朝着候小启冲去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上一次，候小启面对七个人的攻击，事实上已经是有所抵挡不住，他只需要让七个人牵制候小启，自己随时可……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '12',
  'orderby' => '99',
  'recommend' => '内测数据相当优秀，后期转化给力，可上量外推',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '都市热血',
  'sortname' => '都市热血',
  'type' => '',
  'typename' => '',
  'size_c' => 1842489,
  'size_k' => 1843,
  'size_w' => 184.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/1/1998/1998s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/1/1998/1998s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/1/1998/1998s.jpg',
  'articlesubdir' => '/1',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/1998.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1998',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1998',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1998',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1998',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=1998&cid=599289',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=172&cid=600148',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=1998',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=1998',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=1998',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B3%C1%BB%C4',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B3%C1%BB%C4',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%F1%BC%B6%D0%A1%C5%A9%C3%F1%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F1998.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)