<ul class="ultab">
	<li><a href="http://www.mianfeidushu.com/modules/pay/buyegold.php?t=alipaypay">支付宝充值</a></li>
	<!--<li><a href="http://www.mianfeidushu.com/modules/pay/buyegold.php?t=yeepaypay">网上银行充值</a></li>-->
	<!--<li><a href="http://www.mianfeidushu.com/modules/pay/buyegold.php?t=qqpay">手机QQ充值</a></li>-->
	<li><a href="http://www.mianfeidushu.com/modules/pay/buyegold.php?t=weixinpay">微信充值</a></li>
<!--	<li><a href="http://www.mianfeidushu.com/modules/pay/buyegold.php?t=yeemobilepay">手机充值卡充值</a></li>
	<li><a href="http://www.mianfeidushu.com/modules/pay/buyegold.php?t=yeegamepay">游戏点卡充值</a></li>
	<li><a href="http://www.mianfeidushu.com/modules/pay/buyegold.php?t=mobilepay">移动手机充值</a></li> -->
</ul>