
<ul class="ulnav">
<li><i class="iconfont">&#xf012d;</i><a href="{?$jieqi_url?}/userdetail.php"{?if $jieqi_thisfile|basename == 'userdetail.php'?} class="selected"{?/if?}>用户资料</a></li>
<li><i class="iconfont">&#xf014f;</i><a href="{?$jieqi_url?}/useredit.php"{?if $jieqi_thisfile|basename == 'useredit.php'?} class="selected"{?/if?}>修改资料</a></li>
<!-- <li><i class="iconfont">&#xf00bb;</i><a href="{?$jieqi_url?}/persondetail.php"{?if $jieqi_thisfile|basename == 'persondetail.php'?} class="selected"{?/if?}>作者实名信息</a></li> -->
<li><i class="iconfont">&#xf0092;</i><a href="{?$jieqi_url?}/setavatar.php"{?if $jieqi_thisfile|basename == 'setavatar.php'?} class="selected"{?/if?}>设置头像</a></li>
<li><i class="iconfont">&#xf0102;</i><a href="{?$jieqi_url?}/passedit.php"{?if $jieqi_thisfile|basename == 'passedit.php'?} class="selected"{?/if?}>修改密码</a></li>
</ul>