<ul class="ultab">
	<li><a href="{?$jieqi_modules['pay']['url']?}/buyegold.php?t=alipaypay"{?if $_request['t'] == 'alipaypay'?} class="selected"{?/if?}>支付宝充值</a></li>
	<!--<li><a href="{?$jieqi_modules['pay']['url']?}/buyegold.php?t=yeepaypay"{?if $_request['t'] == 'yeepaypay'?} class="selected"{?/if?}>网上银行充值</a></li>-->
	<!--<li><a href="{?$jieqi_modules['pay']['url']?}/buyegold.php?t=qqpay"{?if $_request['t'] == 'qqpay'?} class="selected"{?/if?}>手机QQ充值</a></li>-->
	<li><a href="{?$jieqi_modules['pay']['url']?}/buyegold.php?t=weixinpay"{?if $_request['t'] == 'weixinpay'?} class="selected"{?/if?}>微信充值</a></li>
<!--	<li><a href="{?$jieqi_modules['pay']['url']?}/buyegold.php?t=yeemobilepay"{?if $_request['t'] == 'yeemobilepay'?} class="selected"{?/if?}>手机充值卡充值</a></li>
	<li><a href="{?$jieqi_modules['pay']['url']?}/buyegold.php?t=yeegamepay"{?if $_request['t'] == 'yeegamepay'?} class="selected"{?/if?}>游戏点卡充值</a></li>
	<li><a href="{?$jieqi_modules['pay']['url']?}/buyegold.php?t=mobilepay"{?if $_request['t'] == 'mobilepay'?} class="selected"{?/if?}>移动手机充值</a></li> -->
</ul>