array (
  'meta_keywords' => '超新星战记 柚子本尊 玄幻魔法',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=512&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=512&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=512&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=512&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '512',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1480666070',
    'lastupdate' => '1480666745',
    'articlename' => '超新星战记',
    'articlecode' => 'chaoxinxingzhanji',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'C',
    'authorid' => '10',
    'author' => '柚子本尊',
    'posterid' => '10',
    'poster' => '柚子本尊',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '7',
    'typeid' => '31',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;未来的世界将由我来主宰，看男主如在未来世界大放光彩',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '167502',
    'lastvolume' => '第一卷',
    'lastchapterid' => '167911',
    'lastchapter' => '第十二章',
    'lastsummary' => '',
    'chapters' => '25',
    'size' => '124241',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500612279',
    'dayvisit' => 0,
    'weekvisit' => '182',
    'monthvisit' => '364',
    'allvisit' => '5291',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '11',
    'goodnum' => '1',
    'reviewsnum' => '0',
    'ratenum' => 3,
    'ratesum' => 29,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '本站首发',
    'fullflag' => '连载',
    'imgflag' => '75',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1491876859',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '1480666745',
    'freesize' => '59519',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '12',
    'vipsize' => '64722',
    'vipvolumeid' => '167502',
    'vipvolume' => '第一卷',
    'vipchapterid' => '168170',
    'vipchapter' => '第二十四章',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '2',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '1',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '玄幻魔法',
    'sortname' => '玄幻魔法',
    'type' => '异世大陆',
    'typename' => '异世大陆',
    'size_c' => 62121,
    'size_k' => 63,
    'size_w' => 6.2,
    'rateavg' => '9.7',
    'rateavg_i' => 9,
    'rateavg_d' => 7,
    'url_simage' => 'http://img.mianfeidushu.com/image/0/512/512s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/0/512/512s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/0/512/512l.jpg',
    'articlesubdir' => '/0',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/512.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=512',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=512',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=512',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=512',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=512&cid=167911',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=168170',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=512',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=512',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=512',
    'url_authorpage' => 'http://www.mianfeidushu.com/author/10.html',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%E8%D6%D7%D3%B1%BE%D7%F0',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B3%AC%D0%C2%D0%C7%D5%BD%BC%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F512.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '512',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1480666070',
  'lastupdate' => '1480666745',
  'articlename' => '超新星战记',
  'articlecode' => 'chaoxinxingzhanji',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'C',
  'authorid' => '10',
  'author' => '柚子本尊',
  'posterid' => '10',
  'poster' => '柚子本尊',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '7',
  'typeid' => '31',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;未来的世界将由我来主宰，看男主如在未来世界大放光彩',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '167502',
  'lastvolume' => '第一卷',
  'lastchapterid' => '167911',
  'lastchapter' => '第十二章',
  'lastsummary' => '',
  'chapters' => '25',
  'size' => '124241',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500612279',
  'dayvisit' => 0,
  'weekvisit' => '182',
  'monthvisit' => '364',
  'allvisit' => '5291',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '11',
  'goodnum' => '1',
  'reviewsnum' => 17,
  'ratenum' => 3,
  'ratesum' => 29,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '本站首发',
  'fullflag' => '连载',
  'imgflag' => '75',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1491876859',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '1480666745',
  'freesize' => '59519',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '12',
  'vipsize' => '64722',
  'vipvolumeid' => '167502',
  'vipvolume' => '第一卷',
  'vipchapterid' => '168170',
  'vipchapter' => '第二十四章',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '2',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '1',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '玄幻魔法',
  'sortname' => '玄幻魔法',
  'type' => '异世大陆',
  'typename' => '异世大陆',
  'size_c' => 62121,
  'size_k' => 63,
  'size_w' => 6.2,
  'rateavg' => '9.7',
  'rateavg_i' => 9,
  'rateavg_d' => 7,
  'url_simage' => 'http://img.mianfeidushu.com/image/0/512/512s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/0/512/512s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/0/512/512l.jpg',
  'articlesubdir' => '/0',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/512.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=512',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=512',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=512',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=512',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=512&cid=167911',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=0&cid=168170',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=512',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=512',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=512',
  'url_authorpage' => 'http://www.mianfeidushu.com/author/10.html',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%E8%D6%D7%D3%B1%BE%D7%F0',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B3%AC%D0%C2%D0%C7%D5%BD%BC%C7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F512.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)