array (
  'meta_keywords' => '我的老公是男同 明目张胆 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=2002&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=2002&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=2002&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=2002&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushixiaoyuan',
      'caption' => '都市校园',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '2002',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1496881844',
    'lastupdate' => '1496881846',
    'articlename' => '我的老公是男同',
    'articlecode' => '',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'W',
    'authorid' => '0',
    'author' => '明目张胆',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '2',
    'libid' => '0',
    'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;结婚那天晚上他醉了，不省人事，再然后，我想要的时候，他也各种推脱和阻拦……<br />
 后来我才知道他喜欢的竟然是男人！之后，我的人生只剩下屈辱和忍耐。<br />
 女人的人生不只是忍耐，更不是嫁鸡随鸡，我有自主，有权利追求自己的生活，我要反抗，我要对一切的不公平say no!!!<br />
 关注九一神书网微信公众账号：jiuyishenshu，方便你更好阅读！<br />
 充值问题，网站问题解决，欢迎加入九一神书网读者总营：247686627，联系群管理客服！<br />
 （亲，看时记得花几分钟注册账号收藏下本书！欢迎加入明目张胆，群号码：568549166）',
    'notice' => '',
    'foreword' => '',
    'setting' => 'a:2:{s:8:&quot;fromsite&quot;;s:1:&quot;1&quot;;s:11:&quot;fromarticle&quot;;s:2:&quot;36&quot;;}',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '600276',
    'lastchapter' => '上架感言',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;我最亲爱的读者们：<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本书到这里就要上架了，我清楚上架会可能失去一些读者朋友们的支持，因为订阅就意味着花钱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但之后的内容，绝对会上你们物超所值。难道你们不想知道女主陈沫的命运？不想知道她和闺蜜是怎么联手复仇？张宇、枫子、周霁还有陈哥，女主最后会和谁在一起？渣男张大志又会落得怎样的下场？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;和这些精彩的内容比起来，一章一毛钱左右的花销，根本不算什么。对于你们来讲，也就是一盒烟，几瓶水的花销。但你们的支持对我来说，或许就可以让我在早上吃馒头咸菜的同时再多煎个鸡蛋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以在..',
    'chapters' => '32',
    'size' => '126670',
    'daysize' => '0',
    'weeksize' => '0',
    'monthsize' => '0',
    'lastvisit' => '0',
    'dayvisit' => 0,
    'weekvisit' => 0,
    'monthvisit' => 0,
    'allvisit' => '0',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1496881885',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '1496881846',
    'freesize' => '126670',
    'isvip' => '签约',
    'viptime' => '0',
    'vipid' => '0',
    'vippubid' => '0',
    'vipchapters' => '0',
    'vipsize' => '0',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '0',
    'vipchapter' => '',
    'vipsummary' => '',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '4',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '婚恋',
    'typename' => '婚恋',
    'size_c' => 63335,
    'size_k' => 64,
    'size_w' => 6.3,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/2/2002/2002s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/2/2002/2002s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/2/2002/2002s.jpg',
    'articlesubdir' => '/2',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/2002.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2002',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2002',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2002',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2002',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2002&cid=600276',
    'url_vipchapter' => '',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=2002',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=2002',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=2002',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%F7%C4%BF%D5%C5%B5%A8',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%F7%C4%BF%D5%C5%B5%A8',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D2%B5%C4%C0%CF%B9%AB%CA%C7%C4%D0%CD%AC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F2002.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '2002',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1496881844',
  'lastupdate' => '1496881846',
  'articlename' => '我的老公是男同',
  'articlecode' => '',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'W',
  'authorid' => '0',
  'author' => '明目张胆',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '2',
  'libid' => '0',
  'intro' => '&nbsp;&nbsp;&nbsp;&nbsp;结婚那天晚上他醉了，不省人事，再然后，我想要的时候，他也各种推脱和阻拦……<br />
 后来我才知道他喜欢的竟然是男人！之后，我的人生只剩下屈辱和忍耐。<br />
 女人的人生不只是忍耐，更不是嫁鸡随鸡，我有自主，有权利追求自己的生活，我要反抗，我要对一切的不公平say no!!!<br />
 关注九一神书网微信公众账号：jiuyishenshu，方便你更好阅读！<br />
 充值问题，网站问题解决，欢迎加入九一神书网读者总营：247686627，联系群管理客服！<br />
 （亲，看时记得花几分钟注册账号收藏下本书！欢迎加入明目张胆，群号码：568549166）',
  'notice' => '',
  'foreword' => '',
  'setting' => 'a:2:{s:8:&quot;fromsite&quot;;s:1:&quot;1&quot;;s:11:&quot;fromarticle&quot;;s:2:&quot;36&quot;;}',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '600276',
  'lastchapter' => '上架感言',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;我最亲爱的读者们：<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本书到这里就要上架了，我清楚上架会可能失去一些读者朋友们的支持，因为订阅就意味着花钱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但之后的内容，绝对会上你们物超所值。难道你们不想知道女主陈沫的命运？不想知道她和闺蜜是怎么联手复仇？张宇、枫子、周霁还有陈哥，女主最后会和谁在一起？渣男张大志又会落得怎样的下场？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;和这些精彩的内容比起来，一章一毛钱左右的花销，根本不算什么。对于你们来讲，也就是一盒烟，几瓶水的花销。但你们的支持对我来说，或许就可以让我在早上吃馒头咸菜的同时再多煎个鸡蛋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以在..',
  'chapters' => '32',
  'size' => '126670',
  'daysize' => '0',
  'weeksize' => '0',
  'monthsize' => '0',
  'lastvisit' => '0',
  'dayvisit' => 0,
  'weekvisit' => 0,
  'monthvisit' => 0,
  'allvisit' => '0',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1496881885',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '1496881846',
  'freesize' => '126670',
  'isvip' => '签约',
  'viptime' => '0',
  'vipid' => '0',
  'vippubid' => '0',
  'vipchapters' => '0',
  'vipsize' => '0',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '0',
  'vipchapter' => '',
  'vipsummary' => '',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '4',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '婚恋',
  'typename' => '婚恋',
  'size_c' => 63335,
  'size_k' => 64,
  'size_w' => 6.3,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/2/2002/2002s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/2/2002/2002s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/2/2002/2002s.jpg',
  'articlesubdir' => '/2',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/2002.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2002',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2002',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2002',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2002',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2002&cid=600276',
  'url_vipchapter' => '',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=2002',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=2002',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=2002',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%F7%C4%BF%D5%C5%B5%A8',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%F7%C4%BF%D5%C5%B5%A8',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CE%D2%B5%C4%C0%CF%B9%AB%CA%C7%C4%D0%CD%AC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F2002.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)