array (
  'meta_keywords' => '入夜难眠老公是gay 明目张胆 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=2005&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=2005&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=2005&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=2005&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '2005',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1496892305',
    'lastupdate' => '1496892305',
    'articlename' => '入夜难眠老公是gay',
    'articlecode' => 'ruyenanmianlaogongshigay',
    'backupname' => '我的老公喜欢男人……',
    'keywords' => '社会 婚恋 老公',
    'roles' => '',
    'initial' => 'R',
    'authorid' => '0',
    'author' => '明目张胆',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '2',
    'libid' => '0',
    'intro' => '结婚那天晚上他醉了，不省人事，再然后，我想要的时候，他也各种推脱和阻拦……<br />
后来我才知道他喜欢的竟然是男人！之后，我的人生只剩下屈辱和忍耐。<br />
女人的人生不只是忍耐，更不是嫁鸡随鸡，我有自主，有权利追求自己的生活，我要反抗，我要对一切的不公平say no!!!',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '600620',
    'lastchapter' => '第二十一章 公公来了',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;客厅的灯被人打开，竟然是我公公!<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他站在我家客厅，眼神包含了太多东西，我瞬间醍醐灌顶，酒意全无。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他朝着我走过来，想要帮我接过我肩上的包，用略带责备的语气和我说：“小陈啊，怎么这么晚才回来？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我死死扣住肩带，护着包包往后退，我全身每个细胞都处于警戒状态，我问他：“你来我家干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我和我公公之间从来没有二话，三更半夜出现在我家，到底是谁给了他钥匙？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我妈吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;公公嘿嘿一笑，露出猥琐的眼神，“小陈啊，难道你妈没给你说借种的事吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我心里一沉，问……',
    'chapters' => '248',
    'size' => '1461825',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500683528',
    'dayvisit' => '39',
    'weekvisit' => '845',
    'monthvisit' => '2262',
    'allvisit' => '4004',
    'lastvote' => '1498257303',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '5',
    'goodnum' => '2',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '全本',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1496892311',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '1424882',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '174',
    'vippubid' => '0',
    'vipchapters' => '227',
    'vipsize' => '1377701',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '600847',
    'vipchapter' => '第两百四十七章 你思，故我在',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;闺蜜的瞳孔迅速收缩，拉着我，不由分说地向往外面走：“别傻了，快走！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可，我早已经是吃了秤砣铁了心了，我紧紧地抱着枫子的裤脚，怎么也不松手。闺蜜扯了好几下，都没有扯开，开始说软话求我：“陈沫，你想想你的父母，你这样子，他们知道了该多伤心？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你先走，你要是留在这里，我不会放过我自己的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你走吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知道枫子和闺蜜背着我完成了什么交易，闺蜜立马松开了我的手，迅速地冲下了楼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我心里悬着的一块大石头落了地，扬起笑脸，刚准备对枫子说，现在再也没有人能把我们……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'peregold' => '8',
    'orderby' => '98',
    'recommend' => '第一人称视角都市女频爽文，充值给力',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '1',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '婚恋',
    'typename' => '婚恋',
    'size_c' => 730913,
    'size_k' => 731,
    'size_w' => 73.1,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/2/2005/2005s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/2/2005/2005s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/2/2005/2005s.jpg',
    'articlesubdir' => '/2',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/2005.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2005',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2005',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2005',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2005',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2005&cid=600620',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=174&cid=600847',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=2005',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=2005',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=2005',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%F7%C4%BF%D5%C5%B5%A8',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%F7%C4%BF%D5%C5%B5%A8',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C8%EB%D2%B9%C4%D1%C3%DF%C0%CF%B9%AB%CA%C7gay%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F2005.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '2005',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1496892305',
  'lastupdate' => '1496892305',
  'articlename' => '入夜难眠老公是gay',
  'articlecode' => 'ruyenanmianlaogongshigay',
  'backupname' => '我的老公喜欢男人……',
  'keywords' => '社会 婚恋 老公',
  'roles' => '',
  'initial' => 'R',
  'authorid' => '0',
  'author' => '明目张胆',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '2',
  'libid' => '0',
  'intro' => '结婚那天晚上他醉了，不省人事，再然后，我想要的时候，他也各种推脱和阻拦……<br />
后来我才知道他喜欢的竟然是男人！之后，我的人生只剩下屈辱和忍耐。<br />
女人的人生不只是忍耐，更不是嫁鸡随鸡，我有自主，有权利追求自己的生活，我要反抗，我要对一切的不公平say no!!!',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '600620',
  'lastchapter' => '第二十一章 公公来了',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;客厅的灯被人打开，竟然是我公公!<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他站在我家客厅，眼神包含了太多东西，我瞬间醍醐灌顶，酒意全无。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他朝着我走过来，想要帮我接过我肩上的包，用略带责备的语气和我说：“小陈啊，怎么这么晚才回来？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我死死扣住肩带，护着包包往后退，我全身每个细胞都处于警戒状态，我问他：“你来我家干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我和我公公之间从来没有二话，三更半夜出现在我家，到底是谁给了他钥匙？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我妈吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;公公嘿嘿一笑，露出猥琐的眼神，“小陈啊，难道你妈没给你说借种的事吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我心里一沉，问……',
  'chapters' => '248',
  'size' => '1461825',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500683528',
  'dayvisit' => '39',
  'weekvisit' => '845',
  'monthvisit' => '2262',
  'allvisit' => '4004',
  'lastvote' => '1498257303',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '5',
  'goodnum' => '2',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '全本',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1496892311',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '1424882',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '174',
  'vippubid' => '0',
  'vipchapters' => '227',
  'vipsize' => '1377701',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '600847',
  'vipchapter' => '第两百四十七章 你思，故我在',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;闺蜜的瞳孔迅速收缩，拉着我，不由分说地向往外面走：“别傻了，快走！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可，我早已经是吃了秤砣铁了心了，我紧紧地抱着枫子的裤脚，怎么也不松手。闺蜜扯了好几下，都没有扯开，开始说软话求我：“陈沫，你想想你的父母，你这样子，他们知道了该多伤心？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你先走，你要是留在这里，我不会放过我自己的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你走吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知道枫子和闺蜜背着我完成了什么交易，闺蜜立马松开了我的手，迅速地冲下了楼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;我心里悬着的一块大石头落了地，扬起笑脸，刚准备对枫子说，现在再也没有人能把我们……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'peregold' => '8',
  'orderby' => '98',
  'recommend' => '第一人称视角都市女频爽文，充值给力',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '1',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '婚恋',
  'typename' => '婚恋',
  'size_c' => 730913,
  'size_k' => 731,
  'size_w' => 73.1,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/2/2005/2005s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/2/2005/2005s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/2/2005/2005s.jpg',
  'articlesubdir' => '/2',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/2005.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2005',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2005',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2005',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2005',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2005&cid=600620',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=174&cid=600847',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=2005',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=2005',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=2005',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%F7%C4%BF%D5%C5%B5%A8',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%C3%F7%C4%BF%D5%C5%B5%A8',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C8%EB%D2%B9%C4%D1%C3%DF%C0%CF%B9%AB%CA%C7gay%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F2005.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '社会',
      'tagencode' => '%C9%E7%BB%E1',
    ),
    1 => 
    array (
      'tagname' => '婚恋',
      'tagencode' => '%BB%E9%C1%B5',
    ),
    2 => 
    array (
      'tagname' => '老公',
      'tagencode' => '%C0%CF%B9%AB',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 3,
    'addrows' => 0,
    'loops' => 3,
    'index' => 3,
    'order' => 3,
    'row' => 3,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '老公',
      'tagencode' => '%C0%CF%B9%AB',
    ),
    'key' => 2,
    'append' => 0,
  ),
)