array (
  'meta_keywords' => '天价特勤特有种 将军 热血军事',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=2009&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=2009&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=2009&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=2009&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '2009',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1496906276',
    'lastupdate' => '1496906276',
    'articlename' => '天价特勤特有种',
    'articlecode' => 'tianjiateqinteyouzhong',
    'backupname' => '正义也许会迟到，但从未缺席！',
    'keywords' => '热血 军事 特战',
    'roles' => '',
    'initial' => 'T',
    'authorid' => '0',
    'author' => '将军',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '10',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '都市光鲜亮丽的裙摆下，生活着这样一群人，他们崇拜金钱，滥用暴力，欺行霸市。<br />
他抗拒，他不屈，他势要灭掉这些个社会毒瘤！<br />
只因他曾在国旗下的那句仅有八个字的誓言——保家为国永不背叛。<br />
正义也许会迟到，但从未缺席！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '601688',
    'lastchapter' => '第二十一章 本职工作',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;姜军他们回了基地，老财则是在基地的大门口蹲守着，见姜军等人下了出租车，立马笑眯眯地迎了上去，又是帮着开门，又是给点烟：“咋样啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜军和小猫都没吱声，刘舒把刚才在白云传媒公司里发生的一幕跟老财学了一遍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我草啊，败家玩应！最高标准的合同不签？哎呀我去，尊严值他妈几个钱？”老财都有心把姜军和小猫嘴里的烟给夺回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正在老财喋喋不休地抱怨时，姜军的电话响了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“喂，三哥。好，好我知道了。”姜军合上了电话，瞅着老财说道：“晚上你有口福了，白云传媒为表示歉意约我们……',
    'chapters' => '207',
    'size' => '1289790',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500565848',
    'dayvisit' => 0,
    'weekvisit' => '234',
    'monthvisit' => '1092',
    'allvisit' => '2275',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1496906283',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '1289790',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '176',
    'vippubid' => '0',
    'vipchapters' => '186',
    'vipsize' => '1172292',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '601876',
    'vipchapter' => '第二百零二章 世上没有后悔药',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“跟住他，别让隋老四真给蹽喽！”杨峰林拿起对讲呼道：“立刻报告你的位置！其他人抄近路跟上去，立即实施抓捕！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“等一等，先别抓！”姜军突然插话道：“有可能是隋老四在投石问路，到时候我们一旦抓他，他就可以说从公司下班回家，这难道有啥不妥的啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;众人顿时身躯一震，看来自己刚才是紧绷着一根弦，没有考虑周全，倒是赞叹起姜军来，这个节骨眼儿上还能如此的冷静睿智，让他们这些老刑警们都为之汗颜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨峰林顿了一下说道：“那先跟着，随时报告你的位置，我们在后面开车追。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“收到，……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '12',
    'orderby' => '98',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '热血军事',
    'sortname' => '热血军事',
    'type' => '',
    'typename' => '',
    'size_c' => 644895,
    'size_k' => 645,
    'size_w' => 64.5,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/2/2009/2009s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/2/2009/2009s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/2/2009/2009s.jpg',
    'articlesubdir' => '/2',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/2009.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2009',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2009',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2009',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2009',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2009&cid=601688',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=176&cid=601876',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=2009',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=2009',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=2009',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%BD%AB%BE%FC',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%BD%AB%BE%FC',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CC%EC%BC%DB%CC%D8%C7%DA%CC%D8%D3%D0%D6%D6%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F2009.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '2009',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1496906276',
  'lastupdate' => '1496906276',
  'articlename' => '天价特勤特有种',
  'articlecode' => 'tianjiateqinteyouzhong',
  'backupname' => '正义也许会迟到，但从未缺席！',
  'keywords' => '热血 军事 特战',
  'roles' => '',
  'initial' => 'T',
  'authorid' => '0',
  'author' => '将军',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '10',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '都市光鲜亮丽的裙摆下，生活着这样一群人，他们崇拜金钱，滥用暴力，欺行霸市。<br />
他抗拒，他不屈，他势要灭掉这些个社会毒瘤！<br />
只因他曾在国旗下的那句仅有八个字的誓言——保家为国永不背叛。<br />
正义也许会迟到，但从未缺席！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '601688',
  'lastchapter' => '第二十一章 本职工作',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;姜军他们回了基地，老财则是在基地的大门口蹲守着，见姜军等人下了出租车，立马笑眯眯地迎了上去，又是帮着开门，又是给点烟：“咋样啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜军和小猫都没吱声，刘舒把刚才在白云传媒公司里发生的一幕跟老财学了一遍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我草啊，败家玩应！最高标准的合同不签？哎呀我去，尊严值他妈几个钱？”老财都有心把姜军和小猫嘴里的烟给夺回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正在老财喋喋不休地抱怨时，姜军的电话响了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“喂，三哥。好，好我知道了。”姜军合上了电话，瞅着老财说道：“晚上你有口福了，白云传媒为表示歉意约我们……',
  'chapters' => '207',
  'size' => '1289790',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500565848',
  'dayvisit' => 0,
  'weekvisit' => '234',
  'monthvisit' => '1092',
  'allvisit' => '2275',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1496906283',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '1289790',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '176',
  'vippubid' => '0',
  'vipchapters' => '186',
  'vipsize' => '1172292',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '601876',
  'vipchapter' => '第二百零二章 世上没有后悔药',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“跟住他，别让隋老四真给蹽喽！”杨峰林拿起对讲呼道：“立刻报告你的位置！其他人抄近路跟上去，立即实施抓捕！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“等一等，先别抓！”姜军突然插话道：“有可能是隋老四在投石问路，到时候我们一旦抓他，他就可以说从公司下班回家，这难道有啥不妥的啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;众人顿时身躯一震，看来自己刚才是紧绷着一根弦，没有考虑周全，倒是赞叹起姜军来，这个节骨眼儿上还能如此的冷静睿智，让他们这些老刑警们都为之汗颜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨峰林顿了一下说道：“那先跟着，随时报告你的位置，我们在后面开车追。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“收到，……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '12',
  'orderby' => '98',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '热血军事',
  'sortname' => '热血军事',
  'type' => '',
  'typename' => '',
  'size_c' => 644895,
  'size_k' => 645,
  'size_w' => 64.5,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/2/2009/2009s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/2/2009/2009s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/2/2009/2009s.jpg',
  'articlesubdir' => '/2',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/2009.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2009',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2009',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2009',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2009',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2009&cid=601688',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=176&cid=601876',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=2009',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=2009',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=2009',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%BD%AB%BE%FC',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%BD%AB%BE%FC',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%CC%EC%BC%DB%CC%D8%C7%DA%CC%D8%D3%D0%D6%D6%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F2009.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '热血',
      'tagencode' => '%C8%C8%D1%AA',
    ),
    1 => 
    array (
      'tagname' => '军事',
      'tagencode' => '%BE%FC%CA%C2',
    ),
    2 => 
    array (
      'tagname' => '特战',
      'tagencode' => '%CC%D8%D5%BD',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 3,
    'addrows' => 0,
    'loops' => 3,
    'index' => 3,
    'order' => 3,
    'row' => 3,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '特战',
      'tagencode' => '%CC%D8%D5%BD',
    ),
    'key' => 2,
    'append' => 0,
  ),
)