array (
  'meta_keywords' => '保安逆袭兵王归来 北冥小妖 都市热血',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=2015&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=2015&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=2015&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=2015&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '2015',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1497579506',
    'lastupdate' => '1500611883',
    'articlename' => '保安逆袭兵王归来',
    'articlecode' => 'baoannixibingwangguilai',
    'backupname' => '保安护花大集合……',
    'keywords' => '兵王 护花 女总裁 热血 都市',
    'roles' => '',
    'initial' => 'B',
    'authorid' => '0',
    'author' => '北冥小妖',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '作为一名光荣的小保安，罗军最牛的，没有之一的那种！繁华都市里，罗军以超强的身手和非凡的智慧如鱼得水。敌人强猛，以拳破之。敌人狡诈，以智慧破之。奈何，离异女业主的美丽成熟，冰山总裁妹妹智慧无双，警花妹妹的英姿飒爽，她们所交织的情网袭杀而来时，罗军的拳与智慧都失去了作用？万丈红尘，我破不开！ ',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '603316',
    'lastchapter' => '第019章 女王',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“你什么你啊！”罗军呵呵笑道：“早说了这车很贵的，叫你不要拍，不要砸。哎，拦都拦不住，真是倔啊！现在好了吧，人家车主来找你麻烦了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你陷害我。”光头怒道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;罗军嗤之以鼻，说道：“切，我从来就没说过这车是我的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一旁的唐青和宋妍儿心中好笑，但都强忍住了笑意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐静带着两个保镖来到了车前，她美眸里蕴藏着怒火，先是扫视了车一眼，最后目光到了光头身上。“怎么回事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;光头正欲说话，罗军抢先屁颠屁颠的道：“美女姐姐，事情是这样的。是这几个家伙砸了你的车，我都跟……',
    'chapters' => '1615',
    'size' => '10033911',
    'daysize' => 0,
    'weeksize' => '118591',
    'monthsize' => '581052',
    'lastvisit' => '1500690309',
    'dayvisit' => '2561',
    'weekvisit' => '16549',
    'monthvisit' => '30654',
    'allvisit' => '32136',
    'lastvote' => '1500111514',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => '3',
    'allvote' => '4',
    'goodnum' => '20',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1497579519',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '9972987',
    'isvip' => 'VIP',
    'viptime' => '1500611883',
    'vipid' => '179',
    'vippubid' => '0',
    'vipchapters' => '1595',
    'vipsize' => '9926172',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '608125',
    'vipchapter' => '第1615章 华天英',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“轩正浩！”云化影并不起身迎接，而是端坐原地，一字一字说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这三个字，意义非凡。代表云化影已经知道了大康皇帝的来历。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;轩正浩淡淡一笑，他说道：“云化影，我今日来，没有别的意思。不过是因为我有一个臣子与你云天宗的一名弟子有约定在身。所以今日，我来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦，约定？什么约定？”云化影淡然说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;罗军立刻排众而出，他说道：“掌教至尊，不知道您是否还记得我？”他身子微微一躬，还是行了个礼。这是他对强者的尊重！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若对方不过是个小门小派，修为低弱的人。那么对方见了他，..',
    'lastflower' => '0',
    'allflower' => '1',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'peregold' => '7',
    'orderby' => '100',
    'recommend' => '极品神书，可以大规模派单，转换超高，复充后劲足',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '都市热血',
    'sortname' => '都市热血',
    'type' => '',
    'typename' => '',
    'size_c' => 5016956,
    'size_k' => 5017,
    'size_w' => 501.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/2/2015/2015s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/2/2015/2015s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/2/2015/2015s.jpg',
    'articlesubdir' => '/2',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/2015.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2015',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2015',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2015',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2015',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2015&cid=603316',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=179&cid=608125',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=2015',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=2015',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=2015',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B1%B1%DA%A4%D0%A1%D1%FD',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B1%B1%DA%A4%D0%A1%D1%FD',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B1%A3%B0%B2%C4%E6%CF%AE%B1%F8%CD%F5%B9%E9%C0%B4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F2015.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '2015',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1497579506',
  'lastupdate' => '1500611883',
  'articlename' => '保安逆袭兵王归来',
  'articlecode' => 'baoannixibingwangguilai',
  'backupname' => '保安护花大集合……',
  'keywords' => '兵王 护花 女总裁 热血 都市',
  'roles' => '',
  'initial' => 'B',
  'authorid' => '0',
  'author' => '北冥小妖',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '作为一名光荣的小保安，罗军最牛的，没有之一的那种！繁华都市里，罗军以超强的身手和非凡的智慧如鱼得水。敌人强猛，以拳破之。敌人狡诈，以智慧破之。奈何，离异女业主的美丽成熟，冰山总裁妹妹智慧无双，警花妹妹的英姿飒爽，她们所交织的情网袭杀而来时，罗军的拳与智慧都失去了作用？万丈红尘，我破不开！ ',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '603316',
  'lastchapter' => '第019章 女王',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“你什么你啊！”罗军呵呵笑道：“早说了这车很贵的，叫你不要拍，不要砸。哎，拦都拦不住，真是倔啊！现在好了吧，人家车主来找你麻烦了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你陷害我。”光头怒道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;罗军嗤之以鼻，说道：“切，我从来就没说过这车是我的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一旁的唐青和宋妍儿心中好笑，但都强忍住了笑意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐静带着两个保镖来到了车前，她美眸里蕴藏着怒火，先是扫视了车一眼，最后目光到了光头身上。“怎么回事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;光头正欲说话，罗军抢先屁颠屁颠的道：“美女姐姐，事情是这样的。是这几个家伙砸了你的车，我都跟……',
  'chapters' => '1615',
  'size' => '10033911',
  'daysize' => 0,
  'weeksize' => '118591',
  'monthsize' => '581052',
  'lastvisit' => '1500690309',
  'dayvisit' => '2561',
  'weekvisit' => '16549',
  'monthvisit' => '30654',
  'allvisit' => '32136',
  'lastvote' => '1500111514',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => '3',
  'allvote' => '4',
  'goodnum' => '20',
  'reviewsnum' => 2,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1497579519',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '9972987',
  'isvip' => 'VIP',
  'viptime' => '1500611883',
  'vipid' => '179',
  'vippubid' => '0',
  'vipchapters' => '1595',
  'vipsize' => '9926172',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '608125',
  'vipchapter' => '第1615章 华天英',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“轩正浩！”云化影并不起身迎接，而是端坐原地，一字一字说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这三个字，意义非凡。代表云化影已经知道了大康皇帝的来历。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;轩正浩淡淡一笑，他说道：“云化影，我今日来，没有别的意思。不过是因为我有一个臣子与你云天宗的一名弟子有约定在身。所以今日，我来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦，约定？什么约定？”云化影淡然说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;罗军立刻排众而出，他说道：“掌教至尊，不知道您是否还记得我？”他身子微微一躬，还是行了个礼。这是他对强者的尊重！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若对方不过是个小门小派，修为低弱的人。那么对方见了他，..',
  'lastflower' => '0',
  'allflower' => '1',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'peregold' => '7',
  'orderby' => '100',
  'recommend' => '极品神书，可以大规模派单，转换超高，复充后劲足',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '都市热血',
  'sortname' => '都市热血',
  'type' => '',
  'typename' => '',
  'size_c' => 5016956,
  'size_k' => 5017,
  'size_w' => 501.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/2/2015/2015s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/2/2015/2015s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/2/2015/2015s.jpg',
  'articlesubdir' => '/2',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/2015.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2015',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2015',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2015',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2015',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2015&cid=603316',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=179&cid=608125',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=2015',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=2015',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=2015',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B1%B1%DA%A4%D0%A1%D1%FD',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B1%B1%DA%A4%D0%A1%D1%FD',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%B1%A3%B0%B2%C4%E6%CF%AE%B1%F8%CD%F5%B9%E9%C0%B4%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F2015.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '兵王',
      'tagencode' => '%B1%F8%CD%F5',
    ),
    1 => 
    array (
      'tagname' => '护花',
      'tagencode' => '%BB%A4%BB%A8',
    ),
    2 => 
    array (
      'tagname' => '女总裁',
      'tagencode' => '%C5%AE%D7%DC%B2%C3',
    ),
    3 => 
    array (
      'tagname' => '热血',
      'tagencode' => '%C8%C8%D1%AA',
    ),
    4 => 
    array (
      'tagname' => '都市',
      'tagencode' => '%B6%BC%CA%D0',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 5,
    'addrows' => 0,
    'loops' => 5,
    'index' => 5,
    'order' => 5,
    'row' => 5,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '都市',
      'tagencode' => '%B6%BC%CA%D0',
    ),
    'key' => 4,
    'append' => 0,
  ),
)