array (
  'meta_keywords' => '职场攻略：女上司的秘密 朱宝宝 都市热血',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=2016&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=2016&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=2016&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=2016&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '2016',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1497855334',
    'lastupdate' => '1497855334',
    'articlename' => '职场攻略：女上司的秘密',
    'articlecode' => 'zhichanggonglue_nvshangsidemimi',
    'backupname' => '我有一个魅力无限、个性十足、智慧超群的美女上司',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '0',
    'author' => '朱宝宝',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '踏入社会时，我还算走运有幸被一家大公司看中，可没想到在大公司被人差遣，还被各种看不起。<br />
还好的是我有一个魅力无限、个性十足、智慧超群的美女上司，从此，我的人生波澜壮阔了起来……<br />
',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '604894',
    'lastchapter' => '第23章 软到',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“对不起、对不起，下次不会了。”陈芊芊一脸冤枉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我告诉你，不弄回原来的模样今晚别指望下班。”胖呼呼的大妈把文件摔在陈芊芊脚下，还狠狠浅踏了几脚，“最讨厌象你这种自命不凡的实习生，以为自己多大能耐，实际就废物一件，丢人现眼……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她姥姥的，真是叔叔可忍，婶婶不可忍……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这位大妈，胖的见多了，象你这么胖，长得这么恶心，同时心里那么恶毒、嘴上又那么不积德的垃圾真是罕见，来，照张相片。”我掏出手机飞快启动照相功能，给胖呼叫呼的大妈拍了一个特写。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“谁啊你？拍什么照，还..',
    'chapters' => '537',
    'size' => '3499359',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500656715',
    'dayvisit' => '26',
    'weekvisit' => '130',
    'monthvisit' => '351',
    'allvisit' => '806',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1497855341',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '3499359',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '180',
    'vippubid' => '0',
    'vipchapters' => '514',
    'vipsize' => '3350423',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '605408',
    'vipchapter' => '第536章 加勒比海',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;晚上，樊辣椒带着孩子睡了，梁佳居然没意见，她说这样正好。我就感觉奇怪了，为什么樊辣椒好像挺喜欢孩子？我想和她亲热一下都没逮着机会。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“佳佳，那八百万怎么回事？你们合起来骗我钱？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不是明摆的么？”梁佳笑道，“其实是辣椒，她一个朋友经济出了点问题，本来是跟我借来着，刚好丁丁在，丁丁听了就说不用借，直接坑你就行，所以想出这么一个办法。哈哈，打麻将的时候樊辣椒就一直瞪着黄琼，黄琼摸到了都不敢开胡。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦，辣椒自己没钱？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“都投资进去了，在孙莹那里呢，她明天下午回国……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '96',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '都市热血',
    'sortname' => '都市热血',
    'type' => '',
    'typename' => '',
    'size_c' => 1749680,
    'size_k' => 1750,
    'size_w' => 175,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/2/2016/2016s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/2/2016/2016s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/2/2016/2016s.jpg',
    'articlesubdir' => '/2',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/2016.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2016',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2016',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2016',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2016',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2016&cid=604894',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=180&cid=605408',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=2016',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=2016',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=2016',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D6%EC%B1%A6%B1%A6',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D6%EC%B1%A6%B1%A6',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D6%B0%B3%A1%B9%A5%C2%D4%A3%BA%C5%AE%C9%CF%CB%BE%B5%C4%C3%D8%C3%DC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F2016.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '2016',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1497855334',
  'lastupdate' => '1497855334',
  'articlename' => '职场攻略：女上司的秘密',
  'articlecode' => 'zhichanggonglue_nvshangsidemimi',
  'backupname' => '我有一个魅力无限、个性十足、智慧超群的美女上司',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '0',
  'author' => '朱宝宝',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '踏入社会时，我还算走运有幸被一家大公司看中，可没想到在大公司被人差遣，还被各种看不起。<br />
还好的是我有一个魅力无限、个性十足、智慧超群的美女上司，从此，我的人生波澜壮阔了起来……<br />
',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '604894',
  'lastchapter' => '第23章 软到',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“对不起、对不起，下次不会了。”陈芊芊一脸冤枉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我告诉你，不弄回原来的模样今晚别指望下班。”胖呼呼的大妈把文件摔在陈芊芊脚下，还狠狠浅踏了几脚，“最讨厌象你这种自命不凡的实习生，以为自己多大能耐，实际就废物一件，丢人现眼……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她姥姥的，真是叔叔可忍，婶婶不可忍……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这位大妈，胖的见多了，象你这么胖，长得这么恶心，同时心里那么恶毒、嘴上又那么不积德的垃圾真是罕见，来，照张相片。”我掏出手机飞快启动照相功能，给胖呼叫呼的大妈拍了一个特写。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“谁啊你？拍什么照，还..',
  'chapters' => '537',
  'size' => '3499359',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500656715',
  'dayvisit' => '26',
  'weekvisit' => '130',
  'monthvisit' => '351',
  'allvisit' => '806',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1497855341',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '3499359',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '180',
  'vippubid' => '0',
  'vipchapters' => '514',
  'vipsize' => '3350423',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '605408',
  'vipchapter' => '第536章 加勒比海',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;晚上，樊辣椒带着孩子睡了，梁佳居然没意见，她说这样正好。我就感觉奇怪了，为什么樊辣椒好像挺喜欢孩子？我想和她亲热一下都没逮着机会。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“佳佳，那八百万怎么回事？你们合起来骗我钱？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不是明摆的么？”梁佳笑道，“其实是辣椒，她一个朋友经济出了点问题，本来是跟我借来着，刚好丁丁在，丁丁听了就说不用借，直接坑你就行，所以想出这么一个办法。哈哈，打麻将的时候樊辣椒就一直瞪着黄琼，黄琼摸到了都不敢开胡。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦，辣椒自己没钱？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“都投资进去了，在孙莹那里呢，她明天下午回国……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '96',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '都市热血',
  'sortname' => '都市热血',
  'type' => '',
  'typename' => '',
  'size_c' => 1749680,
  'size_k' => 1750,
  'size_w' => 175,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/2/2016/2016s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/2/2016/2016s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/2/2016/2016s.jpg',
  'articlesubdir' => '/2',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/2016.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2016',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2016',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2016',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2016',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2016&cid=604894',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=180&cid=605408',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=2016',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=2016',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=2016',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D6%EC%B1%A6%B1%A6',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%D6%EC%B1%A6%B1%A6',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D6%B0%B3%A1%B9%A5%C2%D4%A3%BA%C5%AE%C9%CF%CB%BE%B5%C4%C3%D8%C3%DC%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F2016.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)