array (
  'meta_keywords' => '总裁：不能这么爱 篂枫 现代言情',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=2020&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=2020&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=2020&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=2020&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '2020',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1497857425',
    'lastupdate' => '1497857425',
    'articlename' => '总裁：不能这么爱',
    'articlecode' => 'zongcai_bunenzhemeai',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'Z',
    'authorid' => '0',
    'author' => '篂枫',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '1',
    'typeid' => '3',
    'libid' => '0',
    'intro' => '路善捏了份文件在天明市最大的商贸楼十七层等了整一个下午，还是没见到幽灵珠宝的负责人……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '606389',
    'lastchapter' => '第二十四章 不爱了',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“路善，求求你，求求你不要这么对我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四年前的苦苦哀求，犹在耳畔。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只不过当年那个残忍无情的女人，却在他的身下，对着他苦苦哀求。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么？这样就受不了了？”厉青培恨得直咬牙，冷声道：“签了它。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路善浑身一颤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个时候了，他还是不忘逼着她签什么情妇合约？她分明已经答应了他，他何必还要这么羞辱她？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知道哪来的勇气，路善突然抬起头，眼角一滴晶莹顺势滑过脸颊，她动了动唇，嘶哑地再次问道：“厉青培，你还爱我吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当知道他其实根本没有结婚的时候，……',
    'chapters' => '220',
    'size' => '1375758',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500539389',
    'dayvisit' => 0,
    'weekvisit' => '91',
    'monthvisit' => '286',
    'allvisit' => '598',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1497857486',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '女生',
    'freetime' => '0',
    'freesize' => '66963',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '183',
    'vippubid' => '0',
    'vipchapters' => '196',
    'vipsize' => '1308795',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '606585',
    'vipchapter' => '第二百二十八章唐天灵疯了',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;顾云被送走了，客厅里只剩下了顾城和唐天灵沉默相对，空气中的压抑让唐天灵有些喘不过气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她噗嗤一笑缓解了自己的紧张神经，“怎么，你处置完自己的妹妹，打算怎么处置我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顾城抿了抿唇，“我只是觉得你很可悲！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“可悲什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“明明手上一副好牌，却打的一手烂牌！那么多人疼惜你，却要走的最偏执的一条路！最后害人害己！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐天灵抬起她原本就狼狈不堪的脸，双眸泛红死死的瞪着他吼，“你懂什么是绝望嘛！一直苦苦的在后面追寻！付出爱情、不计较生死！可是最后我换来的是什么！我……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '80',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '1',
    'isvip_n' => '1',
    'sort' => '现代言情',
    'sortname' => '现代言情',
    'type' => '总裁',
    'typename' => '总裁',
    'size_c' => 687879,
    'size_k' => 688,
    'size_w' => 68.8,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/2/2020/2020s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/2/2020/2020s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/2/2020/2020s.jpg',
    'articlesubdir' => '/2',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/2020.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2020',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2020',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2020',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2020',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2020&cid=606389',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=183&cid=606585',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=2020',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=2020',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=2020',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%9E%B7%E3',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%9E%B7%E3',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D7%DC%B2%C3%A3%BA%B2%BB%C4%DC%D5%E2%C3%B4%B0%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F2020.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '2020',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1497857425',
  'lastupdate' => '1497857425',
  'articlename' => '总裁：不能这么爱',
  'articlecode' => 'zongcai_bunenzhemeai',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'Z',
  'authorid' => '0',
  'author' => '篂枫',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '1',
  'typeid' => '3',
  'libid' => '0',
  'intro' => '路善捏了份文件在天明市最大的商贸楼十七层等了整一个下午，还是没见到幽灵珠宝的负责人……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '606389',
  'lastchapter' => '第二十四章 不爱了',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“路善，求求你，求求你不要这么对我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四年前的苦苦哀求，犹在耳畔。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只不过当年那个残忍无情的女人，却在他的身下，对着他苦苦哀求。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么？这样就受不了了？”厉青培恨得直咬牙，冷声道：“签了它。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路善浑身一颤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个时候了，他还是不忘逼着她签什么情妇合约？她分明已经答应了他，他何必还要这么羞辱她？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知道哪来的勇气，路善突然抬起头，眼角一滴晶莹顺势滑过脸颊，她动了动唇，嘶哑地再次问道：“厉青培，你还爱我吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当知道他其实根本没有结婚的时候，……',
  'chapters' => '220',
  'size' => '1375758',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500539389',
  'dayvisit' => 0,
  'weekvisit' => '91',
  'monthvisit' => '286',
  'allvisit' => '598',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1497857486',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '女生',
  'freetime' => '0',
  'freesize' => '66963',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '183',
  'vippubid' => '0',
  'vipchapters' => '196',
  'vipsize' => '1308795',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '606585',
  'vipchapter' => '第二百二十八章唐天灵疯了',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;顾云被送走了，客厅里只剩下了顾城和唐天灵沉默相对，空气中的压抑让唐天灵有些喘不过气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她噗嗤一笑缓解了自己的紧张神经，“怎么，你处置完自己的妹妹，打算怎么处置我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顾城抿了抿唇，“我只是觉得你很可悲！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“可悲什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“明明手上一副好牌，却打的一手烂牌！那么多人疼惜你，却要走的最偏执的一条路！最后害人害己！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐天灵抬起她原本就狼狈不堪的脸，双眸泛红死死的瞪着他吼，“你懂什么是绝望嘛！一直苦苦的在后面追寻！付出爱情、不计较生死！可是最后我换来的是什么！我……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '80',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '1',
  'isvip_n' => '1',
  'sort' => '现代言情',
  'sortname' => '现代言情',
  'type' => '总裁',
  'typename' => '总裁',
  'size_c' => 687879,
  'size_k' => 688,
  'size_w' => 68.8,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/2/2020/2020s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/2/2020/2020s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/2/2020/2020s.jpg',
  'articlesubdir' => '/2',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/2020.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2020',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2020',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2020',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2020',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2020&cid=606389',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=183&cid=606585',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=2020',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=2020',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=2020',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%9E%B7%E3',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%B9%9E%B7%E3',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%D7%DC%B2%C3%A3%BA%B2%BB%C4%DC%D5%E2%C3%B4%B0%AE%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F2020.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)