array (
  'meta_keywords' => '商海少帅 萧瑟清风 都市热血',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=2021&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=2021&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=2021&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=2021&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '2021',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1497861992',
    'lastupdate' => '1497861992',
    'articlename' => '商海少帅',
    'articlecode' => 'shanghaishaoshuai',
    'backupname' => '商海沉浮，天才出世',
    'keywords' => '都市 商战 职场 生活',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '0',
    'author' => '萧瑟清风',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '商海沉浮，天才出世，看商界天才如何翻手为云覆手为雨，成就一番少帅霸业！',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '606606',
    'lastchapter' => '第020章 迷局',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;走进了单独的浴池，李元华对一个经理模样的人耳语了几句。经理很有礼貌地点点头，就去安排了。卓旅知道，这时李元华在安排那个俄罗斯姑娘的事情，也没有表示反对。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;柴从辉、罗家兵、李元华、卓旅四个人简单地泡了一下，就起身冲了冲，拿着浴巾围在腰间。李元华对卓旅呶呶嘴，卓旅笑了笑，推开了一个包间的门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;包间是套房的形式，有一个很大的床，当然是比较奢华的。毕竟，他们是天子脚下的太子党，有的是资本和理由去享受到常人无法想象的快乐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在床边的沙发上，一个女孩子看见卓旅披着浴巾进来，很是局促……',
    'chapters' => '160',
    'size' => '1014633',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => 0,
    'lastvisit' => '1500472951',
    'dayvisit' => 0,
    'weekvisit' => '156',
    'monthvisit' => '455',
    'allvisit' => '858',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1497861999',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '1014633',
    'isvip' => 'VIP',
    'viptime' => '0',
    'vipid' => '184',
    'vippubid' => '0',
    'vipchapters' => '140',
    'vipsize' => '888178',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '606746',
    'vipchapter' => '第159章 远景',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;常务副市长被双规，和我有关系吗？卓旅笑了笑，突然一愣，别说，只怕跟我有关系。马明达这么急着来见我，八成是要我收拾刘明那个摊子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是卓旅自己也清楚，自己这个副厅级副市长已经是惊世骇俗了，如果在升为常务副市长，那可是实打实的正厅级干部，而且是要进常委的，何况自己来星沙市时间很短，所以不可能的。那么最有可能的就是之前主管国土、规划、交通、商务、国资等单位的副市长谢一兰接任刘明的位置，而自己接任谢一兰的位置了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;马明达过来，果然是有那个意思。卓旅也明白，主管国土、规划等单位的副市长……',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '0',
    'recommend' => '',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '1',
    'sort' => '都市热血',
    'sortname' => '都市热血',
    'type' => '',
    'typename' => '',
    'size_c' => 507317,
    'size_k' => 508,
    'size_w' => 50.7,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/2/2021/2021s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/2/2021/2021s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/2/2021/2021s.jpg',
    'articlesubdir' => '/2',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/2021.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2021',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2021',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2021',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2021',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2021&cid=606606',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=184&cid=606746',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=2021',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=2021',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=2021',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%F4%C9%AA%C7%E5%B7%E7',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%F4%C9%AA%C7%E5%B7%E7',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%CC%BA%A3%C9%D9%CB%A7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F2021.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '2021',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1497861992',
  'lastupdate' => '1497861992',
  'articlename' => '商海少帅',
  'articlecode' => 'shanghaishaoshuai',
  'backupname' => '商海沉浮，天才出世',
  'keywords' => '都市 商战 职场 生活',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '0',
  'author' => '萧瑟清风',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '商海沉浮，天才出世，看商界天才如何翻手为云覆手为雨，成就一番少帅霸业！',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '606606',
  'lastchapter' => '第020章 迷局',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;走进了单独的浴池，李元华对一个经理模样的人耳语了几句。经理很有礼貌地点点头，就去安排了。卓旅知道，这时李元华在安排那个俄罗斯姑娘的事情，也没有表示反对。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;柴从辉、罗家兵、李元华、卓旅四个人简单地泡了一下，就起身冲了冲，拿着浴巾围在腰间。李元华对卓旅呶呶嘴，卓旅笑了笑，推开了一个包间的门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;包间是套房的形式，有一个很大的床，当然是比较奢华的。毕竟，他们是天子脚下的太子党，有的是资本和理由去享受到常人无法想象的快乐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在床边的沙发上，一个女孩子看见卓旅披着浴巾进来，很是局促……',
  'chapters' => '160',
  'size' => '1014633',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => 0,
  'lastvisit' => '1500472951',
  'dayvisit' => 0,
  'weekvisit' => '156',
  'monthvisit' => '455',
  'allvisit' => '858',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1497861999',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '1014633',
  'isvip' => 'VIP',
  'viptime' => '0',
  'vipid' => '184',
  'vippubid' => '0',
  'vipchapters' => '140',
  'vipsize' => '888178',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '606746',
  'vipchapter' => '第159章 远景',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;常务副市长被双规，和我有关系吗？卓旅笑了笑，突然一愣，别说，只怕跟我有关系。马明达这么急着来见我，八成是要我收拾刘明那个摊子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是卓旅自己也清楚，自己这个副厅级副市长已经是惊世骇俗了，如果在升为常务副市长，那可是实打实的正厅级干部，而且是要进常委的，何况自己来星沙市时间很短，所以不可能的。那么最有可能的就是之前主管国土、规划、交通、商务、国资等单位的副市长谢一兰接任刘明的位置，而自己接任谢一兰的位置了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;马明达过来，果然是有那个意思。卓旅也明白，主管国土、规划等单位的副市长……',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '0',
  'recommend' => '',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '1',
  'sort' => '都市热血',
  'sortname' => '都市热血',
  'type' => '',
  'typename' => '',
  'size_c' => 507317,
  'size_k' => 508,
  'size_w' => 50.7,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/2/2021/2021s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/2/2021/2021s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/2/2021/2021s.jpg',
  'articlesubdir' => '/2',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/2021.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2021',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2021',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2021',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2021',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2021&cid=606606',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=184&cid=606746',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=2021',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=2021',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=2021',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%F4%C9%AA%C7%E5%B7%E7',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%CF%F4%C9%AA%C7%E5%B7%E7',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%CC%BA%A3%C9%D9%CB%A7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F2021.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
    0 => 
    array (
      'tagname' => '都市',
      'tagencode' => '%B6%BC%CA%D0',
    ),
    1 => 
    array (
      'tagname' => '商战',
      'tagencode' => '%C9%CC%D5%BD',
    ),
    2 => 
    array (
      'tagname' => '职场',
      'tagencode' => '%D6%B0%B3%A1',
    ),
    3 => 
    array (
      'tagname' => '生活',
      'tagencode' => '%C9%FA%BB%EE',
    ),
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 4,
    'addrows' => 0,
    'loops' => 4,
    'index' => 4,
    'order' => 4,
    'row' => 4,
    'column' => 1,
    'value' => 
    array (
      'tagname' => '生活',
      'tagencode' => '%C9%FA%BB%EE',
    ),
    'key' => 3,
    'append' => 0,
  ),
)