array (
  'meta_keywords' => '升迁之路 君子有道 都市热血',
  'meta_description' => '书荒必备；爽文必读，爆文必看，热文必追大型原创网络文学综合性平台',
  'meta_copyright' => 'Powered by xindong CMS &copy; 心动文化（http://www.kyread.com）',
  'meta_author' => 'http://www.jieqi.com (jieqi cms)',
  'egoldname' => '小说币',
  'fun' => NULL,
  'ajax_request' => 0,
  'url_big5' => '/modules/article/articleinfo.php?id=2023&charset=big5',
  'url_gb2312' => '/modules/article/articleinfo.php?id=2023&charset=gbk',
  'url_gbk' => '/modules/article/articleinfo.php?id=2023&charset=gbk',
  'url_utf8' => '/modules/article/articleinfo.php?id=2023&charset=utf8',
  'artileSort' => 
  array (
    1 => 
    array (
      'code' => 'xiandaiyanqing',
      'caption' => '现代言情',
      'group' => '1',
      'types' => 
      array (
        2 => '婚恋',
        3 => '总裁',
        4 => '校园',
        5 => '夜场',
        6 => '种田',
        1 => '重生',
      ),
    ),
    2 => 
    array (
      'code' => 'gudaiyanqing',
      'caption' => '古代言情',
      'group' => '1',
      'types' => 
      array (
        7 => '宫廷',
        8 => '古典仙侠',
        9 => '穿越',
        10 => '权谋',
        11 => '女尊',
        12 => '种田',
        47 => '快穿',
      ),
    ),
    3 => 
    array (
      'code' => 'xianxiaqingyuan',
      'caption' => '仙侠情缘',
      'group' => '1',
      'types' => 
      array (
        13 => '都市仙侠',
        14 => '古典仙侠',
        16 => '都市修真',
        18 => '异世修真',
      ),
    ),
    4 => 
    array (
      'code' => 'lingyihuanjing',
      'caption' => '灵异幻境',
      'group' => '1',
      'types' => 
      array (
        20 => '现代',
        21 => '古代',
        22 => '民国',
      ),
    ),
    5 => 
    array (
      'code' => 'xuanyishaonao',
      'caption' => '悬疑烧脑',
      'group' => '1',
      'types' => 
      array (
        24 => '现代',
      ),
    ),
    6 => 
    array (
      'code' => 'naodongtongren',
      'caption' => '脑洞同人',
      'group' => '1',
      'types' => 
      array (
        27 => '未来世界',
      ),
    ),
    7 => 
    array (
      'code' => 'xuanhuanmofa',
      'caption' => '玄幻魔法',
      'group' => '2',
      'types' => 
      array (
        29 => '东方玄幻',
        30 => '西方玄幻',
        31 => '异世大陆',
      ),
    ),
    8 => 
    array (
      'code' => 'xiuzhenwuxia',
      'caption' => '修真武侠',
      'group' => '2',
      'types' => 
      array (
        32 => '异世修真',
        33 => '洪荒大陆',
      ),
    ),
    9 => 
    array (
      'code' => 'dushirexue',
      'caption' => '都市热血',
      'group' => '2',
      'types' => 
      array (
        35 => '都市异能',
        36 => '职场商战',
        37 => '种田',
      ),
    ),
    10 => 
    array (
      'code' => 'rexuejunshi',
      'caption' => '热血军事',
      'group' => '2',
      'types' => 
      array (
        38 => '现代',
        39 => '古代',
      ),
    ),
    11 => 
    array (
      'code' => 'lingyixuanyi',
      'caption' => '灵异悬疑',
      'group' => '2',
      'types' => 
      array (
        40 => '灵异',
        41 => '悬疑探险',
      ),
    ),
  ),
  'artileSortCount' => 11,
  'article_static_url' => 'http://www.mianfeidushu.com/modules/article',
  'article_dynamic_url' => 'http://www.mianfeidushu.com/modules/article',
  'makefull' => '0',
  'makezip' => '0',
  'makejar' => 0,
  'makeumd' => 0,
  'maketxtfull' => '1',
  'maketxt' => '1',
  'ratemax' => 10,
  'redroseprice' => 100,
  'yellowroseprice' => 500,
  'greenroseprice' => 100000,
  'blueroseprice' => 1000,
  'whiteroseprice' => 5000,
  'blackroseprice' => 10000,
  'egolename' => '小说币',
  'redrose' => '0',
  'yellowrose' => '0',
  'bluerose' => '0',
  'whiterose' => '0',
  'blackrose' => '0',
  'greenrose' => '0',
  'articlevals' => 
  array (
    'articleid' => '2023',
    'siteid' => '0',
    'sourceid' => '0',
    'postdate' => '1499833362',
    'lastupdate' => '1499927475',
    'articlename' => '升迁之路',
    'articlecode' => 'shengqianzhilu',
    'backupname' => '',
    'keywords' => '',
    'roles' => '',
    'initial' => 'S',
    'authorid' => '0',
    'author' => '君子有道',
    'posterid' => '1',
    'poster' => 'admin',
    'agentid' => '0',
    'agent' => '',
    'sortid' => '9',
    'typeid' => '0',
    'libid' => '0',
    'intro' => '一场车祸，夺走了他夫人和女儿的生命。而他的秘书马英杰无意间发现了市长罗天运的一个大秘密，在他的策划上，女孩栾小雪成功怀上了市长的孩子，就在马英杰以为有机可乘之时，罗天运的小姨子司徒兰回国了并疯一般追求罗天运，而因为秘密导致罗天运陷入风波之中……',
    'notice' => '',
    'foreword' => '',
    'setting' => '',
    'lastvolumeid' => '0',
    'lastvolume' => '',
    'lastchapterid' => '607382',
    'lastchapter' => '第20章 你不是保姆',
    'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;罗天运吃完饭就上楼去睡觉了。他没再理栾小雪，栾小雪收拾完厨房，一个人坐在沙发上发呆。衣服，她现在突然很想衣服快点干。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;栾小雪找出吹风机，蹲在晾台上，小心地吹着自己的衣服。当罗天运上班时，到一楼听到晾台上发出的声音，走了过去，发现栾小雪拿着吹风机在吹衣服。罗天运哭笑不得，现在的孩子啊，这种方式也想得出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你干什么？”罗天运突出发出的声音吓着栾小雪了，吹风机“啪”地掉在地上，摔成了三片。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;栾小雪的脸一阵灰白，指着吹风机说：“我不是故意的，我不是故意。我马上去买一个赔给你……',
    'chapters' => '637',
    'size' => '3943955',
    'daysize' => 0,
    'weeksize' => 0,
    'monthsize' => '37451',
    'lastvisit' => '1500603016',
    'dayvisit' => '52',
    'weekvisit' => '195',
    'monthvisit' => '351',
    'allvisit' => '351',
    'lastvote' => '0',
    'dayvote' => 0,
    'weekvote' => 0,
    'monthvote' => 0,
    'allvote' => '0',
    'goodnum' => '0',
    'reviewsnum' => '0',
    'ratenum' => 0,
    'ratesum' => 0,
    'toptime' => '0',
    'saleprice' => '0',
    'salenum' => '0',
    'totalcost' => '0',
    'articletype' => '0',
    'permission' => '授权作品',
    'firstflag' => '他站首发',
    'fullflag' => '连载',
    'imgflag' => '9',
    'upaudit' => '0',
    'power' => '0',
    'display' => '显示',
    'progress' => '0',
    'issign' => 'A级签约',
    'signtime' => '1499835653',
    'buyout' => '0',
    'monthly' => '未包月',
    'discount' => '未打折',
    'quality' => '普通',
    'isshort' => '0',
    'inmatch' => '0',
    'isshare' => '0',
    'rgroup' => '男生',
    'freetime' => '0',
    'freesize' => '3943955',
    'isvip' => '签约',
    'viptime' => '1499927475',
    'vipid' => '188',
    'vippubid' => '0',
    'vipchapters' => '617',
    'vipsize' => '3881476',
    'vipvolumeid' => '0',
    'vipvolume' => '',
    'vipchapterid' => '608017',
    'vipchapter' => '第637章',
    'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“你这个女人口气还不小啊，关你十天半个月，看你还嘴硬不?”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说着就去推司徒兰，马英杰生怕把司徒兰逼急了，她又在发火，赶紧说：“几个兄弟，包里的钱你们拿去喝点酒。我在这里对那位大哥赔礼道歉，你们，你们就高抬贵手，放了我们吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司徒兰没想到在吴都啊，马英杰竟然要如此低声下气地求人，而且还是几个小民警，她的酒已经完完全全醒了，不由得冲着马英杰吼：“你看看你这没出息的样子，你凭什么对这帮人低头啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司徒兰的话一落，“啪”地一声，脸上挨了一个民警的掌声，马英杰担心的事情还是发生了..',
    'lastflower' => '0',
    'allflower' => '0',
    'monthflower' => 0,
    'weekflower' => 0,
    'dayflower' => 0,
    'lastegg' => '0',
    'allegg' => '0',
    'monthegg' => 0,
    'weekegg' => 0,
    'dayegg' => 0,
    'lastvipvote' => '0',
    'allvipvote' => '0',
    'monthvipvote' => 0,
    'weekvipvote' => 0,
    'dayvipvote' => 0,
    'lastdown' => '0',
    'alldown' => '0',
    'monthdown' => 0,
    'weekdown' => 0,
    'daydown' => 0,
    'redrose' => '0',
    'yellowrose' => '0',
    'bluerose' => '0',
    'whiterose' => '0',
    'blackrose' => '0',
    'greenrose' => '0',
    'thirdsourceid' => '0',
    'orderby' => '100',
    'recommend' => '新书上架，不可多得的好书，转化优秀，充值给力，有号即可上。建议文案做前五章',
    'permission_n' => '0',
    'firstflag_n' => '0',
    'fullflag_n' => '0',
    'display_n' => '0',
    'issign_n' => '10',
    'monthly_n' => '0',
    'discount_n' => '0',
    'quality_n' => '0',
    'rgroup_n' => '2',
    'isvip_n' => '4',
    'sort' => '都市热血',
    'sortname' => '都市热血',
    'type' => '',
    'typename' => '',
    'size_c' => 1971978,
    'size_k' => 1972,
    'size_w' => 197.2,
    'rateavg' => '0.0',
    'rateavg_i' => 0,
    'rateavg_d' => 0,
    'url_simage' => 'http://img.mianfeidushu.com/image/2/2023/2023s.jpg',
    'url_image' => 'http://img.mianfeidushu.com/image/2/2023/2023s.jpg',
    'hasimage' => 1,
    'url_limage' => 'http://img.mianfeidushu.com/image/2/2023/2023s.jpg',
    'articlesubdir' => '/2',
    'url_articleinfo' => 'http://www.mianfeidushu.com/info/2023.html',
    'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2023',
    'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2023',
    'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2023',
    'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2023',
    'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2023&cid=607382',
    'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=188&cid=608017',
    'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=2023',
    'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=2023',
    'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=2023',
    'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%BE%FD%D7%D3%D3%D0%B5%C0',
    'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%BE%FD%D7%D3%D3%D0%B5%C0',
    'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%FD%C7%A8%D6%AE%C2%B7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F2023.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  ),
  'articleid' => '2023',
  'siteid' => '0',
  'sourceid' => '0',
  'postdate' => '1499833362',
  'lastupdate' => '1499927475',
  'articlename' => '升迁之路',
  'articlecode' => 'shengqianzhilu',
  'backupname' => '',
  'keywords' => '',
  'roles' => '',
  'initial' => 'S',
  'authorid' => '0',
  'author' => '君子有道',
  'posterid' => '1',
  'poster' => 'admin',
  'agentid' => '0',
  'agent' => '',
  'sortid' => '9',
  'typeid' => '0',
  'libid' => '0',
  'intro' => '一场车祸，夺走了他夫人和女儿的生命。而他的秘书马英杰无意间发现了市长罗天运的一个大秘密，在他的策划上，女孩栾小雪成功怀上了市长的孩子，就在马英杰以为有机可乘之时，罗天运的小姨子司徒兰回国了并疯一般追求罗天运，而因为秘密导致罗天运陷入风波之中……',
  'notice' => '',
  'foreword' => '',
  'setting' => '',
  'lastvolumeid' => '0',
  'lastvolume' => '',
  'lastchapterid' => '607382',
  'lastchapter' => '第20章 你不是保姆',
  'lastsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;罗天运吃完饭就上楼去睡觉了。他没再理栾小雪，栾小雪收拾完厨房，一个人坐在沙发上发呆。衣服，她现在突然很想衣服快点干。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;栾小雪找出吹风机，蹲在晾台上，小心地吹着自己的衣服。当罗天运上班时，到一楼听到晾台上发出的声音，走了过去，发现栾小雪拿着吹风机在吹衣服。罗天运哭笑不得，现在的孩子啊，这种方式也想得出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你干什么？”罗天运突出发出的声音吓着栾小雪了，吹风机“啪”地掉在地上，摔成了三片。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;栾小雪的脸一阵灰白，指着吹风机说：“我不是故意的，我不是故意。我马上去买一个赔给你……',
  'chapters' => '637',
  'size' => '3943955',
  'daysize' => 0,
  'weeksize' => 0,
  'monthsize' => '37451',
  'lastvisit' => '1500603016',
  'dayvisit' => '52',
  'weekvisit' => '195',
  'monthvisit' => '351',
  'allvisit' => '351',
  'lastvote' => '0',
  'dayvote' => 0,
  'weekvote' => 0,
  'monthvote' => 0,
  'allvote' => '0',
  'goodnum' => '0',
  'reviewsnum' => 0,
  'ratenum' => 0,
  'ratesum' => 0,
  'toptime' => '0',
  'saleprice' => '0',
  'salenum' => '0',
  'totalcost' => '0',
  'articletype' => '0',
  'permission' => '授权作品',
  'firstflag' => '他站首发',
  'fullflag' => '连载',
  'imgflag' => '9',
  'upaudit' => '0',
  'power' => '0',
  'display' => '显示',
  'progress' => '0',
  'issign' => 'A级签约',
  'signtime' => '1499835653',
  'buyout' => '0',
  'monthly' => '未包月',
  'discount' => '未打折',
  'quality' => '普通',
  'isshort' => '0',
  'inmatch' => '0',
  'isshare' => '0',
  'rgroup' => '男生',
  'freetime' => '0',
  'freesize' => '3943955',
  'isvip' => '签约',
  'viptime' => '1499927475',
  'vipid' => '188',
  'vippubid' => '0',
  'vipchapters' => '617',
  'vipsize' => '3881476',
  'vipvolumeid' => '0',
  'vipvolume' => '',
  'vipchapterid' => '608017',
  'vipchapter' => '第637章',
  'vipsummary' => '&nbsp;&nbsp;&nbsp;&nbsp;“你这个女人口气还不小啊，关你十天半个月，看你还嘴硬不?”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说着就去推司徒兰，马英杰生怕把司徒兰逼急了，她又在发火，赶紧说：“几个兄弟，包里的钱你们拿去喝点酒。我在这里对那位大哥赔礼道歉，你们，你们就高抬贵手，放了我们吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司徒兰没想到在吴都啊，马英杰竟然要如此低声下气地求人，而且还是几个小民警，她的酒已经完完全全醒了，不由得冲着马英杰吼：“你看看你这没出息的样子，你凭什么对这帮人低头啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司徒兰的话一落，“啪”地一声，脸上挨了一个民警的掌声，马英杰担心的事情还是发生了..',
  'lastflower' => '0',
  'allflower' => '0',
  'monthflower' => 0,
  'weekflower' => 0,
  'dayflower' => 0,
  'lastegg' => '0',
  'allegg' => '0',
  'monthegg' => 0,
  'weekegg' => 0,
  'dayegg' => 0,
  'lastvipvote' => '0',
  'allvipvote' => '0',
  'monthvipvote' => 0,
  'weekvipvote' => 0,
  'dayvipvote' => 0,
  'lastdown' => '0',
  'alldown' => '0',
  'monthdown' => 0,
  'weekdown' => 0,
  'daydown' => 0,
  'thirdsourceid' => '0',
  'orderby' => '100',
  'recommend' => '新书上架，不可多得的好书，转化优秀，充值给力，有号即可上。建议文案做前五章',
  'permission_n' => '0',
  'firstflag_n' => '0',
  'fullflag_n' => '0',
  'display_n' => '0',
  'issign_n' => '10',
  'monthly_n' => '0',
  'discount_n' => '0',
  'quality_n' => '0',
  'rgroup_n' => '2',
  'isvip_n' => '4',
  'sort' => '都市热血',
  'sortname' => '都市热血',
  'type' => '',
  'typename' => '',
  'size_c' => 1971978,
  'size_k' => 1972,
  'size_w' => 197.2,
  'rateavg' => '0.0',
  'rateavg_i' => 0,
  'rateavg_d' => 0,
  'url_simage' => 'http://img.mianfeidushu.com/image/2/2023/2023s.jpg',
  'url_image' => 'http://img.mianfeidushu.com/image/2/2023/2023s.jpg',
  'hasimage' => 1,
  'url_limage' => 'http://img.mianfeidushu.com/image/2/2023/2023s.jpg',
  'articlesubdir' => '/2',
  'url_articleinfo' => 'http://www.mianfeidushu.com/info/2023.html',
  'url_articleindex' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2023',
  'url_index' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2023',
  'url_read' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2023',
  'url_fullpage' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2023',
  'url_lastchapter' => 'http://www.mianfeidushu.com/modules/article/reader.php?aid=2023&cid=607382',
  'url_vipchapter' => 'http://www.mianfeidushu.com/modules/obook/reader.php?aid=188&cid=608017',
  'url_manage' => 'http://www.mianfeidushu.com/modules/article/articlemanage.php?id=2023',
  'url_bookcase' => 'http://www.mianfeidushu.com/modules/article/addbookcase.php?bid=2023',
  'url_uservote' => 'http://www.mianfeidushu.com/modules/article/uservote.php?id=2023',
  'url_authorpage' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%BE%FD%D7%D3%D3%D0%B5%C0',
  'url_authorarticle' => 'http://www.mianfeidushu.com/modules/article/authorarticle.php?author=%BE%FD%D7%D3%D3%D0%B5%C0',
  'url_report' => 'http://www.mianfeidushu.com/newmessage.php?tosys=1&title=%BE%D9%B1%A8%A3%BA%A1%B6%C9%FD%C7%A8%D6%AE%C2%B7%A1%B7&content=%D0%A1%CB%B5%B5%D8%D6%B7%A3%BA%0D%0Ahttp%3A%2F%2Fwww.mianfeidushu.com%2Finfo%2F2023.html%0D%0A%0D%0A%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA%0D%0A++++',
  'obuy' => 0,
  'tagrows' => 
  array (
  ),
  'eachlinknum' => 0,
  'eachlinkcount' => 0,
  'showvote' => 0,
  'postcheckcode' => '0',
  'jiluiccid' => 0,
  'jiluicisvip' => 0,
  'i' => 
  array (
    'columns' => 1,
    'count' => 0,
    'addrows' => 0,
    'loops' => 0,
    'index' => 0,
  ),
)