<br />
<table class="grid" width="100%" align="center">
<caption>{?$page_head_name?}</caption>
<form action="{?$form_url_action1?}" method="post" name="checkform" id="checkform">
  <!--<tr>
    <th colspan="10">{?$jump_menu_js?}{?$jump_menu_name?} <input type="button" name="allcheck" value="显示全部" class="button" onclick="javascript: this.form.submit();" /></td>
  </tr>-->
  <tr align="center">
    <th width="5%" >选择</td>
    <th width="5%" >ID</td>
	<th width="35%">新闻标题</td>
	<th width="10%">所属栏目</td>
	<th width="10%">加入日期</td>
	<th width="5%" >锁定</td>
	<th width="5%" >置顶</td>
	<th width="5%" >点击</td>
    <th width="20%">操作</td>
  </tr>
 {?section name=i loop=$news_list?}
  <tr>
    <td class="odd"  align="center">{?$news_list[i].checkbox?}</td>
    <td class="even" align="center">{?$news_list[i].id?}</td>
	<td class="odd"  align="left"  >{?$news_list[i].title?}</td>
	<td class="even" align="center">{?$news_list[i].category?}</td>
	<td class="odd"  align="center">{?$news_list[i].date?}</td>
	<td class="even" align="center">{?$news_list[i].status?}</td>
	<td class="odd"  align="center">{?$news_list[i].putop?}</td>
    <td class="even" align="center">{?$news_list[i].click?}</td>
    <td class="odd"  align="center">
		<a href="{?$news_list[i].urleditor?}">编辑</a>|
		<a href="{?$news_list[i].urlislock?}">{?$news_list[i].audit?}</a>|
		<a href="{?$news_list[i].urlputtop?}">置顶</a>|
		<a href="{?$news_list[i].urldelete?}">删除</a>
	</td>
  </tr>
  {?/section?}
  <tr>
    <td colspan="10" align="right" class="odd">
		<input type="button" name="allcheck" value="全部选中" class="button" onclick="javascript: for (var i=0;i<this.form.elements.length;i++){ this.form.elements[i].checked = true; }" />
		<input type="button" name="nocheck" value="全部取消" class="button" onclick="javascript: for (var i=0;i<this.form.elements.length;i++){ this.form.elements[i].checked = false; }" />
		<input type="submit" name="delcheck" value="删除选中记录" class="button" onclick="javascript:if(confirm('确实要删除选中记录么？')){ this.form.checkaction.value='1';this.form.submit();}else{return false;}" />
		<input type="submit" name="auditcheck" value="审核选中记录" class="button" onclick="javascript:if(confirm('确实要进行该操作吗？')){this.form.checkaction.value='2';this.form.action='{?$form_url_action2?}';this.form.submit();}else{return false;}" />
		<input type="submit" name="abortcheck" value="取消审核选中记录" class="button" onclick="javascript:if(confirm('确实要进行该操作吗？')){this.form.checkaction.value='3';this.form.action='{?$form_url_action2?}';this.form.submit();}else{return false;}" />
		<input name="checkaction" type="hidden" id="checkaction" value="0" />
	</td>
  </tr></form>
</table>
<div class="pages">{?$url_jumppage?}</div>